Will create data for days 0-750 then fit a forecaster on it to predict logReturns and then export the model and attempt to runin a sim without retraining.

In [1]:
import glob
import os

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from IPython.display import display
from skforecast.plot import set_dark_theme
from tqdm import tqdm

import sklearn
import skforecast
from sklearn.ensemble import HistGradientBoostingRegressor, GradientBoostingRegressor
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from skforecast.recursive import ForecasterRecursive, ForecasterRecursiveMultiSeries
from skforecast.model_selection import (
    TimeSeriesFold,
    OneStepAheadFold,
    backtesting_forecaster,
    bayesian_search_forecaster,
    backtesting_forecaster_multiseries,
    bayesian_search_forecaster_multiseries
)
from skforecast.preprocessing import RollingFeatures, series_long_to_dict, exog_long_to_dict
from skforecast.exceptions import OneStepAheadValidationWarning

import warnings

In [2]:
prices1000Days = np.loadtxt("../../sourceCode/1000Prices.txt").T

from strategies.ms_forecasting.main import createGreeksManager
from strategies.ms_forecasting.main import GreeksManager
from strategies.ms_forecasting.main import PRICE_LAGS
from strategies.ms_forecasting.main import MOMENTUM_WINDOWS
from strategies.ms_forecasting.main import VOL_WINDOWS

preTrainingDays = max(PRICE_LAGS + MOMENTUM_WINDOWS + VOL_WINDOWS)

trainingDataWindowSize = 750 - preTrainingDays # 20 days of data needed for all greeks to be void of NaN's
gm: GreeksManager = createGreeksManager(prices1000Days[:, :751], trainingDataWindowSize) # giving 751 days but the 751'st is removed when we get the history

exogIndex = pd.RangeIndex(preTrainingDays, 750)
exogDict = gm.getGreeksHistoryDict(exogIndex)

print("Inst 0 days [742, 750]:\n", prices1000Days[0, 742:750])
display("inst 0 head:", exogDict["inst_0"].tail(1))
print(f"each inst-greek has {len(exogDict["inst_0"]["greek_lag_1"])} days")

Inst 0 days [742, 750]:
 [36.81 36.75 36.53 36.49 36.3  36.58 36.43 36.24]

'inst 0 head:'

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
749,36.43,36.58,36.3,36.49,36.53,36.75,36.81,0.005455,0.004396,0.00372,-0.001654,-0.015606,-0.028562,36.24

each inst-greek has 730 days

In [3]:
logReturnsPricesWindow = prices1000Days[:, preTrainingDays:]
logReturnsNp = np.log(logReturnsPricesWindow[:, 1:] / logReturnsPricesWindow[:, :-1])

logReturnsIndex = pd.RangeIndex(preTrainingDays, 999)
logReturnsSeries = pd.DataFrame(logReturnsNp.T,
                          index = logReturnsIndex,
                          columns = [f"inst_{i}" for i in range(logReturnsNp.shape[0])])

logReturnsTrainingSeries = logReturnsSeries.iloc[:trainingDataWindowSize]

In [4]:
logReturnsForecaster = ForecasterRecursiveMultiSeries(
    regressor           = HistGradientBoostingRegressor(random_state=8523,
                                                        learning_rate=0.05),
    transformer_series  = None,
    transformer_exog    = StandardScaler(),
    lags                = 7,
    window_features     = RollingFeatures(
                                stats           = ['min', 'max', 'ewm'],
                                window_sizes    = 7,
                            ),
)

logReturnsForecaster.fit(
    series  = logReturnsTrainingSeries,
    exog    = exogDict
)

logReturnsForecaster.is_fitted

True

In [5]:
display(logReturnsTrainingSeries.tail(1))
display(exogDict["inst_0"].tail(1))

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
749,-0.001104,0.0,-0.009485,-0.010395,-0.003002,0.002784,0.002259,-0.008953,-0.007064,0.009198,...,0.0028,0.010673,-0.018626,-0.01809,-0.00267,0.001937,-0.006005,0.010743,-0.002986,-0.003171

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
749,36.43,36.58,36.3,36.49,36.53,36.75,36.81,0.005455,0.004396,0.00372,-0.001654,-0.015606,-0.028562,36.24

# Simulate updating the greeks daily and making a one step prediction:

In [7]:
predictions = []

for day in range(750, 1000):
    gm.updateGreeks(prices1000Days[:, day])

    currentDayIndex = pd.RangeIndex(start=day, stop=day + 1)
    predictionExogs = gm.getGreeksDict(currentDayIndex)
    logReturnsPredictionSeries = logReturnsSeries.iloc[:day].tail(7)
    #
    # print("log returns prediction series:")
    # display(logReturnsPredictionSeries)
    # print("Exogs inst_0:")
    # display(predictionExogs["inst_0"])
    # prediction = logReturnsForecaster.predict(
    #     last_window = logReturnsPredictionSeries,
    #     exog        = predictionExogs,
    #     steps       = 1,
    #     levels      = list(logReturnsSeries.columns),
    # )

    # predictions.append(prediction["pred"].values)

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
763,-0.004172,0.000405,-0.004673,0.000333,-0.007897,0.008472,-0.007870,0.014614,-0.001626,0.000180,...,-0.001204,-0.008116,0.008467,-0.016205,-0.012490,0.009056,0.003718,0.005734,-0.013466,0.010903
764,-0.000836,0.003840,-0.020173,0.002326,0.002809,-0.001407,-0.009070,0.004406,0.014269,0.015319,...,0.002272,0.004170,0.005286,-0.007569,-0.011376,-0.009730,-0.002090,-0.002545,0.007845,0.007801
765,-0.001116,-0.001615,0.010760,-0.008667,-0.005627,-0.010260,0.017500,0.005636,-0.014269,0.002295,...,0.003864,-0.011510,0.000479,0.009138,0.002962,-0.004393,0.009370,0.001909,-0.005137,0.013654
766,-0.003637,0.006646,-0.009754,-0.002682,0.004606,-0.000711,-0.010689,-0.003336,-0.003803,0.014532,...,-0.002797,-0.012709,0.022031,-0.022202,-0.002962,0.006077,0.008941,0.000000,-0.002191,-0.005024
767,-0.006185,0.004806,0.001507,-0.018293,-0.009491,-0.010374,0.001131,-0.001254,0.009212,0.004682,...,-0.003072,0.007222,0.010257,0.012430,-0.000565,-0.001684,0.018654,0.001271,0.001934,-0.003265
768,-0.001129,0.003589,-0.030576,-0.002053,0.009746,-0.002160,0.009559,-0.018787,0.013128,0.024271,...,-0.003350,-0.012351,-0.007449,0.014778,0.004934,0.006386,0.013241,0.000000,-0.006202,0.001188
769,-0.007083,0.004369,0.017695,-0.011023,0.000765,-0.002165,-0.027803,0.007642,0.028858,-0.004061,...,-0.000806,0.005769,-0.023163,0.004360,0.010909,-0.001676,0.001326,-0.002543,0.003880,0.000594

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
750,36.2,36.2,36.24,36.43,36.58,36.3,36.49,0.002431,0.003996,0.00364,-0.001104,-0.007979,-0.018881,36.2

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
764,-0.000836,0.003840,-0.020173,0.002326,0.002809,-0.001407,-0.009070,0.004406,0.014269,0.015319,...,0.002272,0.004170,0.005286,-0.007569,-0.011376,-0.009730,-0.002090,-0.002545,0.007845,0.007801
765,-0.001116,-0.001615,0.010760,-0.008667,-0.005627,-0.010260,0.017500,0.005636,-0.014269,0.002295,...,0.003864,-0.011510,0.000479,0.009138,0.002962,-0.004393,0.009370,0.001909,-0.005137,0.013654
766,-0.003637,0.006646,-0.009754,-0.002682,0.004606,-0.000711,-0.010689,-0.003336,-0.003803,0.014532,...,-0.002797,-0.012709,0.022031,-0.022202,-0.002962,0.006077,0.008941,0.000000,-0.002191,-0.005024
767,-0.006185,0.004806,0.001507,-0.018293,-0.009491,-0.010374,0.001131,-0.001254,0.009212,0.004682,...,-0.003072,0.007222,0.010257,0.012430,-0.000565,-0.001684,0.018654,0.001271,0.001934,-0.003265
768,-0.001129,0.003589,-0.030576,-0.002053,0.009746,-0.002160,0.009559,-0.018787,0.013128,0.024271,...,-0.003350,-0.012351,-0.007449,0.014778,0.004934,0.006386,0.013241,0.000000,-0.006202,0.001188
769,-0.007083,0.004369,0.017695,-0.011023,0.000765,-0.002165,-0.027803,0.007642,0.028858,-0.004061,...,-0.000806,0.005769,-0.023163,0.004360,0.010909,-0.001676,0.001326,-0.002543,0.003880,0.000594
770,0.000000,0.003758,0.001016,0.019891,0.010655,-0.011989,-0.008088,0.007374,-0.018531,-0.020210,...,-0.004308,-0.010278,-0.015422,-0.001866,0.003887,-0.003698,-0.005646,-0.004466,0.008996,-0.005952

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
751,36.2,36.2,36.2,36.24,36.43,36.58,36.3,0.002217,0.004011,0.003595,-0.002766,-0.005525,-0.017029,36.1

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
765,-0.001116,-0.001615,0.010760,-0.008667,-0.005627,-0.010260,0.017500,0.005636,-0.014269,0.002295,...,0.003864,-0.011510,0.000479,0.009138,0.002962,-0.004393,0.009370,0.001909,-0.005137,0.013654
766,-0.003637,0.006646,-0.009754,-0.002682,0.004606,-0.000711,-0.010689,-0.003336,-0.003803,0.014532,...,-0.002797,-0.012709,0.022031,-0.022202,-0.002962,0.006077,0.008941,0.000000,-0.002191,-0.005024
767,-0.006185,0.004806,0.001507,-0.018293,-0.009491,-0.010374,0.001131,-0.001254,0.009212,0.004682,...,-0.003072,0.007222,0.010257,0.012430,-0.000565,-0.001684,0.018654,0.001271,0.001934,-0.003265
768,-0.001129,0.003589,-0.030576,-0.002053,0.009746,-0.002160,0.009559,-0.018787,0.013128,0.024271,...,-0.003350,-0.012351,-0.007449,0.014778,0.004934,0.006386,0.013241,0.000000,-0.006202,0.001188
769,-0.007083,0.004369,0.017695,-0.011023,0.000765,-0.002165,-0.027803,0.007642,0.028858,-0.004061,...,-0.000806,0.005769,-0.023163,0.004360,0.010909,-0.001676,0.001326,-0.002543,0.003880,0.000594
770,0.000000,0.003758,0.001016,0.019891,0.010655,-0.011989,-0.008088,0.007374,-0.018531,-0.020210,...,-0.004308,-0.010278,-0.015422,-0.001866,0.003887,-0.003698,-0.005646,-0.004466,0.008996,-0.005952
771,-0.002847,0.000592,0.019115,-0.010239,-0.010910,0.001826,-0.008154,-0.012462,0.011264,-0.015693,...,0.002829,-0.016931,0.001941,0.012376,-0.007790,-0.001348,-0.001222,0.006374,0.002556,0.001789

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
752,36.1,36.2,36.2,36.2,36.24,36.43,36.58,0.001389,0.003788,0.003452,-0.001936,-0.012378,-0.015108,36.13

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
766,-0.003637,0.006646,-0.009754,-0.002682,0.004606,-0.000711,-0.010689,-0.003336,-0.003803,0.014532,...,-0.002797,-0.012709,0.022031,-0.022202,-0.002962,0.006077,0.008941,0.000000,-0.002191,-0.005024
767,-0.006185,0.004806,0.001507,-0.018293,-0.009491,-0.010374,0.001131,-0.001254,0.009212,0.004682,...,-0.003072,0.007222,0.010257,0.012430,-0.000565,-0.001684,0.018654,0.001271,0.001934,-0.003265
768,-0.001129,0.003589,-0.030576,-0.002053,0.009746,-0.002160,0.009559,-0.018787,0.013128,0.024271,...,-0.003350,-0.012351,-0.007449,0.014778,0.004934,0.006386,0.013241,0.000000,-0.006202,0.001188
769,-0.007083,0.004369,0.017695,-0.011023,0.000765,-0.002165,-0.027803,0.007642,0.028858,-0.004061,...,-0.000806,0.005769,-0.023163,0.004360,0.010909,-0.001676,0.001326,-0.002543,0.003880,0.000594
770,0.000000,0.003758,0.001016,0.019891,0.010655,-0.011989,-0.008088,0.007374,-0.018531,-0.020210,...,-0.004308,-0.010278,-0.015422,-0.001866,0.003887,-0.003698,-0.005646,-0.004466,0.008996,-0.005952
771,-0.002847,0.000592,0.019115,-0.010239,-0.010910,0.001826,-0.008154,-0.012462,0.011264,-0.015693,...,0.002829,-0.016931,0.001941,0.012376,-0.007790,-0.001348,-0.001222,0.006374,0.002556,0.001789
772,0.000000,0.004135,0.023878,-0.002748,0.002802,-0.006221,0.013938,-0.007895,-0.017607,-0.025273,...,0.007372,0.002405,0.008687,-0.012376,0.006126,-0.001350,0.004879,0.024476,-0.005503,0.003272

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
753,36.13,36.1,36.2,36.2,36.2,36.24,36.43,0.001482,0.003837,0.003431,-0.001106,-0.007439,-0.01346,36.16

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
767,-0.006185,0.004806,0.001507,-0.018293,-0.009491,-0.010374,0.001131,-0.001254,0.009212,0.004682,...,-0.003072,0.007222,0.010257,0.012430,-0.000565,-0.001684,0.018654,0.001271,0.001934,-0.003265
768,-0.001129,0.003589,-0.030576,-0.002053,0.009746,-0.002160,0.009559,-0.018787,0.013128,0.024271,...,-0.003350,-0.012351,-0.007449,0.014778,0.004934,0.006386,0.013241,0.000000,-0.006202,0.001188
769,-0.007083,0.004369,0.017695,-0.011023,0.000765,-0.002165,-0.027803,0.007642,0.028858,-0.004061,...,-0.000806,0.005769,-0.023163,0.004360,0.010909,-0.001676,0.001326,-0.002543,0.003880,0.000594
770,0.000000,0.003758,0.001016,0.019891,0.010655,-0.011989,-0.008088,0.007374,-0.018531,-0.020210,...,-0.004308,-0.010278,-0.015422,-0.001866,0.003887,-0.003698,-0.005646,-0.004466,0.008996,-0.005952
771,-0.002847,0.000592,0.019115,-0.010239,-0.010910,0.001826,-0.008154,-0.012462,0.011264,-0.015693,...,0.002829,-0.016931,0.001941,0.012376,-0.007790,-0.001348,-0.001222,0.006374,0.002556,0.001789
772,0.000000,0.004135,0.023878,-0.002748,0.002802,-0.006221,0.013938,-0.007895,-0.017607,-0.025273,...,0.007372,0.002405,0.008687,-0.012376,0.006126,-0.001350,0.004879,0.024476,-0.005503,0.003272
773,-0.000856,-0.002164,-0.008796,-0.019803,-0.004334,0.004030,-0.000577,-0.015980,0.020208,-0.011238,...,-0.001604,0.015602,-0.000481,0.003108,-0.007104,-0.006098,0.003864,0.016600,-0.011616,0.000891

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
754,36.16,36.13,36.1,36.2,36.2,36.2,36.24,0.002982,0.003995,0.003611,0.007176,0.003306,-0.0123,36.36

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
768,-0.001129,0.003589,-0.030576,-0.002053,0.009746,-0.002160,0.009559,-0.018787,0.013128,0.024271,...,-0.003350,-0.012351,-0.007449,0.014778,0.004934,0.006386,0.013241,0.000000,-0.006202,0.001188
769,-0.007083,0.004369,0.017695,-0.011023,0.000765,-0.002165,-0.027803,0.007642,0.028858,-0.004061,...,-0.000806,0.005769,-0.023163,0.004360,0.010909,-0.001676,0.001326,-0.002543,0.003880,0.000594
770,0.000000,0.003758,0.001016,0.019891,0.010655,-0.011989,-0.008088,0.007374,-0.018531,-0.020210,...,-0.004308,-0.010278,-0.015422,-0.001866,0.003887,-0.003698,-0.005646,-0.004466,0.008996,-0.005952
771,-0.002847,0.000592,0.019115,-0.010239,-0.010910,0.001826,-0.008154,-0.012462,0.011264,-0.015693,...,0.002829,-0.016931,0.001941,0.012376,-0.007790,-0.001348,-0.001222,0.006374,0.002556,0.001789
772,0.000000,0.004135,0.023878,-0.002748,0.002802,-0.006221,0.013938,-0.007895,-0.017607,-0.025273,...,0.007372,0.002405,0.008687,-0.012376,0.006126,-0.001350,0.004879,0.024476,-0.005503,0.003272
773,-0.000856,-0.002164,-0.008796,-0.019803,-0.004334,0.004030,-0.000577,-0.015980,0.020208,-0.011238,...,-0.001604,0.015602,-0.000481,0.003108,-0.007104,-0.006098,0.003864,0.016600,-0.011616,0.000891
774,-0.002286,-0.002366,-0.001965,-0.003867,0.000766,0.001826,0.009190,-0.003052,-0.012023,0.007627,...,-0.003752,-0.000645,-0.022855,-0.005602,0.011120,0.006773,0.008776,-0.011036,0.001816,-0.006251

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
755,36.36,36.16,36.13,36.1,36.2,36.2,36.2,0.00354,0.003111,0.003613,0.00304,0.001104,-0.013975,36.24

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
769,-0.007083,0.004369,0.017695,-0.011023,0.000765,-0.002165,-0.027803,0.007642,0.028858,-0.004061,...,-0.000806,0.005769,-0.023163,0.004360,0.010909,-0.001676,0.001326,-0.002543,0.003880,0.000594
770,0.000000,0.003758,0.001016,0.019891,0.010655,-0.011989,-0.008088,0.007374,-0.018531,-0.020210,...,-0.004308,-0.010278,-0.015422,-0.001866,0.003887,-0.003698,-0.005646,-0.004466,0.008996,-0.005952
771,-0.002847,0.000592,0.019115,-0.010239,-0.010910,0.001826,-0.008154,-0.012462,0.011264,-0.015693,...,0.002829,-0.016931,0.001941,0.012376,-0.007790,-0.001348,-0.001222,0.006374,0.002556,0.001789
772,0.000000,0.004135,0.023878,-0.002748,0.002802,-0.006221,0.013938,-0.007895,-0.017607,-0.025273,...,0.007372,0.002405,0.008687,-0.012376,0.006126,-0.001350,0.004879,0.024476,-0.005503,0.003272
773,-0.000856,-0.002164,-0.008796,-0.019803,-0.004334,0.004030,-0.000577,-0.015980,0.020208,-0.011238,...,-0.001604,0.015602,-0.000481,0.003108,-0.007104,-0.006098,0.003864,0.016600,-0.011616,0.000891
774,-0.002286,-0.002366,-0.001965,-0.003867,0.000766,0.001826,0.009190,-0.003052,-0.012023,0.007627,...,-0.003752,-0.000645,-0.022855,-0.005602,0.011120,0.006773,0.008776,-0.011036,0.001816,-0.006251
775,-0.002004,0.006297,0.021166,0.007719,-0.008718,-0.005857,0.015882,0.006529,0.017464,0.004152,...,-0.009578,-0.007342,-0.017116,-0.005320,0.004414,-0.003719,-0.000546,-0.005564,0.001554,-0.021123

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
756,36.24,36.36,36.16,36.13,36.1,36.2,36.2,0.006452,0.00455,0.004333,-0.009447,-0.010553,-0.019627,35.82

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
770,0.000000,0.003758,0.001016,0.019891,0.010655,-0.011989,-0.008088,0.007374,-0.018531,-0.020210,...,-0.004308,-0.010278,-0.015422,-0.001866,0.003887,-0.003698,-0.005646,-0.004466,0.008996,-0.005952
771,-0.002847,0.000592,0.019115,-0.010239,-0.010910,0.001826,-0.008154,-0.012462,0.011264,-0.015693,...,0.002829,-0.016931,0.001941,0.012376,-0.007790,-0.001348,-0.001222,0.006374,0.002556,0.001789
772,0.000000,0.004135,0.023878,-0.002748,0.002802,-0.006221,0.013938,-0.007895,-0.017607,-0.025273,...,0.007372,0.002405,0.008687,-0.012376,0.006126,-0.001350,0.004879,0.024476,-0.005503,0.003272
773,-0.000856,-0.002164,-0.008796,-0.019803,-0.004334,0.004030,-0.000577,-0.015980,0.020208,-0.011238,...,-0.001604,0.015602,-0.000481,0.003108,-0.007104,-0.006098,0.003864,0.016600,-0.011616,0.000891
774,-0.002286,-0.002366,-0.001965,-0.003867,0.000766,0.001826,0.009190,-0.003052,-0.012023,0.007627,...,-0.003752,-0.000645,-0.022855,-0.005602,0.011120,0.006773,0.008776,-0.011036,0.001816,-0.006251
775,-0.002004,0.006297,0.021166,0.007719,-0.008718,-0.005857,0.015882,0.006529,0.017464,0.004152,...,-0.009578,-0.007342,-0.017116,-0.005320,0.004414,-0.003719,-0.000546,-0.005564,0.001554,-0.021123
776,-0.007191,0.003720,0.016948,-0.014789,-0.008016,-0.001837,-0.009613,0.012503,-0.036578,-0.024621,...,-0.008030,0.010564,0.000500,0.005320,-0.007460,-0.000339,0.000765,-0.001241,-0.003110,-0.006425

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
757,35.82,36.24,36.36,36.16,36.13,36.1,36.2,0.006918,0.004707,0.004442,-0.010784,-0.006374,-0.014353,35.97

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
771,-0.002847,0.000592,0.019115,-0.010239,-0.010910,0.001826,-0.008154,-0.012462,0.011264,-0.015693,...,0.002829,-0.016931,0.001941,0.012376,-0.007790,-0.001348,-0.001222,0.006374,0.002556,0.001789
772,0.000000,0.004135,0.023878,-0.002748,0.002802,-0.006221,0.013938,-0.007895,-0.017607,-0.025273,...,0.007372,0.002405,0.008687,-0.012376,0.006126,-0.001350,0.004879,0.024476,-0.005503,0.003272
773,-0.000856,-0.002164,-0.008796,-0.019803,-0.004334,0.004030,-0.000577,-0.015980,0.020208,-0.011238,...,-0.001604,0.015602,-0.000481,0.003108,-0.007104,-0.006098,0.003864,0.016600,-0.011616,0.000891
774,-0.002286,-0.002366,-0.001965,-0.003867,0.000766,0.001826,0.009190,-0.003052,-0.012023,0.007627,...,-0.003752,-0.000645,-0.022855,-0.005602,0.011120,0.006773,0.008776,-0.011036,0.001816,-0.006251
775,-0.002004,0.006297,0.021166,0.007719,-0.008718,-0.005857,0.015882,0.006529,0.017464,0.004152,...,-0.009578,-0.007342,-0.017116,-0.005320,0.004414,-0.003719,-0.000546,-0.005564,0.001554,-0.021123
776,-0.007191,0.003720,0.016948,-0.014789,-0.008016,-0.001837,-0.009613,0.012503,-0.036578,-0.024621,...,-0.008030,0.010564,0.000500,0.005320,-0.007460,-0.000339,0.000765,-0.001241,-0.003110,-0.006425
777,0.000577,-0.004309,-0.006173,-0.003554,-0.012014,0.003305,0.003969,0.013406,-0.011592,-0.013009,...,0.000410,-0.006886,0.009953,0.000624,-0.000555,-0.004415,-0.003281,-0.001864,-0.009520,-0.001843

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
758,35.97,35.82,36.24,36.36,36.16,36.13,36.1,0.006852,0.004707,0.004442,-0.008591,-0.00472,-0.010245,35.93

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
772,0.000000,0.004135,0.023878,-0.002748,0.002802,-0.006221,0.013938,-0.007895,-0.017607,-0.025273,...,0.007372,0.002405,0.008687,-0.012376,0.006126,-0.001350,0.004879,0.024476,-0.005503,0.003272
773,-0.000856,-0.002164,-0.008796,-0.019803,-0.004334,0.004030,-0.000577,-0.015980,0.020208,-0.011238,...,-0.001604,0.015602,-0.000481,0.003108,-0.007104,-0.006098,0.003864,0.016600,-0.011616,0.000891
774,-0.002286,-0.002366,-0.001965,-0.003867,0.000766,0.001826,0.009190,-0.003052,-0.012023,0.007627,...,-0.003752,-0.000645,-0.022855,-0.005602,0.011120,0.006773,0.008776,-0.011036,0.001816,-0.006251
775,-0.002004,0.006297,0.021166,0.007719,-0.008718,-0.005857,0.015882,0.006529,0.017464,0.004152,...,-0.009578,-0.007342,-0.017116,-0.005320,0.004414,-0.003719,-0.000546,-0.005564,0.001554,-0.021123
776,-0.007191,0.003720,0.016948,-0.014789,-0.008016,-0.001837,-0.009613,0.012503,-0.036578,-0.024621,...,-0.008030,0.010564,0.000500,0.005320,-0.007460,-0.000339,0.000765,-0.001241,-0.003110,-0.006425
777,0.000577,-0.004309,-0.006173,-0.003554,-0.012014,0.003305,0.003969,0.013406,-0.011592,-0.013009,...,0.000410,-0.006886,0.009953,0.000624,-0.000555,-0.004415,-0.003281,-0.001864,-0.009520,-0.001843
778,0.006614,-0.002358,-0.003101,-0.003566,-0.004477,-0.001835,0.006206,0.010304,0.001896,-0.002810,...,0.005856,-0.007804,-0.007954,-0.023033,-0.001110,0.003059,-0.011681,-0.009372,0.004836,0.006742

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
759,35.93,35.97,35.82,36.24,36.36,36.16,36.13,0.006207,0.004816,0.004512,0.005568,-0.003049,-0.015427,36.02

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
773,-0.000856,-0.002164,-0.008796,-0.019803,-0.004334,0.004030,-0.000577,-0.015980,0.020208,-0.011238,...,-0.001604,0.015602,-0.000481,0.003108,-0.007104,-0.006098,0.003864,0.016600,-0.011616,0.000891
774,-0.002286,-0.002366,-0.001965,-0.003867,0.000766,0.001826,0.009190,-0.003052,-0.012023,0.007627,...,-0.003752,-0.000645,-0.022855,-0.005602,0.011120,0.006773,0.008776,-0.011036,0.001816,-0.006251
775,-0.002004,0.006297,0.021166,0.007719,-0.008718,-0.005857,0.015882,0.006529,0.017464,0.004152,...,-0.009578,-0.007342,-0.017116,-0.005320,0.004414,-0.003719,-0.000546,-0.005564,0.001554,-0.021123
776,-0.007191,0.003720,0.016948,-0.014789,-0.008016,-0.001837,-0.009613,0.012503,-0.036578,-0.024621,...,-0.008030,0.010564,0.000500,0.005320,-0.007460,-0.000339,0.000765,-0.001241,-0.003110,-0.006425
777,0.000577,-0.004309,-0.006173,-0.003554,-0.012014,0.003305,0.003969,0.013406,-0.011592,-0.013009,...,0.000410,-0.006886,0.009953,0.000624,-0.000555,-0.004415,-0.003281,-0.001864,-0.009520,-0.001843
778,0.006614,-0.002358,-0.003101,-0.003566,-0.004477,-0.001835,0.006206,0.010304,0.001896,-0.002810,...,0.005856,-0.007804,-0.007954,-0.023033,-0.001110,0.003059,-0.011681,-0.009372,0.004836,0.006742
779,0.001432,0.005102,0.009274,0.024004,-0.003437,-0.006263,-0.009040,0.008333,-0.007334,0.008592,...,0.013756,0.009099,-0.004502,-0.011557,-0.002086,0.001695,0.012557,0.009994,-0.009170,0.002441

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
760,36.02,35.93,35.97,35.82,36.24,36.36,36.16,0.006486,0.004946,0.004441,0.004438,-0.00083,-0.008269,36.13

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
774,-0.002286,-0.002366,-0.001965,-0.003867,0.000766,0.001826,0.009190,-0.003052,-0.012023,0.007627,...,-0.003752,-0.000645,-0.022855,-0.005602,0.011120,0.006773,0.008776,-0.011036,0.001816,-0.006251
775,-0.002004,0.006297,0.021166,0.007719,-0.008718,-0.005857,0.015882,0.006529,0.017464,0.004152,...,-0.009578,-0.007342,-0.017116,-0.005320,0.004414,-0.003719,-0.000546,-0.005564,0.001554,-0.021123
776,-0.007191,0.003720,0.016948,-0.014789,-0.008016,-0.001837,-0.009613,0.012503,-0.036578,-0.024621,...,-0.008030,0.010564,0.000500,0.005320,-0.007460,-0.000339,0.000765,-0.001241,-0.003110,-0.006425
777,0.000577,-0.004309,-0.006173,-0.003554,-0.012014,0.003305,0.003969,0.013406,-0.011592,-0.013009,...,0.000410,-0.006886,0.009953,0.000624,-0.000555,-0.004415,-0.003281,-0.001864,-0.009520,-0.001843
778,0.006614,-0.002358,-0.003101,-0.003566,-0.004477,-0.001835,0.006206,0.010304,0.001896,-0.002810,...,0.005856,-0.007804,-0.007954,-0.023033,-0.001110,0.003059,-0.011681,-0.009372,0.004836,0.006742
779,0.001432,0.005102,0.009274,0.024004,-0.003437,-0.006263,-0.009040,0.008333,-0.007334,0.008592,...,0.013756,0.009099,-0.004502,-0.011557,-0.002086,0.001695,0.012557,0.009994,-0.009170,0.002441
780,-0.002866,0.007799,-0.016948,0.014199,0.007125,-0.002590,0.007914,0.015849,-0.010414,0.005379,...,-0.005237,0.013920,0.014188,0.002580,0.006520,-0.004754,0.001203,0.011739,0.000263,0.002435

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
761,36.13,36.02,35.93,35.97,35.82,36.24,36.36,0.001999,0.004935,0.004513,0.008315,-0.003582,-0.000276,36.23

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
775,-0.002004,0.006297,0.021166,0.007719,-0.008718,-0.005857,0.015882,0.006529,0.017464,0.004152,...,-0.009578,-0.007342,-0.017116,-0.005320,0.004414,-0.003719,-0.000546,-0.005564,0.001554,-0.021123
776,-0.007191,0.003720,0.016948,-0.014789,-0.008016,-0.001837,-0.009613,0.012503,-0.036578,-0.024621,...,-0.008030,0.010564,0.000500,0.005320,-0.007460,-0.000339,0.000765,-0.001241,-0.003110,-0.006425
777,0.000577,-0.004309,-0.006173,-0.003554,-0.012014,0.003305,0.003969,0.013406,-0.011592,-0.013009,...,0.000410,-0.006886,0.009953,0.000624,-0.000555,-0.004415,-0.003281,-0.001864,-0.009520,-0.001843
778,0.006614,-0.002358,-0.003101,-0.003566,-0.004477,-0.001835,0.006206,0.010304,0.001896,-0.002810,...,0.005856,-0.007804,-0.007954,-0.023033,-0.001110,0.003059,-0.011681,-0.009372,0.004836,0.006742
779,0.001432,0.005102,0.009274,0.024004,-0.003437,-0.006263,-0.009040,0.008333,-0.007334,0.008592,...,0.013756,0.009099,-0.004502,-0.011557,-0.002086,0.001695,0.012557,0.009994,-0.009170,0.002441
780,-0.002866,0.007799,-0.016948,0.014199,0.007125,-0.002590,0.007914,0.015849,-0.010414,0.005379,...,-0.005237,0.013920,0.014188,0.002580,0.006520,-0.004754,0.001203,0.011739,0.000263,0.002435
781,-0.002299,0.011009,-0.017975,0.008901,0.002101,-0.007811,-0.003949,0.002040,0.005221,0.004246,...,-0.010286,0.010578,-0.013938,0.007380,0.004277,-0.007173,-0.003175,-0.003692,-0.002239,-0.005792

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
762,36.23,36.13,36.02,35.93,35.97,35.82,36.24,0.002134,0.004953,0.004341,0.004708,-0.001381,-0.000276,36.19

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
776,-0.007191,0.003720,0.016948,-0.014789,-0.008016,-0.001837,-0.009613,0.012503,-0.036578,-0.024621,...,-0.008030,0.010564,0.000500,0.005320,-0.007460,-0.000339,0.000765,-0.001241,-0.003110,-0.006425
777,0.000577,-0.004309,-0.006173,-0.003554,-0.012014,0.003305,0.003969,0.013406,-0.011592,-0.013009,...,0.000410,-0.006886,0.009953,0.000624,-0.000555,-0.004415,-0.003281,-0.001864,-0.009520,-0.001843
778,0.006614,-0.002358,-0.003101,-0.003566,-0.004477,-0.001835,0.006206,0.010304,0.001896,-0.002810,...,0.005856,-0.007804,-0.007954,-0.023033,-0.001110,0.003059,-0.011681,-0.009372,0.004836,0.006742
779,0.001432,0.005102,0.009274,0.024004,-0.003437,-0.006263,-0.009040,0.008333,-0.007334,0.008592,...,0.013756,0.009099,-0.004502,-0.011557,-0.002086,0.001695,0.012557,0.009994,-0.009170,0.002441
780,-0.002866,0.007799,-0.016948,0.014199,0.007125,-0.002590,0.007914,0.015849,-0.010414,0.005379,...,-0.005237,0.013920,0.014188,0.002580,0.006520,-0.004754,0.001203,0.011739,0.000263,0.002435
781,-0.002299,0.011009,-0.017975,0.008901,0.002101,-0.007811,-0.003949,0.002040,0.005221,0.004246,...,-0.010286,0.010578,-0.013938,0.007380,0.004277,-0.007173,-0.003175,-0.003692,-0.002239,-0.005792
782,0.005451,-0.001346,0.008299,0.004082,-0.001838,-0.001495,-0.014807,0.013964,0.021419,-0.018029,...,-0.000544,0.000210,-0.003766,0.016487,0.003848,0.012604,-0.011361,0.001232,0.000395,0.001833

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
763,36.19,36.23,36.13,36.02,35.93,35.97,35.82,0.00326,0.00515,0.004429,-0.002772,0.005846,-0.004707,36.03

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
777,0.000577,-0.004309,-0.006173,-0.003554,-0.012014,0.003305,0.003969,0.013406,-0.011592,-0.013009,...,0.000410,-0.006886,0.009953,0.000624,-0.000555,-0.004415,-0.003281,-0.001864,-0.009520,-0.001843
778,0.006614,-0.002358,-0.003101,-0.003566,-0.004477,-0.001835,0.006206,0.010304,0.001896,-0.002810,...,0.005856,-0.007804,-0.007954,-0.023033,-0.001110,0.003059,-0.011681,-0.009372,0.004836,0.006742
779,0.001432,0.005102,0.009274,0.024004,-0.003437,-0.006263,-0.009040,0.008333,-0.007334,0.008592,...,0.013756,0.009099,-0.004502,-0.011557,-0.002086,0.001695,0.012557,0.009994,-0.009170,0.002441
780,-0.002866,0.007799,-0.016948,0.014199,0.007125,-0.002590,0.007914,0.015849,-0.010414,0.005379,...,-0.005237,0.013920,0.014188,0.002580,0.006520,-0.004754,0.001203,0.011739,0.000263,0.002435
781,-0.002299,0.011009,-0.017975,0.008901,0.002101,-0.007811,-0.003949,0.002040,0.005221,0.004246,...,-0.010286,0.010578,-0.013938,0.007380,0.004277,-0.007173,-0.003175,-0.003692,-0.002239,-0.005792
782,0.005451,-0.001346,0.008299,0.004082,-0.001838,-0.001495,-0.014807,0.013964,0.021419,-0.018029,...,-0.000544,0.000210,-0.003766,0.016487,0.003848,0.012604,-0.011361,0.001232,0.000395,0.001833
783,0.003713,0.001538,0.020689,-0.013671,0.012799,0.013373,-0.004600,0.002208,-0.012416,0.000937,...,0.002990,0.021851,-0.009098,0.000629,0.004652,0.005065,0.008945,0.014670,0.002633,-0.011355

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
764,36.03,36.19,36.23,36.13,36.02,35.93,35.97,0.003611,0.004823,0.004378,-0.009707,-0.002505,-0.008879,35.88

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
778,0.006614,-0.002358,-0.003101,-0.003566,-0.004477,-0.001835,0.006206,0.010304,0.001896,-0.002810,...,0.005856,-0.007804,-0.007954,-0.023033,-0.001110,0.003059,-0.011681,-0.009372,0.004836,0.006742
779,0.001432,0.005102,0.009274,0.024004,-0.003437,-0.006263,-0.009040,0.008333,-0.007334,0.008592,...,0.013756,0.009099,-0.004502,-0.011557,-0.002086,0.001695,0.012557,0.009994,-0.009170,0.002441
780,-0.002866,0.007799,-0.016948,0.014199,0.007125,-0.002590,0.007914,0.015849,-0.010414,0.005379,...,-0.005237,0.013920,0.014188,0.002580,0.006520,-0.004754,0.001203,0.011739,0.000263,0.002435
781,-0.002299,0.011009,-0.017975,0.008901,0.002101,-0.007811,-0.003949,0.002040,0.005221,0.004246,...,-0.010286,0.010578,-0.013938,0.007380,0.004277,-0.007173,-0.003175,-0.003692,-0.002239,-0.005792
782,0.005451,-0.001346,0.008299,0.004082,-0.001838,-0.001495,-0.014807,0.013964,0.021419,-0.018029,...,-0.000544,0.000210,-0.003766,0.016487,0.003848,0.012604,-0.011361,0.001232,0.000395,0.001833
783,0.003713,0.001538,0.020689,-0.013671,0.012799,0.013373,-0.004600,0.002208,-0.012416,0.000937,...,0.002990,0.021851,-0.009098,0.000629,0.004652,0.005065,0.008945,0.014670,0.002633,-0.011355
784,-0.004571,0.000576,-0.011735,-0.017005,0.016729,0.000369,-0.010429,-0.009874,-0.001087,0.001498,...,-0.012289,-0.001030,0.006831,0.009072,0.001228,-0.005065,0.005919,-0.003647,-0.013633,-0.001854

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
765,35.88,36.03,36.19,36.23,36.13,36.02,35.93,0.002936,0.004773,0.003922,-0.009439,-0.002229,-0.006949,35.85

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
779,0.001432,0.005102,0.009274,0.024004,-0.003437,-0.006263,-0.009040,0.008333,-0.007334,0.008592,...,0.013756,0.009099,-0.004502,-0.011557,-0.002086,0.001695,0.012557,0.009994,-0.009170,0.002441
780,-0.002866,0.007799,-0.016948,0.014199,0.007125,-0.002590,0.007914,0.015849,-0.010414,0.005379,...,-0.005237,0.013920,0.014188,0.002580,0.006520,-0.004754,0.001203,0.011739,0.000263,0.002435
781,-0.002299,0.011009,-0.017975,0.008901,0.002101,-0.007811,-0.003949,0.002040,0.005221,0.004246,...,-0.010286,0.010578,-0.013938,0.007380,0.004277,-0.007173,-0.003175,-0.003692,-0.002239,-0.005792
782,0.005451,-0.001346,0.008299,0.004082,-0.001838,-0.001495,-0.014807,0.013964,0.021419,-0.018029,...,-0.000544,0.000210,-0.003766,0.016487,0.003848,0.012604,-0.011361,0.001232,0.000395,0.001833
783,0.003713,0.001538,0.020689,-0.013671,0.012799,0.013373,-0.004600,0.002208,-0.012416,0.000937,...,0.002990,0.021851,-0.009098,0.000629,0.004652,0.005065,0.008945,0.014670,0.002633,-0.011355
784,-0.004571,0.000576,-0.011735,-0.017005,0.016729,0.000369,-0.010429,-0.009874,-0.001087,0.001498,...,-0.012289,-0.001030,0.006831,0.009072,0.001228,-0.005065,0.005919,-0.003647,-0.013633,-0.001854
785,0.002288,-0.007127,0.024745,-0.007378,-0.002556,-0.003325,-0.003501,-0.013251,0.007044,-0.014701,...,-0.008554,-0.015784,0.011781,-0.006875,-0.004373,-0.002712,-0.003284,0.010300,-0.010180,-0.014640

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
766,35.85,35.88,36.03,36.19,36.23,36.13,36.02,0.001804,0.00302,0.003854,-0.006125,-0.005847,-0.008896,35.81

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
780,-0.002866,0.007799,-0.016948,0.014199,0.007125,-0.002590,0.007914,0.015849,-0.010414,0.005379,...,-0.005237,0.013920,0.014188,0.002580,0.006520,-0.004754,0.001203,0.011739,0.000263,0.002435
781,-0.002299,0.011009,-0.017975,0.008901,0.002101,-0.007811,-0.003949,0.002040,0.005221,0.004246,...,-0.010286,0.010578,-0.013938,0.007380,0.004277,-0.007173,-0.003175,-0.003692,-0.002239,-0.005792
782,0.005451,-0.001346,0.008299,0.004082,-0.001838,-0.001495,-0.014807,0.013964,0.021419,-0.018029,...,-0.000544,0.000210,-0.003766,0.016487,0.003848,0.012604,-0.011361,0.001232,0.000395,0.001833
783,0.003713,0.001538,0.020689,-0.013671,0.012799,0.013373,-0.004600,0.002208,-0.012416,0.000937,...,0.002990,0.021851,-0.009098,0.000629,0.004652,0.005065,0.008945,0.014670,0.002633,-0.011355
784,-0.004571,0.000576,-0.011735,-0.017005,0.016729,0.000369,-0.010429,-0.009874,-0.001087,0.001498,...,-0.012289,-0.001030,0.006831,0.009072,0.001228,-0.005065,0.005919,-0.003647,-0.013633,-0.001854
785,0.002288,-0.007127,0.024745,-0.007378,-0.002556,-0.003325,-0.003501,-0.013251,0.007044,-0.014701,...,-0.008554,-0.015784,0.011781,-0.006875,-0.004373,-0.002712,-0.003284,0.010300,-0.010180,-0.014640
786,-0.002288,-0.006789,0.009124,0.005275,0.007393,-0.010417,-0.013534,0.012440,0.007799,-0.000380,...,-0.001248,0.009998,0.008931,-0.011988,-0.008942,-0.002379,0.019867,-0.006046,0.002823,-0.001256

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
767,35.81,35.85,35.88,36.03,36.19,36.23,36.13,0.001727,0.002815,0.003775,-0.00559,-0.012533,-0.013363,35.68

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
781,-0.002299,0.011009,-0.017975,0.008901,0.002101,-0.007811,-0.003949,0.002040,0.005221,0.004246,...,-0.010286,0.010578,-0.013938,0.007380,0.004277,-0.007173,-0.003175,-0.003692,-0.002239,-0.005792
782,0.005451,-0.001346,0.008299,0.004082,-0.001838,-0.001495,-0.014807,0.013964,0.021419,-0.018029,...,-0.000544,0.000210,-0.003766,0.016487,0.003848,0.012604,-0.011361,0.001232,0.000395,0.001833
783,0.003713,0.001538,0.020689,-0.013671,0.012799,0.013373,-0.004600,0.002208,-0.012416,0.000937,...,0.002990,0.021851,-0.009098,0.000629,0.004652,0.005065,0.008945,0.014670,0.002633,-0.011355
784,-0.004571,0.000576,-0.011735,-0.017005,0.016729,0.000369,-0.010429,-0.009874,-0.001087,0.001498,...,-0.012289,-0.001030,0.006831,0.009072,0.001228,-0.005065,0.005919,-0.003647,-0.013633,-0.001854
785,0.002288,-0.007127,0.024745,-0.007378,-0.002556,-0.003325,-0.003501,-0.013251,0.007044,-0.014701,...,-0.008554,-0.015784,0.011781,-0.006875,-0.004373,-0.002712,-0.003284,0.010300,-0.010180,-0.014640
786,-0.002288,-0.006789,0.009124,0.005275,0.007393,-0.010417,-0.013534,0.012440,0.007799,-0.000380,...,-0.001248,0.009998,0.008931,-0.011988,-0.008942,-0.002379,0.019867,-0.006046,0.002823,-0.001256
787,0.000573,-0.001363,0.003719,0.008035,0.002283,-0.010149,0.008847,-0.006303,-0.001609,-0.001521,...,0.006086,0.003311,-0.000494,0.000317,-0.000968,0.000000,0.001182,0.008454,0.006823,0.010003

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
768,35.68,35.81,35.85,35.88,36.03,36.19,36.23,0.002235,0.003292,0.003964,-0.010938,-0.021482,-0.025064,35.46

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
782,0.005451,-0.001346,0.008299,0.004082,-0.001838,-0.001495,-0.014807,0.013964,0.021419,-0.018029,...,-0.000544,0.000210,-0.003766,0.016487,0.003848,0.012604,-0.011361,0.001232,0.000395,0.001833
783,0.003713,0.001538,0.020689,-0.013671,0.012799,0.013373,-0.004600,0.002208,-0.012416,0.000937,...,0.002990,0.021851,-0.009098,0.000629,0.004652,0.005065,0.008945,0.014670,0.002633,-0.011355
784,-0.004571,0.000576,-0.011735,-0.017005,0.016729,0.000369,-0.010429,-0.009874,-0.001087,0.001498,...,-0.012289,-0.001030,0.006831,0.009072,0.001228,-0.005065,0.005919,-0.003647,-0.013633,-0.001854
785,0.002288,-0.007127,0.024745,-0.007378,-0.002556,-0.003325,-0.003501,-0.013251,0.007044,-0.014701,...,-0.008554,-0.015784,0.011781,-0.006875,-0.004373,-0.002712,-0.003284,0.010300,-0.010180,-0.014640
786,-0.002288,-0.006789,0.009124,0.005275,0.007393,-0.010417,-0.013534,0.012440,0.007799,-0.000380,...,-0.001248,0.009998,0.008931,-0.011988,-0.008942,-0.002379,0.019867,-0.006046,0.002823,-0.001256
787,0.000573,-0.001363,0.003719,0.008035,0.002283,-0.010149,0.008847,-0.006303,-0.001609,-0.001521,...,0.006086,0.003311,-0.000494,0.000317,-0.000968,0.000000,0.001182,0.008454,0.006823,0.010003
788,-0.002866,-0.008612,0.019302,-0.015428,0.002784,0.004899,0.011676,-0.009838,0.004551,-0.003812,...,-0.004977,-0.017294,-0.000247,0.010415,-0.000415,0.000340,-0.004735,-0.004218,0.005717,-0.022968

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
769,35.46,35.68,35.81,35.85,35.88,36.03,36.19,0.002313,0.003013,0.003956,-0.010951,-0.021506,-0.022887,35.42

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
783,0.003713,0.001538,0.020689,-0.013671,0.012799,0.013373,-0.004600,0.002208,-0.012416,0.000937,...,0.002990,0.021851,-0.009098,0.000629,0.004652,0.005065,0.008945,0.014670,0.002633,-0.011355
784,-0.004571,0.000576,-0.011735,-0.017005,0.016729,0.000369,-0.010429,-0.009874,-0.001087,0.001498,...,-0.012289,-0.001030,0.006831,0.009072,0.001228,-0.005065,0.005919,-0.003647,-0.013633,-0.001854
785,0.002288,-0.007127,0.024745,-0.007378,-0.002556,-0.003325,-0.003501,-0.013251,0.007044,-0.014701,...,-0.008554,-0.015784,0.011781,-0.006875,-0.004373,-0.002712,-0.003284,0.010300,-0.010180,-0.014640
786,-0.002288,-0.006789,0.009124,0.005275,0.007393,-0.010417,-0.013534,0.012440,0.007799,-0.000380,...,-0.001248,0.009998,0.008931,-0.011988,-0.008942,-0.002379,0.019867,-0.006046,0.002823,-0.001256
787,0.000573,-0.001363,0.003719,0.008035,0.002283,-0.010149,0.008847,-0.006303,-0.001609,-0.001521,...,0.006086,0.003311,-0.000494,0.000317,-0.000968,0.000000,0.001182,0.008454,0.006823,0.010003
788,-0.002866,-0.008612,0.019302,-0.015428,0.002784,0.004899,0.011676,-0.009838,0.004551,-0.003812,...,-0.004977,-0.017294,-0.000247,0.010415,-0.000415,0.000340,-0.004735,-0.004218,0.005717,-0.022968
789,-0.004891,-0.000590,-0.007080,0.002823,-0.003291,0.001878,-0.004654,-0.004542,-0.002407,-0.009979,...,0.000139,0.003567,0.021759,-0.011685,-0.003049,-0.000681,0.014352,-0.011540,0.007265,0.007925

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
770,35.42,35.46,35.68,35.81,35.85,35.88,36.03,0.002776,0.002949,0.004165,-0.014397,-0.024158,-0.018313,35.17

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
784,-0.004571,0.000576,-0.011735,-0.017005,0.016729,0.000369,-0.010429,-0.009874,-0.001087,0.001498,...,-0.012289,-0.001030,0.006831,0.009072,0.001228,-0.005065,0.005919,-0.003647,-0.013633,-0.001854
785,0.002288,-0.007127,0.024745,-0.007378,-0.002556,-0.003325,-0.003501,-0.013251,0.007044,-0.014701,...,-0.008554,-0.015784,0.011781,-0.006875,-0.004373,-0.002712,-0.003284,0.010300,-0.010180,-0.014640
786,-0.002288,-0.006789,0.009124,0.005275,0.007393,-0.010417,-0.013534,0.012440,0.007799,-0.000380,...,-0.001248,0.009998,0.008931,-0.011988,-0.008942,-0.002379,0.019867,-0.006046,0.002823,-0.001256
787,0.000573,-0.001363,0.003719,0.008035,0.002283,-0.010149,0.008847,-0.006303,-0.001609,-0.001521,...,0.006086,0.003311,-0.000494,0.000317,-0.000968,0.000000,0.001182,0.008454,0.006823,0.010003
788,-0.002866,-0.008612,0.019302,-0.015428,0.002784,0.004899,0.011676,-0.009838,0.004551,-0.003812,...,-0.004977,-0.017294,-0.000247,0.010415,-0.000415,0.000340,-0.004735,-0.004218,0.005717,-0.022968
789,-0.004891,-0.000590,-0.007080,0.002823,-0.003291,0.001878,-0.004654,-0.004542,-0.002407,-0.009979,...,0.000139,0.003567,0.021759,-0.011685,-0.003049,-0.000681,0.014352,-0.011540,0.007265,0.007925
790,-0.003757,0.008617,0.012301,0.004570,0.003543,-0.007155,0.010441,0.004748,0.018305,-0.007939,...,0.001523,0.001256,0.006989,-0.003819,-0.009062,0.014530,-0.007579,0.001221,-0.000263,0.011615

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
771,35.17,35.42,35.46,35.68,35.81,35.85,35.88,0.003077,0.002471,0.004165,-0.008212,-0.019987,-0.022492,35.17

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
785,0.002288,-0.007127,0.024745,-0.007378,-0.002556,-0.003325,-0.003501,-0.013251,0.007044,-0.014701,...,-0.008554,-0.015784,0.011781,-0.006875,-0.004373,-0.002712,-0.003284,0.010300,-0.010180,-0.014640
786,-0.002288,-0.006789,0.009124,0.005275,0.007393,-0.010417,-0.013534,0.012440,0.007799,-0.000380,...,-0.001248,0.009998,0.008931,-0.011988,-0.008942,-0.002379,0.019867,-0.006046,0.002823,-0.001256
787,0.000573,-0.001363,0.003719,0.008035,0.002283,-0.010149,0.008847,-0.006303,-0.001609,-0.001521,...,0.006086,0.003311,-0.000494,0.000317,-0.000968,0.000000,0.001182,0.008454,0.006823,0.010003
788,-0.002866,-0.008612,0.019302,-0.015428,0.002784,0.004899,0.011676,-0.009838,0.004551,-0.003812,...,-0.004977,-0.017294,-0.000247,0.010415,-0.000415,0.000340,-0.004735,-0.004218,0.005717,-0.022968
789,-0.004891,-0.000590,-0.007080,0.002823,-0.003291,0.001878,-0.004654,-0.004542,-0.002407,-0.009979,...,0.000139,0.003567,0.021759,-0.011685,-0.003049,-0.000681,0.014352,-0.011540,0.007265,0.007925
790,-0.003757,0.008617,0.012301,0.004570,0.003543,-0.007155,0.010441,0.004748,0.018305,-0.007939,...,0.001523,0.001256,0.006989,-0.003819,-0.009062,0.014530,-0.007579,0.001221,-0.000263,0.011615
791,-0.004643,-0.010192,0.001131,-0.009515,0.003783,0.002642,-0.008111,-0.019757,0.021585,-0.001946,...,0.006481,-0.002094,-0.019889,-0.007040,-0.005196,-0.000671,0.008323,-0.024083,-0.003693,-0.010984

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
772,35.17,35.17,35.42,35.46,35.68,35.81,35.85,0.003096,0.002385,0.004147,-0.009931,-0.021998,-0.024227,35.07

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
786,-0.002288,-0.006789,0.009124,0.005275,0.007393,-0.010417,-0.013534,0.012440,0.007799,-0.000380,...,-0.001248,0.009998,0.008931,-0.011988,-0.008942,-0.002379,0.019867,-0.006046,0.002823,-0.001256
787,0.000573,-0.001363,0.003719,0.008035,0.002283,-0.010149,0.008847,-0.006303,-0.001609,-0.001521,...,0.006086,0.003311,-0.000494,0.000317,-0.000968,0.000000,0.001182,0.008454,0.006823,0.010003
788,-0.002866,-0.008612,0.019302,-0.015428,0.002784,0.004899,0.011676,-0.009838,0.004551,-0.003812,...,-0.004977,-0.017294,-0.000247,0.010415,-0.000415,0.000340,-0.004735,-0.004218,0.005717,-0.022968
789,-0.004891,-0.000590,-0.007080,0.002823,-0.003291,0.001878,-0.004654,-0.004542,-0.002407,-0.009979,...,0.000139,0.003567,0.021759,-0.011685,-0.003049,-0.000681,0.014352,-0.011540,0.007265,0.007925
790,-0.003757,0.008617,0.012301,0.004570,0.003543,-0.007155,0.010441,0.004748,0.018305,-0.007939,...,0.001523,0.001256,0.006989,-0.003819,-0.009062,0.014530,-0.007579,0.001221,-0.000263,0.011615
791,-0.004643,-0.010192,0.001131,-0.009515,0.003783,0.002642,-0.008111,-0.019757,0.021585,-0.001946,...,0.006481,-0.002094,-0.019889,-0.007040,-0.005196,-0.000671,0.008323,-0.024083,-0.003693,-0.010984
792,0.005511,-0.005928,-0.029141,0.007409,-0.005806,-0.005291,0.005222,0.015217,-0.020271,0.005051,...,0.005210,-0.005886,-0.019293,-0.009681,-0.000282,-0.002016,0.000425,-0.002503,0.004351,-0.006649

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
773,35.07,35.17,35.17,35.42,35.46,35.68,35.81,0.002962,0.002527,0.004127,-0.002847,-0.020881,-0.026728,35.07

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
787,0.000573,-0.001363,0.003719,0.008035,0.002283,-0.010149,0.008847,-0.006303,-0.001609,-0.001521,...,0.006086,0.003311,-0.000494,0.000317,-0.000968,0.000000,0.001182,0.008454,0.006823,0.010003
788,-0.002866,-0.008612,0.019302,-0.015428,0.002784,0.004899,0.011676,-0.009838,0.004551,-0.003812,...,-0.004977,-0.017294,-0.000247,0.010415,-0.000415,0.000340,-0.004735,-0.004218,0.005717,-0.022968
789,-0.004891,-0.000590,-0.007080,0.002823,-0.003291,0.001878,-0.004654,-0.004542,-0.002407,-0.009979,...,0.000139,0.003567,0.021759,-0.011685,-0.003049,-0.000681,0.014352,-0.011540,0.007265,0.007925
790,-0.003757,0.008617,0.012301,0.004570,0.003543,-0.007155,0.010441,0.004748,0.018305,-0.007939,...,0.001523,0.001256,0.006989,-0.003819,-0.009062,0.014530,-0.007579,0.001221,-0.000263,0.011615
791,-0.004643,-0.010192,0.001131,-0.009515,0.003783,0.002642,-0.008111,-0.019757,0.021585,-0.001946,...,0.006481,-0.002094,-0.019889,-0.007040,-0.005196,-0.000671,0.008323,-0.024083,-0.003693,-0.010984
792,0.005511,-0.005928,-0.029141,0.007409,-0.005806,-0.005291,0.005222,0.015217,-0.020271,0.005051,...,0.005210,-0.005886,-0.019293,-0.009681,-0.000282,-0.002016,0.000425,-0.002503,0.004351,-0.006649
793,-0.003187,-0.009358,-0.012181,0.009097,-0.004822,0.004914,-0.002898,0.003098,-0.010822,0.019765,...,0.004502,-0.007407,0.014382,-0.003899,0.008414,0.002352,0.005825,0.009975,0.008646,0.006964

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
774,35.07,35.07,35.17,35.17,35.42,35.46,35.68,0.002989,0.00253,0.003786,-0.003703,-0.0181,-0.030633,35.04

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
788,-0.002866,-0.008612,0.019302,-0.015428,0.002784,0.004899,0.011676,-0.009838,0.004551,-0.003812,...,-0.004977,-0.017294,-0.000247,0.010415,-0.000415,0.000340,-0.004735,-0.004218,0.005717,-0.022968
789,-0.004891,-0.000590,-0.007080,0.002823,-0.003291,0.001878,-0.004654,-0.004542,-0.002407,-0.009979,...,0.000139,0.003567,0.021759,-0.011685,-0.003049,-0.000681,0.014352,-0.011540,0.007265,0.007925
790,-0.003757,0.008617,0.012301,0.004570,0.003543,-0.007155,0.010441,0.004748,0.018305,-0.007939,...,0.001523,0.001256,0.006989,-0.003819,-0.009062,0.014530,-0.007579,0.001221,-0.000263,0.011615
791,-0.004643,-0.010192,0.001131,-0.009515,0.003783,0.002642,-0.008111,-0.019757,0.021585,-0.001946,...,0.006481,-0.002094,-0.019889,-0.007040,-0.005196,-0.000671,0.008323,-0.024083,-0.003693,-0.010984
792,0.005511,-0.005928,-0.029141,0.007409,-0.005806,-0.005291,0.005222,0.015217,-0.020271,0.005051,...,0.005210,-0.005886,-0.019293,-0.009681,-0.000282,-0.002016,0.000425,-0.002503,0.004351,-0.006649
793,-0.003187,-0.009358,-0.012181,0.009097,-0.004822,0.004914,-0.002898,0.003098,-0.010822,0.019765,...,0.004502,-0.007407,0.014382,-0.003899,0.008414,0.002352,0.005825,0.009975,0.008646,0.006964
794,0.008380,0.001599,0.047184,-0.010856,-0.005101,-0.001509,0.002898,-0.004133,0.007140,-0.005908,...,0.003533,0.009092,-0.014881,-0.001303,0.008067,0.007355,0.006945,0.005568,-0.002350,0.011292

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
775,35.04,35.07,35.07,35.17,35.17,35.42,35.46,0.001313,0.002473,0.003772,-0.003142,-0.014201,-0.035683,34.96

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
789,-0.004891,-0.000590,-0.007080,0.002823,-0.003291,0.001878,-0.004654,-0.004542,-0.002407,-0.009979,...,0.000139,0.003567,0.021759,-0.011685,-0.003049,-0.000681,0.014352,-0.011540,0.007265,0.007925
790,-0.003757,0.008617,0.012301,0.004570,0.003543,-0.007155,0.010441,0.004748,0.018305,-0.007939,...,0.001523,0.001256,0.006989,-0.003819,-0.009062,0.014530,-0.007579,0.001221,-0.000263,0.011615
791,-0.004643,-0.010192,0.001131,-0.009515,0.003783,0.002642,-0.008111,-0.019757,0.021585,-0.001946,...,0.006481,-0.002094,-0.019889,-0.007040,-0.005196,-0.000671,0.008323,-0.024083,-0.003693,-0.010984
792,0.005511,-0.005928,-0.029141,0.007409,-0.005806,-0.005291,0.005222,0.015217,-0.020271,0.005051,...,0.005210,-0.005886,-0.019293,-0.009681,-0.000282,-0.002016,0.000425,-0.002503,0.004351,-0.006649
793,-0.003187,-0.009358,-0.012181,0.009097,-0.004822,0.004914,-0.002898,0.003098,-0.010822,0.019765,...,0.004502,-0.007407,0.014382,-0.003899,0.008414,0.002352,0.005825,0.009975,0.008646,0.006964
794,0.008380,0.001599,0.047184,-0.010856,-0.005101,-0.001509,0.002898,-0.004133,0.007140,-0.005908,...,0.003533,0.009092,-0.014881,-0.001303,0.008067,0.007355,0.006945,0.005568,-0.002350,0.011292
795,-0.006930,0.001397,-0.002927,-0.001057,-0.010539,0.015737,0.005770,-0.003319,-0.002639,-0.009989,...,-0.009541,-0.012923,0.006227,-0.002284,-0.006114,0.001664,-0.012770,-0.011790,-0.010778,0.001247

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
776,34.96,35.04,35.07,35.07,35.17,35.17,35.42,0.001151,0.002433,0.002978,-0.005146,-0.015076,-0.036583,34.89

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
790,-0.003757,0.008617,0.012301,0.004570,0.003543,-0.007155,0.010441,0.004748,0.018305,-0.007939,...,0.001523,0.001256,0.006989,-0.003819,-0.009062,0.014530,-0.007579,0.001221,-0.000263,0.011615
791,-0.004643,-0.010192,0.001131,-0.009515,0.003783,0.002642,-0.008111,-0.019757,0.021585,-0.001946,...,0.006481,-0.002094,-0.019889,-0.007040,-0.005196,-0.000671,0.008323,-0.024083,-0.003693,-0.010984
792,0.005511,-0.005928,-0.029141,0.007409,-0.005806,-0.005291,0.005222,0.015217,-0.020271,0.005051,...,0.005210,-0.005886,-0.019293,-0.009681,-0.000282,-0.002016,0.000425,-0.002503,0.004351,-0.006649
793,-0.003187,-0.009358,-0.012181,0.009097,-0.004822,0.004914,-0.002898,0.003098,-0.010822,0.019765,...,0.004502,-0.007407,0.014382,-0.003899,0.008414,0.002352,0.005825,0.009975,0.008646,0.006964
794,0.008380,0.001599,0.047184,-0.010856,-0.005101,-0.001509,0.002898,-0.004133,0.007140,-0.005908,...,0.003533,0.009092,-0.014881,-0.001303,0.008067,0.007355,0.006945,0.005568,-0.002350,0.011292
795,-0.006930,0.001397,-0.002927,-0.001057,-0.010539,0.015737,0.005770,-0.003319,-0.002639,-0.009989,...,-0.009541,-0.012923,0.006227,-0.002284,-0.006114,0.001664,-0.012770,-0.011790,-0.010778,0.001247
796,-0.001450,-0.002596,0.010319,-0.014915,0.016910,0.007038,-0.006349,-0.015705,-0.012228,-0.023834,...,-0.008251,0.020471,0.000248,-0.005241,0.003062,0.000333,0.002228,0.004981,0.000000,0.006211

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
777,34.89,34.96,35.04,35.07,35.07,35.17,35.17,0.002795,0.002828,0.002959,-0.011481,-0.015184,-0.039343,34.64

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
791,-0.004643,-0.010192,0.001131,-0.009515,0.003783,0.002642,-0.008111,-0.019757,0.021585,-0.001946,...,0.006481,-0.002094,-0.019889,-0.007040,-0.005196,-0.000671,0.008323,-0.024083,-0.003693,-0.010984
792,0.005511,-0.005928,-0.029141,0.007409,-0.005806,-0.005291,0.005222,0.015217,-0.020271,0.005051,...,0.005210,-0.005886,-0.019293,-0.009681,-0.000282,-0.002016,0.000425,-0.002503,0.004351,-0.006649
793,-0.003187,-0.009358,-0.012181,0.009097,-0.004822,0.004914,-0.002898,0.003098,-0.010822,0.019765,...,0.004502,-0.007407,0.014382,-0.003899,0.008414,0.002352,0.005825,0.009975,0.008646,0.006964
794,0.008380,0.001599,0.047184,-0.010856,-0.005101,-0.001509,0.002898,-0.004133,0.007140,-0.005908,...,0.003533,0.009092,-0.014881,-0.001303,0.008067,0.007355,0.006945,0.005568,-0.002350,0.011292
795,-0.006930,0.001397,-0.002927,-0.001057,-0.010539,0.015737,0.005770,-0.003319,-0.002639,-0.009989,...,-0.009541,-0.012923,0.006227,-0.002284,-0.006114,0.001664,-0.012770,-0.011790,-0.010778,0.001247
796,-0.001450,-0.002596,0.010319,-0.014915,0.016910,0.007038,-0.006349,-0.015705,-0.012228,-0.023834,...,-0.008251,0.020471,0.000248,-0.005241,0.003062,0.000333,0.002228,0.004981,0.000000,0.006211
797,-0.000290,-0.005816,-0.006717,0.013504,0.001777,0.004052,-0.001159,0.020473,-0.014548,0.043712,...,0.002069,0.006040,-0.007726,0.000328,0.004021,-0.003664,-0.017857,0.011732,-0.005167,-0.015287

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
778,34.64,34.89,34.96,35.04,35.07,35.07,35.17,0.002931,0.002779,0.003006,-0.008618,-0.014607,-0.034594,34.66

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
792,0.005511,-0.005928,-0.029141,0.007409,-0.005806,-0.005291,0.005222,0.015217,-0.020271,0.005051,...,0.005210,-0.005886,-0.019293,-0.009681,-0.000282,-0.002016,0.000425,-0.002503,0.004351,-0.006649
793,-0.003187,-0.009358,-0.012181,0.009097,-0.004822,0.004914,-0.002898,0.003098,-0.010822,0.019765,...,0.004502,-0.007407,0.014382,-0.003899,0.008414,0.002352,0.005825,0.009975,0.008646,0.006964
794,0.008380,0.001599,0.047184,-0.010856,-0.005101,-0.001509,0.002898,-0.004133,0.007140,-0.005908,...,0.003533,0.009092,-0.014881,-0.001303,0.008067,0.007355,0.006945,0.005568,-0.002350,0.011292
795,-0.006930,0.001397,-0.002927,-0.001057,-0.010539,0.015737,0.005770,-0.003319,-0.002639,-0.009989,...,-0.009541,-0.012923,0.006227,-0.002284,-0.006114,0.001664,-0.012770,-0.011790,-0.010778,0.001247
796,-0.001450,-0.002596,0.010319,-0.014915,0.016910,0.007038,-0.006349,-0.015705,-0.012228,-0.023834,...,-0.008251,0.020471,0.000248,-0.005241,0.003062,0.000333,0.002228,0.004981,0.000000,0.006211
797,-0.000290,-0.005816,-0.006717,0.013504,0.001777,0.004052,-0.001159,0.020473,-0.014548,0.043712,...,0.002069,0.006040,-0.007726,0.000328,0.004021,-0.003664,-0.017857,0.011732,-0.005167,-0.015287
798,-0.008161,0.007414,-0.013116,0.014716,0.008334,-0.001104,-0.008149,-0.003521,0.010796,0.010730,...,0.007414,0.010329,-0.014871,0.002950,0.000692,-0.009723,0.008487,0.015230,0.003713,-0.011064

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
779,34.66,34.64,34.89,34.96,35.04,35.07,35.07,0.005034,0.003963,0.003427,0.0,-0.005146,-0.027143,34.89

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
793,-0.003187,-0.009358,-0.012181,0.009097,-0.004822,0.004914,-0.002898,0.003098,-0.010822,0.019765,...,0.004502,-0.007407,0.014382,-0.003899,0.008414,0.002352,0.005825,0.009975,0.008646,0.006964
794,0.008380,0.001599,0.047184,-0.010856,-0.005101,-0.001509,0.002898,-0.004133,0.007140,-0.005908,...,0.003533,0.009092,-0.014881,-0.001303,0.008067,0.007355,0.006945,0.005568,-0.002350,0.011292
795,-0.006930,0.001397,-0.002927,-0.001057,-0.010539,0.015737,0.005770,-0.003319,-0.002639,-0.009989,...,-0.009541,-0.012923,0.006227,-0.002284,-0.006114,0.001664,-0.012770,-0.011790,-0.010778,0.001247
796,-0.001450,-0.002596,0.010319,-0.014915,0.016910,0.007038,-0.006349,-0.015705,-0.012228,-0.023834,...,-0.008251,0.020471,0.000248,-0.005241,0.003062,0.000333,0.002228,0.004981,0.000000,0.006211
797,-0.000290,-0.005816,-0.006717,0.013504,0.001777,0.004052,-0.001159,0.020473,-0.014548,0.043712,...,0.002069,0.006040,-0.007726,0.000328,0.004021,-0.003664,-0.017857,0.011732,-0.005167,-0.015287
798,-0.008161,0.007414,-0.013116,0.014716,0.008334,-0.001104,-0.008149,-0.003521,0.010796,0.010730,...,0.007414,0.010329,-0.014871,0.002950,0.000692,-0.009723,0.008487,0.015230,0.003713,-0.011064
799,-0.005870,-0.002399,-0.000683,0.003472,0.003766,0.002940,0.015081,0.003728,-0.006194,-0.006952,...,0.008580,-0.011991,0.006076,-0.001310,-0.003602,0.002020,-0.012270,0.006629,-0.003713,0.017331

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
780,34.89,34.66,34.64,34.89,34.96,35.04,35.07,0.005045,0.003522,0.003329,0.008623,-0.003714,-0.024595,34.94

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
794,0.008380,0.001599,0.047184,-0.010856,-0.005101,-0.001509,0.002898,-0.004133,0.007140,-0.005908,...,0.003533,0.009092,-0.014881,-0.001303,0.008067,0.007355,0.006945,0.005568,-0.002350,0.011292
795,-0.006930,0.001397,-0.002927,-0.001057,-0.010539,0.015737,0.005770,-0.003319,-0.002639,-0.009989,...,-0.009541,-0.012923,0.006227,-0.002284,-0.006114,0.001664,-0.012770,-0.011790,-0.010778,0.001247
796,-0.001450,-0.002596,0.010319,-0.014915,0.016910,0.007038,-0.006349,-0.015705,-0.012228,-0.023834,...,-0.008251,0.020471,0.000248,-0.005241,0.003062,0.000333,0.002228,0.004981,0.000000,0.006211
797,-0.000290,-0.005816,-0.006717,0.013504,0.001777,0.004052,-0.001159,0.020473,-0.014548,0.043712,...,0.002069,0.006040,-0.007726,0.000328,0.004021,-0.003664,-0.017857,0.011732,-0.005167,-0.015287
798,-0.008161,0.007414,-0.013116,0.014716,0.008334,-0.001104,-0.008149,-0.003521,0.010796,0.010730,...,0.007414,0.010329,-0.014871,0.002950,0.000692,-0.009723,0.008487,0.015230,0.003713,-0.011064
799,-0.005870,-0.002399,-0.000683,0.003472,0.003766,0.002940,0.015081,0.003728,-0.006194,-0.006952,...,0.008580,-0.011991,0.006076,-0.001310,-0.003602,0.002020,-0.012270,0.006629,-0.003713,0.017331
800,0.002939,0.002598,-0.003194,-0.015369,0.012203,-0.009958,0.002300,-0.001034,0.001080,0.017382,...,0.004060,-0.019108,-0.005314,0.006208,0.001387,0.000336,0.007445,0.014312,-0.002793,-0.008471

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
781,34.94,34.89,34.66,34.64,34.89,34.96,35.04,0.005139,0.003578,0.003168,0.00518,-0.005724,-0.023824,34.84

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
795,-0.006930,0.001397,-0.002927,-0.001057,-0.010539,0.015737,0.005770,-0.003319,-0.002639,-0.009989,...,-0.009541,-0.012923,0.006227,-0.002284,-0.006114,0.001664,-0.012770,-0.011790,-0.010778,0.001247
796,-0.001450,-0.002596,0.010319,-0.014915,0.016910,0.007038,-0.006349,-0.015705,-0.012228,-0.023834,...,-0.008251,0.020471,0.000248,-0.005241,0.003062,0.000333,0.002228,0.004981,0.000000,0.006211
797,-0.000290,-0.005816,-0.006717,0.013504,0.001777,0.004052,-0.001159,0.020473,-0.014548,0.043712,...,0.002069,0.006040,-0.007726,0.000328,0.004021,-0.003664,-0.017857,0.011732,-0.005167,-0.015287
798,-0.008161,0.007414,-0.013116,0.014716,0.008334,-0.001104,-0.008149,-0.003521,0.010796,0.010730,...,0.007414,0.010329,-0.014871,0.002950,0.000692,-0.009723,0.008487,0.015230,0.003713,-0.011064
799,-0.005870,-0.002399,-0.000683,0.003472,0.003766,0.002940,0.015081,0.003728,-0.006194,-0.006952,...,0.008580,-0.011991,0.006076,-0.001310,-0.003602,0.002020,-0.012270,0.006629,-0.003713,0.017331
800,0.002939,0.002598,-0.003194,-0.015369,0.012203,-0.009958,0.002300,-0.001034,0.001080,0.017382,...,0.004060,-0.019108,-0.005314,0.006208,0.001387,0.000336,0.007445,0.014312,-0.002793,-0.008471
801,-0.000587,-0.001798,0.008420,-0.005648,-0.002478,-0.006321,0.009148,-0.000621,-0.005954,0.021084,...,0.006328,-0.006167,-0.001524,0.005846,-0.006117,0.002350,0.004505,0.008842,0.008357,-0.002840

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
782,34.84,34.94,34.89,34.66,34.64,34.89,34.96,0.003783,0.00355,0.003163,-0.003733,-0.005737,-0.019938,34.76

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
796,-0.001450,-0.002596,0.010319,-0.014915,0.016910,0.007038,-0.006349,-0.015705,-0.012228,-0.023834,...,-0.008251,0.020471,0.000248,-0.005241,0.003062,0.000333,0.002228,0.004981,0.000000,0.006211
797,-0.000290,-0.005816,-0.006717,0.013504,0.001777,0.004052,-0.001159,0.020473,-0.014548,0.043712,...,0.002069,0.006040,-0.007726,0.000328,0.004021,-0.003664,-0.017857,0.011732,-0.005167,-0.015287
798,-0.008161,0.007414,-0.013116,0.014716,0.008334,-0.001104,-0.008149,-0.003521,0.010796,0.010730,...,0.007414,0.010329,-0.014871,0.002950,0.000692,-0.009723,0.008487,0.015230,0.003713,-0.011064
799,-0.005870,-0.002399,-0.000683,0.003472,0.003766,0.002940,0.015081,0.003728,-0.006194,-0.006952,...,0.008580,-0.011991,0.006076,-0.001310,-0.003602,0.002020,-0.012270,0.006629,-0.003713,0.017331
800,0.002939,0.002598,-0.003194,-0.015369,0.012203,-0.009958,0.002300,-0.001034,0.001080,0.017382,...,0.004060,-0.019108,-0.005314,0.006208,0.001387,0.000336,0.007445,0.014312,-0.002793,-0.008471
801,-0.000587,-0.001798,0.008420,-0.005648,-0.002478,-0.006321,0.009148,-0.000621,-0.005954,0.021084,...,0.006328,-0.006167,-0.001524,0.005846,-0.006117,0.002350,0.004505,0.008842,0.008357,-0.002840
802,-0.000881,-0.004208,0.003845,-0.009603,0.000000,0.008542,-0.020702,-0.008944,-0.036207,0.009030,...,0.006421,-0.006420,-0.014591,-0.016324,-0.000558,0.012663,-0.008274,0.007600,-0.002381,-0.006657

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
783,34.76,34.84,34.94,34.89,34.66,34.64,34.89,0.004334,0.004081,0.003518,0.000286,0.001718,-0.013358,34.95

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
797,-0.000290,-0.005816,-0.006717,0.013504,0.001777,0.004052,-0.001159,0.020473,-0.014548,0.043712,...,0.002069,0.006040,-0.007726,0.000328,0.004021,-0.003664,-0.017857,0.011732,-0.005167,-0.015287
798,-0.008161,0.007414,-0.013116,0.014716,0.008334,-0.001104,-0.008149,-0.003521,0.010796,0.010730,...,0.007414,0.010329,-0.014871,0.002950,0.000692,-0.009723,0.008487,0.015230,0.003713,-0.011064
799,-0.005870,-0.002399,-0.000683,0.003472,0.003766,0.002940,0.015081,0.003728,-0.006194,-0.006952,...,0.008580,-0.011991,0.006076,-0.001310,-0.003602,0.002020,-0.012270,0.006629,-0.003713,0.017331
800,0.002939,0.002598,-0.003194,-0.015369,0.012203,-0.009958,0.002300,-0.001034,0.001080,0.017382,...,0.004060,-0.019108,-0.005314,0.006208,0.001387,0.000336,0.007445,0.014312,-0.002793,-0.008471
801,-0.000587,-0.001798,0.008420,-0.005648,-0.002478,-0.006321,0.009148,-0.000621,-0.005954,0.021084,...,0.006328,-0.006167,-0.001524,0.005846,-0.006117,0.002350,0.004505,0.008842,0.008357,-0.002840
802,-0.000881,-0.004208,0.003845,-0.009603,0.000000,0.008542,-0.020702,-0.008944,-0.036207,0.009030,...,0.006421,-0.006420,-0.014591,-0.016324,-0.000558,0.012663,-0.008274,0.007600,-0.002381,-0.006657
803,-0.000882,0.003808,-0.001129,-0.001789,-0.008473,-0.000740,0.005216,-0.006919,-0.016459,-0.002340,...,-0.001869,-0.009058,-0.009587,0.020203,-0.004615,0.001324,0.013078,-0.002332,-0.006376,-0.013126

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
784,34.95,34.76,34.84,34.94,34.89,34.66,34.64,0.003645,0.004268,0.003645,0.006865,0.012622,-0.002562,35.08

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
798,-0.008161,0.007414,-0.013116,0.014716,0.008334,-0.001104,-0.008149,-0.003521,0.010796,0.010730,...,0.007414,0.010329,-0.014871,0.002950,0.000692,-0.009723,0.008487,0.015230,0.003713,-0.011064
799,-0.005870,-0.002399,-0.000683,0.003472,0.003766,0.002940,0.015081,0.003728,-0.006194,-0.006952,...,0.008580,-0.011991,0.006076,-0.001310,-0.003602,0.002020,-0.012270,0.006629,-0.003713,0.017331
800,0.002939,0.002598,-0.003194,-0.015369,0.012203,-0.009958,0.002300,-0.001034,0.001080,0.017382,...,0.004060,-0.019108,-0.005314,0.006208,0.001387,0.000336,0.007445,0.014312,-0.002793,-0.008471
801,-0.000587,-0.001798,0.008420,-0.005648,-0.002478,-0.006321,0.009148,-0.000621,-0.005954,0.021084,...,0.006328,-0.006167,-0.001524,0.005846,-0.006117,0.002350,0.004505,0.008842,0.008357,-0.002840
802,-0.000881,-0.004208,0.003845,-0.009603,0.000000,0.008542,-0.020702,-0.008944,-0.036207,0.009030,...,0.006421,-0.006420,-0.014591,-0.016324,-0.000558,0.012663,-0.008274,0.007600,-0.002381,-0.006657
803,-0.000882,0.003808,-0.001129,-0.001789,-0.008473,-0.000740,0.005216,-0.006919,-0.016459,-0.002340,...,-0.001869,-0.009058,-0.009587,0.020203,-0.004615,0.001324,0.013078,-0.002332,-0.006376,-0.013126
804,-0.000294,0.000400,0.003609,0.019852,-0.002757,-0.002594,0.001733,-0.002739,-0.003439,-0.005965,...,0.004532,-0.006302,-0.002868,-0.010702,0.003359,-0.001986,-0.002880,0.006401,-0.001867,0.006425

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
785,35.08,34.95,34.76,34.84,34.94,34.89,34.66,0.004411,0.004467,0.003724,0.004592,0.007473,-0.007134,34.92

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
799,-0.005870,-0.002399,-0.000683,0.003472,0.003766,0.002940,0.015081,0.003728,-0.006194,-0.006952,...,0.008580,-0.011991,0.006076,-0.001310,-0.003602,0.002020,-0.012270,0.006629,-0.003713,0.017331
800,0.002939,0.002598,-0.003194,-0.015369,0.012203,-0.009958,0.002300,-0.001034,0.001080,0.017382,...,0.004060,-0.019108,-0.005314,0.006208,0.001387,0.000336,0.007445,0.014312,-0.002793,-0.008471
801,-0.000587,-0.001798,0.008420,-0.005648,-0.002478,-0.006321,0.009148,-0.000621,-0.005954,0.021084,...,0.006328,-0.006167,-0.001524,0.005846,-0.006117,0.002350,0.004505,0.008842,0.008357,-0.002840
802,-0.000881,-0.004208,0.003845,-0.009603,0.000000,0.008542,-0.020702,-0.008944,-0.036207,0.009030,...,0.006421,-0.006420,-0.014591,-0.016324,-0.000558,0.012663,-0.008274,0.007600,-0.002381,-0.006657
803,-0.000882,0.003808,-0.001129,-0.001789,-0.008473,-0.000740,0.005216,-0.006919,-0.016459,-0.002340,...,-0.001869,-0.009058,-0.009587,0.020203,-0.004615,0.001324,0.013078,-0.002332,-0.006376,-0.013126
804,-0.000294,0.000400,0.003609,0.019852,-0.002757,-0.002594,0.001733,-0.002739,-0.003439,-0.005965,...,0.004532,-0.006302,-0.002868,-0.010702,0.003359,-0.001986,-0.002880,0.006401,-0.001867,0.006425
805,-0.003242,0.004788,-0.010640,0.005600,0.008993,0.002964,-0.027495,0.011537,-0.012713,0.005244,...,0.004909,-0.009198,0.010390,-0.019424,0.001536,-0.002654,-0.030802,0.008088,0.009302,0.010194

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
786,34.92,35.08,34.95,34.76,34.84,34.94,34.89,0.004205,0.004472,0.00381,0.00143,0.003148,-0.001998,35.0

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
800,0.002939,0.002598,-0.003194,-0.015369,0.012203,-0.009958,0.002300,-0.001034,0.001080,0.017382,...,0.004060,-0.019108,-0.005314,0.006208,0.001387,0.000336,0.007445,0.014312,-0.002793,-0.008471
801,-0.000587,-0.001798,0.008420,-0.005648,-0.002478,-0.006321,0.009148,-0.000621,-0.005954,0.021084,...,0.006328,-0.006167,-0.001524,0.005846,-0.006117,0.002350,0.004505,0.008842,0.008357,-0.002840
802,-0.000881,-0.004208,0.003845,-0.009603,0.000000,0.008542,-0.020702,-0.008944,-0.036207,0.009030,...,0.006421,-0.006420,-0.014591,-0.016324,-0.000558,0.012663,-0.008274,0.007600,-0.002381,-0.006657
803,-0.000882,0.003808,-0.001129,-0.001789,-0.008473,-0.000740,0.005216,-0.006919,-0.016459,-0.002340,...,-0.001869,-0.009058,-0.009587,0.020203,-0.004615,0.001324,0.013078,-0.002332,-0.006376,-0.013126
804,-0.000294,0.000400,0.003609,0.019852,-0.002757,-0.002594,0.001733,-0.002739,-0.003439,-0.005965,...,0.004532,-0.006302,-0.002868,-0.010702,0.003359,-0.001986,-0.002880,0.006401,-0.001867,0.006425
805,-0.003242,0.004788,-0.010640,0.005600,0.008993,0.002964,-0.027495,0.011537,-0.012713,0.005244,...,0.004909,-0.009198,0.010390,-0.019424,0.001536,-0.002654,-0.030802,0.008088,0.009302,0.010194
806,0.003831,-0.002391,-0.008915,0.003832,0.001988,-0.001110,-0.001781,0.010580,0.000872,-0.005244,...,0.005938,0.021118,-0.010390,0.027543,-0.002234,-0.000997,-0.004526,-0.001728,-0.001986,0.013850

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
787,35.0,34.92,35.08,34.95,34.76,34.84,34.94,0.004203,0.003771,0.003775,-0.004571,-0.000573,-0.004286,34.92

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
801,-0.000587,-0.001798,0.008420,-0.005648,-0.002478,-0.006321,0.009148,-0.000621,-0.005954,0.021084,...,0.006328,-0.006167,-0.001524,0.005846,-0.006117,0.002350,0.004505,0.008842,0.008357,-0.002840
802,-0.000881,-0.004208,0.003845,-0.009603,0.000000,0.008542,-0.020702,-0.008944,-0.036207,0.009030,...,0.006421,-0.006420,-0.014591,-0.016324,-0.000558,0.012663,-0.008274,0.007600,-0.002381,-0.006657
803,-0.000882,0.003808,-0.001129,-0.001789,-0.008473,-0.000740,0.005216,-0.006919,-0.016459,-0.002340,...,-0.001869,-0.009058,-0.009587,0.020203,-0.004615,0.001324,0.013078,-0.002332,-0.006376,-0.013126
804,-0.000294,0.000400,0.003609,0.019852,-0.002757,-0.002594,0.001733,-0.002739,-0.003439,-0.005965,...,0.004532,-0.006302,-0.002868,-0.010702,0.003359,-0.001986,-0.002880,0.006401,-0.001867,0.006425
805,-0.003242,0.004788,-0.010640,0.005600,0.008993,0.002964,-0.027495,0.011537,-0.012713,0.005244,...,0.004909,-0.009198,0.010390,-0.019424,0.001536,-0.002654,-0.030802,0.008088,0.009302,0.010194
806,0.003831,-0.002391,-0.008915,0.003832,0.001988,-0.001110,-0.001781,0.010580,0.000872,-0.005244,...,0.005938,0.021118,-0.010390,0.027543,-0.002234,-0.000997,-0.004526,-0.001728,-0.001986,0.013850
807,-0.000883,-0.007609,-0.004603,-0.001740,-0.000497,-0.001112,-0.001189,-0.004965,-0.007582,-0.010937,...,0.006949,0.016452,0.022206,-0.008771,-0.005889,-0.000333,-0.009673,-0.008102,-0.001592,-0.009107

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
788,34.92,35.0,34.92,35.08,34.95,34.76,34.84,0.003371,0.003772,0.003592,0.000573,0.002866,-0.002858,34.94

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
802,-0.000881,-0.004208,0.003845,-0.009603,0.000000,0.008542,-0.020702,-0.008944,-0.036207,0.009030,...,0.006421,-0.006420,-0.014591,-0.016324,-0.000558,0.012663,-0.008274,0.007600,-0.002381,-0.006657
803,-0.000882,0.003808,-0.001129,-0.001789,-0.008473,-0.000740,0.005216,-0.006919,-0.016459,-0.002340,...,-0.001869,-0.009058,-0.009587,0.020203,-0.004615,0.001324,0.013078,-0.002332,-0.006376,-0.013126
804,-0.000294,0.000400,0.003609,0.019852,-0.002757,-0.002594,0.001733,-0.002739,-0.003439,-0.005965,...,0.004532,-0.006302,-0.002868,-0.010702,0.003359,-0.001986,-0.002880,0.006401,-0.001867,0.006425
805,-0.003242,0.004788,-0.010640,0.005600,0.008993,0.002964,-0.027495,0.011537,-0.012713,0.005244,...,0.004909,-0.009198,0.010390,-0.019424,0.001536,-0.002654,-0.030802,0.008088,0.009302,0.010194
806,0.003831,-0.002391,-0.008915,0.003832,0.001988,-0.001110,-0.001781,0.010580,0.000872,-0.005244,...,0.005938,0.021118,-0.010390,0.027543,-0.002234,-0.000997,-0.004526,-0.001728,-0.001986,0.013850
807,-0.000883,-0.007609,-0.004603,-0.001740,-0.000497,-0.001112,-0.001189,-0.004965,-0.007582,-0.010937,...,0.006949,0.016452,0.022206,-0.008771,-0.005889,-0.000333,-0.009673,-0.008102,-0.001592,-0.009107
808,-0.001768,0.001807,0.004373,0.008325,0.006929,0.001852,-0.010165,0.016046,-0.008526,-0.002386,...,0.004822,-0.022502,-0.005120,-0.015122,-0.004228,-0.009023,0.018485,0.008678,0.008723,-0.006329

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
789,34.94,34.92,35.0,34.92,35.08,34.95,34.76,0.002761,0.003313,0.003623,-0.004582,0.002299,-0.003438,34.84

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
803,-0.000882,0.003808,-0.001129,-0.001789,-0.008473,-0.000740,0.005216,-0.006919,-0.016459,-0.002340,...,-0.001869,-0.009058,-0.009587,0.020203,-0.004615,0.001324,0.013078,-0.002332,-0.006376,-0.013126
804,-0.000294,0.000400,0.003609,0.019852,-0.002757,-0.002594,0.001733,-0.002739,-0.003439,-0.005965,...,0.004532,-0.006302,-0.002868,-0.010702,0.003359,-0.001986,-0.002880,0.006401,-0.001867,0.006425
805,-0.003242,0.004788,-0.010640,0.005600,0.008993,0.002964,-0.027495,0.011537,-0.012713,0.005244,...,0.004909,-0.009198,0.010390,-0.019424,0.001536,-0.002654,-0.030802,0.008088,0.009302,0.010194
806,0.003831,-0.002391,-0.008915,0.003832,0.001988,-0.001110,-0.001781,0.010580,0.000872,-0.005244,...,0.005938,0.021118,-0.010390,0.027543,-0.002234,-0.000997,-0.004526,-0.001728,-0.001986,0.013850
807,-0.000883,-0.007609,-0.004603,-0.001740,-0.000497,-0.001112,-0.001189,-0.004965,-0.007582,-0.010937,...,0.006949,0.016452,0.022206,-0.008771,-0.005889,-0.000333,-0.009673,-0.008102,-0.001592,-0.009107
808,-0.001768,0.001807,0.004373,0.008325,0.006929,0.001852,-0.010165,0.016046,-0.008526,-0.002386,...,0.004822,-0.022502,-0.005120,-0.015122,-0.004228,-0.009023,0.018485,0.008678,0.008723,-0.006329
809,-0.005026,0.005203,-0.019715,0.023217,-0.001728,0.005536,0.015504,-0.007168,-0.008301,-0.020979,...,-0.003386,0.001516,0.000513,-0.027537,0.008298,-0.001344,0.006995,0.002876,0.004071,-0.007328

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
790,34.84,34.94,34.92,35.0,34.92,35.08,34.95,0.002856,0.003572,0.003453,-0.007185,-0.008044,-0.006325,34.67

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
804,-0.000294,0.000400,0.003609,0.019852,-0.002757,-0.002594,0.001733,-0.002739,-0.003439,-0.005965,...,0.004532,-0.006302,-0.002868,-0.010702,0.003359,-0.001986,-0.002880,0.006401,-0.001867,0.006425
805,-0.003242,0.004788,-0.010640,0.005600,0.008993,0.002964,-0.027495,0.011537,-0.012713,0.005244,...,0.004909,-0.009198,0.010390,-0.019424,0.001536,-0.002654,-0.030802,0.008088,0.009302,0.010194
806,0.003831,-0.002391,-0.008915,0.003832,0.001988,-0.001110,-0.001781,0.010580,0.000872,-0.005244,...,0.005938,0.021118,-0.010390,0.027543,-0.002234,-0.000997,-0.004526,-0.001728,-0.001986,0.013850
807,-0.000883,-0.007609,-0.004603,-0.001740,-0.000497,-0.001112,-0.001189,-0.004965,-0.007582,-0.010937,...,0.006949,0.016452,0.022206,-0.008771,-0.005889,-0.000333,-0.009673,-0.008102,-0.001592,-0.009107
808,-0.001768,0.001807,0.004373,0.008325,0.006929,0.001852,-0.010165,0.016046,-0.008526,-0.002386,...,0.004822,-0.022502,-0.005120,-0.015122,-0.004228,-0.009023,0.018485,0.008678,0.008723,-0.006329
809,-0.005026,0.005203,-0.019715,0.023217,-0.001728,0.005536,0.015504,-0.007168,-0.008301,-0.020979,...,-0.003386,0.001516,0.000513,-0.027537,0.008298,-0.001344,0.006995,0.002876,0.004071,-0.007328
810,-0.001780,-0.001398,0.007235,0.022360,0.004929,-0.005536,-0.002370,0.013881,-0.023190,-0.012650,...,0.002866,0.011190,0.016033,-0.007176,-0.008439,-0.002019,-0.013155,0.004585,-0.001705,0.011131

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
791,34.67,34.84,34.94,34.92,35.0,34.92,35.08,0.00205,0.00364,0.003513,-0.011514,-0.015513,-0.002891,34.54

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
805,-0.003242,0.004788,-0.010640,0.005600,0.008993,0.002964,-0.027495,0.011537,-0.012713,0.005244,...,0.004909,-0.009198,0.010390,-0.019424,0.001536,-0.002654,-0.030802,0.008088,0.009302,0.010194
806,0.003831,-0.002391,-0.008915,0.003832,0.001988,-0.001110,-0.001781,0.010580,0.000872,-0.005244,...,0.005938,0.021118,-0.010390,0.027543,-0.002234,-0.000997,-0.004526,-0.001728,-0.001986,0.013850
807,-0.000883,-0.007609,-0.004603,-0.001740,-0.000497,-0.001112,-0.001189,-0.004965,-0.007582,-0.010937,...,0.006949,0.016452,0.022206,-0.008771,-0.005889,-0.000333,-0.009673,-0.008102,-0.001592,-0.009107
808,-0.001768,0.001807,0.004373,0.008325,0.006929,0.001852,-0.010165,0.016046,-0.008526,-0.002386,...,0.004822,-0.022502,-0.005120,-0.015122,-0.004228,-0.009023,0.018485,0.008678,0.008723,-0.006329
809,-0.005026,0.005203,-0.019715,0.023217,-0.001728,0.005536,0.015504,-0.007168,-0.008301,-0.020979,...,-0.003386,0.001516,0.000513,-0.027537,0.008298,-0.001344,0.006995,0.002876,0.004071,-0.007328
810,-0.001780,-0.001398,0.007235,0.022360,0.004929,-0.005536,-0.002370,0.013881,-0.023190,-0.012650,...,0.002866,0.011190,0.016033,-0.007176,-0.008439,-0.002019,-0.013155,0.004585,-0.001705,0.011131
811,0.000594,0.000799,0.009029,0.007890,-0.003447,0.005536,0.006503,-0.006100,0.000914,-0.000190,...,0.011126,-0.005364,0.005288,-0.005847,-0.009366,0.007717,-0.014450,0.002855,-0.001182,0.007248

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
792,34.54,34.67,34.84,34.94,34.92,35.0,34.92,0.002211,0.003814,0.003588,-0.013291,-0.015585,-0.008111,34.38

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
806,0.003831,-0.002391,-0.008915,0.003832,0.001988,-0.001110,-0.001781,0.010580,0.000872,-0.005244,...,0.005938,0.021118,-0.010390,0.027543,-0.002234,-0.000997,-0.004526,-0.001728,-0.001986,0.013850
807,-0.000883,-0.007609,-0.004603,-0.001740,-0.000497,-0.001112,-0.001189,-0.004965,-0.007582,-0.010937,...,0.006949,0.016452,0.022206,-0.008771,-0.005889,-0.000333,-0.009673,-0.008102,-0.001592,-0.009107
808,-0.001768,0.001807,0.004373,0.008325,0.006929,0.001852,-0.010165,0.016046,-0.008526,-0.002386,...,0.004822,-0.022502,-0.005120,-0.015122,-0.004228,-0.009023,0.018485,0.008678,0.008723,-0.006329
809,-0.005026,0.005203,-0.019715,0.023217,-0.001728,0.005536,0.015504,-0.007168,-0.008301,-0.020979,...,-0.003386,0.001516,0.000513,-0.027537,0.008298,-0.001344,0.006995,0.002876,0.004071,-0.007328
810,-0.001780,-0.001398,0.007235,0.022360,0.004929,-0.005536,-0.002370,0.013881,-0.023190,-0.012650,...,0.002866,0.011190,0.016033,-0.007176,-0.008439,-0.002019,-0.013155,0.004585,-0.001705,0.011131
811,0.000594,0.000799,0.009029,0.007890,-0.003447,0.005536,0.006503,-0.006100,0.000914,-0.000190,...,0.011126,-0.005364,0.005288,-0.005847,-0.009366,0.007717,-0.014450,0.002855,-0.001182,0.007248
812,0.006802,-0.017122,-0.011590,-0.023858,-0.004202,-0.000368,-0.008284,-0.003269,-0.004883,-0.016865,...,0.008072,0.010061,0.014955,0.010295,-0.002856,0.000000,-0.006402,-0.001712,-0.000921,0.001882

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
793,34.38,34.54,34.67,34.84,34.94,34.92,35.0,0.004345,0.003826,0.003869,-0.002889,-0.012362,-0.009214,34.57

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
807,-0.000883,-0.007609,-0.004603,-0.001740,-0.000497,-0.001112,-0.001189,-0.004965,-0.007582,-0.010937,...,0.006949,0.016452,0.022206,-0.008771,-0.005889,-0.000333,-0.009673,-0.008102,-0.001592,-0.009107
808,-0.001768,0.001807,0.004373,0.008325,0.006929,0.001852,-0.010165,0.016046,-0.008526,-0.002386,...,0.004822,-0.022502,-0.005120,-0.015122,-0.004228,-0.009023,0.018485,0.008678,0.008723,-0.006329
809,-0.005026,0.005203,-0.019715,0.023217,-0.001728,0.005536,0.015504,-0.007168,-0.008301,-0.020979,...,-0.003386,0.001516,0.000513,-0.027537,0.008298,-0.001344,0.006995,0.002876,0.004071,-0.007328
810,-0.001780,-0.001398,0.007235,0.022360,0.004929,-0.005536,-0.002370,0.013881,-0.023190,-0.012650,...,0.002866,0.011190,0.016033,-0.007176,-0.008439,-0.002019,-0.013155,0.004585,-0.001705,0.011131
811,0.000594,0.000799,0.009029,0.007890,-0.003447,0.005536,0.006503,-0.006100,0.000914,-0.000190,...,0.011126,-0.005364,0.005288,-0.005847,-0.009366,0.007717,-0.014450,0.002855,-0.001182,0.007248
812,0.006802,-0.017122,-0.011590,-0.023858,-0.004202,-0.000368,-0.008284,-0.003269,-0.004883,-0.016865,...,0.008072,0.010061,0.014955,0.010295,-0.002856,0.000000,-0.006402,-0.001712,-0.000921,0.001882
813,-0.006505,0.006884,0.003026,0.004350,0.014509,0.003675,0.000000,-0.018588,-0.002450,0.001931,...,0.003185,-0.015454,-0.012948,-0.024889,-0.015417,0.003337,0.000338,-0.008028,-0.003162,0.019551

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
794,34.57,34.38,34.54,34.67,34.84,34.94,34.92,0.004361,0.003468,0.003908,-0.002319,-0.01326,-0.013833,34.46

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
808,-0.001768,0.001807,0.004373,0.008325,0.006929,0.001852,-0.010165,0.016046,-0.008526,-0.002386,...,0.004822,-0.022502,-0.005120,-0.015122,-0.004228,-0.009023,0.018485,0.008678,0.008723,-0.006329
809,-0.005026,0.005203,-0.019715,0.023217,-0.001728,0.005536,0.015504,-0.007168,-0.008301,-0.020979,...,-0.003386,0.001516,0.000513,-0.027537,0.008298,-0.001344,0.006995,0.002876,0.004071,-0.007328
810,-0.001780,-0.001398,0.007235,0.022360,0.004929,-0.005536,-0.002370,0.013881,-0.023190,-0.012650,...,0.002866,0.011190,0.016033,-0.007176,-0.008439,-0.002019,-0.013155,0.004585,-0.001705,0.011131
811,0.000594,0.000799,0.009029,0.007890,-0.003447,0.005536,0.006503,-0.006100,0.000914,-0.000190,...,0.011126,-0.005364,0.005288,-0.005847,-0.009366,0.007717,-0.014450,0.002855,-0.001182,0.007248
812,0.006802,-0.017122,-0.011590,-0.023858,-0.004202,-0.000368,-0.008284,-0.003269,-0.004883,-0.016865,...,0.008072,0.010061,0.014955,0.010295,-0.002856,0.000000,-0.006402,-0.001712,-0.000921,0.001882
813,-0.006505,0.006884,0.003026,0.004350,0.014509,0.003675,0.000000,-0.018588,-0.002450,0.001931,...,0.003185,-0.015454,-0.012948,-0.024889,-0.015417,0.003337,0.000338,-0.008028,-0.003162,0.019551
814,-0.007743,-0.000404,-0.005828,-0.009730,-0.014509,-0.006994,-0.014966,0.008304,-0.006152,-0.004834,...,0.003048,-0.000433,-0.019742,-0.002102,0.003768,-0.002335,-0.024746,0.004022,0.003689,0.002762

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
795,34.46,34.57,34.38,34.54,34.67,34.84,34.94,0.006028,0.004558,0.004397,0.010705,-0.005453,-0.002587,34.75

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
809,-0.005026,0.005203,-0.019715,0.023217,-0.001728,0.005536,0.015504,-0.007168,-0.008301,-0.020979,...,-0.003386,0.001516,0.000513,-0.027537,0.008298,-0.001344,0.006995,0.002876,0.004071,-0.007328
810,-0.001780,-0.001398,0.007235,0.022360,0.004929,-0.005536,-0.002370,0.013881,-0.023190,-0.012650,...,0.002866,0.011190,0.016033,-0.007176,-0.008439,-0.002019,-0.013155,0.004585,-0.001705,0.011131
811,0.000594,0.000799,0.009029,0.007890,-0.003447,0.005536,0.006503,-0.006100,0.000914,-0.000190,...,0.011126,-0.005364,0.005288,-0.005847,-0.009366,0.007717,-0.014450,0.002855,-0.001182,0.007248
812,0.006802,-0.017122,-0.011590,-0.023858,-0.004202,-0.000368,-0.008284,-0.003269,-0.004883,-0.016865,...,0.008072,0.010061,0.014955,0.010295,-0.002856,0.000000,-0.006402,-0.001712,-0.000921,0.001882
813,-0.006505,0.006884,0.003026,0.004350,0.014509,0.003675,0.000000,-0.018588,-0.002450,0.001931,...,0.003185,-0.015454,-0.012948,-0.024889,-0.015417,0.003337,0.000338,-0.008028,-0.003162,0.019551
814,-0.007743,-0.000404,-0.005828,-0.009730,-0.014509,-0.006994,-0.014966,0.008304,-0.006152,-0.004834,...,0.003048,-0.000433,-0.019742,-0.002102,0.003768,-0.002335,-0.024746,0.004022,0.003689,0.002762
815,0.000598,-0.001414,0.004200,0.005045,-0.005464,-0.004443,-0.004837,0.020666,-0.023729,0.011946,...,0.002533,-0.003903,-0.012087,0.004549,0.001012,0.002668,0.014443,0.003434,-0.007391,-0.003069

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
796,34.75,34.46,34.57,34.38,34.54,34.67,34.84,0.006712,0.004857,0.004629,-0.001737,-0.009517,-0.007218,34.51

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
810,-0.001780,-0.001398,0.007235,0.022360,0.004929,-0.005536,-0.002370,0.013881,-0.023190,-0.012650,...,0.002866,0.011190,0.016033,-0.007176,-0.008439,-0.002019,-0.013155,0.004585,-0.001705,0.011131
811,0.000594,0.000799,0.009029,0.007890,-0.003447,0.005536,0.006503,-0.006100,0.000914,-0.000190,...,0.011126,-0.005364,0.005288,-0.005847,-0.009366,0.007717,-0.014450,0.002855,-0.001182,0.007248
812,0.006802,-0.017122,-0.011590,-0.023858,-0.004202,-0.000368,-0.008284,-0.003269,-0.004883,-0.016865,...,0.008072,0.010061,0.014955,0.010295,-0.002856,0.000000,-0.006402,-0.001712,-0.000921,0.001882
813,-0.006505,0.006884,0.003026,0.004350,0.014509,0.003675,0.000000,-0.018588,-0.002450,0.001931,...,0.003185,-0.015454,-0.012948,-0.024889,-0.015417,0.003337,0.000338,-0.008028,-0.003162,0.019551
814,-0.007743,-0.000404,-0.005828,-0.009730,-0.014509,-0.006994,-0.014966,0.008304,-0.006152,-0.004834,...,0.003048,-0.000433,-0.019742,-0.002102,0.003768,-0.002335,-0.024746,0.004022,0.003689,0.002762
815,0.000598,-0.001414,0.004200,0.005045,-0.005464,-0.004443,-0.004837,0.020666,-0.023729,0.011946,...,0.002533,-0.003903,-0.012087,0.004549,0.001012,0.002668,0.014443,0.003434,-0.007391,-0.003069
816,0.005066,0.003632,0.005341,0.010013,-0.003243,0.004812,-0.006689,0.014076,0.007554,0.030928,...,-0.002280,-0.016649,-0.003110,-0.006305,-0.006233,-0.001666,-0.018956,0.003423,0.005021,-0.011128

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
797,34.51,34.75,34.46,34.57,34.38,34.54,34.67,0.006321,0.004847,0.004366,0.0,-0.006076,-0.014119,34.46

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
811,0.000594,0.000799,0.009029,0.007890,-0.003447,0.005536,0.006503,-0.006100,0.000914,-0.000190,...,0.011126,-0.005364,0.005288,-0.005847,-0.009366,0.007717,-0.014450,0.002855,-0.001182,0.007248
812,0.006802,-0.017122,-0.011590,-0.023858,-0.004202,-0.000368,-0.008284,-0.003269,-0.004883,-0.016865,...,0.008072,0.010061,0.014955,0.010295,-0.002856,0.000000,-0.006402,-0.001712,-0.000921,0.001882
813,-0.006505,0.006884,0.003026,0.004350,0.014509,0.003675,0.000000,-0.018588,-0.002450,0.001931,...,0.003185,-0.015454,-0.012948,-0.024889,-0.015417,0.003337,0.000338,-0.008028,-0.003162,0.019551
814,-0.007743,-0.000404,-0.005828,-0.009730,-0.014509,-0.006994,-0.014966,0.008304,-0.006152,-0.004834,...,0.003048,-0.000433,-0.019742,-0.002102,0.003768,-0.002335,-0.024746,0.004022,0.003689,0.002762
815,0.000598,-0.001414,0.004200,0.005045,-0.005464,-0.004443,-0.004837,0.020666,-0.023729,0.011946,...,0.002533,-0.003903,-0.012087,0.004549,0.001012,0.002668,0.014443,0.003434,-0.007391,-0.003069
816,0.005066,0.003632,0.005341,0.010013,-0.003243,0.004812,-0.006689,0.014076,0.007554,0.030928,...,-0.002280,-0.016649,-0.003110,-0.006305,-0.006233,-0.001666,-0.018956,0.003423,0.005021,-0.011128
817,0.002672,0.001409,-0.000463,0.002322,-0.011308,0.000000,-0.019095,0.001796,-0.003141,-0.004840,...,0.004302,0.010329,-0.004161,0.000702,-0.004518,0.006649,0.006935,0.001138,-0.000791,0.015117

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
798,34.46,34.51,34.75,34.46,34.57,34.38,34.54,0.005661,0.004817,0.004362,-0.008671,-0.002609,-0.018122,34.45

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
812,0.006802,-0.017122,-0.011590,-0.023858,-0.004202,-0.000368,-0.008284,-0.003269,-0.004883,-0.016865,...,0.008072,0.010061,0.014955,0.010295,-0.002856,0.000000,-0.006402,-0.001712,-0.000921,0.001882
813,-0.006505,0.006884,0.003026,0.004350,0.014509,0.003675,0.000000,-0.018588,-0.002450,0.001931,...,0.003185,-0.015454,-0.012948,-0.024889,-0.015417,0.003337,0.000338,-0.008028,-0.003162,0.019551
814,-0.007743,-0.000404,-0.005828,-0.009730,-0.014509,-0.006994,-0.014966,0.008304,-0.006152,-0.004834,...,0.003048,-0.000433,-0.019742,-0.002102,0.003768,-0.002335,-0.024746,0.004022,0.003689,0.002762
815,0.000598,-0.001414,0.004200,0.005045,-0.005464,-0.004443,-0.004837,0.020666,-0.023729,0.011946,...,0.002533,-0.003903,-0.012087,0.004549,0.001012,0.002668,0.014443,0.003434,-0.007391,-0.003069
816,0.005066,0.003632,0.005341,0.010013,-0.003243,0.004812,-0.006689,0.014076,0.007554,0.030928,...,-0.002280,-0.016649,-0.003110,-0.006305,-0.006233,-0.001666,-0.018956,0.003423,0.005021,-0.011128
817,0.002672,0.001409,-0.000463,0.002322,-0.011308,0.000000,-0.019095,0.001796,-0.003141,-0.004840,...,0.004302,0.010329,-0.004161,0.000702,-0.004518,0.006649,0.006935,0.001138,-0.000791,0.015117
818,0.001481,0.011001,-0.000232,-0.015023,-0.008884,0.005891,0.009901,0.001394,0.011883,-0.013148,...,0.005414,0.002402,0.025220,-0.001757,-0.007036,0.001986,-0.019540,0.017480,0.004344,0.003057

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
799,34.45,34.46,34.51,34.75,34.46,34.57,34.38,0.006572,0.005265,0.004379,-0.009901,-0.006127,-0.021712,34.17

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
813,-0.006505,0.006884,0.003026,0.004350,0.014509,0.003675,0.000000,-0.018588,-0.002450,0.001931,...,0.003185,-0.015454,-0.012948,-0.024889,-0.015417,0.003337,0.000338,-0.008028,-0.003162,0.019551
814,-0.007743,-0.000404,-0.005828,-0.009730,-0.014509,-0.006994,-0.014966,0.008304,-0.006152,-0.004834,...,0.003048,-0.000433,-0.019742,-0.002102,0.003768,-0.002335,-0.024746,0.004022,0.003689,0.002762
815,0.000598,-0.001414,0.004200,0.005045,-0.005464,-0.004443,-0.004837,0.020666,-0.023729,0.011946,...,0.002533,-0.003903,-0.012087,0.004549,0.001012,0.002668,0.014443,0.003434,-0.007391,-0.003069
816,0.005066,0.003632,0.005341,0.010013,-0.003243,0.004812,-0.006689,0.014076,0.007554,0.030928,...,-0.002280,-0.016649,-0.003110,-0.006305,-0.006233,-0.001666,-0.018956,0.003423,0.005021,-0.011128
817,0.002672,0.001409,-0.000463,0.002322,-0.011308,0.000000,-0.019095,0.001796,-0.003141,-0.004840,...,0.004302,0.010329,-0.004161,0.000702,-0.004518,0.006649,0.006935,0.001138,-0.000791,0.015117
818,0.001481,0.011001,-0.000232,-0.015023,-0.008884,0.005891,0.009901,0.001394,0.011883,-0.013148,...,0.005414,0.002402,0.025220,-0.001757,-0.007036,0.001986,-0.019540,0.017480,0.004344,0.003057
819,0.006786,0.004763,0.019962,0.010040,0.011912,0.002566,-0.006177,0.001392,-0.007488,-0.020631,...,0.003259,0.005871,0.014632,-0.027096,0.008058,-0.005305,-0.000940,0.001676,0.002754,-0.006738

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
800,34.17,34.45,34.46,34.51,34.75,34.46,34.57,0.003471,0.005334,0.004466,-0.014321,-0.017508,-0.02987,33.97

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
814,-0.007743,-0.000404,-0.005828,-0.009730,-0.014509,-0.006994,-0.014966,0.008304,-0.006152,-0.004834,...,0.003048,-0.000433,-0.019742,-0.002102,0.003768,-0.002335,-0.024746,0.004022,0.003689,0.002762
815,0.000598,-0.001414,0.004200,0.005045,-0.005464,-0.004443,-0.004837,0.020666,-0.023729,0.011946,...,0.002533,-0.003903,-0.012087,0.004549,0.001012,0.002668,0.014443,0.003434,-0.007391,-0.003069
816,0.005066,0.003632,0.005341,0.010013,-0.003243,0.004812,-0.006689,0.014076,0.007554,0.030928,...,-0.002280,-0.016649,-0.003110,-0.006305,-0.006233,-0.001666,-0.018956,0.003423,0.005021,-0.011128
817,0.002672,0.001409,-0.000463,0.002322,-0.011308,0.000000,-0.019095,0.001796,-0.003141,-0.004840,...,0.004302,0.010329,-0.004161,0.000702,-0.004518,0.006649,0.006935,0.001138,-0.000791,0.015117
818,0.001481,0.011001,-0.000232,-0.015023,-0.008884,0.005891,0.009901,0.001394,0.011883,-0.013148,...,0.005414,0.002402,0.025220,-0.001757,-0.007036,0.001986,-0.019540,0.017480,0.004344,0.003057
819,0.006786,0.004763,0.019962,0.010040,0.011912,0.002566,-0.006177,0.001392,-0.007488,-0.020631,...,0.003259,0.005871,0.014632,-0.027096,0.008058,-0.005305,-0.000940,0.001676,0.002754,-0.006738
820,0.002349,-0.000594,0.000454,0.029530,0.005277,0.005113,-0.012469,0.008905,-0.011972,-0.020278,...,-0.001503,0.006484,-0.004770,0.005766,0.000000,-0.001331,-0.008382,0.006674,-0.003280,-0.004312

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
801,33.97,34.17,34.45,34.46,34.51,34.75,34.46,0.004443,0.005512,0.004554,-0.011092,-0.011382,-0.024642,34.07

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
815,0.000598,-0.001414,0.004200,0.005045,-0.005464,-0.004443,-0.004837,0.020666,-0.023729,0.011946,...,0.002533,-0.003903,-0.012087,0.004549,0.001012,0.002668,0.014443,0.003434,-0.007391,-0.003069
816,0.005066,0.003632,0.005341,0.010013,-0.003243,0.004812,-0.006689,0.014076,0.007554,0.030928,...,-0.002280,-0.016649,-0.003110,-0.006305,-0.006233,-0.001666,-0.018956,0.003423,0.005021,-0.011128
817,0.002672,0.001409,-0.000463,0.002322,-0.011308,0.000000,-0.019095,0.001796,-0.003141,-0.004840,...,0.004302,0.010329,-0.004161,0.000702,-0.004518,0.006649,0.006935,0.001138,-0.000791,0.015117
818,0.001481,0.011001,-0.000232,-0.015023,-0.008884,0.005891,0.009901,0.001394,0.011883,-0.013148,...,0.005414,0.002402,0.025220,-0.001757,-0.007036,0.001986,-0.019540,0.017480,0.004344,0.003057
819,0.006786,0.004763,0.019962,0.010040,0.011912,0.002566,-0.006177,0.001392,-0.007488,-0.020631,...,0.003259,0.005871,0.014632,-0.027096,0.008058,-0.005305,-0.000940,0.001676,0.002754,-0.006738
820,0.002349,-0.000594,0.000454,0.029530,0.005277,0.005113,-0.012469,0.008905,-0.011972,-0.020278,...,-0.001503,0.006484,-0.004770,0.005766,0.000000,-0.001331,-0.008382,0.006674,-0.003280,-0.004312
821,-0.003232,0.002374,-0.003184,-0.010727,0.005499,-0.010253,-0.008189,0.002558,-0.001586,0.000394,...,-0.006413,-0.013883,-0.007578,0.003945,0.000729,-0.002333,0.001303,0.012121,-0.003950,0.011050

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
802,34.07,33.97,34.17,34.45,34.46,34.51,34.75,0.004513,0.005393,0.004546,-0.003518,-0.02035,-0.025802,34.05

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
816,0.005066,0.003632,0.005341,0.010013,-0.003243,0.004812,-0.006689,0.014076,0.007554,0.030928,...,-0.002280,-0.016649,-0.003110,-0.006305,-0.006233,-0.001666,-0.018956,0.003423,0.005021,-0.011128
817,0.002672,0.001409,-0.000463,0.002322,-0.011308,0.000000,-0.019095,0.001796,-0.003141,-0.004840,...,0.004302,0.010329,-0.004161,0.000702,-0.004518,0.006649,0.006935,0.001138,-0.000791,0.015117
818,0.001481,0.011001,-0.000232,-0.015023,-0.008884,0.005891,0.009901,0.001394,0.011883,-0.013148,...,0.005414,0.002402,0.025220,-0.001757,-0.007036,0.001986,-0.019540,0.017480,0.004344,0.003057
819,0.006786,0.004763,0.019962,0.010040,0.011912,0.002566,-0.006177,0.001392,-0.007488,-0.020631,...,0.003259,0.005871,0.014632,-0.027096,0.008058,-0.005305,-0.000940,0.001676,0.002754,-0.006738
820,0.002349,-0.000594,0.000454,0.029530,0.005277,0.005113,-0.012469,0.008905,-0.011972,-0.020278,...,-0.001503,0.006484,-0.004770,0.005766,0.000000,-0.001331,-0.008382,0.006674,-0.003280,-0.004312
821,-0.003232,0.002374,-0.003184,-0.010727,0.005499,-0.010253,-0.008189,0.002558,-0.001586,0.000394,...,-0.006413,-0.013883,-0.007578,0.003945,0.000729,-0.002333,0.001303,0.012121,-0.003950,0.011050
822,0.003525,-0.012929,0.010198,-0.007216,0.005469,-0.000736,0.008816,0.016951,0.007590,-0.012482,...,0.007415,0.006966,-0.018166,0.020897,-0.006437,-0.000668,0.011536,0.000547,-0.004098,-0.009816

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
803,34.05,34.07,33.97,34.17,34.45,34.46,34.51,0.004452,0.004896,0.004284,0.001471,-0.014301,-0.023818,34.02

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
817,0.002672,0.001409,-0.000463,0.002322,-0.011308,0.000000,-0.019095,0.001796,-0.003141,-0.004840,...,0.004302,0.010329,-0.004161,0.000702,-0.004518,0.006649,0.006935,0.001138,-0.000791,0.015117
818,0.001481,0.011001,-0.000232,-0.015023,-0.008884,0.005891,0.009901,0.001394,0.011883,-0.013148,...,0.005414,0.002402,0.025220,-0.001757,-0.007036,0.001986,-0.019540,0.017480,0.004344,0.003057
819,0.006786,0.004763,0.019962,0.010040,0.011912,0.002566,-0.006177,0.001392,-0.007488,-0.020631,...,0.003259,0.005871,0.014632,-0.027096,0.008058,-0.005305,-0.000940,0.001676,0.002754,-0.006738
820,0.002349,-0.000594,0.000454,0.029530,0.005277,0.005113,-0.012469,0.008905,-0.011972,-0.020278,...,-0.001503,0.006484,-0.004770,0.005766,0.000000,-0.001331,-0.008382,0.006674,-0.003280,-0.004312
821,-0.003232,0.002374,-0.003184,-0.010727,0.005499,-0.010253,-0.008189,0.002558,-0.001586,0.000394,...,-0.006413,-0.013883,-0.007578,0.003945,0.000729,-0.002333,0.001303,0.012121,-0.003950,0.011050
822,0.003525,-0.012929,0.010198,-0.007216,0.005469,-0.000736,0.008816,0.016951,0.007590,-0.012482,...,0.007415,0.006966,-0.018166,0.020897,-0.006437,-0.000668,0.011536,0.000547,-0.004098,-0.009816
823,-0.000880,-0.001002,0.007413,0.008522,-0.000248,-0.000368,0.003130,-0.004648,-0.013002,0.002389,...,-0.001253,-0.002824,0.022467,-0.002457,-0.005740,0.002335,-0.002930,0.006547,0.004758,0.008900

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
804,34.02,34.05,34.07,33.97,34.17,34.45,34.46,0.003139,0.004867,0.004118,-0.002351,-0.013733,-0.019808,33.99

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
818,0.001481,0.011001,-0.000232,-0.015023,-0.008884,0.005891,0.009901,0.001394,0.011883,-0.013148,...,0.005414,0.002402,0.025220,-0.001757,-0.007036,0.001986,-0.019540,0.017480,0.004344,0.003057
819,0.006786,0.004763,0.019962,0.010040,0.011912,0.002566,-0.006177,0.001392,-0.007488,-0.020631,...,0.003259,0.005871,0.014632,-0.027096,0.008058,-0.005305,-0.000940,0.001676,0.002754,-0.006738
820,0.002349,-0.000594,0.000454,0.029530,0.005277,0.005113,-0.012469,0.008905,-0.011972,-0.020278,...,-0.001503,0.006484,-0.004770,0.005766,0.000000,-0.001331,-0.008382,0.006674,-0.003280,-0.004312
821,-0.003232,0.002374,-0.003184,-0.010727,0.005499,-0.010253,-0.008189,0.002558,-0.001586,0.000394,...,-0.006413,-0.013883,-0.007578,0.003945,0.000729,-0.002333,0.001303,0.012121,-0.003950,0.011050
822,0.003525,-0.012929,0.010198,-0.007216,0.005469,-0.000736,0.008816,0.016951,0.007590,-0.012482,...,0.007415,0.006966,-0.018166,0.020897,-0.006437,-0.000668,0.011536,0.000547,-0.004098,-0.009816
823,-0.000880,-0.001002,0.007413,0.008522,-0.000248,-0.000368,0.003130,-0.004648,-0.013002,0.002389,...,-0.001253,-0.002824,0.022467,-0.002457,-0.005740,0.002335,-0.002930,0.006547,0.004758,0.008900
824,0.001466,-0.004419,0.007137,0.006182,0.005440,0.000737,0.000625,-0.004279,0.006046,0.018327,...,-0.005784,-0.008959,0.002773,0.010486,0.006180,-0.001667,0.002930,-0.002723,-0.004095,-0.004287

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
805,33.99,34.02,34.05,34.07,33.97,34.17,34.45,0.001629,0.003523,0.004066,-0.002058,-0.013737,-0.016346,33.98

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
819,0.006786,0.004763,0.019962,0.010040,0.011912,0.002566,-0.006177,0.001392,-0.007488,-0.020631,...,0.003259,0.005871,0.014632,-0.027096,0.008058,-0.005305,-0.000940,0.001676,0.002754,-0.006738
820,0.002349,-0.000594,0.000454,0.029530,0.005277,0.005113,-0.012469,0.008905,-0.011972,-0.020278,...,-0.001503,0.006484,-0.004770,0.005766,0.000000,-0.001331,-0.008382,0.006674,-0.003280,-0.004312
821,-0.003232,0.002374,-0.003184,-0.010727,0.005499,-0.010253,-0.008189,0.002558,-0.001586,0.000394,...,-0.006413,-0.013883,-0.007578,0.003945,0.000729,-0.002333,0.001303,0.012121,-0.003950,0.011050
822,0.003525,-0.012929,0.010198,-0.007216,0.005469,-0.000736,0.008816,0.016951,0.007590,-0.012482,...,0.007415,0.006966,-0.018166,0.020897,-0.006437,-0.000668,0.011536,0.000547,-0.004098,-0.009816
823,-0.000880,-0.001002,0.007413,0.008522,-0.000248,-0.000368,0.003130,-0.004648,-0.013002,0.002389,...,-0.001253,-0.002824,0.022467,-0.002457,-0.005740,0.002335,-0.002930,0.006547,0.004758,0.008900
824,0.001466,-0.004419,0.007137,0.006182,0.005440,0.000737,0.000625,-0.004279,0.006046,0.018327,...,-0.005784,-0.008959,0.002773,0.010486,0.006180,-0.001667,0.002930,-0.002723,-0.004095,-0.004287
825,-0.000880,0.004619,0.002885,-0.004551,0.014202,-0.000368,-0.005009,-0.003124,-0.004133,-0.024112,...,0.002016,-0.004620,-0.011903,0.004856,-0.006033,-0.004012,0.000702,-0.004372,0.007123,0.001533

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
806,33.98,33.99,34.02,34.05,34.07,33.97,34.17,0.00118,0.003151,0.003991,-0.004419,-0.008818,-0.014945,33.87

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
820,0.002349,-0.000594,0.000454,0.029530,0.005277,0.005113,-0.012469,0.008905,-0.011972,-0.020278,...,-0.001503,0.006484,-0.004770,0.005766,0.000000,-0.001331,-0.008382,0.006674,-0.003280,-0.004312
821,-0.003232,0.002374,-0.003184,-0.010727,0.005499,-0.010253,-0.008189,0.002558,-0.001586,0.000394,...,-0.006413,-0.013883,-0.007578,0.003945,0.000729,-0.002333,0.001303,0.012121,-0.003950,0.011050
822,0.003525,-0.012929,0.010198,-0.007216,0.005469,-0.000736,0.008816,0.016951,0.007590,-0.012482,...,0.007415,0.006966,-0.018166,0.020897,-0.006437,-0.000668,0.011536,0.000547,-0.004098,-0.009816
823,-0.000880,-0.001002,0.007413,0.008522,-0.000248,-0.000368,0.003130,-0.004648,-0.013002,0.002389,...,-0.001253,-0.002824,0.022467,-0.002457,-0.005740,0.002335,-0.002930,0.006547,0.004758,0.008900
824,0.001466,-0.004419,0.007137,0.006182,0.005440,0.000737,0.000625,-0.004279,0.006046,0.018327,...,-0.005784,-0.008959,0.002773,0.010486,0.006180,-0.001667,0.002930,-0.002723,-0.004095,-0.004287
825,-0.000880,0.004619,0.002885,-0.004551,0.014202,-0.000368,-0.005009,-0.003124,-0.004133,-0.024112,...,0.002016,-0.004620,-0.011903,0.004856,-0.006033,-0.004012,0.000702,-0.004372,0.007123,0.001533
826,0.000587,0.005196,0.020181,0.019681,-0.001460,0.000000,-0.008194,0.006432,0.008565,-0.002203,...,-0.001511,-0.016228,-0.008443,0.011354,-0.006663,-0.001341,-0.011647,-0.002742,-0.007653,-0.001840

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
807,33.87,33.98,33.99,34.02,34.05,34.07,33.97,0.002569,0.003635,0.00417,0.000294,0.000883,-0.016626,34.0

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
821,-0.003232,0.002374,-0.003184,-0.010727,0.005499,-0.010253,-0.008189,0.002558,-0.001586,0.000394,...,-0.006413,-0.013883,-0.007578,0.003945,0.000729,-0.002333,0.001303,0.012121,-0.003950,0.011050
822,0.003525,-0.012929,0.010198,-0.007216,0.005469,-0.000736,0.008816,0.016951,0.007590,-0.012482,...,0.007415,0.006966,-0.018166,0.020897,-0.006437,-0.000668,0.011536,0.000547,-0.004098,-0.009816
823,-0.000880,-0.001002,0.007413,0.008522,-0.000248,-0.000368,0.003130,-0.004648,-0.013002,0.002389,...,-0.001253,-0.002824,0.022467,-0.002457,-0.005740,0.002335,-0.002930,0.006547,0.004758,0.008900
824,0.001466,-0.004419,0.007137,0.006182,0.005440,0.000737,0.000625,-0.004279,0.006046,0.018327,...,-0.005784,-0.008959,0.002773,0.010486,0.006180,-0.001667,0.002930,-0.002723,-0.004095,-0.004287
825,-0.000880,0.004619,0.002885,-0.004551,0.014202,-0.000368,-0.005009,-0.003124,-0.004133,-0.024112,...,0.002016,-0.004620,-0.011903,0.004856,-0.006033,-0.004012,0.000702,-0.004372,0.007123,0.001533
826,0.000587,0.005196,0.020181,0.019681,-0.001460,0.000000,-0.008194,0.006432,0.008565,-0.002203,...,-0.001511,-0.016228,-0.008443,0.011354,-0.006663,-0.001341,-0.011647,-0.002742,-0.007653,-0.001840
827,-0.003524,-0.009412,0.027839,0.006369,-0.001706,-0.004430,0.007566,0.008898,-0.016561,-0.014947,...,0.002140,-0.021750,0.005637,-0.017602,-0.003721,0.004351,0.016547,-0.022772,0.010802,-0.006776

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
808,34.0,33.87,33.98,33.99,34.02,34.05,34.07,0.002569,0.00362,0.004147,-0.000294,-0.002939,-0.014321,33.97

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
822,0.003525,-0.012929,0.010198,-0.007216,0.005469,-0.000736,0.008816,0.016951,0.007590,-0.012482,...,0.007415,0.006966,-0.018166,0.020897,-0.006437,-0.000668,0.011536,0.000547,-0.004098,-0.009816
823,-0.000880,-0.001002,0.007413,0.008522,-0.000248,-0.000368,0.003130,-0.004648,-0.013002,0.002389,...,-0.001253,-0.002824,0.022467,-0.002457,-0.005740,0.002335,-0.002930,0.006547,0.004758,0.008900
824,0.001466,-0.004419,0.007137,0.006182,0.005440,0.000737,0.000625,-0.004279,0.006046,0.018327,...,-0.005784,-0.008959,0.002773,0.010486,0.006180,-0.001667,0.002930,-0.002723,-0.004095,-0.004287
825,-0.000880,0.004619,0.002885,-0.004551,0.014202,-0.000368,-0.005009,-0.003124,-0.004133,-0.024112,...,0.002016,-0.004620,-0.011903,0.004856,-0.006033,-0.004012,0.000702,-0.004372,0.007123,0.001533
826,0.000587,0.005196,0.020181,0.019681,-0.001460,0.000000,-0.008194,0.006432,0.008565,-0.002203,...,-0.001511,-0.016228,-0.008443,0.011354,-0.006663,-0.001341,-0.011647,-0.002742,-0.007653,-0.001840
827,-0.003524,-0.009412,0.027839,0.006369,-0.001706,-0.004430,0.007566,0.008898,-0.016561,-0.014947,...,0.002140,-0.021750,0.005637,-0.017602,-0.003721,0.004351,0.016547,-0.022772,0.010802,-0.006776
828,-0.002651,-0.006257,0.013426,0.021979,0.004623,0.003693,0.019285,0.000962,0.012446,-0.009611,...,-0.001510,-0.019894,-0.006151,-0.004887,-0.000895,0.001335,0.012262,-0.005069,-0.003413,-0.019660

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
809,33.97,34.0,33.87,33.98,33.99,34.02,34.05,0.002649,0.002756,0.004134,0.00118,-0.00412,-0.02447,33.91

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
823,-0.000880,-0.001002,0.007413,0.008522,-0.000248,-0.000368,0.003130,-0.004648,-0.013002,0.002389,...,-0.001253,-0.002824,0.022467,-0.002457,-0.005740,0.002335,-0.002930,0.006547,0.004758,0.008900
824,0.001466,-0.004419,0.007137,0.006182,0.005440,0.000737,0.000625,-0.004279,0.006046,0.018327,...,-0.005784,-0.008959,0.002773,0.010486,0.006180,-0.001667,0.002930,-0.002723,-0.004095,-0.004287
825,-0.000880,0.004619,0.002885,-0.004551,0.014202,-0.000368,-0.005009,-0.003124,-0.004133,-0.024112,...,0.002016,-0.004620,-0.011903,0.004856,-0.006033,-0.004012,0.000702,-0.004372,0.007123,0.001533
826,0.000587,0.005196,0.020181,0.019681,-0.001460,0.000000,-0.008194,0.006432,0.008565,-0.002203,...,-0.001511,-0.016228,-0.008443,0.011354,-0.006663,-0.001341,-0.011647,-0.002742,-0.007653,-0.001840
827,-0.003524,-0.009412,0.027839,0.006369,-0.001706,-0.004430,0.007566,0.008898,-0.016561,-0.014947,...,0.002140,-0.021750,0.005637,-0.017602,-0.003721,0.004351,0.016547,-0.022772,0.010802,-0.006776
828,-0.002651,-0.006257,0.013426,0.021979,0.004623,0.003693,0.019285,0.000962,0.012446,-0.009611,...,-0.001510,-0.019894,-0.006151,-0.004887,-0.000895,0.001335,0.012262,-0.005069,-0.003413,-0.019660
829,0.007348,-0.002433,0.025104,0.007117,0.004119,0.001105,0.008589,0.011287,0.027528,-0.010534,...,-0.000756,0.002800,-0.006965,0.024539,-0.000149,-0.004681,0.006418,-0.000565,-0.003556,-0.010455

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
810,33.91,33.97,34.0,33.87,33.98,33.99,34.02,0.003328,0.00259,0.00414,-0.007676,-0.008265,-0.022565,33.74

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
824,0.001466,-0.004419,0.007137,0.006182,0.005440,0.000737,0.000625,-0.004279,0.006046,0.018327,...,-0.005784,-0.008959,0.002773,0.010486,0.006180,-0.001667,0.002930,-0.002723,-0.004095,-0.004287
825,-0.000880,0.004619,0.002885,-0.004551,0.014202,-0.000368,-0.005009,-0.003124,-0.004133,-0.024112,...,0.002016,-0.004620,-0.011903,0.004856,-0.006033,-0.004012,0.000702,-0.004372,0.007123,0.001533
826,0.000587,0.005196,0.020181,0.019681,-0.001460,0.000000,-0.008194,0.006432,0.008565,-0.002203,...,-0.001511,-0.016228,-0.008443,0.011354,-0.006663,-0.001341,-0.011647,-0.002742,-0.007653,-0.001840
827,-0.003524,-0.009412,0.027839,0.006369,-0.001706,-0.004430,0.007566,0.008898,-0.016561,-0.014947,...,0.002140,-0.021750,0.005637,-0.017602,-0.003721,0.004351,0.016547,-0.022772,0.010802,-0.006776
828,-0.002651,-0.006257,0.013426,0.021979,0.004623,0.003693,0.019285,0.000962,0.012446,-0.009611,...,-0.001510,-0.019894,-0.006151,-0.004887,-0.000895,0.001335,0.012262,-0.005069,-0.003413,-0.019660
829,0.007348,-0.002433,0.025104,0.007117,0.004119,0.001105,0.008589,0.011287,0.027528,-0.010534,...,-0.000756,0.002800,-0.006965,0.024539,-0.000149,-0.004681,0.006418,-0.000565,-0.003556,-0.010455
830,0.002340,-0.001625,-0.001423,-0.012099,0.005305,-0.001474,0.015156,0.007958,-0.011482,0.007035,...,0.001889,0.006965,-0.005451,0.004768,0.005508,-0.002349,0.021472,0.001693,-0.006088,0.005083

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
811,33.74,33.91,33.97,34.0,33.87,33.98,33.99,0.003189,0.002267,0.004104,-0.008574,-0.009162,-0.022895,33.68

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
825,-0.000880,0.004619,0.002885,-0.004551,0.014202,-0.000368,-0.005009,-0.003124,-0.004133,-0.024112,...,0.002016,-0.004620,-0.011903,0.004856,-0.006033,-0.004012,0.000702,-0.004372,0.007123,0.001533
826,0.000587,0.005196,0.020181,0.019681,-0.001460,0.000000,-0.008194,0.006432,0.008565,-0.002203,...,-0.001511,-0.016228,-0.008443,0.011354,-0.006663,-0.001341,-0.011647,-0.002742,-0.007653,-0.001840
827,-0.003524,-0.009412,0.027839,0.006369,-0.001706,-0.004430,0.007566,0.008898,-0.016561,-0.014947,...,0.002140,-0.021750,0.005637,-0.017602,-0.003721,0.004351,0.016547,-0.022772,0.010802,-0.006776
828,-0.002651,-0.006257,0.013426,0.021979,0.004623,0.003693,0.019285,0.000962,0.012446,-0.009611,...,-0.001510,-0.019894,-0.006151,-0.004887,-0.000895,0.001335,0.012262,-0.005069,-0.003413,-0.019660
829,0.007348,-0.002433,0.025104,0.007117,0.004119,0.001105,0.008589,0.011287,0.027528,-0.010534,...,-0.000756,0.002800,-0.006965,0.024539,-0.000149,-0.004681,0.006418,-0.000565,-0.003556,-0.010455
830,0.002340,-0.001625,-0.001423,-0.012099,0.005305,-0.001474,0.015156,0.007958,-0.011482,0.007035,...,0.001889,0.006965,-0.005451,0.004768,0.005508,-0.002349,0.021472,0.001693,-0.006088,0.005083
831,-0.001462,0.000000,-0.016621,0.021918,0.000721,0.002946,0.010177,0.012751,-0.003126,-0.001651,...,0.010887,-0.010934,-0.007577,0.013165,0.000890,0.008363,-0.004595,0.002254,0.003446,-0.008592

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
812,33.68,33.74,33.91,33.97,34.0,33.87,33.98,0.00206,0.00233,0.004043,-0.006212,-0.008274,-0.022011,33.7

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
826,0.000587,0.005196,0.020181,0.019681,-0.001460,0.000000,-0.008194,0.006432,0.008565,-0.002203,...,-0.001511,-0.016228,-0.008443,0.011354,-0.006663,-0.001341,-0.011647,-0.002742,-0.007653,-0.001840
827,-0.003524,-0.009412,0.027839,0.006369,-0.001706,-0.004430,0.007566,0.008898,-0.016561,-0.014947,...,0.002140,-0.021750,0.005637,-0.017602,-0.003721,0.004351,0.016547,-0.022772,0.010802,-0.006776
828,-0.002651,-0.006257,0.013426,0.021979,0.004623,0.003693,0.019285,0.000962,0.012446,-0.009611,...,-0.001510,-0.019894,-0.006151,-0.004887,-0.000895,0.001335,0.012262,-0.005069,-0.003413,-0.019660
829,0.007348,-0.002433,0.025104,0.007117,0.004119,0.001105,0.008589,0.011287,0.027528,-0.010534,...,-0.000756,0.002800,-0.006965,0.024539,-0.000149,-0.004681,0.006418,-0.000565,-0.003556,-0.010455
830,0.002340,-0.001625,-0.001423,-0.012099,0.005305,-0.001474,0.015156,0.007958,-0.011482,0.007035,...,0.001889,0.006965,-0.005451,0.004768,0.005508,-0.002349,0.021472,0.001693,-0.006088,0.005083
831,-0.001462,0.000000,-0.016621,0.021918,0.000721,0.002946,0.010177,0.012751,-0.003126,-0.001651,...,0.010887,-0.010934,-0.007577,0.013165,0.000890,0.008363,-0.004595,0.002254,0.003446,-0.008592
832,0.002046,0.011923,-0.016691,0.002744,0.008376,-0.001104,0.004160,-0.010112,0.002814,-0.000826,...,0.005214,-0.011055,0.007577,-0.005717,-0.001781,-0.004674,0.001459,0.009521,-0.000529,-0.004163

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
813,33.7,33.68,33.74,33.91,33.97,34.0,33.87,0.004413,0.003404,0.004161,0.005616,0.00177,-0.007048,33.93

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
827,-0.003524,-0.009412,0.027839,0.006369,-0.001706,-0.004430,0.007566,0.008898,-0.016561,-0.014947,...,0.002140,-0.021750,0.005637,-0.017602,-0.003721,0.004351,0.016547,-0.022772,0.010802,-0.006776
828,-0.002651,-0.006257,0.013426,0.021979,0.004623,0.003693,0.019285,0.000962,0.012446,-0.009611,...,-0.001510,-0.019894,-0.006151,-0.004887,-0.000895,0.001335,0.012262,-0.005069,-0.003413,-0.019660
829,0.007348,-0.002433,0.025104,0.007117,0.004119,0.001105,0.008589,0.011287,0.027528,-0.010534,...,-0.000756,0.002800,-0.006965,0.024539,-0.000149,-0.004681,0.006418,-0.000565,-0.003556,-0.010455
830,0.002340,-0.001625,-0.001423,-0.012099,0.005305,-0.001474,0.015156,0.007958,-0.011482,0.007035,...,0.001889,0.006965,-0.005451,0.004768,0.005508,-0.002349,0.021472,0.001693,-0.006088,0.005083
831,-0.001462,0.000000,-0.016621,0.021918,0.000721,0.002946,0.010177,0.012751,-0.003126,-0.001651,...,0.010887,-0.010934,-0.007577,0.013165,0.000890,0.008363,-0.004595,0.002254,0.003446,-0.008592
832,0.002046,0.011923,-0.016691,0.002744,0.008376,-0.001104,0.004160,-0.010112,0.002814,-0.000826,...,0.005214,-0.011055,0.007577,-0.005717,-0.001781,-0.004674,0.001459,0.009521,-0.000529,-0.004163
833,-0.004682,-0.003824,0.002312,-0.010407,0.001905,0.007334,0.005914,-0.000188,0.008085,0.006387,...,-0.005587,0.010821,0.005710,-0.009148,0.002078,0.003341,0.014696,0.016036,-0.005309,0.004802

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
814,33.93,33.7,33.68,33.74,33.91,33.97,34.0,0.005253,0.00394,0.004319,0.00089,-0.008566,-0.007683,33.71

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
828,-0.002651,-0.006257,0.013426,0.021979,0.004623,0.003693,0.019285,0.000962,0.012446,-0.009611,...,-0.001510,-0.019894,-0.006151,-0.004887,-0.000895,0.001335,0.012262,-0.005069,-0.003413,-0.019660
829,0.007348,-0.002433,0.025104,0.007117,0.004119,0.001105,0.008589,0.011287,0.027528,-0.010534,...,-0.000756,0.002800,-0.006965,0.024539,-0.000149,-0.004681,0.006418,-0.000565,-0.003556,-0.010455
830,0.002340,-0.001625,-0.001423,-0.012099,0.005305,-0.001474,0.015156,0.007958,-0.011482,0.007035,...,0.001889,0.006965,-0.005451,0.004768,0.005508,-0.002349,0.021472,0.001693,-0.006088,0.005083
831,-0.001462,0.000000,-0.016621,0.021918,0.000721,0.002946,0.010177,0.012751,-0.003126,-0.001651,...,0.010887,-0.010934,-0.007577,0.013165,0.000890,0.008363,-0.004595,0.002254,0.003446,-0.008592
832,0.002046,0.011923,-0.016691,0.002744,0.008376,-0.001104,0.004160,-0.010112,0.002814,-0.000826,...,0.005214,-0.011055,0.007577,-0.005717,-0.001781,-0.004674,0.001459,0.009521,-0.000529,-0.004163
833,-0.004682,-0.003824,0.002312,-0.010407,0.001905,0.007334,0.005914,-0.000188,0.008085,0.006387,...,-0.005587,0.010821,0.005710,-0.009148,0.002078,0.003341,0.014696,0.016036,-0.005309,0.004802
834,-0.002349,-0.010134,0.003353,-0.015817,-0.003336,0.003283,0.019271,0.014391,0.010168,-0.001233,...,0.000996,0.001636,-0.018282,-0.020286,0.005766,0.001333,0.002759,0.013620,0.014138,0.002552

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
815,33.71,33.93,33.7,33.68,33.74,33.91,33.97,0.005855,0.004493,0.003944,-0.007446,-0.015426,-0.018365,33.45

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
829,0.007348,-0.002433,0.025104,0.007117,0.004119,0.001105,0.008589,0.011287,0.027528,-0.010534,...,-0.000756,0.002800,-0.006965,0.024539,-0.000149,-0.004681,0.006418,-0.000565,-0.003556,-0.010455
830,0.002340,-0.001625,-0.001423,-0.012099,0.005305,-0.001474,0.015156,0.007958,-0.011482,0.007035,...,0.001889,0.006965,-0.005451,0.004768,0.005508,-0.002349,0.021472,0.001693,-0.006088,0.005083
831,-0.001462,0.000000,-0.016621,0.021918,0.000721,0.002946,0.010177,0.012751,-0.003126,-0.001651,...,0.010887,-0.010934,-0.007577,0.013165,0.000890,0.008363,-0.004595,0.002254,0.003446,-0.008592
832,0.002046,0.011923,-0.016691,0.002744,0.008376,-0.001104,0.004160,-0.010112,0.002814,-0.000826,...,0.005214,-0.011055,0.007577,-0.005717,-0.001781,-0.004674,0.001459,0.009521,-0.000529,-0.004163
833,-0.004682,-0.003824,0.002312,-0.010407,0.001905,0.007334,0.005914,-0.000188,0.008085,0.006387,...,-0.005587,0.010821,0.005710,-0.009148,0.002078,0.003341,0.014696,0.016036,-0.005309,0.004802
834,-0.002349,-0.010134,0.003353,-0.015817,-0.003336,0.003283,0.019271,0.014391,0.010168,-0.001233,...,0.000996,0.001636,-0.018282,-0.020286,0.005766,0.001333,0.002759,0.013620,0.014138,0.002552
835,-0.004125,-0.003060,-0.006296,0.017968,0.004049,0.011226,0.001734,-0.011196,0.005808,-0.011998,...,0.001616,-0.003510,-0.002111,0.000347,0.012599,0.005316,-0.005194,0.014505,-0.001444,0.007933

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
816,33.45,33.71,33.93,33.7,33.68,33.74,33.91,0.005946,0.004499,0.003796,-0.01365,-0.01306,-0.017181,33.47

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
830,0.002340,-0.001625,-0.001423,-0.012099,0.005305,-0.001474,0.015156,0.007958,-0.011482,0.007035,...,0.001889,0.006965,-0.005451,0.004768,0.005508,-0.002349,0.021472,0.001693,-0.006088,0.005083
831,-0.001462,0.000000,-0.016621,0.021918,0.000721,0.002946,0.010177,0.012751,-0.003126,-0.001651,...,0.010887,-0.010934,-0.007577,0.013165,0.000890,0.008363,-0.004595,0.002254,0.003446,-0.008592
832,0.002046,0.011923,-0.016691,0.002744,0.008376,-0.001104,0.004160,-0.010112,0.002814,-0.000826,...,0.005214,-0.011055,0.007577,-0.005717,-0.001781,-0.004674,0.001459,0.009521,-0.000529,-0.004163
833,-0.004682,-0.003824,0.002312,-0.010407,0.001905,0.007334,0.005914,-0.000188,0.008085,0.006387,...,-0.005587,0.010821,0.005710,-0.009148,0.002078,0.003341,0.014696,0.016036,-0.005309,0.004802
834,-0.002349,-0.010134,0.003353,-0.015817,-0.003336,0.003283,0.019271,0.014391,0.010168,-0.001233,...,0.000996,0.001636,-0.018282,-0.020286,0.005766,0.001333,0.002759,0.013620,0.014138,0.002552
835,-0.004125,-0.003060,-0.006296,0.017968,0.004049,0.011226,0.001734,-0.011196,0.005808,-0.011998,...,0.001616,-0.003510,-0.002111,0.000347,0.012599,0.005316,-0.005194,0.014505,-0.001444,0.007933
836,-0.011283,-0.006972,0.000000,-0.001844,-0.007635,0.000000,0.001154,0.000563,0.002435,0.002494,...,0.005078,-0.022041,-0.010888,0.004504,0.010715,0.002978,-0.004664,0.004258,0.003279,-0.000632

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
817,33.47,33.45,33.71,33.93,33.7,33.68,33.74,0.006594,0.004666,0.004073,-0.002079,-0.002968,-0.011233,33.64

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
831,-0.001462,0.000000,-0.016621,0.021918,0.000721,0.002946,0.010177,0.012751,-0.003126,-0.001651,...,0.010887,-0.010934,-0.007577,0.013165,0.000890,0.008363,-0.004595,0.002254,0.003446,-0.008592
832,0.002046,0.011923,-0.016691,0.002744,0.008376,-0.001104,0.004160,-0.010112,0.002814,-0.000826,...,0.005214,-0.011055,0.007577,-0.005717,-0.001781,-0.004674,0.001459,0.009521,-0.000529,-0.004163
833,-0.004682,-0.003824,0.002312,-0.010407,0.001905,0.007334,0.005914,-0.000188,0.008085,0.006387,...,-0.005587,0.010821,0.005710,-0.009148,0.002078,0.003341,0.014696,0.016036,-0.005309,0.004802
834,-0.002349,-0.010134,0.003353,-0.015817,-0.003336,0.003283,0.019271,0.014391,0.010168,-0.001233,...,0.000996,0.001636,-0.018282,-0.020286,0.005766,0.001333,0.002759,0.013620,0.014138,0.002552
835,-0.004125,-0.003060,-0.006296,0.017968,0.004049,0.011226,0.001734,-0.011196,0.005808,-0.011998,...,0.001616,-0.003510,-0.002111,0.000347,0.012599,0.005316,-0.005194,0.014505,-0.001444,0.007933
836,-0.011283,-0.006972,0.000000,-0.001844,-0.007635,0.000000,0.001154,0.000563,0.002435,0.002494,...,0.005078,-0.022041,-0.010888,0.004504,0.010715,0.002978,-0.004664,0.004258,0.003279,-0.000632
837,-0.006290,0.002261,0.000000,-0.004625,-0.008902,0.004312,0.006897,-0.009043,0.002429,-0.005412,...,0.000988,-0.017404,-0.015880,-0.007982,0.004168,-0.005300,0.006546,0.003181,-0.005515,-0.006982

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
818,33.64,33.47,33.45,33.71,33.93,33.7,33.68,0.005667,0.004814,0.004161,0.008336,0.001483,-0.007679,33.73

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
832,0.002046,0.011923,-0.016691,0.002744,0.008376,-0.001104,0.004160,-0.010112,0.002814,-0.000826,...,0.005214,-0.011055,0.007577,-0.005717,-0.001781,-0.004674,0.001459,0.009521,-0.000529,-0.004163
833,-0.004682,-0.003824,0.002312,-0.010407,0.001905,0.007334,0.005914,-0.000188,0.008085,0.006387,...,-0.005587,0.010821,0.005710,-0.009148,0.002078,0.003341,0.014696,0.016036,-0.005309,0.004802
834,-0.002349,-0.010134,0.003353,-0.015817,-0.003336,0.003283,0.019271,0.014391,0.010168,-0.001233,...,0.000996,0.001636,-0.018282,-0.020286,0.005766,0.001333,0.002759,0.013620,0.014138,0.002552
835,-0.004125,-0.003060,-0.006296,0.017968,0.004049,0.011226,0.001734,-0.011196,0.005808,-0.011998,...,0.001616,-0.003510,-0.002111,0.000347,0.012599,0.005316,-0.005194,0.014505,-0.001444,0.007933
836,-0.011283,-0.006972,0.000000,-0.001844,-0.007635,0.000000,0.001154,0.000563,0.002435,0.002494,...,0.005078,-0.022041,-0.010888,0.004504,0.010715,0.002978,-0.004664,0.004258,0.003279,-0.000632
837,-0.006290,0.002261,0.000000,-0.004625,-0.008902,0.004312,0.006897,-0.009043,0.002429,-0.005412,...,0.000988,-0.017404,-0.015880,-0.007982,0.004168,-0.005300,0.006546,0.003181,-0.005515,-0.006982
838,0.002401,0.005119,-0.000211,0.013810,0.007464,0.000717,0.014217,-0.020651,-0.011286,-0.000626,...,0.002589,0.001949,0.016414,-0.006642,0.007858,-0.003327,-0.028035,0.001587,0.003418,-0.007673

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
819,33.73,33.64,33.47,33.45,33.71,33.93,33.7,0.004859,0.004844,0.003841,0.009219,0.002371,-0.005903,33.78

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
833,-0.004682,-0.003824,0.002312,-0.010407,0.001905,0.007334,0.005914,-0.000188,0.008085,0.006387,...,-0.005587,0.010821,0.005710,-0.009148,0.002078,0.003341,0.014696,0.016036,-0.005309,0.004802
834,-0.002349,-0.010134,0.003353,-0.015817,-0.003336,0.003283,0.019271,0.014391,0.010168,-0.001233,...,0.000996,0.001636,-0.018282,-0.020286,0.005766,0.001333,0.002759,0.013620,0.014138,0.002552
835,-0.004125,-0.003060,-0.006296,0.017968,0.004049,0.011226,0.001734,-0.011196,0.005808,-0.011998,...,0.001616,-0.003510,-0.002111,0.000347,0.012599,0.005316,-0.005194,0.014505,-0.001444,0.007933
836,-0.011283,-0.006972,0.000000,-0.001844,-0.007635,0.000000,0.001154,0.000563,0.002435,0.002494,...,0.005078,-0.022041,-0.010888,0.004504,0.010715,0.002978,-0.004664,0.004258,0.003279,-0.000632
837,-0.006290,0.002261,0.000000,-0.004625,-0.008902,0.004312,0.006897,-0.009043,0.002429,-0.005412,...,0.000988,-0.017404,-0.015880,-0.007982,0.004168,-0.005300,0.006546,0.003181,-0.005515,-0.006982
838,0.002401,0.005119,-0.000211,0.013810,0.007464,0.000717,0.014217,-0.020651,-0.011286,-0.000626,...,0.002589,0.001949,0.016414,-0.006642,0.007858,-0.003327,-0.028035,0.001587,0.003418,-0.007673
839,0.001797,0.003466,0.026801,0.018720,-0.005532,0.003219,-0.009076,-0.013812,0.001839,0.002295,...,0.002336,-0.003657,0.012202,0.005596,0.000285,0.007304,-0.002505,-0.013837,-0.011881,0.012755

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
820,33.78,33.73,33.64,33.47,33.45,33.71,33.93,0.002563,0.005023,0.003963,0.010939,0.002355,0.004125,34.01

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
834,-0.002349,-0.010134,0.003353,-0.015817,-0.003336,0.003283,0.019271,0.014391,0.010168,-0.001233,...,0.000996,0.001636,-0.018282,-0.020286,0.005766,0.001333,0.002759,0.013620,0.014138,0.002552
835,-0.004125,-0.003060,-0.006296,0.017968,0.004049,0.011226,0.001734,-0.011196,0.005808,-0.011998,...,0.001616,-0.003510,-0.002111,0.000347,0.012599,0.005316,-0.005194,0.014505,-0.001444,0.007933
836,-0.011283,-0.006972,0.000000,-0.001844,-0.007635,0.000000,0.001154,0.000563,0.002435,0.002494,...,0.005078,-0.022041,-0.010888,0.004504,0.010715,0.002978,-0.004664,0.004258,0.003279,-0.000632
837,-0.006290,0.002261,0.000000,-0.004625,-0.008902,0.004312,0.006897,-0.009043,0.002429,-0.005412,...,0.000988,-0.017404,-0.015880,-0.007982,0.004168,-0.005300,0.006546,0.003181,-0.005515,-0.006982
838,0.002401,0.005119,-0.000211,0.013810,0.007464,0.000717,0.014217,-0.020651,-0.011286,-0.000626,...,0.002589,0.001949,0.016414,-0.006642,0.007858,-0.003327,-0.028035,0.001587,0.003418,-0.007673
839,0.001797,0.003466,0.026801,0.018720,-0.005532,0.003219,-0.009076,-0.013812,0.001839,0.002295,...,0.002336,-0.003657,0.012202,0.005596,0.000285,0.007304,-0.002505,-0.013837,-0.011881,0.012755
840,-0.000898,-0.005715,0.009183,0.000000,0.002890,0.003921,0.009640,0.014198,-0.002759,-0.005014,...,-0.008635,0.006816,0.009708,0.002091,-0.000569,-0.001655,-0.005373,0.006943,-0.005727,-0.000951

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
821,34.01,33.78,33.73,33.64,33.47,33.45,33.71,0.00219,0.004957,0.003942,0.010616,0.01121,0.002644,34.09

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
835,-0.004125,-0.003060,-0.006296,0.017968,0.004049,0.011226,0.001734,-0.011196,0.005808,-0.011998,...,0.001616,-0.003510,-0.002111,0.000347,0.012599,0.005316,-0.005194,0.014505,-0.001444,0.007933
836,-0.011283,-0.006972,0.000000,-0.001844,-0.007635,0.000000,0.001154,0.000563,0.002435,0.002494,...,0.005078,-0.022041,-0.010888,0.004504,0.010715,0.002978,-0.004664,0.004258,0.003279,-0.000632
837,-0.006290,0.002261,0.000000,-0.004625,-0.008902,0.004312,0.006897,-0.009043,0.002429,-0.005412,...,0.000988,-0.017404,-0.015880,-0.007982,0.004168,-0.005300,0.006546,0.003181,-0.005515,-0.006982
838,0.002401,0.005119,-0.000211,0.013810,0.007464,0.000717,0.014217,-0.020651,-0.011286,-0.000626,...,0.002589,0.001949,0.016414,-0.006642,0.007858,-0.003327,-0.028035,0.001587,0.003418,-0.007673
839,0.001797,0.003466,0.026801,0.018720,-0.005532,0.003219,-0.009076,-0.013812,0.001839,0.002295,...,0.002336,-0.003657,0.012202,0.005596,0.000285,0.007304,-0.002505,-0.013837,-0.011881,0.012755
840,-0.000898,-0.005715,0.009183,0.000000,0.002890,0.003921,0.009640,0.014198,-0.002759,-0.005014,...,-0.008635,0.006816,0.009708,0.002091,-0.000569,-0.001655,-0.005373,0.006943,-0.005727,-0.000951
841,-0.006912,-0.002049,0.012916,-0.006603,-0.011854,-0.001780,-0.011351,0.017611,0.013116,0.021341,...,0.004080,0.013973,-0.004449,-0.009442,0.003836,0.004628,-0.002985,0.007423,0.000534,-0.004450

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
822,34.09,34.01,33.78,33.73,33.64,33.47,33.45,0.003575,0.005154,0.004008,0.005903,0.01572,0.000294,33.98

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
836,-0.011283,-0.006972,0.000000,-0.001844,-0.007635,0.000000,0.001154,0.000563,0.002435,0.002494,...,0.005078,-0.022041,-0.010888,0.004504,0.010715,0.002978,-0.004664,0.004258,0.003279,-0.000632
837,-0.006290,0.002261,0.000000,-0.004625,-0.008902,0.004312,0.006897,-0.009043,0.002429,-0.005412,...,0.000988,-0.017404,-0.015880,-0.007982,0.004168,-0.005300,0.006546,0.003181,-0.005515,-0.006982
838,0.002401,0.005119,-0.000211,0.013810,0.007464,0.000717,0.014217,-0.020651,-0.011286,-0.000626,...,0.002589,0.001949,0.016414,-0.006642,0.007858,-0.003327,-0.028035,0.001587,0.003418,-0.007673
839,0.001797,0.003466,0.026801,0.018720,-0.005532,0.003219,-0.009076,-0.013812,0.001839,0.002295,...,0.002336,-0.003657,0.012202,0.005596,0.000285,0.007304,-0.002505,-0.013837,-0.011881,0.012755
840,-0.000898,-0.005715,0.009183,0.000000,0.002890,0.003921,0.009640,0.014198,-0.002759,-0.005014,...,-0.008635,0.006816,0.009708,0.002091,-0.000569,-0.001655,-0.005373,0.006943,-0.005727,-0.000951
841,-0.006912,-0.002049,0.012916,-0.006603,-0.011854,-0.001780,-0.011351,0.017611,0.013116,0.021341,...,0.004080,0.013973,-0.004449,-0.009442,0.003836,0.004628,-0.002985,0.007423,0.000534,-0.004450
842,0.003011,0.012030,-0.008053,-0.028713,0.000000,-0.004286,-0.007448,0.008126,0.021584,-0.008854,...,-0.007306,0.005725,-0.004995,0.013264,-0.006830,-0.000330,-0.015759,0.011032,-0.008311,0.004133

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
823,33.98,34.09,34.01,33.78,33.73,33.64,33.47,0.003634,0.004825,0.004083,0.002643,0.018648,0.005587,34.1

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
837,-0.006290,0.002261,0.000000,-0.004625,-0.008902,0.004312,0.006897,-0.009043,0.002429,-0.005412,...,0.000988,-0.017404,-0.015880,-0.007982,0.004168,-0.005300,0.006546,0.003181,-0.005515,-0.006982
838,0.002401,0.005119,-0.000211,0.013810,0.007464,0.000717,0.014217,-0.020651,-0.011286,-0.000626,...,0.002589,0.001949,0.016414,-0.006642,0.007858,-0.003327,-0.028035,0.001587,0.003418,-0.007673
839,0.001797,0.003466,0.026801,0.018720,-0.005532,0.003219,-0.009076,-0.013812,0.001839,0.002295,...,0.002336,-0.003657,0.012202,0.005596,0.000285,0.007304,-0.002505,-0.013837,-0.011881,0.012755
840,-0.000898,-0.005715,0.009183,0.000000,0.002890,0.003921,0.009640,0.014198,-0.002759,-0.005014,...,-0.008635,0.006816,0.009708,0.002091,-0.000569,-0.001655,-0.005373,0.006943,-0.005727,-0.000951
841,-0.006912,-0.002049,0.012916,-0.006603,-0.011854,-0.001780,-0.011351,0.017611,0.013116,0.021341,...,0.004080,0.013973,-0.004449,-0.009442,0.003836,0.004628,-0.002985,0.007423,0.000534,-0.004450
842,0.003011,0.012030,-0.008053,-0.028713,0.000000,-0.004286,-0.007448,0.008126,0.021584,-0.008854,...,-0.007306,0.005725,-0.004995,0.013264,-0.006830,-0.000330,-0.015759,0.011032,-0.008311,0.004133
843,-0.004218,0.002227,0.015047,-0.006217,0.002431,0.005710,0.009728,-0.001695,0.008269,-0.014374,...,0.006566,0.004272,-0.012199,0.002078,0.012768,-0.002974,-0.004331,0.000000,0.004030,0.003168

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
824,34.1,33.98,34.09,34.01,33.78,33.73,33.64,0.003892,0.004206,0.004083,-0.000587,0.012701,0.009733,34.07

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
838,0.002401,0.005119,-0.000211,0.013810,0.007464,0.000717,0.014217,-0.020651,-0.011286,-0.000626,...,0.002589,0.001949,0.016414,-0.006642,0.007858,-0.003327,-0.028035,0.001587,0.003418,-0.007673
839,0.001797,0.003466,0.026801,0.018720,-0.005532,0.003219,-0.009076,-0.013812,0.001839,0.002295,...,0.002336,-0.003657,0.012202,0.005596,0.000285,0.007304,-0.002505,-0.013837,-0.011881,0.012755
840,-0.000898,-0.005715,0.009183,0.000000,0.002890,0.003921,0.009640,0.014198,-0.002759,-0.005014,...,-0.008635,0.006816,0.009708,0.002091,-0.000569,-0.001655,-0.005373,0.006943,-0.005727,-0.000951
841,-0.006912,-0.002049,0.012916,-0.006603,-0.011854,-0.001780,-0.011351,0.017611,0.013116,0.021341,...,0.004080,0.013973,-0.004449,-0.009442,0.003836,0.004628,-0.002985,0.007423,0.000534,-0.004450
842,0.003011,0.012030,-0.008053,-0.028713,0.000000,-0.004286,-0.007448,0.008126,0.021584,-0.008854,...,-0.007306,0.005725,-0.004995,0.013264,-0.006830,-0.000330,-0.015759,0.011032,-0.008311,0.004133
843,-0.004218,0.002227,0.015047,-0.006217,0.002431,0.005710,0.009728,-0.001695,0.008269,-0.014374,...,0.006566,0.004272,-0.012199,0.002078,0.012768,-0.002974,-0.004331,0.000000,0.004030,0.003168
844,0.000905,0.008056,-0.003191,0.004356,0.015179,-0.002138,-0.011455,0.000189,-0.005604,0.014581,...,-0.002225,-0.008324,0.000533,-0.012885,0.002675,-0.004643,-0.010258,0.005731,-0.000939,0.000948

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
825,34.07,34.1,33.98,34.09,34.01,33.78,33.73,0.002703,0.002856,0.004093,0.004112,0.011496,0.01298,34.12

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
839,0.001797,0.003466,0.026801,0.018720,-0.005532,0.003219,-0.009076,-0.013812,0.001839,0.002295,...,0.002336,-0.003657,0.012202,0.005596,0.000285,0.007304,-0.002505,-0.013837,-0.011881,0.012755
840,-0.000898,-0.005715,0.009183,0.000000,0.002890,0.003921,0.009640,0.014198,-0.002759,-0.005014,...,-0.008635,0.006816,0.009708,0.002091,-0.000569,-0.001655,-0.005373,0.006943,-0.005727,-0.000951
841,-0.006912,-0.002049,0.012916,-0.006603,-0.011854,-0.001780,-0.011351,0.017611,0.013116,0.021341,...,0.004080,0.013973,-0.004449,-0.009442,0.003836,0.004628,-0.002985,0.007423,0.000534,-0.004450
842,0.003011,0.012030,-0.008053,-0.028713,0.000000,-0.004286,-0.007448,0.008126,0.021584,-0.008854,...,-0.007306,0.005725,-0.004995,0.013264,-0.006830,-0.000330,-0.015759,0.011032,-0.008311,0.004133
843,-0.004218,0.002227,0.015047,-0.006217,0.002431,0.005710,0.009728,-0.001695,0.008269,-0.014374,...,0.006566,0.004272,-0.012199,0.002078,0.012768,-0.002974,-0.004331,0.000000,0.004030,0.003168
844,0.000905,0.008056,-0.003191,0.004356,0.015179,-0.002138,-0.011455,0.000189,-0.005604,0.014581,...,-0.002225,-0.008324,0.000533,-0.012885,0.002675,-0.004643,-0.010258,0.005731,-0.000939,0.000948
845,-0.010919,0.011964,0.009345,0.029670,0.002865,-0.006799,-0.002307,-0.002265,-0.026980,0.013555,...,0.002101,-0.018805,0.001332,0.000701,-0.000563,0.002324,0.020411,-0.007823,0.004686,0.001894

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
826,34.12,34.07,34.1,33.98,34.09,34.01,33.78,0.002577,0.002971,0.004022,-0.000293,0.009135,0.011506,34.09

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
840,-0.000898,-0.005715,0.009183,0.000000,0.002890,0.003921,0.009640,0.014198,-0.002759,-0.005014,...,-0.008635,0.006816,0.009708,0.002091,-0.000569,-0.001655,-0.005373,0.006943,-0.005727,-0.000951
841,-0.006912,-0.002049,0.012916,-0.006603,-0.011854,-0.001780,-0.011351,0.017611,0.013116,0.021341,...,0.004080,0.013973,-0.004449,-0.009442,0.003836,0.004628,-0.002985,0.007423,0.000534,-0.004450
842,0.003011,0.012030,-0.008053,-0.028713,0.000000,-0.004286,-0.007448,0.008126,0.021584,-0.008854,...,-0.007306,0.005725,-0.004995,0.013264,-0.006830,-0.000330,-0.015759,0.011032,-0.008311,0.004133
843,-0.004218,0.002227,0.015047,-0.006217,0.002431,0.005710,0.009728,-0.001695,0.008269,-0.014374,...,0.006566,0.004272,-0.012199,0.002078,0.012768,-0.002974,-0.004331,0.000000,0.004030,0.003168
844,0.000905,0.008056,-0.003191,0.004356,0.015179,-0.002138,-0.011455,0.000189,-0.005604,0.014581,...,-0.002225,-0.008324,0.000533,-0.012885,0.002675,-0.004643,-0.010258,0.005731,-0.000939,0.000948
845,-0.010919,0.011964,0.009345,0.029670,0.002865,-0.006799,-0.002307,-0.002265,-0.026980,0.013555,...,0.002101,-0.018805,0.001332,0.000701,-0.000563,0.002324,0.020411,-0.007823,0.004686,0.001894
846,0.000914,0.001980,0.000198,-0.003926,-0.006219,0.001435,-0.002891,0.009589,-0.020879,0.001834,...,0.000494,-0.021898,-0.020447,-0.005972,-0.000985,-0.006322,-0.006056,-0.005776,0.007319,-0.000631

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
827,34.09,34.12,34.07,34.1,33.98,34.09,34.01,0.001841,0.00276,0.003937,0.001173,0.002936,0.005291,34.11

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
841,-0.006912,-0.002049,0.012916,-0.006603,-0.011854,-0.001780,-0.011351,0.017611,0.013116,0.021341,...,0.004080,0.013973,-0.004449,-0.009442,0.003836,0.004628,-0.002985,0.007423,0.000534,-0.004450
842,0.003011,0.012030,-0.008053,-0.028713,0.000000,-0.004286,-0.007448,0.008126,0.021584,-0.008854,...,-0.007306,0.005725,-0.004995,0.013264,-0.006830,-0.000330,-0.015759,0.011032,-0.008311,0.004133
843,-0.004218,0.002227,0.015047,-0.006217,0.002431,0.005710,0.009728,-0.001695,0.008269,-0.014374,...,0.006566,0.004272,-0.012199,0.002078,0.012768,-0.002974,-0.004331,0.000000,0.004030,0.003168
844,0.000905,0.008056,-0.003191,0.004356,0.015179,-0.002138,-0.011455,0.000189,-0.005604,0.014581,...,-0.002225,-0.008324,0.000533,-0.012885,0.002675,-0.004643,-0.010258,0.005731,-0.000939,0.000948
845,-0.010919,0.011964,0.009345,0.029670,0.002865,-0.006799,-0.002307,-0.002265,-0.026980,0.013555,...,0.002101,-0.018805,0.001332,0.000701,-0.000563,0.002324,0.020411,-0.007823,0.004686,0.001894
846,0.000914,0.001980,0.000198,-0.003926,-0.006219,0.001435,-0.002891,0.009589,-0.020879,0.001834,...,0.000494,-0.021898,-0.020447,-0.005972,-0.000985,-0.006322,-0.006056,-0.005776,0.007319,-0.000631
847,0.005469,-0.009541,0.017262,0.021847,-0.002402,-0.007558,-0.006390,-0.005065,-0.015950,0.003253,...,-0.007682,0.023843,-0.014511,0.017465,0.008134,-0.003678,-0.000351,-0.013786,-0.001194,-0.007920

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
828,34.11,34.09,34.12,34.07,34.1,33.98,34.09,0.001896,0.003113,0.004018,-0.003817,-0.002938,0.008272,33.99

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
842,0.003011,0.012030,-0.008053,-0.028713,0.000000,-0.004286,-0.007448,0.008126,0.021584,-0.008854,...,-0.007306,0.005725,-0.004995,0.013264,-0.006830,-0.000330,-0.015759,0.011032,-0.008311,0.004133
843,-0.004218,0.002227,0.015047,-0.006217,0.002431,0.005710,0.009728,-0.001695,0.008269,-0.014374,...,0.006566,0.004272,-0.012199,0.002078,0.012768,-0.002974,-0.004331,0.000000,0.004030,0.003168
844,0.000905,0.008056,-0.003191,0.004356,0.015179,-0.002138,-0.011455,0.000189,-0.005604,0.014581,...,-0.002225,-0.008324,0.000533,-0.012885,0.002675,-0.004643,-0.010258,0.005731,-0.000939,0.000948
845,-0.010919,0.011964,0.009345,0.029670,0.002865,-0.006799,-0.002307,-0.002265,-0.026980,0.013555,...,0.002101,-0.018805,0.001332,0.000701,-0.000563,0.002324,0.020411,-0.007823,0.004686,0.001894
846,0.000914,0.001980,0.000198,-0.003926,-0.006219,0.001435,-0.002891,0.009589,-0.020879,0.001834,...,0.000494,-0.021898,-0.020447,-0.005972,-0.000985,-0.006322,-0.006056,-0.005776,0.007319,-0.000631
847,0.005469,-0.009541,0.017262,0.021847,-0.002402,-0.007558,-0.006390,-0.005065,-0.015950,0.003253,...,-0.007682,0.023843,-0.014511,0.017465,0.008134,-0.003678,-0.000351,-0.013786,-0.001194,-0.007920
848,-0.005165,-0.011045,0.002719,0.023117,0.003841,-0.001084,0.000000,0.016970,0.023677,-0.014309,...,-0.007992,0.011351,0.001653,-0.008694,0.005293,0.005679,-0.001286,-0.011815,-0.001727,0.008551

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
829,33.99,34.11,34.09,34.12,34.07,34.1,33.98,0.002104,0.003277,0.004043,-0.005589,-0.002357,0.013363,33.9

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
843,-0.004218,0.002227,0.015047,-0.006217,0.002431,0.005710,0.009728,-0.001695,0.008269,-0.014374,...,0.006566,0.004272,-0.012199,0.002078,0.012768,-0.002974,-0.004331,0.000000,0.004030,0.003168
844,0.000905,0.008056,-0.003191,0.004356,0.015179,-0.002138,-0.011455,0.000189,-0.005604,0.014581,...,-0.002225,-0.008324,0.000533,-0.012885,0.002675,-0.004643,-0.010258,0.005731,-0.000939,0.000948
845,-0.010919,0.011964,0.009345,0.029670,0.002865,-0.006799,-0.002307,-0.002265,-0.026980,0.013555,...,0.002101,-0.018805,0.001332,0.000701,-0.000563,0.002324,0.020411,-0.007823,0.004686,0.001894
846,0.000914,0.001980,0.000198,-0.003926,-0.006219,0.001435,-0.002891,0.009589,-0.020879,0.001834,...,0.000494,-0.021898,-0.020447,-0.005972,-0.000985,-0.006322,-0.006056,-0.005776,0.007319,-0.000631
847,0.005469,-0.009541,0.017262,0.021847,-0.002402,-0.007558,-0.006390,-0.005065,-0.015950,0.003253,...,-0.007682,0.023843,-0.014511,0.017465,0.008134,-0.003678,-0.000351,-0.013786,-0.001194,-0.007920
848,-0.005165,-0.011045,0.002719,0.023117,0.003841,-0.001084,0.000000,0.016970,0.023677,-0.014309,...,-0.007992,0.011351,0.001653,-0.008694,0.005293,0.005679,-0.001286,-0.011815,-0.001727,0.008551
849,0.006074,0.003226,-0.013866,-0.006967,0.003110,-0.007624,0.005811,-0.021872,0.009194,0.002262,...,0.001128,-0.009653,-0.004692,0.009040,0.003190,0.006971,-0.003751,-0.010864,0.002125,0.000000

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
830,33.9,33.99,34.11,34.09,34.12,34.07,34.1,0.004313,0.003402,0.00418,0.001172,0.001465,0.020113,34.15

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
844,0.000905,0.008056,-0.003191,0.004356,0.015179,-0.002138,-0.011455,0.000189,-0.005604,0.014581,...,-0.002225,-0.008324,0.000533,-0.012885,0.002675,-0.004643,-0.010258,0.005731,-0.000939,0.000948
845,-0.010919,0.011964,0.009345,0.029670,0.002865,-0.006799,-0.002307,-0.002265,-0.026980,0.013555,...,0.002101,-0.018805,0.001332,0.000701,-0.000563,0.002324,0.020411,-0.007823,0.004686,0.001894
846,0.000914,0.001980,0.000198,-0.003926,-0.006219,0.001435,-0.002891,0.009589,-0.020879,0.001834,...,0.000494,-0.021898,-0.020447,-0.005972,-0.000985,-0.006322,-0.006056,-0.005776,0.007319,-0.000631
847,0.005469,-0.009541,0.017262,0.021847,-0.002402,-0.007558,-0.006390,-0.005065,-0.015950,0.003253,...,-0.007682,0.023843,-0.014511,0.017465,0.008134,-0.003678,-0.000351,-0.013786,-0.001194,-0.007920
848,-0.005165,-0.011045,0.002719,0.023117,0.003841,-0.001084,0.000000,0.016970,0.023677,-0.014309,...,-0.007992,0.011351,0.001653,-0.008694,0.005293,0.005679,-0.001286,-0.011815,-0.001727,0.008551
849,0.006074,0.003226,-0.013866,-0.006967,0.003110,-0.007624,0.005811,-0.021872,0.009194,0.002262,...,0.001128,-0.009653,-0.004692,0.009040,0.003190,0.006971,-0.003751,-0.010864,0.002125,0.000000
850,-0.004248,0.006421,0.009395,0.007834,0.006902,-0.002554,0.005201,0.000945,-0.001526,-0.001233,...,0.008107,0.002180,-0.016174,0.008273,0.004284,-0.005307,-0.015506,0.008159,-0.004922,0.010977

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
831,34.15,33.9,33.99,34.11,34.09,34.12,34.07,0.004356,0.003402,0.004158,0.007036,0.004685,0.017387,34.23

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
845,-0.010919,0.011964,0.009345,0.029670,0.002865,-0.006799,-0.002307,-0.002265,-0.026980,0.013555,...,0.002101,-0.018805,0.001332,0.000701,-0.000563,0.002324,0.020411,-0.007823,0.004686,0.001894
846,0.000914,0.001980,0.000198,-0.003926,-0.006219,0.001435,-0.002891,0.009589,-0.020879,0.001834,...,0.000494,-0.021898,-0.020447,-0.005972,-0.000985,-0.006322,-0.006056,-0.005776,0.007319,-0.000631
847,0.005469,-0.009541,0.017262,0.021847,-0.002402,-0.007558,-0.006390,-0.005065,-0.015950,0.003253,...,-0.007682,0.023843,-0.014511,0.017465,0.008134,-0.003678,-0.000351,-0.013786,-0.001194,-0.007920
848,-0.005165,-0.011045,0.002719,0.023117,0.003841,-0.001084,0.000000,0.016970,0.023677,-0.014309,...,-0.007992,0.011351,0.001653,-0.008694,0.005293,0.005679,-0.001286,-0.011815,-0.001727,0.008551
849,0.006074,0.003226,-0.013866,-0.006967,0.003110,-0.007624,0.005811,-0.021872,0.009194,0.002262,...,0.001128,-0.009653,-0.004692,0.009040,0.003190,0.006971,-0.003751,-0.010864,0.002125,0.000000
850,-0.004248,0.006421,0.009395,0.007834,0.006902,-0.002554,0.005201,0.000945,-0.001526,-0.001233,...,0.008107,0.002180,-0.016174,0.008273,0.004284,-0.005307,-0.015506,0.008159,-0.004922,0.010977
851,0.005760,0.008960,-0.003708,0.008633,-0.008097,0.007643,0.007465,0.013690,-0.021619,-0.020992,...,0.000621,0.006992,0.010905,0.015668,-0.001932,-0.004333,-0.004663,-0.009252,-0.000934,-0.018892

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
832,34.23,34.15,33.9,33.99,34.11,34.09,34.12,0.004478,0.003233,0.004189,0.008226,0.001757,0.013253,34.18

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
846,0.000914,0.001980,0.000198,-0.003926,-0.006219,0.001435,-0.002891,0.009589,-0.020879,0.001834,...,0.000494,-0.021898,-0.020447,-0.005972,-0.000985,-0.006322,-0.006056,-0.005776,0.007319,-0.000631
847,0.005469,-0.009541,0.017262,0.021847,-0.002402,-0.007558,-0.006390,-0.005065,-0.015950,0.003253,...,-0.007682,0.023843,-0.014511,0.017465,0.008134,-0.003678,-0.000351,-0.013786,-0.001194,-0.007920
848,-0.005165,-0.011045,0.002719,0.023117,0.003841,-0.001084,0.000000,0.016970,0.023677,-0.014309,...,-0.007992,0.011351,0.001653,-0.008694,0.005293,0.005679,-0.001286,-0.011815,-0.001727,0.008551
849,0.006074,0.003226,-0.013866,-0.006967,0.003110,-0.007624,0.005811,-0.021872,0.009194,0.002262,...,0.001128,-0.009653,-0.004692,0.009040,0.003190,0.006971,-0.003751,-0.010864,0.002125,0.000000
850,-0.004248,0.006421,0.009395,0.007834,0.006902,-0.002554,0.005201,0.000945,-0.001526,-0.001233,...,0.008107,0.002180,-0.016174,0.008273,0.004284,-0.005307,-0.015506,0.008159,-0.004922,0.010977
851,0.005760,0.008960,-0.003708,0.008633,-0.008097,0.007643,0.007465,0.013690,-0.021619,-0.020992,...,0.000621,0.006992,0.010905,0.015668,-0.001932,-0.004333,-0.004663,-0.009252,-0.000934,-0.018892
852,0.005126,0.004746,0.011664,0.020420,0.004771,0.008305,-0.002865,-0.019750,0.010868,0.000840,...,-0.002735,-0.021370,-0.018808,-0.012925,-0.007489,0.001335,-0.014121,0.001093,-0.000267,-0.009903

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
833,34.18,34.23,34.15,33.9,33.99,34.11,34.09,0.003912,0.003115,0.003953,0.002924,0.004682,0.013818,34.25

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
847,0.005469,-0.009541,0.017262,0.021847,-0.002402,-0.007558,-0.006390,-0.005065,-0.015950,0.003253,...,-0.007682,0.023843,-0.014511,0.017465,0.008134,-0.003678,-0.000351,-0.013786,-0.001194,-0.007920
848,-0.005165,-0.011045,0.002719,0.023117,0.003841,-0.001084,0.000000,0.016970,0.023677,-0.014309,...,-0.007992,0.011351,0.001653,-0.008694,0.005293,0.005679,-0.001286,-0.011815,-0.001727,0.008551
849,0.006074,0.003226,-0.013866,-0.006967,0.003110,-0.007624,0.005811,-0.021872,0.009194,0.002262,...,0.001128,-0.009653,-0.004692,0.009040,0.003190,0.006971,-0.003751,-0.010864,0.002125,0.000000
850,-0.004248,0.006421,0.009395,0.007834,0.006902,-0.002554,0.005201,0.000945,-0.001526,-0.001233,...,0.008107,0.002180,-0.016174,0.008273,0.004284,-0.005307,-0.015506,0.008159,-0.004922,0.010977
851,0.005760,0.008960,-0.003708,0.008633,-0.008097,0.007643,0.007465,0.013690,-0.021619,-0.020992,...,0.000621,0.006992,0.010905,0.015668,-0.001932,-0.004333,-0.004663,-0.009252,-0.000934,-0.018892
852,0.005126,0.004746,0.011664,0.020420,0.004771,0.008305,-0.002865,-0.019750,0.010868,0.000840,...,-0.002735,-0.021370,-0.018808,-0.012925,-0.007489,0.001335,-0.014121,0.001093,-0.000267,-0.009903
853,0.009280,-0.008121,0.004435,0.008665,0.003089,0.002873,-0.020870,0.003414,-0.013056,-0.020353,...,0.002487,-0.014339,-0.001418,-0.020755,0.004722,-0.003676,-0.002921,-0.018744,-0.001202,0.007357

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
834,34.25,34.18,34.23,34.15,33.9,33.99,34.11,0.004513,0.003502,0.003802,-0.004098,-0.000587,0.002349,34.09

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
848,-0.005165,-0.011045,0.002719,0.023117,0.003841,-0.001084,0.000000,0.016970,0.023677,-0.014309,...,-0.007992,0.011351,0.001653,-0.008694,0.005293,0.005679,-0.001286,-0.011815,-0.001727,0.008551
849,0.006074,0.003226,-0.013866,-0.006967,0.003110,-0.007624,0.005811,-0.021872,0.009194,0.002262,...,0.001128,-0.009653,-0.004692,0.009040,0.003190,0.006971,-0.003751,-0.010864,0.002125,0.000000
850,-0.004248,0.006421,0.009395,0.007834,0.006902,-0.002554,0.005201,0.000945,-0.001526,-0.001233,...,0.008107,0.002180,-0.016174,0.008273,0.004284,-0.005307,-0.015506,0.008159,-0.004922,0.010977
851,0.005760,0.008960,-0.003708,0.008633,-0.008097,0.007643,0.007465,0.013690,-0.021619,-0.020992,...,0.000621,0.006992,0.010905,0.015668,-0.001932,-0.004333,-0.004663,-0.009252,-0.000934,-0.018892
852,0.005126,0.004746,0.011664,0.020420,0.004771,0.008305,-0.002865,-0.019750,0.010868,0.000840,...,-0.002735,-0.021370,-0.018808,-0.012925,-0.007489,0.001335,-0.014121,0.001093,-0.000267,-0.009903
853,0.009280,-0.008121,0.004435,0.008665,0.003089,0.002873,-0.020870,0.003414,-0.013056,-0.020353,...,0.002487,-0.014339,-0.001418,-0.020755,0.004722,-0.003676,-0.002921,-0.018744,-0.001202,0.007357
854,-0.006277,-0.001194,0.006712,-0.004463,0.001896,0.017416,-0.005875,-0.003604,0.014290,0.019093,...,-0.009357,0.003976,0.014928,0.025536,0.002491,0.004676,-0.004521,0.012718,-0.002945,0.000000

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
835,34.09,34.25,34.18,34.23,34.15,33.9,33.99,0.002994,0.00354,0.003346,-0.004986,0.000588,-0.002349,34.01

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
849,0.006074,0.003226,-0.013866,-0.006967,0.003110,-0.007624,0.005811,-0.021872,0.009194,0.002262,...,0.001128,-0.009653,-0.004692,0.009040,0.003190,0.006971,-0.003751,-0.010864,0.002125,0.000000
850,-0.004248,0.006421,0.009395,0.007834,0.006902,-0.002554,0.005201,0.000945,-0.001526,-0.001233,...,0.008107,0.002180,-0.016174,0.008273,0.004284,-0.005307,-0.015506,0.008159,-0.004922,0.010977
851,0.005760,0.008960,-0.003708,0.008633,-0.008097,0.007643,0.007465,0.013690,-0.021619,-0.020992,...,0.000621,0.006992,0.010905,0.015668,-0.001932,-0.004333,-0.004663,-0.009252,-0.000934,-0.018892
852,0.005126,0.004746,0.011664,0.020420,0.004771,0.008305,-0.002865,-0.019750,0.010868,0.000840,...,-0.002735,-0.021370,-0.018808,-0.012925,-0.007489,0.001335,-0.014121,0.001093,-0.000267,-0.009903
853,0.009280,-0.008121,0.004435,0.008665,0.003089,0.002873,-0.020870,0.003414,-0.013056,-0.020353,...,0.002487,-0.014339,-0.001418,-0.020755,0.004722,-0.003676,-0.002921,-0.018744,-0.001202,0.007357
854,-0.006277,-0.001194,0.006712,-0.004463,0.001896,0.017416,-0.005875,-0.003604,0.014290,0.019093,...,-0.009357,0.003976,0.014928,0.025536,0.002491,0.004676,-0.004521,0.012718,-0.002945,0.000000
855,-0.002101,0.002982,0.001337,-0.008986,0.011302,0.005271,-0.003542,0.009644,-0.019309,0.005030,...,0.003379,-0.005970,-0.007295,-0.010274,-0.003738,-0.000667,0.030393,0.003839,0.000670,-0.015738

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
836,34.01,34.09,34.25,34.18,34.23,34.15,33.9,0.002666,0.003739,0.003525,-0.011157,-0.000885,-0.003242,33.87

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
850,-0.004248,0.006421,0.009395,0.007834,0.006902,-0.002554,0.005201,0.000945,-0.001526,-0.001233,...,0.008107,0.002180,-0.016174,0.008273,0.004284,-0.005307,-0.015506,0.008159,-0.004922,0.010977
851,0.005760,0.008960,-0.003708,0.008633,-0.008097,0.007643,0.007465,0.013690,-0.021619,-0.020992,...,0.000621,0.006992,0.010905,0.015668,-0.001932,-0.004333,-0.004663,-0.009252,-0.000934,-0.018892
852,0.005126,0.004746,0.011664,0.020420,0.004771,0.008305,-0.002865,-0.019750,0.010868,0.000840,...,-0.002735,-0.021370,-0.018808,-0.012925,-0.007489,0.001335,-0.014121,0.001093,-0.000267,-0.009903
853,0.009280,-0.008121,0.004435,0.008665,0.003089,0.002873,-0.020870,0.003414,-0.013056,-0.020353,...,0.002487,-0.014339,-0.001418,-0.020755,0.004722,-0.003676,-0.002921,-0.018744,-0.001202,0.007357
854,-0.006277,-0.001194,0.006712,-0.004463,0.001896,0.017416,-0.005875,-0.003604,0.014290,0.019093,...,-0.009357,0.003976,0.014928,0.025536,0.002491,0.004676,-0.004521,0.012718,-0.002945,0.000000
855,-0.002101,0.002982,0.001337,-0.008986,0.011302,0.005271,-0.003542,0.009644,-0.019309,0.005030,...,0.003379,-0.005970,-0.007295,-0.010274,-0.003738,-0.000667,0.030393,0.003839,0.000670,-0.015738
856,-0.001203,-0.002385,-0.014807,-0.002259,0.004672,0.003499,0.008245,0.010297,-0.005360,0.022124,...,-0.001750,0.009931,-0.008768,-0.014214,0.006912,-0.001001,-0.006196,-0.004388,0.003210,-0.002269

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
837,33.87,34.01,34.09,34.25,34.18,34.23,34.15,0.004816,0.004982,0.004254,-0.017757,-0.019516,-0.01805,33.49

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
851,0.005760,0.008960,-0.003708,0.008633,-0.008097,0.007643,0.007465,0.013690,-0.021619,-0.020992,...,0.000621,0.006992,0.010905,0.015668,-0.001932,-0.004333,-0.004663,-0.009252,-0.000934,-0.018892
852,0.005126,0.004746,0.011664,0.020420,0.004771,0.008305,-0.002865,-0.019750,0.010868,0.000840,...,-0.002735,-0.021370,-0.018808,-0.012925,-0.007489,0.001335,-0.014121,0.001093,-0.000267,-0.009903
853,0.009280,-0.008121,0.004435,0.008665,0.003089,0.002873,-0.020870,0.003414,-0.013056,-0.020353,...,0.002487,-0.014339,-0.001418,-0.020755,0.004722,-0.003676,-0.002921,-0.018744,-0.001202,0.007357
854,-0.006277,-0.001194,0.006712,-0.004463,0.001896,0.017416,-0.005875,-0.003604,0.014290,0.019093,...,-0.009357,0.003976,0.014928,0.025536,0.002491,0.004676,-0.004521,0.012718,-0.002945,0.000000
855,-0.002101,0.002982,0.001337,-0.008986,0.011302,0.005271,-0.003542,0.009644,-0.019309,0.005030,...,0.003379,-0.005970,-0.007295,-0.010274,-0.003738,-0.000667,0.030393,0.003839,0.000670,-0.015738
856,-0.001203,-0.002385,-0.014807,-0.002259,0.004672,0.003499,0.008245,0.010297,-0.005360,0.022124,...,-0.001750,0.009931,-0.008768,-0.014214,0.006912,-0.001001,-0.006196,-0.004388,0.003210,-0.002269
857,0.002104,0.002584,0.003867,-0.007948,-0.008425,0.000000,-0.004703,0.009085,0.002526,-0.004304,...,0.004869,0.008364,-0.030869,0.007999,0.001101,-0.002674,-0.003592,0.015276,-0.003478,-0.001624

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
838,33.49,33.87,34.01,34.09,34.25,34.18,34.23,0.0034,0.005159,0.004402,-0.021698,-0.028146,-0.023461,33.28

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
852,0.005126,0.004746,0.011664,0.020420,0.004771,0.008305,-0.002865,-0.019750,0.010868,0.000840,...,-0.002735,-0.021370,-0.018808,-0.012925,-0.007489,0.001335,-0.014121,0.001093,-0.000267,-0.009903
853,0.009280,-0.008121,0.004435,0.008665,0.003089,0.002873,-0.020870,0.003414,-0.013056,-0.020353,...,0.002487,-0.014339,-0.001418,-0.020755,0.004722,-0.003676,-0.002921,-0.018744,-0.001202,0.007357
854,-0.006277,-0.001194,0.006712,-0.004463,0.001896,0.017416,-0.005875,-0.003604,0.014290,0.019093,...,-0.009357,0.003976,0.014928,0.025536,0.002491,0.004676,-0.004521,0.012718,-0.002945,0.000000
855,-0.002101,0.002982,0.001337,-0.008986,0.011302,0.005271,-0.003542,0.009644,-0.019309,0.005030,...,0.003379,-0.005970,-0.007295,-0.010274,-0.003738,-0.000667,0.030393,0.003839,0.000670,-0.015738
856,-0.001203,-0.002385,-0.014807,-0.002259,0.004672,0.003499,0.008245,0.010297,-0.005360,0.022124,...,-0.001750,0.009931,-0.008768,-0.014214,0.006912,-0.001001,-0.006196,-0.004388,0.003210,-0.002269
857,0.002104,0.002584,0.003867,-0.007948,-0.008425,0.000000,-0.004703,0.009085,0.002526,-0.004304,...,0.004869,0.008364,-0.030869,0.007999,0.001101,-0.002674,-0.003592,0.015276,-0.003478,-0.001624
858,0.005389,0.003566,0.006156,0.005400,-0.007786,-0.003850,0.001178,-0.021831,-0.020068,-0.020333,...,-0.003868,-0.002207,-0.010308,0.021926,-0.002204,0.006006,-0.005895,0.006476,0.005346,0.001948

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
839,33.28,33.49,33.87,34.01,34.09,34.25,34.18,0.005036,0.005345,0.004431,-0.015172,-0.024283,-0.022526,33.36

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
853,0.009280,-0.008121,0.004435,0.008665,0.003089,0.002873,-0.020870,0.003414,-0.013056,-0.020353,...,0.002487,-0.014339,-0.001418,-0.020755,0.004722,-0.003676,-0.002921,-0.018744,-0.001202,0.007357
854,-0.006277,-0.001194,0.006712,-0.004463,0.001896,0.017416,-0.005875,-0.003604,0.014290,0.019093,...,-0.009357,0.003976,0.014928,0.025536,0.002491,0.004676,-0.004521,0.012718,-0.002945,0.000000
855,-0.002101,0.002982,0.001337,-0.008986,0.011302,0.005271,-0.003542,0.009644,-0.019309,0.005030,...,0.003379,-0.005970,-0.007295,-0.010274,-0.003738,-0.000667,0.030393,0.003839,0.000670,-0.015738
856,-0.001203,-0.002385,-0.014807,-0.002259,0.004672,0.003499,0.008245,0.010297,-0.005360,0.022124,...,-0.001750,0.009931,-0.008768,-0.014214,0.006912,-0.001001,-0.006196,-0.004388,0.003210,-0.002269
857,0.002104,0.002584,0.003867,-0.007948,-0.008425,0.000000,-0.004703,0.009085,0.002526,-0.004304,...,0.004869,0.008364,-0.030869,0.007999,0.001101,-0.002674,-0.003592,0.015276,-0.003478,-0.001624
858,0.005389,0.003566,0.006156,0.005400,-0.007786,-0.003850,0.001178,-0.021831,-0.020068,-0.020333,...,-0.003868,-0.002207,-0.010308,0.021926,-0.002204,0.006006,-0.005895,0.006476,0.005346,0.001948
859,-0.003590,-0.005553,0.013525,-0.003692,0.002129,-0.004216,-0.002947,-0.004727,-0.020479,0.021564,...,0.005610,0.006119,0.004431,0.001693,0.002067,-0.004000,0.013306,-0.022302,-0.002670,-0.005203

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
840,33.36,33.28,33.49,33.87,34.01,34.09,34.25,0.005736,0.004539,0.004121,-0.002092,-0.024532,-0.01985,33.42

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
854,-0.006277,-0.001194,0.006712,-0.004463,0.001896,0.017416,-0.005875,-0.003604,0.014290,0.019093,...,-0.009357,0.003976,0.014928,0.025536,0.002491,0.004676,-0.004521,0.012718,-0.002945,0.000000
855,-0.002101,0.002982,0.001337,-0.008986,0.011302,0.005271,-0.003542,0.009644,-0.019309,0.005030,...,0.003379,-0.005970,-0.007295,-0.010274,-0.003738,-0.000667,0.030393,0.003839,0.000670,-0.015738
856,-0.001203,-0.002385,-0.014807,-0.002259,0.004672,0.003499,0.008245,0.010297,-0.005360,0.022124,...,-0.001750,0.009931,-0.008768,-0.014214,0.006912,-0.001001,-0.006196,-0.004388,0.003210,-0.002269
857,0.002104,0.002584,0.003867,-0.007948,-0.008425,0.000000,-0.004703,0.009085,0.002526,-0.004304,...,0.004869,0.008364,-0.030869,0.007999,0.001101,-0.002674,-0.003592,0.015276,-0.003478,-0.001624
858,0.005389,0.003566,0.006156,0.005400,-0.007786,-0.003850,0.001178,-0.021831,-0.020068,-0.020333,...,-0.003868,-0.002207,-0.010308,0.021926,-0.002204,0.006006,-0.005895,0.006476,0.005346,0.001948
859,-0.003590,-0.005553,0.013525,-0.003692,0.002129,-0.004216,-0.002947,-0.004727,-0.020479,0.021564,...,0.005610,0.006119,0.004431,0.001693,0.002067,-0.004000,0.013306,-0.022302,-0.002670,-0.005203
860,0.002992,0.006542,-0.017561,0.000000,0.003068,-0.005296,0.012903,-0.007419,-0.009569,0.000000,...,-0.000373,-0.002443,-0.010667,-0.015340,0.003983,-0.009396,-0.000596,0.011485,0.003868,-0.000979

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
841,33.42,33.36,33.28,33.49,33.87,34.01,34.09,0.005829,0.004291,0.004051,0.0033,-0.020748,-0.021334,33.39

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
855,-0.002101,0.002982,0.001337,-0.008986,0.011302,0.005271,-0.003542,0.009644,-0.019309,0.005030,...,0.003379,-0.005970,-0.007295,-0.010274,-0.003738,-0.000667,0.030393,0.003839,0.000670,-0.015738
856,-0.001203,-0.002385,-0.014807,-0.002259,0.004672,0.003499,0.008245,0.010297,-0.005360,0.022124,...,-0.001750,0.009931,-0.008768,-0.014214,0.006912,-0.001001,-0.006196,-0.004388,0.003210,-0.002269
857,0.002104,0.002584,0.003867,-0.007948,-0.008425,0.000000,-0.004703,0.009085,0.002526,-0.004304,...,0.004869,0.008364,-0.030869,0.007999,0.001101,-0.002674,-0.003592,0.015276,-0.003478,-0.001624
858,0.005389,0.003566,0.006156,0.005400,-0.007786,-0.003850,0.001178,-0.021831,-0.020068,-0.020333,...,-0.003868,-0.002207,-0.010308,0.021926,-0.002204,0.006006,-0.005895,0.006476,0.005346,0.001948
859,-0.003590,-0.005553,0.013525,-0.003692,0.002129,-0.004216,-0.002947,-0.004727,-0.020479,0.021564,...,0.005610,0.006119,0.004431,0.001693,0.002067,-0.004000,0.013306,-0.022302,-0.002670,-0.005203
860,0.002992,0.006542,-0.017561,0.000000,0.003068,-0.005296,0.012903,-0.007419,-0.009569,0.000000,...,-0.000373,-0.002443,-0.010667,-0.015340,0.003983,-0.009396,-0.000596,0.011485,0.003868,-0.000979
861,0.002685,-0.003563,-0.003472,0.006522,0.001413,-0.001063,-0.008192,0.010636,-0.030295,-0.014463,...,-0.007866,0.006340,0.015665,-0.010012,0.011855,-0.000337,-0.003700,0.001087,0.007164,0.000979

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
842,33.39,33.42,33.36,33.28,33.49,33.87,34.01,0.004403,0.004488,0.004235,-0.006013,-0.02531,-0.024722,33.16

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
856,-0.001203,-0.002385,-0.014807,-0.002259,0.004672,0.003499,0.008245,0.010297,-0.005360,0.022124,...,-0.001750,0.009931,-0.008768,-0.014214,0.006912,-0.001001,-0.006196,-0.004388,0.003210,-0.002269
857,0.002104,0.002584,0.003867,-0.007948,-0.008425,0.000000,-0.004703,0.009085,0.002526,-0.004304,...,0.004869,0.008364,-0.030869,0.007999,0.001101,-0.002674,-0.003592,0.015276,-0.003478,-0.001624
858,0.005389,0.003566,0.006156,0.005400,-0.007786,-0.003850,0.001178,-0.021831,-0.020068,-0.020333,...,-0.003868,-0.002207,-0.010308,0.021926,-0.002204,0.006006,-0.005895,0.006476,0.005346,0.001948
859,-0.003590,-0.005553,0.013525,-0.003692,0.002129,-0.004216,-0.002947,-0.004727,-0.020479,0.021564,...,0.005610,0.006119,0.004431,0.001693,0.002067,-0.004000,0.013306,-0.022302,-0.002670,-0.005203
860,0.002992,0.006542,-0.017561,0.000000,0.003068,-0.005296,0.012903,-0.007419,-0.009569,0.000000,...,-0.000373,-0.002443,-0.010667,-0.015340,0.003983,-0.009396,-0.000596,0.011485,0.003868,-0.000979
861,0.002685,-0.003563,-0.003472,0.006522,0.001413,-0.001063,-0.008192,0.010636,-0.030295,-0.014463,...,-0.007866,0.006340,0.015665,-0.010012,0.011855,-0.000337,-0.003700,0.001087,0.007164,0.000979
862,0.006238,0.006916,0.011145,0.033355,0.001176,0.002124,0.028954,0.006966,0.006133,-0.004589,...,-0.004900,-0.033868,0.004389,-0.015737,0.000271,-0.002364,-0.022984,0.014559,0.006588,-0.008185

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
843,33.16,33.39,33.42,33.36,33.28,33.49,33.87,0.00408,0.004618,0.004206,-0.004799,-0.018174,-0.01906,33.26

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
857,0.002104,0.002584,0.003867,-0.007948,-0.008425,0.000000,-0.004703,0.009085,0.002526,-0.004304,...,0.004869,0.008364,-0.030869,0.007999,0.001101,-0.002674,-0.003592,0.015276,-0.003478,-0.001624
858,0.005389,0.003566,0.006156,0.005400,-0.007786,-0.003850,0.001178,-0.021831,-0.020068,-0.020333,...,-0.003868,-0.002207,-0.010308,0.021926,-0.002204,0.006006,-0.005895,0.006476,0.005346,0.001948
859,-0.003590,-0.005553,0.013525,-0.003692,0.002129,-0.004216,-0.002947,-0.004727,-0.020479,0.021564,...,0.005610,0.006119,0.004431,0.001693,0.002067,-0.004000,0.013306,-0.022302,-0.002670,-0.005203
860,0.002992,0.006542,-0.017561,0.000000,0.003068,-0.005296,0.012903,-0.007419,-0.009569,0.000000,...,-0.000373,-0.002443,-0.010667,-0.015340,0.003983,-0.009396,-0.000596,0.011485,0.003868,-0.000979
861,0.002685,-0.003563,-0.003472,0.006522,0.001413,-0.001063,-0.008192,0.010636,-0.030295,-0.014463,...,-0.007866,0.006340,0.015665,-0.010012,0.011855,-0.000337,-0.003700,0.001087,0.007164,0.000979
862,0.006238,0.006916,0.011145,0.033355,0.001176,0.002124,0.028954,0.006966,0.006133,-0.004589,...,-0.004900,-0.033868,0.004389,-0.015737,0.000271,-0.002364,-0.022984,0.014559,0.006588,-0.008185
863,-0.000889,0.005107,0.012722,0.011146,-0.005184,0.005642,0.005692,0.005053,0.004744,-0.000418,...,-0.014591,-0.008332,0.011611,0.001057,-0.000271,0.002026,-0.000612,-0.000535,0.011230,0.000986

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
844,33.26,33.16,33.39,33.42,33.36,33.28,33.49,0.004131,0.004601,0.004257,-0.008119,-0.01111,-0.030625,33.12

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
858,0.005389,0.003566,0.006156,0.005400,-0.007786,-0.003850,0.001178,-0.021831,-0.020068,-0.020333,...,-0.003868,-0.002207,-0.010308,0.021926,-0.002204,0.006006,-0.005895,0.006476,0.005346,0.001948
859,-0.003590,-0.005553,0.013525,-0.003692,0.002129,-0.004216,-0.002947,-0.004727,-0.020479,0.021564,...,0.005610,0.006119,0.004431,0.001693,0.002067,-0.004000,0.013306,-0.022302,-0.002670,-0.005203
860,0.002992,0.006542,-0.017561,0.000000,0.003068,-0.005296,0.012903,-0.007419,-0.009569,0.000000,...,-0.000373,-0.002443,-0.010667,-0.015340,0.003983,-0.009396,-0.000596,0.011485,0.003868,-0.000979
861,0.002685,-0.003563,-0.003472,0.006522,0.001413,-0.001063,-0.008192,0.010636,-0.030295,-0.014463,...,-0.007866,0.006340,0.015665,-0.010012,0.011855,-0.000337,-0.003700,0.001087,0.007164,0.000979
862,0.006238,0.006916,0.011145,0.033355,0.001176,0.002124,0.028954,0.006966,0.006133,-0.004589,...,-0.004900,-0.033868,0.004389,-0.015737,0.000271,-0.002364,-0.022984,0.014559,0.006588,-0.008185
863,-0.000889,0.005107,0.012722,0.011146,-0.005184,0.005642,0.005692,0.005053,0.004744,-0.000418,...,-0.014591,-0.008332,0.011611,0.001057,-0.000271,0.002026,-0.000612,-0.000535,0.011230,0.000986
864,0.000889,0.008195,0.015167,0.012626,0.009405,0.009101,0.003399,0.003726,-0.004065,0.011025,...,-0.001151,-0.004574,0.002882,-0.012757,0.006481,-0.004396,-0.003434,-0.000536,0.005439,0.003606

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
845,33.12,33.26,33.16,33.39,33.42,33.36,33.28,0.003972,0.004756,0.004239,-0.000302,-0.003914,-0.03206,33.15

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
859,-0.003590,-0.005553,0.013525,-0.003692,0.002129,-0.004216,-0.002947,-0.004727,-0.020479,0.021564,...,0.005610,0.006119,0.004431,0.001693,0.002067,-0.004000,0.013306,-0.022302,-0.002670,-0.005203
860,0.002992,0.006542,-0.017561,0.000000,0.003068,-0.005296,0.012903,-0.007419,-0.009569,0.000000,...,-0.000373,-0.002443,-0.010667,-0.015340,0.003983,-0.009396,-0.000596,0.011485,0.003868,-0.000979
861,0.002685,-0.003563,-0.003472,0.006522,0.001413,-0.001063,-0.008192,0.010636,-0.030295,-0.014463,...,-0.007866,0.006340,0.015665,-0.010012,0.011855,-0.000337,-0.003700,0.001087,0.007164,0.000979
862,0.006238,0.006916,0.011145,0.033355,0.001176,0.002124,0.028954,0.006966,0.006133,-0.004589,...,-0.004900,-0.033868,0.004389,-0.015737,0.000271,-0.002364,-0.022984,0.014559,0.006588,-0.008185
863,-0.000889,0.005107,0.012722,0.011146,-0.005184,0.005642,0.005692,0.005053,0.004744,-0.000418,...,-0.014591,-0.008332,0.011611,0.001057,-0.000271,0.002026,-0.000612,-0.000535,0.011230,0.000986
864,0.000889,0.008195,0.015167,0.012626,0.009405,0.009101,0.003399,0.003726,-0.004065,0.011025,...,-0.001151,-0.004574,0.002882,-0.012757,0.006481,-0.004396,-0.003434,-0.000536,0.005439,0.003606
865,-0.000592,-0.001167,0.002969,0.012469,0.008622,-0.012270,0.000000,-0.008404,0.009123,0.002892,...,-0.008094,0.003813,0.007168,-0.003931,0.005771,-0.002715,-0.027024,0.005878,-0.002327,0.006848

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
846,33.15,33.12,33.26,33.16,33.39,33.42,33.36,0.005677,0.00544,0.004734,-0.014232,-0.017234,-0.041517,32.79

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
860,0.002992,0.006542,-0.017561,0.000000,0.003068,-0.005296,0.012903,-0.007419,-0.009569,0.000000,...,-0.000373,-0.002443,-0.010667,-0.015340,0.003983,-0.009396,-0.000596,0.011485,0.003868,-0.000979
861,0.002685,-0.003563,-0.003472,0.006522,0.001413,-0.001063,-0.008192,0.010636,-0.030295,-0.014463,...,-0.007866,0.006340,0.015665,-0.010012,0.011855,-0.000337,-0.003700,0.001087,0.007164,0.000979
862,0.006238,0.006916,0.011145,0.033355,0.001176,0.002124,0.028954,0.006966,0.006133,-0.004589,...,-0.004900,-0.033868,0.004389,-0.015737,0.000271,-0.002364,-0.022984,0.014559,0.006588,-0.008185
863,-0.000889,0.005107,0.012722,0.011146,-0.005184,0.005642,0.005692,0.005053,0.004744,-0.000418,...,-0.014591,-0.008332,0.011611,0.001057,-0.000271,0.002026,-0.000612,-0.000535,0.011230,0.000986
864,0.000889,0.008195,0.015167,0.012626,0.009405,0.009101,0.003399,0.003726,-0.004065,0.011025,...,-0.001151,-0.004574,0.002882,-0.012757,0.006481,-0.004396,-0.003434,-0.000536,0.005439,0.003606
865,-0.000592,-0.001167,0.002969,0.012469,0.008622,-0.012270,0.000000,-0.008404,0.009123,0.002892,...,-0.008094,0.003813,0.007168,-0.003931,0.005771,-0.002715,-0.027024,0.005878,-0.002327,0.006848
866,0.003549,0.004852,-0.002783,0.011273,-0.006518,0.001410,-0.011377,-0.022571,-0.005058,-0.008701,...,0.003991,-0.002795,-0.013520,-0.016243,-0.008466,-0.004427,-0.000505,-0.009636,0.008636,0.007447

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
847,32.79,33.15,33.12,33.26,33.16,33.39,33.42,0.005624,0.004762,0.004744,-0.009099,-0.018116,-0.042648,32.82

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
861,0.002685,-0.003563,-0.003472,0.006522,0.001413,-0.001063,-0.008192,0.010636,-0.030295,-0.014463,...,-0.007866,0.006340,0.015665,-0.010012,0.011855,-0.000337,-0.003700,0.001087,0.007164,0.000979
862,0.006238,0.006916,0.011145,0.033355,0.001176,0.002124,0.028954,0.006966,0.006133,-0.004589,...,-0.004900,-0.033868,0.004389,-0.015737,0.000271,-0.002364,-0.022984,0.014559,0.006588,-0.008185
863,-0.000889,0.005107,0.012722,0.011146,-0.005184,0.005642,0.005692,0.005053,0.004744,-0.000418,...,-0.014591,-0.008332,0.011611,0.001057,-0.000271,0.002026,-0.000612,-0.000535,0.011230,0.000986
864,0.000889,0.008195,0.015167,0.012626,0.009405,0.009101,0.003399,0.003726,-0.004065,0.011025,...,-0.001151,-0.004574,0.002882,-0.012757,0.006481,-0.004396,-0.003434,-0.000536,0.005439,0.003606
865,-0.000592,-0.001167,0.002969,0.012469,0.008622,-0.012270,0.000000,-0.008404,0.009123,0.002892,...,-0.008094,0.003813,0.007168,-0.003931,0.005771,-0.002715,-0.027024,0.005878,-0.002327,0.006848
866,0.003549,0.004852,-0.002783,0.011273,-0.006518,0.001410,-0.011377,-0.022571,-0.005058,-0.008701,...,0.003991,-0.002795,-0.013520,-0.016243,-0.008466,-0.004427,-0.000505,-0.009636,0.008636,0.007447
867,-0.002365,-0.000387,0.006113,0.009599,0.000234,-0.003529,0.007977,-0.002305,-0.017392,-0.011300,...,0.001412,-0.005102,-0.012824,-0.009139,0.002830,-0.006506,0.003782,-0.001615,-0.004502,-0.007772

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
848,32.82,32.79,33.15,33.12,33.26,33.16,33.39,0.00625,0.005034,0.005004,-0.004535,-0.011749,-0.032497,33.0

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
862,0.006238,0.006916,0.011145,0.033355,0.001176,0.002124,0.028954,0.006966,0.006133,-0.004589,...,-0.004900,-0.033868,0.004389,-0.015737,0.000271,-0.002364,-0.022984,0.014559,0.006588,-0.008185
863,-0.000889,0.005107,0.012722,0.011146,-0.005184,0.005642,0.005692,0.005053,0.004744,-0.000418,...,-0.014591,-0.008332,0.011611,0.001057,-0.000271,0.002026,-0.000612,-0.000535,0.011230,0.000986
864,0.000889,0.008195,0.015167,0.012626,0.009405,0.009101,0.003399,0.003726,-0.004065,0.011025,...,-0.001151,-0.004574,0.002882,-0.012757,0.006481,-0.004396,-0.003434,-0.000536,0.005439,0.003606
865,-0.000592,-0.001167,0.002969,0.012469,0.008622,-0.012270,0.000000,-0.008404,0.009123,0.002892,...,-0.008094,0.003813,0.007168,-0.003931,0.005771,-0.002715,-0.027024,0.005878,-0.002327,0.006848
866,0.003549,0.004852,-0.002783,0.011273,-0.006518,0.001410,-0.011377,-0.022571,-0.005058,-0.008701,...,0.003991,-0.002795,-0.013520,-0.016243,-0.008466,-0.004427,-0.000505,-0.009636,0.008636,0.007447
867,-0.002365,-0.000387,0.006113,0.009599,0.000234,-0.003529,0.007977,-0.002305,-0.017392,-0.011300,...,0.001412,-0.005102,-0.012824,-0.009139,0.002830,-0.006506,0.003782,-0.001615,-0.004502,-0.007772
868,0.001479,-0.001551,-0.017512,0.000000,-0.002338,-0.002832,0.002834,-0.033829,0.005489,0.005875,...,-0.000257,-0.000512,-0.000293,0.000367,0.004967,-0.005512,0.002011,-0.002157,-0.000129,-0.009473

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
849,33.0,32.82,32.79,33.15,33.12,33.26,33.16,0.006364,0.005061,0.005066,0.001219,-0.010002,-0.035312,32.83

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
863,-0.000889,0.005107,0.012722,0.011146,-0.005184,0.005642,0.005692,0.005053,0.004744,-0.000418,...,-0.014591,-0.008332,0.011611,0.001057,-0.000271,0.002026,-0.000612,-0.000535,0.011230,0.000986
864,0.000889,0.008195,0.015167,0.012626,0.009405,0.009101,0.003399,0.003726,-0.004065,0.011025,...,-0.001151,-0.004574,0.002882,-0.012757,0.006481,-0.004396,-0.003434,-0.000536,0.005439,0.003606
865,-0.000592,-0.001167,0.002969,0.012469,0.008622,-0.012270,0.000000,-0.008404,0.009123,0.002892,...,-0.008094,0.003813,0.007168,-0.003931,0.005771,-0.002715,-0.027024,0.005878,-0.002327,0.006848
866,0.003549,0.004852,-0.002783,0.011273,-0.006518,0.001410,-0.011377,-0.022571,-0.005058,-0.008701,...,0.003991,-0.002795,-0.013520,-0.016243,-0.008466,-0.004427,-0.000505,-0.009636,0.008636,0.007447
867,-0.002365,-0.000387,0.006113,0.009599,0.000234,-0.003529,0.007977,-0.002305,-0.017392,-0.011300,...,0.001412,-0.005102,-0.012824,-0.009139,0.002830,-0.006506,0.003782,-0.001615,-0.004502,-0.007772
868,0.001479,-0.001551,-0.017512,0.000000,-0.002338,-0.002832,0.002834,-0.033829,0.005489,0.005875,...,-0.000257,-0.000512,-0.000293,0.000367,0.004967,-0.005512,0.002011,-0.002157,-0.000129,-0.009473
869,0.000886,0.000194,-0.008114,-0.002585,-0.004221,-0.000709,-0.012529,0.003970,0.006139,-0.001466,...,0.008435,-0.016252,-0.013292,-0.012932,-0.011989,0.000000,-0.004531,-0.004871,-0.003358,-0.006255

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
850,32.83,33.0,32.82,32.79,33.15,33.12,33.26,0.007261,0.005538,0.004954,0.006378,-0.006939,-0.025113,33.03

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
864,0.000889,0.008195,0.015167,0.012626,0.009405,0.009101,0.003399,0.003726,-0.004065,0.011025,...,-0.001151,-0.004574,0.002882,-0.012757,0.006481,-0.004396,-0.003434,-0.000536,0.005439,0.003606
865,-0.000592,-0.001167,0.002969,0.012469,0.008622,-0.012270,0.000000,-0.008404,0.009123,0.002892,...,-0.008094,0.003813,0.007168,-0.003931,0.005771,-0.002715,-0.027024,0.005878,-0.002327,0.006848
866,0.003549,0.004852,-0.002783,0.011273,-0.006518,0.001410,-0.011377,-0.022571,-0.005058,-0.008701,...,0.003991,-0.002795,-0.013520,-0.016243,-0.008466,-0.004427,-0.000505,-0.009636,0.008636,0.007447
867,-0.002365,-0.000387,0.006113,0.009599,0.000234,-0.003529,0.007977,-0.002305,-0.017392,-0.011300,...,0.001412,-0.005102,-0.012824,-0.009139,0.002830,-0.006506,0.003782,-0.001615,-0.004502,-0.007772
868,0.001479,-0.001551,-0.017512,0.000000,-0.002338,-0.002832,0.002834,-0.033829,0.005489,0.005875,...,-0.000257,-0.000512,-0.000293,0.000367,0.004967,-0.005512,0.002011,-0.002157,-0.000129,-0.009473
869,0.000886,0.000194,-0.008114,-0.002585,-0.004221,-0.000709,-0.012529,0.003970,0.006139,-0.001466,...,0.008435,-0.016252,-0.013292,-0.012932,-0.011989,0.000000,-0.004531,-0.004871,-0.003358,-0.006255
870,0.004419,-0.002136,-0.008754,0.003102,0.003519,0.001418,-0.019677,-0.005961,-0.033538,-0.020960,...,-0.000636,0.002078,0.006816,-0.010467,-0.002986,0.004480,0.002016,0.000000,-0.000647,-0.003971

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
851,33.03,32.83,33.0,32.82,32.79,33.15,33.12,0.005256,0.00562,0.004892,-0.003339,-0.006969,-0.018078,32.89

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
865,-0.000592,-0.001167,0.002969,0.012469,0.008622,-0.012270,0.000000,-0.008404,0.009123,0.002892,...,-0.008094,0.003813,0.007168,-0.003931,0.005771,-0.002715,-0.027024,0.005878,-0.002327,0.006848
866,0.003549,0.004852,-0.002783,0.011273,-0.006518,0.001410,-0.011377,-0.022571,-0.005058,-0.008701,...,0.003991,-0.002795,-0.013520,-0.016243,-0.008466,-0.004427,-0.000505,-0.009636,0.008636,0.007447
867,-0.002365,-0.000387,0.006113,0.009599,0.000234,-0.003529,0.007977,-0.002305,-0.017392,-0.011300,...,0.001412,-0.005102,-0.012824,-0.009139,0.002830,-0.006506,0.003782,-0.001615,-0.004502,-0.007772
868,0.001479,-0.001551,-0.017512,0.000000,-0.002338,-0.002832,0.002834,-0.033829,0.005489,0.005875,...,-0.000257,-0.000512,-0.000293,0.000367,0.004967,-0.005512,0.002011,-0.002157,-0.000129,-0.009473
869,0.000886,0.000194,-0.008114,-0.002585,-0.004221,-0.000709,-0.012529,0.003970,0.006139,-0.001466,...,0.008435,-0.016252,-0.013292,-0.012932,-0.011989,0.000000,-0.004531,-0.004871,-0.003358,-0.006255
870,0.004419,-0.002136,-0.008754,0.003102,0.003519,0.001418,-0.019677,-0.005961,-0.033538,-0.020960,...,-0.000636,0.002078,0.006816,-0.010467,-0.002986,0.004480,0.002016,0.000000,-0.000647,-0.003971
871,-0.002060,0.007937,0.009511,-0.001291,-0.008939,-0.009968,0.004665,0.005168,0.006659,0.008522,...,0.002671,0.001038,0.009991,0.001877,0.005693,-0.003100,-0.004163,-0.015309,-0.002203,-0.016717

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
852,32.89,33.03,32.83,33.0,32.82,32.79,33.15,0.00575,0.005695,0.005191,0.007586,-0.002114,-0.006028,33.08

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
866,0.003549,0.004852,-0.002783,0.011273,-0.006518,0.001410,-0.011377,-0.022571,-0.005058,-0.008701,...,0.003991,-0.002795,-0.013520,-0.016243,-0.008466,-0.004427,-0.000505,-0.009636,0.008636,0.007447
867,-0.002365,-0.000387,0.006113,0.009599,0.000234,-0.003529,0.007977,-0.002305,-0.017392,-0.011300,...,0.001412,-0.005102,-0.012824,-0.009139,0.002830,-0.006506,0.003782,-0.001615,-0.004502,-0.007772
868,0.001479,-0.001551,-0.017512,0.000000,-0.002338,-0.002832,0.002834,-0.033829,0.005489,0.005875,...,-0.000257,-0.000512,-0.000293,0.000367,0.004967,-0.005512,0.002011,-0.002157,-0.000129,-0.009473
869,0.000886,0.000194,-0.008114,-0.002585,-0.004221,-0.000709,-0.012529,0.003970,0.006139,-0.001466,...,0.008435,-0.016252,-0.013292,-0.012932,-0.011989,0.000000,-0.004531,-0.004871,-0.003358,-0.006255
870,0.004419,-0.002136,-0.008754,0.003102,0.003519,0.001418,-0.019677,-0.005961,-0.033538,-0.020960,...,-0.000636,0.002078,0.006816,-0.010467,-0.002986,0.004480,0.002016,0.000000,-0.000647,-0.003971
871,-0.002060,0.007937,0.009511,-0.001291,-0.008939,-0.009968,0.004665,0.005168,0.006659,0.008522,...,0.002671,0.001038,0.009991,0.001877,0.005693,-0.003100,-0.004163,-0.015309,-0.002203,-0.016717
872,0.004995,-0.007160,0.022650,-0.003106,-0.000709,-0.007902,-0.002330,-0.011967,-0.008770,0.004022,...,0.005194,0.006203,0.000292,-0.000750,-0.002842,0.004818,-0.004815,-0.004971,0.005821,-0.010848

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
853,33.08,32.89,33.03,32.83,33.0,32.82,32.79,0.005694,0.005866,0.005349,0.006639,0.013931,-0.003303,33.25

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
867,-0.002365,-0.000387,0.006113,0.009599,0.000234,-0.003529,0.007977,-0.002305,-0.017392,-0.011300,...,0.001412,-0.005102,-0.012824,-0.009139,0.002830,-0.006506,0.003782,-0.001615,-0.004502,-0.007772
868,0.001479,-0.001551,-0.017512,0.000000,-0.002338,-0.002832,0.002834,-0.033829,0.005489,0.005875,...,-0.000257,-0.000512,-0.000293,0.000367,0.004967,-0.005512,0.002011,-0.002157,-0.000129,-0.009473
869,0.000886,0.000194,-0.008114,-0.002585,-0.004221,-0.000709,-0.012529,0.003970,0.006139,-0.001466,...,0.008435,-0.016252,-0.013292,-0.012932,-0.011989,0.000000,-0.004531,-0.004871,-0.003358,-0.006255
870,0.004419,-0.002136,-0.008754,0.003102,0.003519,0.001418,-0.019677,-0.005961,-0.033538,-0.020960,...,-0.000636,0.002078,0.006816,-0.010467,-0.002986,0.004480,0.002016,0.000000,-0.000647,-0.003971
871,-0.002060,0.007937,0.009511,-0.001291,-0.008939,-0.009968,0.004665,0.005168,0.006659,0.008522,...,0.002671,0.001038,0.009991,0.001877,0.005693,-0.003100,-0.004163,-0.015309,-0.002203,-0.016717
872,0.004995,-0.007160,0.022650,-0.003106,-0.000709,-0.007902,-0.002330,-0.011967,-0.008770,0.004022,...,0.005194,0.006203,0.000292,-0.000750,-0.002842,0.004818,-0.004815,-0.004971,0.005821,-0.010848
873,0.002049,-0.004087,-0.011354,0.000259,-0.008072,-0.002166,0.018487,0.000000,0.008072,-0.007210,...,0.005041,-0.012184,-0.002634,0.015643,0.007427,-0.002062,-0.007522,-0.013939,-0.007119,0.005438

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
854,33.25,33.08,32.89,33.03,32.83,33.0,32.82,0.005093,0.006329,0.005802,0.020166,0.022297,0.00418,33.56

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
868,0.001479,-0.001551,-0.017512,0.000000,-0.002338,-0.002832,0.002834,-0.033829,0.005489,0.005875,...,-0.000257,-0.000512,-0.000293,0.000367,0.004967,-0.005512,0.002011,-0.002157,-0.000129,-0.009473
869,0.000886,0.000194,-0.008114,-0.002585,-0.004221,-0.000709,-0.012529,0.003970,0.006139,-0.001466,...,0.008435,-0.016252,-0.013292,-0.012932,-0.011989,0.000000,-0.004531,-0.004871,-0.003358,-0.006255
870,0.004419,-0.002136,-0.008754,0.003102,0.003519,0.001418,-0.019677,-0.005961,-0.033538,-0.020960,...,-0.000636,0.002078,0.006816,-0.010467,-0.002986,0.004480,0.002016,0.000000,-0.000647,-0.003971
871,-0.002060,0.007937,0.009511,-0.001291,-0.008939,-0.009968,0.004665,0.005168,0.006659,0.008522,...,0.002671,0.001038,0.009991,0.001877,0.005693,-0.003100,-0.004163,-0.015309,-0.002203,-0.016717
872,0.004995,-0.007160,0.022650,-0.003106,-0.000709,-0.007902,-0.002330,-0.011967,-0.008770,0.004022,...,0.005194,0.006203,0.000292,-0.000750,-0.002842,0.004818,-0.004815,-0.004971,0.005821,-0.010848
873,0.002049,-0.004087,-0.011354,0.000259,-0.008072,-0.002166,0.018487,0.000000,0.008072,-0.007210,...,0.005041,-0.012184,-0.002634,0.015643,0.007427,-0.002062,-0.007522,-0.013939,-0.007119,0.005438
874,0.006414,-0.003125,0.014311,0.001812,-0.011991,0.007561,0.014773,-0.025194,0.018012,0.006153,...,-0.006052,-0.012070,-0.006764,0.000369,-0.009734,0.005147,-0.018731,-0.009024,-0.006909,-0.013309

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
855,33.56,33.25,33.08,32.89,33.03,32.83,33.0,0.00679,0.006774,0.005923,0.008129,0.01055,-0.001199,33.35

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
869,0.000886,0.000194,-0.008114,-0.002585,-0.004221,-0.000709,-0.012529,0.003970,0.006139,-0.001466,...,0.008435,-0.016252,-0.013292,-0.012932,-0.011989,0.000000,-0.004531,-0.004871,-0.003358,-0.006255
870,0.004419,-0.002136,-0.008754,0.003102,0.003519,0.001418,-0.019677,-0.005961,-0.033538,-0.020960,...,-0.000636,0.002078,0.006816,-0.010467,-0.002986,0.004480,0.002016,0.000000,-0.000647,-0.003971
871,-0.002060,0.007937,0.009511,-0.001291,-0.008939,-0.009968,0.004665,0.005168,0.006659,0.008522,...,0.002671,0.001038,0.009991,0.001877,0.005693,-0.003100,-0.004163,-0.015309,-0.002203,-0.016717
872,0.004995,-0.007160,0.022650,-0.003106,-0.000709,-0.007902,-0.002330,-0.011967,-0.008770,0.004022,...,0.005194,0.006203,0.000292,-0.000750,-0.002842,0.004818,-0.004815,-0.004971,0.005821,-0.010848
873,0.002049,-0.004087,-0.011354,0.000259,-0.008072,-0.002166,0.018487,0.000000,0.008072,-0.007210,...,0.005041,-0.012184,-0.002634,0.015643,0.007427,-0.002062,-0.007522,-0.013939,-0.007119,0.005438
874,0.006414,-0.003125,0.014311,0.001812,-0.011991,0.007561,0.014773,-0.025194,0.018012,0.006153,...,-0.006052,-0.012070,-0.006764,0.000369,-0.009734,0.005147,-0.018731,-0.009024,-0.006909,-0.013309
875,-0.000581,-0.001566,0.003500,-0.005967,-0.002174,-0.006838,-0.015346,0.002671,0.000686,0.003589,...,-0.001012,-0.001321,0.022466,-0.014512,-0.000136,0.002734,-0.005754,-0.015991,-0.007484,0.010253

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
856,33.35,33.56,33.25,33.08,32.89,33.03,32.83,0.006356,0.005575,0.005883,0.000902,0.013614,0.003612,33.28

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
870,0.004419,-0.002136,-0.008754,0.003102,0.003519,0.001418,-0.019677,-0.005961,-0.033538,-0.020960,...,-0.000636,0.002078,0.006816,-0.010467,-0.002986,0.004480,0.002016,0.000000,-0.000647,-0.003971
871,-0.002060,0.007937,0.009511,-0.001291,-0.008939,-0.009968,0.004665,0.005168,0.006659,0.008522,...,0.002671,0.001038,0.009991,0.001877,0.005693,-0.003100,-0.004163,-0.015309,-0.002203,-0.016717
872,0.004995,-0.007160,0.022650,-0.003106,-0.000709,-0.007902,-0.002330,-0.011967,-0.008770,0.004022,...,0.005194,0.006203,0.000292,-0.000750,-0.002842,0.004818,-0.004815,-0.004971,0.005821,-0.010848
873,0.002049,-0.004087,-0.011354,0.000259,-0.008072,-0.002166,0.018487,0.000000,0.008072,-0.007210,...,0.005041,-0.012184,-0.002634,0.015643,0.007427,-0.002062,-0.007522,-0.013939,-0.007119,0.005438
874,0.006414,-0.003125,0.014311,0.001812,-0.011991,0.007561,0.014773,-0.025194,0.018012,0.006153,...,-0.006052,-0.012070,-0.006764,0.000369,-0.009734,0.005147,-0.018731,-0.009024,-0.006909,-0.013309
875,-0.000581,-0.001566,0.003500,-0.005967,-0.002174,-0.006838,-0.015346,0.002671,0.000686,0.003589,...,-0.001012,-0.001321,0.022466,-0.014512,-0.000136,0.002734,-0.005754,-0.015991,-0.007484,0.010253
876,0.006666,-0.010438,0.018583,0.008808,0.005546,0.009346,0.005141,-0.004937,-0.004814,-0.022593,...,0.006058,-0.001587,0.011475,0.013033,0.001629,0.000341,-0.001050,0.001151,-0.003961,0.003733

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
857,33.28,33.35,33.56,33.25,33.08,32.89,33.03,0.006185,0.005639,0.005353,-0.009581,0.006338,-0.000602,33.24

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
871,-0.002060,0.007937,0.009511,-0.001291,-0.008939,-0.009968,0.004665,0.005168,0.006659,0.008522,...,0.002671,0.001038,0.009991,0.001877,0.005693,-0.003100,-0.004163,-0.015309,-0.002203,-0.016717
872,0.004995,-0.007160,0.022650,-0.003106,-0.000709,-0.007902,-0.002330,-0.011967,-0.008770,0.004022,...,0.005194,0.006203,0.000292,-0.000750,-0.002842,0.004818,-0.004815,-0.004971,0.005821,-0.010848
873,0.002049,-0.004087,-0.011354,0.000259,-0.008072,-0.002166,0.018487,0.000000,0.008072,-0.007210,...,0.005041,-0.012184,-0.002634,0.015643,0.007427,-0.002062,-0.007522,-0.013939,-0.007119,0.005438
874,0.006414,-0.003125,0.014311,0.001812,-0.011991,0.007561,0.014773,-0.025194,0.018012,0.006153,...,-0.006052,-0.012070,-0.006764,0.000369,-0.009734,0.005147,-0.018731,-0.009024,-0.006909,-0.013309
875,-0.000581,-0.001566,0.003500,-0.005967,-0.002174,-0.006838,-0.015346,0.002671,0.000686,0.003589,...,-0.001012,-0.001321,0.022466,-0.014512,-0.000136,0.002734,-0.005754,-0.015991,-0.007484,0.010253
876,0.006666,-0.010438,0.018583,0.008808,0.005546,0.009346,0.005141,-0.004937,-0.004814,-0.022593,...,0.006058,-0.001587,0.011475,0.013033,0.001629,0.000341,-0.001050,0.001151,-0.003961,0.003733
877,0.003460,-0.000198,0.001443,0.004632,0.003121,0.000358,0.013583,-0.001858,-0.016684,0.008586,...,0.003266,0.009486,-0.016681,-0.022448,-0.007489,-0.001707,0.000787,0.001724,0.005936,-0.015361

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
858,33.24,33.28,33.35,33.56,33.25,33.08,32.89,0.005813,0.005458,0.005191,-0.0012,0.012689,0.00572,33.31

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
872,0.004995,-0.007160,0.022650,-0.003106,-0.000709,-0.007902,-0.002330,-0.011967,-0.008770,0.004022,...,0.005194,0.006203,0.000292,-0.000750,-0.002842,0.004818,-0.004815,-0.004971,0.005821,-0.010848
873,0.002049,-0.004087,-0.011354,0.000259,-0.008072,-0.002166,0.018487,0.000000,0.008072,-0.007210,...,0.005041,-0.012184,-0.002634,0.015643,0.007427,-0.002062,-0.007522,-0.013939,-0.007119,0.005438
874,0.006414,-0.003125,0.014311,0.001812,-0.011991,0.007561,0.014773,-0.025194,0.018012,0.006153,...,-0.006052,-0.012070,-0.006764,0.000369,-0.009734,0.005147,-0.018731,-0.009024,-0.006909,-0.013309
875,-0.000581,-0.001566,0.003500,-0.005967,-0.002174,-0.006838,-0.015346,0.002671,0.000686,0.003589,...,-0.001012,-0.001321,0.022466,-0.014512,-0.000136,0.002734,-0.005754,-0.015991,-0.007484,0.010253
876,0.006666,-0.010438,0.018583,0.008808,0.005546,0.009346,0.005141,-0.004937,-0.004814,-0.022593,...,0.006058,-0.001587,0.011475,0.013033,0.001629,0.000341,-0.001050,0.001151,-0.003961,0.003733
877,0.003460,-0.000198,0.001443,0.004632,0.003121,0.000358,0.013583,-0.001858,-0.016684,0.008586,...,0.003266,0.009486,-0.016681,-0.022448,-0.007489,-0.001707,0.000787,0.001724,0.005936,-0.015361
878,-0.005195,-0.005958,0.000000,-0.021015,-0.004565,-0.008260,-0.001125,0.001239,0.003848,0.004478,...,-0.005408,0.006535,-0.011962,0.015766,-0.003834,0.004093,0.001966,-0.020296,-0.008188,0.001719

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
859,33.31,33.24,33.28,33.35,33.56,33.25,33.08,0.004412,0.00516,0.005305,0.00629,0.012318,0.010204,33.49

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
873,0.002049,-0.004087,-0.011354,0.000259,-0.008072,-0.002166,0.018487,0.000000,0.008072,-0.007210,...,0.005041,-0.012184,-0.002634,0.015643,0.007427,-0.002062,-0.007522,-0.013939,-0.007119,0.005438
874,0.006414,-0.003125,0.014311,0.001812,-0.011991,0.007561,0.014773,-0.025194,0.018012,0.006153,...,-0.006052,-0.012070,-0.006764,0.000369,-0.009734,0.005147,-0.018731,-0.009024,-0.006909,-0.013309
875,-0.000581,-0.001566,0.003500,-0.005967,-0.002174,-0.006838,-0.015346,0.002671,0.000686,0.003589,...,-0.001012,-0.001321,0.022466,-0.014512,-0.000136,0.002734,-0.005754,-0.015991,-0.007484,0.010253
876,0.006666,-0.010438,0.018583,0.008808,0.005546,0.009346,0.005141,-0.004937,-0.004814,-0.022593,...,0.006058,-0.001587,0.011475,0.013033,0.001629,0.000341,-0.001050,0.001151,-0.003961,0.003733
877,0.003460,-0.000198,0.001443,0.004632,0.003121,0.000358,0.013583,-0.001858,-0.016684,0.008586,...,0.003266,0.009486,-0.016681,-0.022448,-0.007489,-0.001707,0.000787,0.001724,0.005936,-0.015361
878,-0.005195,-0.005958,0.000000,-0.021015,-0.004565,-0.008260,-0.001125,0.001239,0.003848,0.004478,...,-0.005408,0.006535,-0.011962,0.015766,-0.003834,0.004093,0.001966,-0.020296,-0.008188,0.001719
879,0.001735,-0.006796,0.012182,-0.005258,-0.007978,-0.004337,0.010078,-0.018957,0.009729,-0.002343,...,0.008663,-0.012058,-0.005297,-0.008227,0.005200,-0.003751,-0.023044,0.004676,-0.001858,0.011608

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
860,33.49,33.31,33.24,33.28,33.35,33.56,33.25,0.003611,0.005215,0.005355,0.003903,0.003603,0.017534,33.37

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
874,0.006414,-0.003125,0.014311,0.001812,-0.011991,0.007561,0.014773,-0.025194,0.018012,0.006153,...,-0.006052,-0.012070,-0.006764,0.000369,-0.009734,0.005147,-0.018731,-0.009024,-0.006909,-0.013309
875,-0.000581,-0.001566,0.003500,-0.005967,-0.002174,-0.006838,-0.015346,0.002671,0.000686,0.003589,...,-0.001012,-0.001321,0.022466,-0.014512,-0.000136,0.002734,-0.005754,-0.015991,-0.007484,0.010253
876,0.006666,-0.010438,0.018583,0.008808,0.005546,0.009346,0.005141,-0.004937,-0.004814,-0.022593,...,0.006058,-0.001587,0.011475,0.013033,0.001629,0.000341,-0.001050,0.001151,-0.003961,0.003733
877,0.003460,-0.000198,0.001443,0.004632,0.003121,0.000358,0.013583,-0.001858,-0.016684,0.008586,...,0.003266,0.009486,-0.016681,-0.022448,-0.007489,-0.001707,0.000787,0.001724,0.005936,-0.015361
878,-0.005195,-0.005958,0.000000,-0.021015,-0.004565,-0.008260,-0.001125,0.001239,0.003848,0.004478,...,-0.005408,0.006535,-0.011962,0.015766,-0.003834,0.004093,0.001966,-0.020296,-0.008188,0.001719
879,0.001735,-0.006796,0.012182,-0.005258,-0.007978,-0.004337,0.010078,-0.018957,0.009729,-0.002343,...,0.008663,-0.012058,-0.005297,-0.008227,0.005200,-0.003751,-0.023044,0.004676,-0.001858,0.011608
880,-0.005213,0.007791,0.014671,0.011270,0.006773,0.002893,0.012182,0.001681,-0.009031,-0.018294,...,-0.004511,-0.006880,0.008813,-0.015135,-0.005200,-0.001025,-0.011589,-0.020619,0.014901,-0.011265

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
861,33.37,33.49,33.31,33.24,33.28,33.35,33.56,0.003545,0.004894,0.005394,0.004792,-0.002685,0.019611,33.47

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
875,-0.000581,-0.001566,0.003500,-0.005967,-0.002174,-0.006838,-0.015346,0.002671,0.000686,0.003589,...,-0.001012,-0.001321,0.022466,-0.014512,-0.000136,0.002734,-0.005754,-0.015991,-0.007484,0.010253
876,0.006666,-0.010438,0.018583,0.008808,0.005546,0.009346,0.005141,-0.004937,-0.004814,-0.022593,...,0.006058,-0.001587,0.011475,0.013033,0.001629,0.000341,-0.001050,0.001151,-0.003961,0.003733
877,0.003460,-0.000198,0.001443,0.004632,0.003121,0.000358,0.013583,-0.001858,-0.016684,0.008586,...,0.003266,0.009486,-0.016681,-0.022448,-0.007489,-0.001707,0.000787,0.001724,0.005936,-0.015361
878,-0.005195,-0.005958,0.000000,-0.021015,-0.004565,-0.008260,-0.001125,0.001239,0.003848,0.004478,...,-0.005408,0.006535,-0.011962,0.015766,-0.003834,0.004093,0.001966,-0.020296,-0.008188,0.001719
879,0.001735,-0.006796,0.012182,-0.005258,-0.007978,-0.004337,0.010078,-0.018957,0.009729,-0.002343,...,0.008663,-0.012058,-0.005297,-0.008227,0.005200,-0.003751,-0.023044,0.004676,-0.001858,0.011608
880,-0.005213,0.007791,0.014671,0.011270,0.006773,0.002893,0.012182,0.001681,-0.009031,-0.018294,...,-0.004511,-0.006880,0.008813,-0.015135,-0.005200,-0.001025,-0.011589,-0.020619,0.014901,-0.011265
881,0.002030,0.009507,-0.002108,-0.021603,0.004570,-0.000361,0.004941,-0.009069,-0.005598,-0.000434,...,-0.004027,-0.002127,-0.001463,-0.007654,0.008334,0.001709,-0.007619,-0.006569,-0.001048,-0.018362

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
862,33.47,33.37,33.49,33.31,33.24,33.28,33.35,0.003323,0.004707,0.005158,0.002088,0.006277,0.016827,33.56

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
876,0.006666,-0.010438,0.018583,0.008808,0.005546,0.009346,0.005141,-0.004937,-0.004814,-0.022593,...,0.006058,-0.001587,0.011475,0.013033,0.001629,0.000341,-0.001050,0.001151,-0.003961,0.003733
877,0.003460,-0.000198,0.001443,0.004632,0.003121,0.000358,0.013583,-0.001858,-0.016684,0.008586,...,0.003266,0.009486,-0.016681,-0.022448,-0.007489,-0.001707,0.000787,0.001724,0.005936,-0.015361
878,-0.005195,-0.005958,0.000000,-0.021015,-0.004565,-0.008260,-0.001125,0.001239,0.003848,0.004478,...,-0.005408,0.006535,-0.011962,0.015766,-0.003834,0.004093,0.001966,-0.020296,-0.008188,0.001719
879,0.001735,-0.006796,0.012182,-0.005258,-0.007978,-0.004337,0.010078,-0.018957,0.009729,-0.002343,...,0.008663,-0.012058,-0.005297,-0.008227,0.005200,-0.003751,-0.023044,0.004676,-0.001858,0.011608
880,-0.005213,0.007791,0.014671,0.011270,0.006773,0.002893,0.012182,0.001681,-0.009031,-0.018294,...,-0.004511,-0.006880,0.008813,-0.015135,-0.005200,-0.001025,-0.011589,-0.020619,0.014901,-0.011265
881,0.002030,0.009507,-0.002108,-0.021603,0.004570,-0.000361,0.004941,-0.009069,-0.005598,-0.000434,...,-0.004027,-0.002127,-0.001463,-0.007654,0.008334,0.001709,-0.007619,-0.006569,-0.001048,-0.018362
882,-0.002321,-0.004148,0.001581,-0.008290,0.006220,0.001444,-0.004391,0.010538,0.010471,0.000869,...,0.003022,-0.008820,0.015693,-0.016267,0.002717,-0.006164,-0.009468,-0.021806,0.007571,0.008010

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
863,33.56,33.47,33.37,33.49,33.31,33.24,33.28,0.003853,0.004816,0.005286,0.011916,0.014616,0.02823,33.77

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
877,0.003460,-0.000198,0.001443,0.004632,0.003121,0.000358,0.013583,-0.001858,-0.016684,0.008586,...,0.003266,0.009486,-0.016681,-0.022448,-0.007489,-0.001707,0.000787,0.001724,0.005936,-0.015361
878,-0.005195,-0.005958,0.000000,-0.021015,-0.004565,-0.008260,-0.001125,0.001239,0.003848,0.004478,...,-0.005408,0.006535,-0.011962,0.015766,-0.003834,0.004093,0.001966,-0.020296,-0.008188,0.001719
879,0.001735,-0.006796,0.012182,-0.005258,-0.007978,-0.004337,0.010078,-0.018957,0.009729,-0.002343,...,0.008663,-0.012058,-0.005297,-0.008227,0.005200,-0.003751,-0.023044,0.004676,-0.001858,0.011608
880,-0.005213,0.007791,0.014671,0.011270,0.006773,0.002893,0.012182,0.001681,-0.009031,-0.018294,...,-0.004511,-0.006880,0.008813,-0.015135,-0.005200,-0.001025,-0.011589,-0.020619,0.014901,-0.011265
881,0.002030,0.009507,-0.002108,-0.021603,0.004570,-0.000361,0.004941,-0.009069,-0.005598,-0.000434,...,-0.004027,-0.002127,-0.001463,-0.007654,0.008334,0.001709,-0.007619,-0.006569,-0.001048,-0.018362
882,-0.002321,-0.004148,0.001581,-0.008290,0.006220,0.001444,-0.004391,0.010538,0.010471,0.000869,...,0.003022,-0.008820,0.015693,-0.016267,0.002717,-0.006164,-0.009468,-0.021806,0.007571,0.008010
883,0.007235,0.002965,0.028897,0.024404,-0.006220,-0.005426,-0.012175,-0.003570,0.000347,0.011012,...,-0.016094,0.010947,0.002016,0.019718,0.010125,-0.000687,-0.008863,0.004887,-0.001562,0.005879

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
864,33.77,33.56,33.47,33.37,33.49,33.31,33.24,0.003798,0.004009,0.005172,0.008035,0.01493,0.021268,33.74

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
878,-0.005195,-0.005958,0.000000,-0.021015,-0.004565,-0.008260,-0.001125,0.001239,0.003848,0.004478,...,-0.005408,0.006535,-0.011962,0.015766,-0.003834,0.004093,0.001966,-0.020296,-0.008188,0.001719
879,0.001735,-0.006796,0.012182,-0.005258,-0.007978,-0.004337,0.010078,-0.018957,0.009729,-0.002343,...,0.008663,-0.012058,-0.005297,-0.008227,0.005200,-0.003751,-0.023044,0.004676,-0.001858,0.011608
880,-0.005213,0.007791,0.014671,0.011270,0.006773,0.002893,0.012182,0.001681,-0.009031,-0.018294,...,-0.004511,-0.006880,0.008813,-0.015135,-0.005200,-0.001025,-0.011589,-0.020619,0.014901,-0.011265
881,0.002030,0.009507,-0.002108,-0.021603,0.004570,-0.000361,0.004941,-0.009069,-0.005598,-0.000434,...,-0.004027,-0.002127,-0.001463,-0.007654,0.008334,0.001709,-0.007619,-0.006569,-0.001048,-0.018362
882,-0.002321,-0.004148,0.001581,-0.008290,0.006220,0.001444,-0.004391,0.010538,0.010471,0.000869,...,0.003022,-0.008820,0.015693,-0.016267,0.002717,-0.006164,-0.009468,-0.021806,0.007571,0.008010
883,0.007235,0.002965,0.028897,0.024404,-0.006220,-0.005426,-0.012175,-0.003570,0.000347,0.011012,...,-0.016094,0.010947,0.002016,0.019718,0.010125,-0.000687,-0.008863,0.004887,-0.001562,0.005879
884,0.003454,0.010210,0.014562,-0.014784,-0.000960,-0.003998,0.004444,0.003361,-0.013981,-0.010144,...,-0.006408,-0.002393,-0.031275,0.006487,0.006427,0.002060,0.010241,0.004257,0.005326,-0.010747

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
865,33.74,33.77,33.56,33.47,33.37,33.49,33.31,0.002658,0.003218,0.005172,0.006238,0.013715,0.026404,33.77

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
879,0.001735,-0.006796,0.012182,-0.005258,-0.007978,-0.004337,0.010078,-0.018957,0.009729,-0.002343,...,0.008663,-0.012058,-0.005297,-0.008227,0.005200,-0.003751,-0.023044,0.004676,-0.001858,0.011608
880,-0.005213,0.007791,0.014671,0.011270,0.006773,0.002893,0.012182,0.001681,-0.009031,-0.018294,...,-0.004511,-0.006880,0.008813,-0.015135,-0.005200,-0.001025,-0.011589,-0.020619,0.014901,-0.011265
881,0.002030,0.009507,-0.002108,-0.021603,0.004570,-0.000361,0.004941,-0.009069,-0.005598,-0.000434,...,-0.004027,-0.002127,-0.001463,-0.007654,0.008334,0.001709,-0.007619,-0.006569,-0.001048,-0.018362
882,-0.002321,-0.004148,0.001581,-0.008290,0.006220,0.001444,-0.004391,0.010538,0.010471,0.000869,...,0.003022,-0.008820,0.015693,-0.016267,0.002717,-0.006164,-0.009468,-0.021806,0.007571,0.008010
883,0.007235,0.002965,0.028897,0.024404,-0.006220,-0.005426,-0.012175,-0.003570,0.000347,0.011012,...,-0.016094,0.010947,0.002016,0.019718,0.010125,-0.000687,-0.008863,0.004887,-0.001562,0.005879
884,0.003454,0.010210,0.014562,-0.014784,-0.000960,-0.003998,0.004444,0.003361,-0.013981,-0.010144,...,-0.006408,-0.002393,-0.031275,0.006487,0.006427,0.002060,0.010241,0.004257,0.005326,-0.010747
885,0.007443,0.004289,-0.002525,0.005040,-0.006507,0.000000,-0.009468,-0.008846,-0.015609,-0.007184,...,-0.005285,-0.003199,0.017658,-0.001904,-0.008713,-0.002060,-0.007740,0.019231,-0.004024,-0.005943

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
866,33.77,33.74,33.77,33.56,33.47,33.37,33.49,0.002923,0.003076,0.004383,-0.000592,0.007734,0.020052,33.75

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
880,-0.005213,0.007791,0.014671,0.011270,0.006773,0.002893,0.012182,0.001681,-0.009031,-0.018294,...,-0.004511,-0.006880,0.008813,-0.015135,-0.005200,-0.001025,-0.011589,-0.020619,0.014901,-0.011265
881,0.002030,0.009507,-0.002108,-0.021603,0.004570,-0.000361,0.004941,-0.009069,-0.005598,-0.000434,...,-0.004027,-0.002127,-0.001463,-0.007654,0.008334,0.001709,-0.007619,-0.006569,-0.001048,-0.018362
882,-0.002321,-0.004148,0.001581,-0.008290,0.006220,0.001444,-0.004391,0.010538,0.010471,0.000869,...,0.003022,-0.008820,0.015693,-0.016267,0.002717,-0.006164,-0.009468,-0.021806,0.007571,0.008010
883,0.007235,0.002965,0.028897,0.024404,-0.006220,-0.005426,-0.012175,-0.003570,0.000347,0.011012,...,-0.016094,0.010947,0.002016,0.019718,0.010125,-0.000687,-0.008863,0.004887,-0.001562,0.005879
884,0.003454,0.010210,0.014562,-0.014784,-0.000960,-0.003998,0.004444,0.003361,-0.013981,-0.010144,...,-0.006408,-0.002393,-0.031275,0.006487,0.006427,0.002060,0.010241,0.004257,0.005326,-0.010747
885,0.007443,0.004289,-0.002525,0.005040,-0.006507,0.000000,-0.009468,-0.008846,-0.015609,-0.007184,...,-0.005285,-0.003199,0.017658,-0.001904,-0.008713,-0.002060,-0.007740,0.019231,-0.004024,-0.005943
886,-0.000285,-0.004289,-0.010844,0.012099,0.009864,-0.000729,0.002236,-0.007006,0.009253,0.025667,...,0.000517,0.009302,-0.011442,0.002284,0.008045,0.000687,0.004707,-0.005970,-0.001953,0.002102

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
867,33.75,33.77,33.74,33.77,33.56,33.47,33.37,0.003022,0.002995,0.004405,0.003846,0.014872,0.018475,33.87

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
881,0.002030,0.009507,-0.002108,-0.021603,0.004570,-0.000361,0.004941,-0.009069,-0.005598,-0.000434,...,-0.004027,-0.002127,-0.001463,-0.007654,0.008334,0.001709,-0.007619,-0.006569,-0.001048,-0.018362
882,-0.002321,-0.004148,0.001581,-0.008290,0.006220,0.001444,-0.004391,0.010538,0.010471,0.000869,...,0.003022,-0.008820,0.015693,-0.016267,0.002717,-0.006164,-0.009468,-0.021806,0.007571,0.008010
883,0.007235,0.002965,0.028897,0.024404,-0.006220,-0.005426,-0.012175,-0.003570,0.000347,0.011012,...,-0.016094,0.010947,0.002016,0.019718,0.010125,-0.000687,-0.008863,0.004887,-0.001562,0.005879
884,0.003454,0.010210,0.014562,-0.014784,-0.000960,-0.003998,0.004444,0.003361,-0.013981,-0.010144,...,-0.006408,-0.002393,-0.031275,0.006487,0.006427,0.002060,0.010241,0.004257,0.005326,-0.010747
885,0.007443,0.004289,-0.002525,0.005040,-0.006507,0.000000,-0.009468,-0.008846,-0.015609,-0.007184,...,-0.005285,-0.003199,0.017658,-0.001904,-0.008713,-0.002060,-0.007740,0.019231,-0.004024,-0.005943
886,-0.000285,-0.004289,-0.010844,0.012099,0.009864,-0.000729,0.002236,-0.007006,0.009253,0.025667,...,0.000517,0.009302,-0.011442,0.002284,0.008045,0.000687,0.004707,-0.005970,-0.001953,0.002102
887,-0.000856,-0.001955,0.014209,0.021467,0.003585,-0.004749,-0.011795,-0.003414,0.009168,-0.017616,...,0.006823,-0.001324,0.004416,0.006065,-0.000267,-0.000344,0.009347,0.004183,0.001433,-0.004208

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
868,33.87,33.75,33.77,33.74,33.77,33.56,33.47,0.002239,0.003277,0.004389,0.000592,0.009515,0.00683,33.79

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
882,-0.002321,-0.004148,0.001581,-0.008290,0.006220,0.001444,-0.004391,0.010538,0.010471,0.000869,...,0.003022,-0.008820,0.015693,-0.016267,0.002717,-0.006164,-0.009468,-0.021806,0.007571,0.008010
883,0.007235,0.002965,0.028897,0.024404,-0.006220,-0.005426,-0.012175,-0.003570,0.000347,0.011012,...,-0.016094,0.010947,0.002016,0.019718,0.010125,-0.000687,-0.008863,0.004887,-0.001562,0.005879
884,0.003454,0.010210,0.014562,-0.014784,-0.000960,-0.003998,0.004444,0.003361,-0.013981,-0.010144,...,-0.006408,-0.002393,-0.031275,0.006487,0.006427,0.002060,0.010241,0.004257,0.005326,-0.010747
885,0.007443,0.004289,-0.002525,0.005040,-0.006507,0.000000,-0.009468,-0.008846,-0.015609,-0.007184,...,-0.005285,-0.003199,0.017658,-0.001904,-0.008713,-0.002060,-0.007740,0.019231,-0.004024,-0.005943
886,-0.000285,-0.004289,-0.010844,0.012099,0.009864,-0.000729,0.002236,-0.007006,0.009253,0.025667,...,0.000517,0.009302,-0.011442,0.002284,0.008045,0.000687,0.004707,-0.005970,-0.001953,0.002102
887,-0.000856,-0.001955,0.014209,0.021467,0.003585,-0.004749,-0.011795,-0.003414,0.009168,-0.017616,...,0.006823,-0.001324,0.004416,0.006065,-0.000267,-0.000344,0.009347,0.004183,0.001433,-0.004208
888,0.000000,-0.000783,-0.015231,-0.011582,0.000477,0.000732,0.006195,-0.004284,0.004902,0.028628,...,0.000128,-0.016022,-0.002647,0.011648,-0.002541,0.002060,0.019778,-0.004782,-0.000781,-0.003520

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
869,33.79,33.87,33.75,33.77,33.74,33.77,33.56,0.002223,0.002971,0.004127,0.002663,0.008309,0.014586,33.84

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
883,0.007235,0.002965,0.028897,0.024404,-0.006220,-0.005426,-0.012175,-0.003570,0.000347,0.011012,...,-0.016094,0.010947,0.002016,0.019718,0.010125,-0.000687,-0.008863,0.004887,-0.001562,0.005879
884,0.003454,0.010210,0.014562,-0.014784,-0.000960,-0.003998,0.004444,0.003361,-0.013981,-0.010144,...,-0.006408,-0.002393,-0.031275,0.006487,0.006427,0.002060,0.010241,0.004257,0.005326,-0.010747
885,0.007443,0.004289,-0.002525,0.005040,-0.006507,0.000000,-0.009468,-0.008846,-0.015609,-0.007184,...,-0.005285,-0.003199,0.017658,-0.001904,-0.008713,-0.002060,-0.007740,0.019231,-0.004024,-0.005943
886,-0.000285,-0.004289,-0.010844,0.012099,0.009864,-0.000729,0.002236,-0.007006,0.009253,0.025667,...,0.000517,0.009302,-0.011442,0.002284,0.008045,0.000687,0.004707,-0.005970,-0.001953,0.002102
887,-0.000856,-0.001955,0.014209,0.021467,0.003585,-0.004749,-0.011795,-0.003414,0.009168,-0.017616,...,0.006823,-0.001324,0.004416,0.006065,-0.000267,-0.000344,0.009347,0.004183,0.001433,-0.004208
888,0.000000,-0.000783,-0.015231,-0.011582,0.000477,0.000732,0.006195,-0.004284,0.004902,0.028628,...,0.000128,-0.016022,-0.002647,0.011648,-0.002541,0.002060,0.019778,-0.004782,-0.000781,-0.003520
889,0.001427,-0.004122,0.000682,-0.006232,0.004520,-0.005872,-0.008458,-0.013400,-0.013362,-0.006975,...,-0.005532,0.025775,0.002354,0.012252,-0.000268,-0.000686,0.012133,0.004782,0.006620,-0.001765

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
870,33.84,33.79,33.87,33.75,33.77,33.74,33.77,0.002223,0.002496,0.003986,0.0,0.002957,0.017573,33.87

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
884,0.003454,0.010210,0.014562,-0.014784,-0.000960,-0.003998,0.004444,0.003361,-0.013981,-0.010144,...,-0.006408,-0.002393,-0.031275,0.006487,0.006427,0.002060,0.010241,0.004257,0.005326,-0.010747
885,0.007443,0.004289,-0.002525,0.005040,-0.006507,0.000000,-0.009468,-0.008846,-0.015609,-0.007184,...,-0.005285,-0.003199,0.017658,-0.001904,-0.008713,-0.002060,-0.007740,0.019231,-0.004024,-0.005943
886,-0.000285,-0.004289,-0.010844,0.012099,0.009864,-0.000729,0.002236,-0.007006,0.009253,0.025667,...,0.000517,0.009302,-0.011442,0.002284,0.008045,0.000687,0.004707,-0.005970,-0.001953,0.002102
887,-0.000856,-0.001955,0.014209,0.021467,0.003585,-0.004749,-0.011795,-0.003414,0.009168,-0.017616,...,0.006823,-0.001324,0.004416,0.006065,-0.000267,-0.000344,0.009347,0.004183,0.001433,-0.004208
888,0.000000,-0.000783,-0.015231,-0.011582,0.000477,0.000732,0.006195,-0.004284,0.004902,0.028628,...,0.000128,-0.016022,-0.002647,0.011648,-0.002541,0.002060,0.019778,-0.004782,-0.000781,-0.003520
889,0.001427,-0.004122,0.000682,-0.006232,0.004520,-0.005872,-0.008458,-0.013400,-0.013362,-0.006975,...,-0.005532,0.025775,0.002354,0.012252,-0.000268,-0.000686,0.012133,0.004782,0.006620,-0.001765
890,-0.007729,-0.002758,-0.003756,-0.004700,0.001897,0.005872,-0.010817,-0.002178,0.000708,-0.009590,...,-0.004007,-0.003679,0.009360,-0.002956,0.001071,0.003426,0.003308,0.004165,0.015534,-0.006378

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
871,33.87,33.84,33.79,33.87,33.75,33.77,33.74,0.002645,0.002628,0.003824,0.006784,0.008265,0.023195,34.02

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
885,0.007443,0.004289,-0.002525,0.005040,-0.006507,0.000000,-0.009468,-0.008846,-0.015609,-0.007184,...,-0.005285,-0.003199,0.017658,-0.001904,-0.008713,-0.002060,-0.007740,0.019231,-0.004024,-0.005943
886,-0.000285,-0.004289,-0.010844,0.012099,0.009864,-0.000729,0.002236,-0.007006,0.009253,0.025667,...,0.000517,0.009302,-0.011442,0.002284,0.008045,0.000687,0.004707,-0.005970,-0.001953,0.002102
887,-0.000856,-0.001955,0.014209,0.021467,0.003585,-0.004749,-0.011795,-0.003414,0.009168,-0.017616,...,0.006823,-0.001324,0.004416,0.006065,-0.000267,-0.000344,0.009347,0.004183,0.001433,-0.004208
888,0.000000,-0.000783,-0.015231,-0.011582,0.000477,0.000732,0.006195,-0.004284,0.004902,0.028628,...,0.000128,-0.016022,-0.002647,0.011648,-0.002541,0.002060,0.019778,-0.004782,-0.000781,-0.003520
889,0.001427,-0.004122,0.000682,-0.006232,0.004520,-0.005872,-0.008458,-0.013400,-0.013362,-0.006975,...,-0.005532,0.025775,0.002354,0.012252,-0.000268,-0.000686,0.012133,0.004782,0.006620,-0.001765
890,-0.007729,-0.002758,-0.003756,-0.004700,0.001897,0.005872,-0.010817,-0.002178,0.000708,-0.009590,...,-0.004007,-0.003679,0.009360,-0.002956,0.001071,0.003426,0.003308,0.004165,0.015534,-0.006378
891,-0.003166,-0.009313,-0.009625,0.018668,-0.018169,-0.002931,0.002858,-0.012949,0.032368,-0.005152,...,-0.000648,0.002892,-0.009360,0.007007,-0.003351,0.011223,0.005795,-0.010146,0.003053,-0.004989

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
872,34.02,33.87,33.84,33.79,33.87,33.75,33.77,0.002794,0.002837,0.003785,0.003245,0.005316,0.019031,33.95

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
886,-0.000285,-0.004289,-0.010844,0.012099,0.009864,-0.000729,0.002236,-0.007006,0.009253,0.025667,...,0.000517,0.009302,-0.011442,0.002284,0.008045,0.000687,0.004707,-0.005970,-0.001953,0.002102
887,-0.000856,-0.001955,0.014209,0.021467,0.003585,-0.004749,-0.011795,-0.003414,0.009168,-0.017616,...,0.006823,-0.001324,0.004416,0.006065,-0.000267,-0.000344,0.009347,0.004183,0.001433,-0.004208
888,0.000000,-0.000783,-0.015231,-0.011582,0.000477,0.000732,0.006195,-0.004284,0.004902,0.028628,...,0.000128,-0.016022,-0.002647,0.011648,-0.002541,0.002060,0.019778,-0.004782,-0.000781,-0.003520
889,0.001427,-0.004122,0.000682,-0.006232,0.004520,-0.005872,-0.008458,-0.013400,-0.013362,-0.006975,...,-0.005532,0.025775,0.002354,0.012252,-0.000268,-0.000686,0.012133,0.004782,0.006620,-0.001765
890,-0.007729,-0.002758,-0.003756,-0.004700,0.001897,0.005872,-0.010817,-0.002178,0.000708,-0.009590,...,-0.004007,-0.003679,0.009360,-0.002956,0.001071,0.003426,0.003308,0.004165,0.015534,-0.006378
891,-0.003166,-0.009313,-0.009625,0.018668,-0.018169,-0.002931,0.002858,-0.012949,0.032368,-0.005152,...,-0.000648,0.002892,-0.009360,0.007007,-0.003351,0.011223,0.005795,-0.010146,0.003053,-0.004989
892,-0.007523,-0.004190,0.004824,-0.009290,0.005534,-0.002572,0.011351,0.016214,0.000000,-0.002586,...,-0.011077,-0.019351,-0.002354,0.001836,0.004688,-0.002370,-0.004343,0.006577,-0.004455,-0.006452

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
873,33.95,34.02,33.87,33.84,33.79,33.87,33.75,0.002864,0.002607,0.003779,0.007354,0.010903,0.018637,34.12

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
887,-0.000856,-0.001955,0.014209,0.021467,0.003585,-0.004749,-0.011795,-0.003414,0.009168,-0.017616,...,0.006823,-0.001324,0.004416,0.006065,-0.000267,-0.000344,0.009347,0.004183,0.001433,-0.004208
888,0.000000,-0.000783,-0.015231,-0.011582,0.000477,0.000732,0.006195,-0.004284,0.004902,0.028628,...,0.000128,-0.016022,-0.002647,0.011648,-0.002541,0.002060,0.019778,-0.004782,-0.000781,-0.003520
889,0.001427,-0.004122,0.000682,-0.006232,0.004520,-0.005872,-0.008458,-0.013400,-0.013362,-0.006975,...,-0.005532,0.025775,0.002354,0.012252,-0.000268,-0.000686,0.012133,0.004782,0.006620,-0.001765
890,-0.007729,-0.002758,-0.003756,-0.004700,0.001897,0.005872,-0.010817,-0.002178,0.000708,-0.009590,...,-0.004007,-0.003679,0.009360,-0.002956,0.001071,0.003426,0.003308,0.004165,0.015534,-0.006378
891,-0.003166,-0.009313,-0.009625,0.018668,-0.018169,-0.002931,0.002858,-0.012949,0.032368,-0.005152,...,-0.000648,0.002892,-0.009360,0.007007,-0.003351,0.011223,0.005795,-0.010146,0.003053,-0.004989
892,-0.007523,-0.004190,0.004824,-0.009290,0.005534,-0.002572,0.011351,0.016214,0.000000,-0.002586,...,-0.011077,-0.019351,-0.002354,0.001836,0.004688,-0.002370,-0.004343,0.006577,-0.004455,-0.006452
893,-0.000872,0.000799,-0.006034,0.008005,-0.006741,-0.005164,0.014566,-0.016435,-0.006528,-0.011721,...,0.002095,0.009855,-0.005020,0.017455,0.000801,-0.008169,0.009059,-0.001789,0.002421,0.005022

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
874,34.12,33.95,34.02,33.87,33.84,33.79,33.87,0.002852,0.002531,0.003288,0.004985,0.009404,0.024276,34.19

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
888,0.000000,-0.000783,-0.015231,-0.011582,0.000477,0.000732,0.006195,-0.004284,0.004902,0.028628,...,0.000128,-0.016022,-0.002647,0.011648,-0.002541,0.002060,0.019778,-0.004782,-0.000781,-0.003520
889,0.001427,-0.004122,0.000682,-0.006232,0.004520,-0.005872,-0.008458,-0.013400,-0.013362,-0.006975,...,-0.005532,0.025775,0.002354,0.012252,-0.000268,-0.000686,0.012133,0.004782,0.006620,-0.001765
890,-0.007729,-0.002758,-0.003756,-0.004700,0.001897,0.005872,-0.010817,-0.002178,0.000708,-0.009590,...,-0.004007,-0.003679,0.009360,-0.002956,0.001071,0.003426,0.003308,0.004165,0.015534,-0.006378
891,-0.003166,-0.009313,-0.009625,0.018668,-0.018169,-0.002931,0.002858,-0.012949,0.032368,-0.005152,...,-0.000648,0.002892,-0.009360,0.007007,-0.003351,0.011223,0.005795,-0.010146,0.003053,-0.004989
892,-0.007523,-0.004190,0.004824,-0.009290,0.005534,-0.002572,0.011351,0.016214,0.000000,-0.002586,...,-0.011077,-0.019351,-0.002354,0.001836,0.004688,-0.002370,-0.004343,0.006577,-0.004455,-0.006452
893,-0.000872,0.000799,-0.006034,0.008005,-0.006741,-0.005164,0.014566,-0.016435,-0.006528,-0.011721,...,0.002095,0.009855,-0.005020,0.017455,0.000801,-0.008169,0.009059,-0.001789,0.002421,0.005022
894,-0.005539,-0.011452,-0.005549,-0.018692,-0.004600,-0.003705,0.016548,-0.003320,0.011652,-0.001311,...,-0.000392,0.001060,0.000000,-0.010145,-0.002406,0.000000,-0.005505,0.005359,-0.003059,0.004284

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
875,34.19,34.12,33.95,34.02,33.87,33.84,33.79,0.003317,0.002987,0.003039,0.013458,0.018182,0.027698,34.41

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
889,0.001427,-0.004122,0.000682,-0.006232,0.004520,-0.005872,-0.008458,-0.013400,-0.013362,-0.006975,...,-0.005532,0.025775,0.002354,0.012252,-0.000268,-0.000686,0.012133,0.004782,0.006620,-0.001765
890,-0.007729,-0.002758,-0.003756,-0.004700,0.001897,0.005872,-0.010817,-0.002178,0.000708,-0.009590,...,-0.004007,-0.003679,0.009360,-0.002956,0.001071,0.003426,0.003308,0.004165,0.015534,-0.006378
891,-0.003166,-0.009313,-0.009625,0.018668,-0.018169,-0.002931,0.002858,-0.012949,0.032368,-0.005152,...,-0.000648,0.002892,-0.009360,0.007007,-0.003351,0.011223,0.005795,-0.010146,0.003053,-0.004989
892,-0.007523,-0.004190,0.004824,-0.009290,0.005534,-0.002572,0.011351,0.016214,0.000000,-0.002586,...,-0.011077,-0.019351,-0.002354,0.001836,0.004688,-0.002370,-0.004343,0.006577,-0.004455,-0.006452
893,-0.000872,0.000799,-0.006034,0.008005,-0.006741,-0.005164,0.014566,-0.016435,-0.006528,-0.011721,...,0.002095,0.009855,-0.005020,0.017455,0.000801,-0.008169,0.009059,-0.001789,0.002421,0.005022
894,-0.005539,-0.011452,-0.005549,-0.018692,-0.004600,-0.003705,0.016548,-0.003320,0.011652,-0.001311,...,-0.000392,0.001060,0.000000,-0.010145,-0.002406,0.000000,-0.005505,0.005359,-0.003059,0.004284
895,-0.000292,0.015638,-0.014185,0.001309,0.001213,0.003335,0.016278,-0.008683,-0.013377,-0.011434,...,0.003004,-0.019787,-0.025789,0.009063,0.004541,0.006473,-0.002764,-0.008348,0.006616,-0.014714

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
876,34.41,34.19,34.12,33.95,34.02,33.87,33.84,0.003587,0.002986,0.002961,0.007882,0.016122,0.024431,34.39

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
890,-0.007729,-0.002758,-0.003756,-0.004700,0.001897,0.005872,-0.010817,-0.002178,0.000708,-0.009590,...,-0.004007,-0.003679,0.009360,-0.002956,0.001071,0.003426,0.003308,0.004165,0.015534,-0.006378
891,-0.003166,-0.009313,-0.009625,0.018668,-0.018169,-0.002931,0.002858,-0.012949,0.032368,-0.005152,...,-0.000648,0.002892,-0.009360,0.007007,-0.003351,0.011223,0.005795,-0.010146,0.003053,-0.004989
892,-0.007523,-0.004190,0.004824,-0.009290,0.005534,-0.002572,0.011351,0.016214,0.000000,-0.002586,...,-0.011077,-0.019351,-0.002354,0.001836,0.004688,-0.002370,-0.004343,0.006577,-0.004455,-0.006452
893,-0.000872,0.000799,-0.006034,0.008005,-0.006741,-0.005164,0.014566,-0.016435,-0.006528,-0.011721,...,0.002095,0.009855,-0.005020,0.017455,0.000801,-0.008169,0.009059,-0.001789,0.002421,0.005022
894,-0.005539,-0.011452,-0.005549,-0.018692,-0.004600,-0.003705,0.016548,-0.003320,0.011652,-0.001311,...,-0.000392,0.001060,0.000000,-0.010145,-0.002406,0.000000,-0.005505,0.005359,-0.003059,0.004284
895,-0.000292,0.015638,-0.014185,0.001309,0.001213,0.003335,0.016278,-0.008683,-0.013377,-0.011434,...,0.003004,-0.019787,-0.025789,0.009063,0.004541,0.006473,-0.002764,-0.008348,0.006616,-0.014714
896,-0.003515,-0.007387,0.008780,0.006261,-0.009497,-0.005193,0.000538,-0.005831,-0.019879,0.006393,...,0.004555,-0.019360,0.002124,0.001442,0.000133,-0.006814,-0.017147,-0.005404,0.006194,0.011503

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
877,34.39,34.41,34.19,34.12,33.95,34.02,33.87,0.003109,0.003324,0.003083,0.012498,0.021902,0.024859,34.62

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
891,-0.003166,-0.009313,-0.009625,0.018668,-0.018169,-0.002931,0.002858,-0.012949,0.032368,-0.005152,...,-0.000648,0.002892,-0.009360,0.007007,-0.003351,0.011223,0.005795,-0.010146,0.003053,-0.004989
892,-0.007523,-0.004190,0.004824,-0.009290,0.005534,-0.002572,0.011351,0.016214,0.000000,-0.002586,...,-0.011077,-0.019351,-0.002354,0.001836,0.004688,-0.002370,-0.004343,0.006577,-0.004455,-0.006452
893,-0.000872,0.000799,-0.006034,0.008005,-0.006741,-0.005164,0.014566,-0.016435,-0.006528,-0.011721,...,0.002095,0.009855,-0.005020,0.017455,0.000801,-0.008169,0.009059,-0.001789,0.002421,0.005022
894,-0.005539,-0.011452,-0.005549,-0.018692,-0.004600,-0.003705,0.016548,-0.003320,0.011652,-0.001311,...,-0.000392,0.001060,0.000000,-0.010145,-0.002406,0.000000,-0.005505,0.005359,-0.003059,0.004284
895,-0.000292,0.015638,-0.014185,0.001309,0.001213,0.003335,0.016278,-0.008683,-0.013377,-0.011434,...,0.003004,-0.019787,-0.025789,0.009063,0.004541,0.006473,-0.002764,-0.008348,0.006616,-0.014714
896,-0.003515,-0.007387,0.008780,0.006261,-0.009497,-0.005193,0.000538,-0.005831,-0.019879,0.006393,...,0.004555,-0.019360,0.002124,0.001442,0.000133,-0.006814,-0.017147,-0.005404,0.006194,0.011503
897,-0.004706,-0.009463,0.026056,-0.027688,-0.007614,0.008517,0.005900,-0.007450,-0.006360,-0.007056,...,-0.009130,0.002200,-0.006386,0.004674,-0.006684,-0.002396,-0.015265,-0.006039,0.006156,0.011725

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
878,34.62,34.39,34.41,34.19,34.12,33.95,34.02,0.003051,0.002923,0.0031,0.009545,0.020943,0.029208,34.74

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
892,-0.007523,-0.004190,0.004824,-0.009290,0.005534,-0.002572,0.011351,0.016214,0.000000,-0.002586,...,-0.011077,-0.019351,-0.002354,0.001836,0.004688,-0.002370,-0.004343,0.006577,-0.004455,-0.006452
893,-0.000872,0.000799,-0.006034,0.008005,-0.006741,-0.005164,0.014566,-0.016435,-0.006528,-0.011721,...,0.002095,0.009855,-0.005020,0.017455,0.000801,-0.008169,0.009059,-0.001789,0.002421,0.005022
894,-0.005539,-0.011452,-0.005549,-0.018692,-0.004600,-0.003705,0.016548,-0.003320,0.011652,-0.001311,...,-0.000392,0.001060,0.000000,-0.010145,-0.002406,0.000000,-0.005505,0.005359,-0.003059,0.004284
895,-0.000292,0.015638,-0.014185,0.001309,0.001213,0.003335,0.016278,-0.008683,-0.013377,-0.011434,...,0.003004,-0.019787,-0.025789,0.009063,0.004541,0.006473,-0.002764,-0.008348,0.006616,-0.014714
896,-0.003515,-0.007387,0.008780,0.006261,-0.009497,-0.005193,0.000538,-0.005831,-0.019879,0.006393,...,0.004555,-0.019360,0.002124,0.001442,0.000133,-0.006814,-0.017147,-0.005404,0.006194,0.011503
897,-0.004706,-0.009463,0.026056,-0.027688,-0.007614,0.008517,0.005900,-0.007450,-0.006360,-0.007056,...,-0.009130,0.002200,-0.006386,0.004674,-0.006684,-0.002396,-0.015265,-0.006039,0.006156,0.011725
898,-0.007695,-0.001012,0.025560,0.005067,-0.006183,-0.003324,-0.001070,0.011714,0.018961,-0.000221,...,-0.006441,-0.027010,-0.000916,-0.021389,-0.003493,0.006831,-0.000272,-0.006075,0.003626,0.007741

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
879,34.74,34.62,34.39,34.41,34.19,34.12,33.95,0.005042,0.003862,0.003398,0.004931,0.017808,0.023124,34.56

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
893,-0.000872,0.000799,-0.006034,0.008005,-0.006741,-0.005164,0.014566,-0.016435,-0.006528,-0.011721,...,0.002095,0.009855,-0.005020,0.017455,0.000801,-0.008169,0.009059,-0.001789,0.002421,0.005022
894,-0.005539,-0.011452,-0.005549,-0.018692,-0.004600,-0.003705,0.016548,-0.003320,0.011652,-0.001311,...,-0.000392,0.001060,0.000000,-0.010145,-0.002406,0.000000,-0.005505,0.005359,-0.003059,0.004284
895,-0.000292,0.015638,-0.014185,0.001309,0.001213,0.003335,0.016278,-0.008683,-0.013377,-0.011434,...,0.003004,-0.019787,-0.025789,0.009063,0.004541,0.006473,-0.002764,-0.008348,0.006616,-0.014714
896,-0.003515,-0.007387,0.008780,0.006261,-0.009497,-0.005193,0.000538,-0.005831,-0.019879,0.006393,...,0.004555,-0.019360,0.002124,0.001442,0.000133,-0.006814,-0.017147,-0.005404,0.006194,0.011503
897,-0.004706,-0.009463,0.026056,-0.027688,-0.007614,0.008517,0.005900,-0.007450,-0.006360,-0.007056,...,-0.009130,0.002200,-0.006386,0.004674,-0.006684,-0.002396,-0.015265,-0.006039,0.006156,0.011725
898,-0.007695,-0.001012,0.025560,0.005067,-0.006183,-0.003324,-0.001070,0.011714,0.018961,-0.000221,...,-0.006441,-0.027010,-0.000916,-0.021389,-0.003493,0.006831,-0.000272,-0.006075,0.003626,0.007741
899,-0.001487,-0.005483,0.009419,0.000798,-0.001241,0.005902,0.005871,-0.011941,0.002085,-0.012696,...,-0.000924,-0.014213,0.001221,-0.012908,-0.001616,-0.005119,0.003398,-0.001220,-0.003125,-0.005624

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
880,34.56,34.74,34.62,34.39,34.41,34.19,34.12,0.004453,0.003842,0.003173,0.0,0.014548,0.025451,34.62

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
894,-0.005539,-0.011452,-0.005549,-0.018692,-0.004600,-0.003705,0.016548,-0.003320,0.011652,-0.001311,...,-0.000392,0.001060,0.000000,-0.010145,-0.002406,0.000000,-0.005505,0.005359,-0.003059,0.004284
895,-0.000292,0.015638,-0.014185,0.001309,0.001213,0.003335,0.016278,-0.008683,-0.013377,-0.011434,...,0.003004,-0.019787,-0.025789,0.009063,0.004541,0.006473,-0.002764,-0.008348,0.006616,-0.014714
896,-0.003515,-0.007387,0.008780,0.006261,-0.009497,-0.005193,0.000538,-0.005831,-0.019879,0.006393,...,0.004555,-0.019360,0.002124,0.001442,0.000133,-0.006814,-0.017147,-0.005404,0.006194,0.011503
897,-0.004706,-0.009463,0.026056,-0.027688,-0.007614,0.008517,0.005900,-0.007450,-0.006360,-0.007056,...,-0.009130,0.002200,-0.006386,0.004674,-0.006684,-0.002396,-0.015265,-0.006039,0.006156,0.011725
898,-0.007695,-0.001012,0.025560,0.005067,-0.006183,-0.003324,-0.001070,0.011714,0.018961,-0.000221,...,-0.006441,-0.027010,-0.000916,-0.021389,-0.003493,0.006831,-0.000272,-0.006075,0.003626,0.007741
899,-0.001487,-0.005483,0.009419,0.000798,-0.001241,0.005902,0.005871,-0.011941,0.002085,-0.012696,...,-0.000924,-0.014213,0.001221,-0.012908,-0.001616,-0.005119,0.003398,-0.001220,-0.003125,-0.005624
900,-0.002681,0.002034,0.009331,-0.006133,-0.002985,0.004037,-0.028064,0.004748,-0.005569,0.008260,...,-0.005559,0.012801,0.000914,0.015835,-0.004729,0.004438,-0.001630,-0.002443,-0.005775,0.000705

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
881,34.62,34.56,34.74,34.62,34.39,34.41,34.19,0.005319,0.004389,0.003527,-0.008673,0.007285,0.016689,34.44

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
895,-0.000292,0.015638,-0.014185,0.001309,0.001213,0.003335,0.016278,-0.008683,-0.013377,-0.011434,...,0.003004,-0.019787,-0.025789,0.009063,0.004541,0.006473,-0.002764,-0.008348,0.006616,-0.014714
896,-0.003515,-0.007387,0.008780,0.006261,-0.009497,-0.005193,0.000538,-0.005831,-0.019879,0.006393,...,0.004555,-0.019360,0.002124,0.001442,0.000133,-0.006814,-0.017147,-0.005404,0.006194,0.011503
897,-0.004706,-0.009463,0.026056,-0.027688,-0.007614,0.008517,0.005900,-0.007450,-0.006360,-0.007056,...,-0.009130,0.002200,-0.006386,0.004674,-0.006684,-0.002396,-0.015265,-0.006039,0.006156,0.011725
898,-0.007695,-0.001012,0.025560,0.005067,-0.006183,-0.003324,-0.001070,0.011714,0.018961,-0.000221,...,-0.006441,-0.027010,-0.000916,-0.021389,-0.003493,0.006831,-0.000272,-0.006075,0.003626,0.007741
899,-0.001487,-0.005483,0.009419,0.000798,-0.001241,0.005902,0.005871,-0.011941,0.002085,-0.012696,...,-0.000924,-0.014213,0.001221,-0.012908,-0.001616,-0.005119,0.003398,-0.001220,-0.003125,-0.005624
900,-0.002681,0.002034,0.009331,-0.006133,-0.002985,0.004037,-0.028064,0.004748,-0.005569,0.008260,...,-0.005559,0.012801,0.000914,0.015835,-0.004729,0.004438,-0.001630,-0.002443,-0.005775,0.000705
901,0.000895,-0.007138,0.009729,-0.003215,0.012871,-0.009569,0.007090,-0.004069,-0.001397,-0.010504,...,-0.011212,0.018205,-0.007339,-0.010283,-0.010621,-0.006835,-0.007504,0.007313,0.014624,-0.003175

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
882,34.44,34.62,34.56,34.74,34.62,34.39,34.41,0.00422,0.004237,0.003518,-0.001448,0.002902,0.021084,34.51

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
896,-0.003515,-0.007387,0.008780,0.006261,-0.009497,-0.005193,0.000538,-0.005831,-0.019879,0.006393,...,0.004555,-0.019360,0.002124,0.001442,0.000133,-0.006814,-0.017147,-0.005404,0.006194,0.011503
897,-0.004706,-0.009463,0.026056,-0.027688,-0.007614,0.008517,0.005900,-0.007450,-0.006360,-0.007056,...,-0.009130,0.002200,-0.006386,0.004674,-0.006684,-0.002396,-0.015265,-0.006039,0.006156,0.011725
898,-0.007695,-0.001012,0.025560,0.005067,-0.006183,-0.003324,-0.001070,0.011714,0.018961,-0.000221,...,-0.006441,-0.027010,-0.000916,-0.021389,-0.003493,0.006831,-0.000272,-0.006075,0.003626,0.007741
899,-0.001487,-0.005483,0.009419,0.000798,-0.001241,0.005902,0.005871,-0.011941,0.002085,-0.012696,...,-0.000924,-0.014213,0.001221,-0.012908,-0.001616,-0.005119,0.003398,-0.001220,-0.003125,-0.005624
900,-0.002681,0.002034,0.009331,-0.006133,-0.002985,0.004037,-0.028064,0.004748,-0.005569,0.008260,...,-0.005559,0.012801,0.000914,0.015835,-0.004729,0.004438,-0.001630,-0.002443,-0.005775,0.000705
901,0.000895,-0.007138,0.009729,-0.003215,0.012871,-0.009569,0.007090,-0.004069,-0.001397,-0.010504,...,-0.011212,0.018205,-0.007339,-0.010283,-0.010621,-0.006835,-0.007504,0.007313,0.014624,-0.003175
902,-0.006579,-0.003075,0.023917,0.010410,-0.000738,-0.007424,0.003797,-0.000680,0.004186,0.010504,...,-0.008492,0.001664,-0.008941,-0.008154,-0.006317,-0.003091,0.003827,0.005450,0.000372,-0.000707

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
883,34.51,34.44,34.62,34.56,34.74,34.62,34.39,0.003557,0.004224,0.003417,-0.005503,0.001162,0.017285,34.43

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
897,-0.004706,-0.009463,0.026056,-0.027688,-0.007614,0.008517,0.005900,-0.007450,-0.006360,-0.007056,...,-0.009130,0.002200,-0.006386,0.004674,-0.006684,-0.002396,-0.015265,-0.006039,0.006156,0.011725
898,-0.007695,-0.001012,0.025560,0.005067,-0.006183,-0.003324,-0.001070,0.011714,0.018961,-0.000221,...,-0.006441,-0.027010,-0.000916,-0.021389,-0.003493,0.006831,-0.000272,-0.006075,0.003626,0.007741
899,-0.001487,-0.005483,0.009419,0.000798,-0.001241,0.005902,0.005871,-0.011941,0.002085,-0.012696,...,-0.000924,-0.014213,0.001221,-0.012908,-0.001616,-0.005119,0.003398,-0.001220,-0.003125,-0.005624
900,-0.002681,0.002034,0.009331,-0.006133,-0.002985,0.004037,-0.028064,0.004748,-0.005569,0.008260,...,-0.005559,0.012801,0.000914,0.015835,-0.004729,0.004438,-0.001630,-0.002443,-0.005775,0.000705
901,0.000895,-0.007138,0.009729,-0.003215,0.012871,-0.009569,0.007090,-0.004069,-0.001397,-0.010504,...,-0.011212,0.018205,-0.007339,-0.010283,-0.010621,-0.006835,-0.007504,0.007313,0.014624,-0.003175
902,-0.006579,-0.003075,0.023917,0.010410,-0.000738,-0.007424,0.003797,-0.000680,0.004186,0.010504,...,-0.008492,0.001664,-0.008941,-0.008154,-0.006317,-0.003091,0.003827,0.005450,0.000372,-0.000707
903,0.000600,0.003279,-0.015561,-0.011484,0.001721,-0.007104,0.004861,0.008801,-0.004535,0.001999,...,0.002434,-0.024686,0.002166,-0.010099,0.005358,-0.003446,-0.008357,0.002413,0.008522,0.002472

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
884,34.43,34.51,34.44,34.62,34.56,34.74,34.62,0.004734,0.004674,0.003659,0.006944,0.001732,0.023633,34.68

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
898,-0.007695,-0.001012,0.025560,0.005067,-0.006183,-0.003324,-0.001070,0.011714,0.018961,-0.000221,...,-0.006441,-0.027010,-0.000916,-0.021389,-0.003493,0.006831,-0.000272,-0.006075,0.003626,0.007741
899,-0.001487,-0.005483,0.009419,0.000798,-0.001241,0.005902,0.005871,-0.011941,0.002085,-0.012696,...,-0.000924,-0.014213,0.001221,-0.012908,-0.001616,-0.005119,0.003398,-0.001220,-0.003125,-0.005624
900,-0.002681,0.002034,0.009331,-0.006133,-0.002985,0.004037,-0.028064,0.004748,-0.005569,0.008260,...,-0.005559,0.012801,0.000914,0.015835,-0.004729,0.004438,-0.001630,-0.002443,-0.005775,0.000705
901,0.000895,-0.007138,0.009729,-0.003215,0.012871,-0.009569,0.007090,-0.004069,-0.001397,-0.010504,...,-0.011212,0.018205,-0.007339,-0.010283,-0.010621,-0.006835,-0.007504,0.007313,0.014624,-0.003175
902,-0.006579,-0.003075,0.023917,0.010410,-0.000738,-0.007424,0.003797,-0.000680,0.004186,0.010504,...,-0.008492,0.001664,-0.008941,-0.008154,-0.006317,-0.003091,0.003827,0.005450,0.000372,-0.000707
903,0.000600,0.003279,-0.015561,-0.011484,0.001721,-0.007104,0.004861,0.008801,-0.004535,0.001999,...,0.002434,-0.024686,0.002166,-0.010099,0.005358,-0.003446,-0.008357,0.002413,0.008522,0.002472
904,-0.003906,-0.010077,-0.010456,0.004288,-0.002214,0.007477,-0.011379,0.008501,0.024522,-0.006679,...,-0.006639,-0.001421,-0.003405,0.002253,0.005330,-0.002419,-0.002341,0.007801,-0.009143,-0.007435

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
885,34.68,34.43,34.51,34.44,34.62,34.56,34.74,0.004888,0.00441,0.003686,0.008368,0.001726,0.022669,34.8

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
899,-0.001487,-0.005483,0.009419,0.000798,-0.001241,0.005902,0.005871,-0.011941,0.002085,-0.012696,...,-0.000924,-0.014213,0.001221,-0.012908,-0.001616,-0.005119,0.003398,-0.001220,-0.003125,-0.005624
900,-0.002681,0.002034,0.009331,-0.006133,-0.002985,0.004037,-0.028064,0.004748,-0.005569,0.008260,...,-0.005559,0.012801,0.000914,0.015835,-0.004729,0.004438,-0.001630,-0.002443,-0.005775,0.000705
901,0.000895,-0.007138,0.009729,-0.003215,0.012871,-0.009569,0.007090,-0.004069,-0.001397,-0.010504,...,-0.011212,0.018205,-0.007339,-0.010283,-0.010621,-0.006835,-0.007504,0.007313,0.014624,-0.003175
902,-0.006579,-0.003075,0.023917,0.010410,-0.000738,-0.007424,0.003797,-0.000680,0.004186,0.010504,...,-0.008492,0.001664,-0.008941,-0.008154,-0.006317,-0.003091,0.003827,0.005450,0.000372,-0.000707
903,0.000600,0.003279,-0.015561,-0.011484,0.001721,-0.007104,0.004861,0.008801,-0.004535,0.001999,...,0.002434,-0.024686,0.002166,-0.010099,0.005358,-0.003446,-0.008357,0.002413,0.008522,0.002472
904,-0.003906,-0.010077,-0.010456,0.004288,-0.002214,0.007477,-0.011379,0.008501,0.024522,-0.006679,...,-0.006639,-0.001421,-0.003405,0.002253,0.005330,-0.002419,-0.002341,0.007801,-0.009143,-0.007435
905,-0.000903,-0.002898,-0.005513,-0.006709,0.007116,-0.005602,-0.005464,-0.004465,0.003066,0.009780,...,-0.002586,-0.010292,-0.019096,0.007846,-0.005330,-0.009386,-0.001380,-0.005995,0.002232,-0.002134

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
886,34.8,34.68,34.43,34.51,34.44,34.62,34.56,0.004047,0.004779,0.003879,0.018133,0.014364,0.032172,35.06

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
900,-0.002681,0.002034,0.009331,-0.006133,-0.002985,0.004037,-0.028064,0.004748,-0.005569,0.008260,...,-0.005559,0.012801,0.000914,0.015835,-0.004729,0.004438,-0.001630,-0.002443,-0.005775,0.000705
901,0.000895,-0.007138,0.009729,-0.003215,0.012871,-0.009569,0.007090,-0.004069,-0.001397,-0.010504,...,-0.011212,0.018205,-0.007339,-0.010283,-0.010621,-0.006835,-0.007504,0.007313,0.014624,-0.003175
902,-0.006579,-0.003075,0.023917,0.010410,-0.000738,-0.007424,0.003797,-0.000680,0.004186,0.010504,...,-0.008492,0.001664,-0.008941,-0.008154,-0.006317,-0.003091,0.003827,0.005450,0.000372,-0.000707
903,0.000600,0.003279,-0.015561,-0.011484,0.001721,-0.007104,0.004861,0.008801,-0.004535,0.001999,...,0.002434,-0.024686,0.002166,-0.010099,0.005358,-0.003446,-0.008357,0.002413,0.008522,0.002472
904,-0.003906,-0.010077,-0.010456,0.004288,-0.002214,0.007477,-0.011379,0.008501,0.024522,-0.006679,...,-0.006639,-0.001421,-0.003405,0.002253,0.005330,-0.002419,-0.002341,0.007801,-0.009143,-0.007435
905,-0.000903,-0.002898,-0.005513,-0.006709,0.007116,-0.005602,-0.005464,-0.004465,0.003066,0.009780,...,-0.002586,-0.010292,-0.019096,0.007846,-0.005330,-0.009386,-0.001380,-0.005995,0.002232,-0.002134
906,0.000301,0.004137,0.004219,-0.005129,0.000978,-0.007519,0.018459,0.002682,0.023530,0.006614,...,0.001226,-0.018562,-0.010485,-0.014621,-0.003844,-0.009828,-0.003597,-0.001203,-0.002107,-0.013625

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
887,35.06,34.8,34.68,34.43,34.51,34.44,34.62,0.004386,0.004511,0.003888,0.010612,0.012344,0.026892,35.05

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
901,0.000895,-0.007138,0.009729,-0.003215,0.012871,-0.009569,0.007090,-0.004069,-0.001397,-0.010504,...,-0.011212,0.018205,-0.007339,-0.010283,-0.010621,-0.006835,-0.007504,0.007313,0.014624,-0.003175
902,-0.006579,-0.003075,0.023917,0.010410,-0.000738,-0.007424,0.003797,-0.000680,0.004186,0.010504,...,-0.008492,0.001664,-0.008941,-0.008154,-0.006317,-0.003091,0.003827,0.005450,0.000372,-0.000707
903,0.000600,0.003279,-0.015561,-0.011484,0.001721,-0.007104,0.004861,0.008801,-0.004535,0.001999,...,0.002434,-0.024686,0.002166,-0.010099,0.005358,-0.003446,-0.008357,0.002413,0.008522,0.002472
904,-0.003906,-0.010077,-0.010456,0.004288,-0.002214,0.007477,-0.011379,0.008501,0.024522,-0.006679,...,-0.006639,-0.001421,-0.003405,0.002253,0.005330,-0.002419,-0.002341,0.007801,-0.009143,-0.007435
905,-0.000903,-0.002898,-0.005513,-0.006709,0.007116,-0.005602,-0.005464,-0.004465,0.003066,0.009780,...,-0.002586,-0.010292,-0.019096,0.007846,-0.005330,-0.009386,-0.001380,-0.005995,0.002232,-0.002134
906,0.000301,0.004137,0.004219,-0.005129,0.000978,-0.007519,0.018459,0.002682,0.023530,0.006614,...,0.001226,-0.018562,-0.010485,-0.014621,-0.003844,-0.009828,-0.003597,-0.001203,-0.002107,-0.013625
907,0.000903,0.002886,-0.013530,-0.003796,0.001464,-0.005297,-0.000538,-0.011221,-0.007671,0.012881,...,0.000680,0.014531,0.010169,-0.030677,0.001924,-0.001412,0.003873,-0.001808,-0.008099,-0.000722

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
888,35.05,35.06,34.8,34.68,34.43,34.51,34.44,0.003961,0.004481,0.003818,0.006302,0.016701,0.023986,35.02

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
902,-0.006579,-0.003075,0.023917,0.010410,-0.000738,-0.007424,0.003797,-0.000680,0.004186,0.010504,...,-0.008492,0.001664,-0.008941,-0.008154,-0.006317,-0.003091,0.003827,0.005450,0.000372,-0.000707
903,0.000600,0.003279,-0.015561,-0.011484,0.001721,-0.007104,0.004861,0.008801,-0.004535,0.001999,...,0.002434,-0.024686,0.002166,-0.010099,0.005358,-0.003446,-0.008357,0.002413,0.008522,0.002472
904,-0.003906,-0.010077,-0.010456,0.004288,-0.002214,0.007477,-0.011379,0.008501,0.024522,-0.006679,...,-0.006639,-0.001421,-0.003405,0.002253,0.005330,-0.002419,-0.002341,0.007801,-0.009143,-0.007435
905,-0.000903,-0.002898,-0.005513,-0.006709,0.007116,-0.005602,-0.005464,-0.004465,0.003066,0.009780,...,-0.002586,-0.010292,-0.019096,0.007846,-0.005330,-0.009386,-0.001380,-0.005995,0.002232,-0.002134
906,0.000301,0.004137,0.004219,-0.005129,0.000978,-0.007519,0.018459,0.002682,0.023530,0.006614,...,0.001226,-0.018562,-0.010485,-0.014621,-0.003844,-0.009828,-0.003597,-0.001203,-0.002107,-0.013625
907,0.000903,0.002886,-0.013530,-0.003796,0.001464,-0.005297,-0.000538,-0.011221,-0.007671,0.012881,...,0.000680,0.014531,0.010169,-0.030677,0.001924,-0.001412,0.003873,-0.001808,-0.008099,-0.000722
908,-0.001204,-0.002061,-0.008405,-0.006268,-0.007344,0.000758,0.027603,-0.008613,-0.025773,0.017844,...,0.000136,0.000288,-0.001582,-0.002339,-0.005231,-0.009583,-0.001105,0.006613,0.003248,-0.004345

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
889,35.02,35.05,35.06,34.8,34.68,34.43,34.51,0.003504,0.003982,0.003839,-0.001142,0.01467,0.017572,35.02

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
903,0.000600,0.003279,-0.015561,-0.011484,0.001721,-0.007104,0.004861,0.008801,-0.004535,0.001999,...,0.002434,-0.024686,0.002166,-0.010099,0.005358,-0.003446,-0.008357,0.002413,0.008522,0.002472
904,-0.003906,-0.010077,-0.010456,0.004288,-0.002214,0.007477,-0.011379,0.008501,0.024522,-0.006679,...,-0.006639,-0.001421,-0.003405,0.002253,0.005330,-0.002419,-0.002341,0.007801,-0.009143,-0.007435
905,-0.000903,-0.002898,-0.005513,-0.006709,0.007116,-0.005602,-0.005464,-0.004465,0.003066,0.009780,...,-0.002586,-0.010292,-0.019096,0.007846,-0.005330,-0.009386,-0.001380,-0.005995,0.002232,-0.002134
906,0.000301,0.004137,0.004219,-0.005129,0.000978,-0.007519,0.018459,0.002682,0.023530,0.006614,...,0.001226,-0.018562,-0.010485,-0.014621,-0.003844,-0.009828,-0.003597,-0.001203,-0.002107,-0.013625
907,0.000903,0.002886,-0.013530,-0.003796,0.001464,-0.005297,-0.000538,-0.011221,-0.007671,0.012881,...,0.000680,0.014531,0.010169,-0.030677,0.001924,-0.001412,0.003873,-0.001808,-0.008099,-0.000722
908,-0.001204,-0.002061,-0.008405,-0.006268,-0.007344,0.000758,0.027603,-0.008613,-0.025773,0.017844,...,0.000136,0.000288,-0.001582,-0.002339,-0.005231,-0.009583,-0.001105,0.006613,0.003248,-0.004345
909,0.002107,0.006579,-0.008310,0.005724,-0.002706,-0.003037,-0.015300,0.010642,-0.003786,0.021919,...,0.008667,0.011186,0.009455,-0.000781,-0.006924,0.007461,-0.004571,-0.010238,-0.001997,-0.003635

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
890,35.02,35.02,35.05,35.06,34.8,34.68,34.43,0.003403,0.00398,0.003835,0.00057,0.018418,0.01958,35.07

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
904,-0.003906,-0.010077,-0.010456,0.004288,-0.002214,0.007477,-0.011379,0.008501,0.024522,-0.006679,...,-0.006639,-0.001421,-0.003405,0.002253,0.005330,-0.002419,-0.002341,0.007801,-0.009143,-0.007435
905,-0.000903,-0.002898,-0.005513,-0.006709,0.007116,-0.005602,-0.005464,-0.004465,0.003066,0.009780,...,-0.002586,-0.010292,-0.019096,0.007846,-0.005330,-0.009386,-0.001380,-0.005995,0.002232,-0.002134
906,0.000301,0.004137,0.004219,-0.005129,0.000978,-0.007519,0.018459,0.002682,0.023530,0.006614,...,0.001226,-0.018562,-0.010485,-0.014621,-0.003844,-0.009828,-0.003597,-0.001203,-0.002107,-0.013625
907,0.000903,0.002886,-0.013530,-0.003796,0.001464,-0.005297,-0.000538,-0.011221,-0.007671,0.012881,...,0.000680,0.014531,0.010169,-0.030677,0.001924,-0.001412,0.003873,-0.001808,-0.008099,-0.000722
908,-0.001204,-0.002061,-0.008405,-0.006268,-0.007344,0.000758,0.027603,-0.008613,-0.025773,0.017844,...,0.000136,0.000288,-0.001582,-0.002339,-0.005231,-0.009583,-0.001105,0.006613,0.003248,-0.004345
909,0.002107,0.006579,-0.008310,0.005724,-0.002706,-0.003037,-0.015300,0.010642,-0.003786,0.021919,...,0.008667,0.011186,0.009455,-0.000781,-0.006924,0.007461,-0.004571,-0.010238,-0.001997,-0.003635
910,0.002702,-0.004313,-0.012089,-0.010932,-0.001726,-0.006485,0.020522,-0.014062,0.014379,0.023283,...,-0.005408,0.015004,0.030277,0.003899,-0.010056,-0.000354,-0.005569,0.006035,-0.000250,-0.001822

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
891,35.07,35.02,35.02,35.05,35.06,34.8,34.68,0.003588,0.004484,0.00432,-0.006302,0.003454,0.005186,34.8

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
905,-0.000903,-0.002898,-0.005513,-0.006709,0.007116,-0.005602,-0.005464,-0.004465,0.003066,0.009780,...,-0.002586,-0.010292,-0.019096,0.007846,-0.005330,-0.009386,-0.001380,-0.005995,0.002232,-0.002134
906,0.000301,0.004137,0.004219,-0.005129,0.000978,-0.007519,0.018459,0.002682,0.023530,0.006614,...,0.001226,-0.018562,-0.010485,-0.014621,-0.003844,-0.009828,-0.003597,-0.001203,-0.002107,-0.013625
907,0.000903,0.002886,-0.013530,-0.003796,0.001464,-0.005297,-0.000538,-0.011221,-0.007671,0.012881,...,0.000680,0.014531,0.010169,-0.030677,0.001924,-0.001412,0.003873,-0.001808,-0.008099,-0.000722
908,-0.001204,-0.002061,-0.008405,-0.006268,-0.007344,0.000758,0.027603,-0.008613,-0.025773,0.017844,...,0.000136,0.000288,-0.001582,-0.002339,-0.005231,-0.009583,-0.001105,0.006613,0.003248,-0.004345
909,0.002107,0.006579,-0.008310,0.005724,-0.002706,-0.003037,-0.015300,0.010642,-0.003786,0.021919,...,0.008667,0.011186,0.009455,-0.000781,-0.006924,0.007461,-0.004571,-0.010238,-0.001997,-0.003635
910,0.002702,-0.004313,-0.012089,-0.010932,-0.001726,-0.006485,0.020522,-0.014062,0.014379,0.023283,...,-0.005408,0.015004,0.030277,0.003899,-0.010056,-0.000354,-0.005569,0.006035,-0.000250,-0.001822
911,-0.001801,-0.002679,0.007573,0.000824,-0.012416,-0.001532,-0.008894,-0.007106,0.014175,0.000814,...,-0.000814,0.014228,0.008183,-0.010168,0.002383,0.003182,-0.005740,-0.010889,-0.007779,0.005820

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
892,34.8,35.07,35.02,35.02,35.05,35.06,34.8,0.003578,0.004654,0.004369,-0.009468,-0.003166,-0.00144,34.69

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
906,0.000301,0.004137,0.004219,-0.005129,0.000978,-0.007519,0.018459,0.002682,0.023530,0.006614,...,0.001226,-0.018562,-0.010485,-0.014621,-0.003844,-0.009828,-0.003597,-0.001203,-0.002107,-0.013625
907,0.000903,0.002886,-0.013530,-0.003796,0.001464,-0.005297,-0.000538,-0.011221,-0.007671,0.012881,...,0.000680,0.014531,0.010169,-0.030677,0.001924,-0.001412,0.003873,-0.001808,-0.008099,-0.000722
908,-0.001204,-0.002061,-0.008405,-0.006268,-0.007344,0.000758,0.027603,-0.008613,-0.025773,0.017844,...,0.000136,0.000288,-0.001582,-0.002339,-0.005231,-0.009583,-0.001105,0.006613,0.003248,-0.004345
909,0.002107,0.006579,-0.008310,0.005724,-0.002706,-0.003037,-0.015300,0.010642,-0.003786,0.021919,...,0.008667,0.011186,0.009455,-0.000781,-0.006924,0.007461,-0.004571,-0.010238,-0.001997,-0.003635
910,0.002702,-0.004313,-0.012089,-0.010932,-0.001726,-0.006485,0.020522,-0.014062,0.014379,0.023283,...,-0.005408,0.015004,0.030277,0.003899,-0.010056,-0.000354,-0.005569,0.006035,-0.000250,-0.001822
911,-0.001801,-0.002679,0.007573,0.000824,-0.012416,-0.001532,-0.008894,-0.007106,0.014175,0.000814,...,-0.000814,0.014228,0.008183,-0.010168,0.002383,0.003182,-0.005740,-0.010889,-0.007779,0.005820
912,0.001801,-0.001239,0.014480,0.000000,0.006972,-0.003840,-0.008973,-0.000230,-0.013156,0.011332,...,0.009184,-0.021560,0.001809,0.021004,-0.007309,-0.004954,0.000982,-0.009166,0.003018,-0.003634

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
893,34.69,34.8,35.07,35.02,35.02,35.05,35.06,0.004203,0.005259,0.004665,-0.018418,-0.018133,-0.003769,34.43

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
907,0.000903,0.002886,-0.013530,-0.003796,0.001464,-0.005297,-0.000538,-0.011221,-0.007671,0.012881,...,0.000680,0.014531,0.010169,-0.030677,0.001924,-0.001412,0.003873,-0.001808,-0.008099,-0.000722
908,-0.001204,-0.002061,-0.008405,-0.006268,-0.007344,0.000758,0.027603,-0.008613,-0.025773,0.017844,...,0.000136,0.000288,-0.001582,-0.002339,-0.005231,-0.009583,-0.001105,0.006613,0.003248,-0.004345
909,0.002107,0.006579,-0.008310,0.005724,-0.002706,-0.003037,-0.015300,0.010642,-0.003786,0.021919,...,0.008667,0.011186,0.009455,-0.000781,-0.006924,0.007461,-0.004571,-0.010238,-0.001997,-0.003635
910,0.002702,-0.004313,-0.012089,-0.010932,-0.001726,-0.006485,0.020522,-0.014062,0.014379,0.023283,...,-0.005408,0.015004,0.030277,0.003899,-0.010056,-0.000354,-0.005569,0.006035,-0.000250,-0.001822
911,-0.001801,-0.002679,0.007573,0.000824,-0.012416,-0.001532,-0.008894,-0.007106,0.014175,0.000814,...,-0.000814,0.014228,0.008183,-0.010168,0.002383,0.003182,-0.005740,-0.010889,-0.007779,0.005820
912,0.001801,-0.001239,0.014480,0.000000,0.006972,-0.003840,-0.008973,-0.000230,-0.013156,0.011332,...,0.009184,-0.021560,0.001809,0.021004,-0.007309,-0.004954,0.000982,-0.009166,0.003018,-0.003634
913,0.005383,-0.003726,-0.016661,0.011738,0.007417,0.004607,-0.012807,-0.007159,-0.012299,-0.008690,...,0.009101,-0.013966,-0.003018,-0.006565,0.001691,0.008829,-0.018547,0.004288,0.005385,-0.017258

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
894,34.43,34.69,34.8,35.07,35.02,35.02,35.05,0.004041,0.004603,0.004658,-0.011561,-0.018719,-0.006375,34.4

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
908,-0.001204,-0.002061,-0.008405,-0.006268,-0.007344,0.000758,0.027603,-0.008613,-0.025773,0.017844,...,0.000136,0.000288,-0.001582,-0.002339,-0.005231,-0.009583,-0.001105,0.006613,0.003248,-0.004345
909,0.002107,0.006579,-0.008310,0.005724,-0.002706,-0.003037,-0.015300,0.010642,-0.003786,0.021919,...,0.008667,0.011186,0.009455,-0.000781,-0.006924,0.007461,-0.004571,-0.010238,-0.001997,-0.003635
910,0.002702,-0.004313,-0.012089,-0.010932,-0.001726,-0.006485,0.020522,-0.014062,0.014379,0.023283,...,-0.005408,0.015004,0.030277,0.003899,-0.010056,-0.000354,-0.005569,0.006035,-0.000250,-0.001822
911,-0.001801,-0.002679,0.007573,0.000824,-0.012416,-0.001532,-0.008894,-0.007106,0.014175,0.000814,...,-0.000814,0.014228,0.008183,-0.010168,0.002383,0.003182,-0.005740,-0.010889,-0.007779,0.005820
912,0.001801,-0.001239,0.014480,0.000000,0.006972,-0.003840,-0.008973,-0.000230,-0.013156,0.011332,...,0.009184,-0.021560,0.001809,0.021004,-0.007309,-0.004954,0.000982,-0.009166,0.003018,-0.003634
913,0.005383,-0.003726,-0.016661,0.011738,0.007417,0.004607,-0.012807,-0.007159,-0.012299,-0.008690,...,0.009101,-0.013966,-0.003018,-0.006565,0.001691,0.008829,-0.018547,0.004288,0.005385,-0.017258
914,-0.005083,0.001244,0.002349,-0.006807,0.000739,-0.001917,-0.008630,0.017232,-0.021895,-0.020920,...,0.003325,-0.018541,0.000000,-0.017983,0.000422,0.001054,0.006268,-0.019754,0.005357,0.001110

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
895,34.4,34.43,34.69,34.8,35.07,35.02,35.02,0.002937,0.004556,0.0046,-0.013933,-0.023401,-0.006701,34.21

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
909,0.002107,0.006579,-0.008310,0.005724,-0.002706,-0.003037,-0.015300,0.010642,-0.003786,0.021919,...,0.008667,0.011186,0.009455,-0.000781,-0.006924,0.007461,-0.004571,-0.010238,-0.001997,-0.003635
910,0.002702,-0.004313,-0.012089,-0.010932,-0.001726,-0.006485,0.020522,-0.014062,0.014379,0.023283,...,-0.005408,0.015004,0.030277,0.003899,-0.010056,-0.000354,-0.005569,0.006035,-0.000250,-0.001822
911,-0.001801,-0.002679,0.007573,0.000824,-0.012416,-0.001532,-0.008894,-0.007106,0.014175,0.000814,...,-0.000814,0.014228,0.008183,-0.010168,0.002383,0.003182,-0.005740,-0.010889,-0.007779,0.005820
912,0.001801,-0.001239,0.014480,0.000000,0.006972,-0.003840,-0.008973,-0.000230,-0.013156,0.011332,...,0.009184,-0.021560,0.001809,0.021004,-0.007309,-0.004954,0.000982,-0.009166,0.003018,-0.003634
913,0.005383,-0.003726,-0.016661,0.011738,0.007417,0.004607,-0.012807,-0.007159,-0.012299,-0.008690,...,0.009101,-0.013966,-0.003018,-0.006565,0.001691,0.008829,-0.018547,0.004288,0.005385,-0.017258
914,-0.005083,0.001244,0.002349,-0.006807,0.000739,-0.001917,-0.008630,0.017232,-0.021895,-0.020920,...,0.003325,-0.018541,0.000000,-0.017983,0.000422,0.001054,0.006268,-0.019754,0.005357,0.001110
915,-0.002701,0.009483,0.020571,0.004634,-0.001231,0.006121,-0.004343,-0.004109,0.011529,-0.014614,...,-0.000930,-0.000878,0.002113,-0.014703,-0.003808,0.011177,-0.005125,-0.006254,0.001366,0.016147

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
896,34.21,34.4,34.43,34.69,34.8,35.07,35.02,0.003068,0.003317,0.0046,-0.006703,-0.023694,-0.009023,34.2

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
910,0.002702,-0.004313,-0.012089,-0.010932,-0.001726,-0.006485,0.020522,-0.014062,0.014379,0.023283,...,-0.005408,0.015004,0.030277,0.003899,-0.010056,-0.000354,-0.005569,0.006035,-0.000250,-0.001822
911,-0.001801,-0.002679,0.007573,0.000824,-0.012416,-0.001532,-0.008894,-0.007106,0.014175,0.000814,...,-0.000814,0.014228,0.008183,-0.010168,0.002383,0.003182,-0.005740,-0.010889,-0.007779,0.005820
912,0.001801,-0.001239,0.014480,0.000000,0.006972,-0.003840,-0.008973,-0.000230,-0.013156,0.011332,...,0.009184,-0.021560,0.001809,0.021004,-0.007309,-0.004954,0.000982,-0.009166,0.003018,-0.003634
913,0.005383,-0.003726,-0.016661,0.011738,0.007417,0.004607,-0.012807,-0.007159,-0.012299,-0.008690,...,0.009101,-0.013966,-0.003018,-0.006565,0.001691,0.008829,-0.018547,0.004288,0.005385,-0.017258
914,-0.005083,0.001244,0.002349,-0.006807,0.000739,-0.001917,-0.008630,0.017232,-0.021895,-0.020920,...,0.003325,-0.018541,0.000000,-0.017983,0.000422,0.001054,0.006268,-0.019754,0.005357,0.001110
915,-0.002701,0.009483,0.020571,0.004634,-0.001231,0.006121,-0.004343,-0.004109,0.011529,-0.014614,...,-0.000930,-0.000878,0.002113,-0.014703,-0.003808,0.011177,-0.005125,-0.006254,0.001366,0.016147
916,-0.003010,-0.010934,-0.007251,0.027891,0.001969,-0.002673,-0.023673,0.002741,0.000000,-0.002738,...,0.012285,-0.001757,0.010798,-0.011272,0.005496,0.005197,0.002708,0.009366,0.001240,-0.007307

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
897,34.2,34.21,34.4,34.43,34.69,34.8,35.07,0.003063,0.003236,0.004347,-0.009346,-0.028635,-0.010218,34.08

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
911,-0.001801,-0.002679,0.007573,0.000824,-0.012416,-0.001532,-0.008894,-0.007106,0.014175,0.000814,...,-0.000814,0.014228,0.008183,-0.010168,0.002383,0.003182,-0.005740,-0.010889,-0.007779,0.005820
912,0.001801,-0.001239,0.014480,0.000000,0.006972,-0.003840,-0.008973,-0.000230,-0.013156,0.011332,...,0.009184,-0.021560,0.001809,0.021004,-0.007309,-0.004954,0.000982,-0.009166,0.003018,-0.003634
913,0.005383,-0.003726,-0.016661,0.011738,0.007417,0.004607,-0.012807,-0.007159,-0.012299,-0.008690,...,0.009101,-0.013966,-0.003018,-0.006565,0.001691,0.008829,-0.018547,0.004288,0.005385,-0.017258
914,-0.005083,0.001244,0.002349,-0.006807,0.000739,-0.001917,-0.008630,0.017232,-0.021895,-0.020920,...,0.003325,-0.018541,0.000000,-0.017983,0.000422,0.001054,0.006268,-0.019754,0.005357,0.001110
915,-0.002701,0.009483,0.020571,0.004634,-0.001231,0.006121,-0.004343,-0.004109,0.011529,-0.014614,...,-0.000930,-0.000878,0.002113,-0.014703,-0.003808,0.011177,-0.005125,-0.006254,0.001366,0.016147
916,-0.003010,-0.010934,-0.007251,0.027891,0.001969,-0.002673,-0.023673,0.002741,0.000000,-0.002738,...,0.012285,-0.001757,0.010798,-0.011272,0.005496,0.005197,0.002708,0.009366,0.001240,-0.007307
917,-0.005441,-0.011894,-0.005806,0.007378,0.002702,0.007999,-0.003348,-0.006637,-0.029969,0.023550,...,-0.001445,-0.005881,-0.006285,0.014869,0.007839,-0.006935,0.014415,0.018473,-0.003476,-0.017759

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
898,34.08,34.2,34.21,34.4,34.43,34.69,34.8,0.002317,0.003207,0.004311,-0.008513,-0.025613,-0.022158,33.92

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
912,0.001801,-0.001239,0.014480,0.000000,0.006972,-0.003840,-0.008973,-0.000230,-0.013156,0.011332,...,0.009184,-0.021560,0.001809,0.021004,-0.007309,-0.004954,0.000982,-0.009166,0.003018,-0.003634
913,0.005383,-0.003726,-0.016661,0.011738,0.007417,0.004607,-0.012807,-0.007159,-0.012299,-0.008690,...,0.009101,-0.013966,-0.003018,-0.006565,0.001691,0.008829,-0.018547,0.004288,0.005385,-0.017258
914,-0.005083,0.001244,0.002349,-0.006807,0.000739,-0.001917,-0.008630,0.017232,-0.021895,-0.020920,...,0.003325,-0.018541,0.000000,-0.017983,0.000422,0.001054,0.006268,-0.019754,0.005357,0.001110
915,-0.002701,0.009483,0.020571,0.004634,-0.001231,0.006121,-0.004343,-0.004109,0.011529,-0.014614,...,-0.000930,-0.000878,0.002113,-0.014703,-0.003808,0.011177,-0.005125,-0.006254,0.001366,0.016147
916,-0.003010,-0.010934,-0.007251,0.027891,0.001969,-0.002673,-0.023673,0.002741,0.000000,-0.002738,...,0.012285,-0.001757,0.010798,-0.011272,0.005496,0.005197,0.002708,0.009366,0.001240,-0.007307
917,-0.005441,-0.011894,-0.005806,0.007378,0.002702,0.007999,-0.003348,-0.006637,-0.029969,0.023550,...,-0.001445,-0.005881,-0.006285,0.014869,0.007839,-0.006935,0.014415,0.018473,-0.003476,-0.017759
918,-0.000303,0.003353,0.031603,-0.018816,-0.007386,-0.009146,0.002791,-0.007375,-0.006824,0.025220,...,0.003150,0.002651,0.005986,0.009923,0.006809,0.000000,-0.010296,0.000610,-0.003488,0.003354

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
899,33.92,34.08,34.2,34.21,34.4,34.43,34.69,0.002733,0.003278,0.004466,-0.015915,-0.030141,-0.033307,33.66

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
913,0.005383,-0.003726,-0.016661,0.011738,0.007417,0.004607,-0.012807,-0.007159,-0.012299,-0.008690,...,0.009101,-0.013966,-0.003018,-0.006565,0.001691,0.008829,-0.018547,0.004288,0.005385,-0.017258
914,-0.005083,0.001244,0.002349,-0.006807,0.000739,-0.001917,-0.008630,0.017232,-0.021895,-0.020920,...,0.003325,-0.018541,0.000000,-0.017983,0.000422,0.001054,0.006268,-0.019754,0.005357,0.001110
915,-0.002701,0.009483,0.020571,0.004634,-0.001231,0.006121,-0.004343,-0.004109,0.011529,-0.014614,...,-0.000930,-0.000878,0.002113,-0.014703,-0.003808,0.011177,-0.005125,-0.006254,0.001366,0.016147
916,-0.003010,-0.010934,-0.007251,0.027891,0.001969,-0.002673,-0.023673,0.002741,0.000000,-0.002738,...,0.012285,-0.001757,0.010798,-0.011272,0.005496,0.005197,0.002708,0.009366,0.001240,-0.007307
917,-0.005441,-0.011894,-0.005806,0.007378,0.002702,0.007999,-0.003348,-0.006637,-0.029969,0.023550,...,-0.001445,-0.005881,-0.006285,0.014869,0.007839,-0.006935,0.014415,0.018473,-0.003476,-0.017759
918,-0.000303,0.003353,0.031603,-0.018816,-0.007386,-0.009146,0.002791,-0.007375,-0.006824,0.025220,...,0.003150,0.002651,0.005986,0.009923,0.006809,0.000000,-0.010296,0.000610,-0.003488,0.003354
919,0.004840,0.002925,0.022473,-0.001071,0.010569,0.001148,0.009431,0.007145,-0.000360,0.010588,...,0.004838,0.010533,0.012750,-0.011919,0.008275,0.006244,0.002548,-0.007344,0.017686,-0.004848

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
900,33.66,33.92,34.08,34.2,34.21,34.4,34.43,0.002889,0.002848,0.004408,-0.013887,-0.024105,-0.042237,33.61

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
914,-0.005083,0.001244,0.002349,-0.006807,0.000739,-0.001917,-0.008630,0.017232,-0.021895,-0.020920,...,0.003325,-0.018541,0.000000,-0.017983,0.000422,0.001054,0.006268,-0.019754,0.005357,0.001110
915,-0.002701,0.009483,0.020571,0.004634,-0.001231,0.006121,-0.004343,-0.004109,0.011529,-0.014614,...,-0.000930,-0.000878,0.002113,-0.014703,-0.003808,0.011177,-0.005125,-0.006254,0.001366,0.016147
916,-0.003010,-0.010934,-0.007251,0.027891,0.001969,-0.002673,-0.023673,0.002741,0.000000,-0.002738,...,0.012285,-0.001757,0.010798,-0.011272,0.005496,0.005197,0.002708,0.009366,0.001240,-0.007307
917,-0.005441,-0.011894,-0.005806,0.007378,0.002702,0.007999,-0.003348,-0.006637,-0.029969,0.023550,...,-0.001445,-0.005881,-0.006285,0.014869,0.007839,-0.006935,0.014415,0.018473,-0.003476,-0.017759
918,-0.000303,0.003353,0.031603,-0.018816,-0.007386,-0.009146,0.002791,-0.007375,-0.006824,0.025220,...,0.003150,0.002651,0.005986,0.009923,0.006809,0.000000,-0.010296,0.000610,-0.003488,0.003354
919,0.004840,0.002925,0.022473,-0.001071,0.010569,0.001148,0.009431,0.007145,-0.000360,0.010588,...,0.004838,0.010533,0.012750,-0.011919,0.008275,0.006244,0.002548,-0.007344,0.017686,-0.004848
920,0.002712,-0.004390,0.019045,0.008799,-0.000734,-0.000765,0.022387,-0.002530,0.001801,-0.011593,...,-0.004838,0.003486,0.002648,-0.008832,-0.000137,0.001382,-0.001698,-0.003692,0.000980,0.001121

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
901,33.61,33.66,33.92,34.08,34.2,34.21,34.4,0.002368,0.002599,0.004331,-0.011863,-0.025914,-0.044633,33.52

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
915,-0.002701,0.009483,0.020571,0.004634,-0.001231,0.006121,-0.004343,-0.004109,0.011529,-0.014614,...,-0.000930,-0.000878,0.002113,-0.014703,-0.003808,0.011177,-0.005125,-0.006254,0.001366,0.016147
916,-0.003010,-0.010934,-0.007251,0.027891,0.001969,-0.002673,-0.023673,0.002741,0.000000,-0.002738,...,0.012285,-0.001757,0.010798,-0.011272,0.005496,0.005197,0.002708,0.009366,0.001240,-0.007307
917,-0.005441,-0.011894,-0.005806,0.007378,0.002702,0.007999,-0.003348,-0.006637,-0.029969,0.023550,...,-0.001445,-0.005881,-0.006285,0.014869,0.007839,-0.006935,0.014415,0.018473,-0.003476,-0.017759
918,-0.000303,0.003353,0.031603,-0.018816,-0.007386,-0.009146,0.002791,-0.007375,-0.006824,0.025220,...,0.003150,0.002651,0.005986,0.009923,0.006809,0.000000,-0.010296,0.000610,-0.003488,0.003354
919,0.004840,0.002925,0.022473,-0.001071,0.010569,0.001148,0.009431,0.007145,-0.000360,0.010588,...,0.004838,0.010533,0.012750,-0.011919,0.008275,0.006244,0.002548,-0.007344,0.017686,-0.004848
920,0.002712,-0.004390,0.019045,0.008799,-0.000734,-0.000765,0.022387,-0.002530,0.001801,-0.011593,...,-0.004838,0.003486,0.002648,-0.008832,-0.000137,0.001382,-0.001698,-0.003692,0.000980,0.001121
921,0.003305,-0.003778,-0.019676,-0.013093,0.004882,-0.000766,-0.004329,0.009624,-0.022195,-0.013969,...,-0.004334,-0.013431,0.001468,-0.004850,-0.001925,-0.000691,0.007760,0.004306,-0.000245,0.001493

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
902,33.52,33.61,33.66,33.92,34.08,34.2,34.21,0.003256,0.002988,0.004291,-0.003273,-0.019481,-0.042882,33.55

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
916,-0.003010,-0.010934,-0.007251,0.027891,0.001969,-0.002673,-0.023673,0.002741,0.000000,-0.002738,...,0.012285,-0.001757,0.010798,-0.011272,0.005496,0.005197,0.002708,0.009366,0.001240,-0.007307
917,-0.005441,-0.011894,-0.005806,0.007378,0.002702,0.007999,-0.003348,-0.006637,-0.029969,0.023550,...,-0.001445,-0.005881,-0.006285,0.014869,0.007839,-0.006935,0.014415,0.018473,-0.003476,-0.017759
918,-0.000303,0.003353,0.031603,-0.018816,-0.007386,-0.009146,0.002791,-0.007375,-0.006824,0.025220,...,0.003150,0.002651,0.005986,0.009923,0.006809,0.000000,-0.010296,0.000610,-0.003488,0.003354
919,0.004840,0.002925,0.022473,-0.001071,0.010569,0.001148,0.009431,0.007145,-0.000360,0.010588,...,0.004838,0.010533,0.012750,-0.011919,0.008275,0.006244,0.002548,-0.007344,0.017686,-0.004848
920,0.002712,-0.004390,0.019045,0.008799,-0.000734,-0.000765,0.022387,-0.002530,0.001801,-0.011593,...,-0.004838,0.003486,0.002648,-0.008832,-0.000137,0.001382,-0.001698,-0.003692,0.000980,0.001121
921,0.003305,-0.003778,-0.019676,-0.013093,0.004882,-0.000766,-0.004329,0.009624,-0.022195,-0.013969,...,-0.004334,-0.013431,0.001468,-0.004850,-0.001925,-0.000691,0.007760,0.004306,-0.000245,0.001493
922,0.008363,0.003359,-0.005218,0.024443,0.007278,-0.011556,0.003789,-0.002283,0.016783,-0.007983,...,-0.007266,-0.006784,-0.004116,-0.001216,0.013397,0.003794,0.003227,0.002452,-0.013070,0.011492

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
903,33.55,33.52,33.61,33.66,33.92,34.08,34.2,0.003575,0.002853,0.004442,-0.008366,-0.025768,-0.049461,33.33

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
917,-0.005441,-0.011894,-0.005806,0.007378,0.002702,0.007999,-0.003348,-0.006637,-0.029969,0.023550,...,-0.001445,-0.005881,-0.006285,0.014869,0.007839,-0.006935,0.014415,0.018473,-0.003476,-0.017759
918,-0.000303,0.003353,0.031603,-0.018816,-0.007386,-0.009146,0.002791,-0.007375,-0.006824,0.025220,...,0.003150,0.002651,0.005986,0.009923,0.006809,0.000000,-0.010296,0.000610,-0.003488,0.003354
919,0.004840,0.002925,0.022473,-0.001071,0.010569,0.001148,0.009431,0.007145,-0.000360,0.010588,...,0.004838,0.010533,0.012750,-0.011919,0.008275,0.006244,0.002548,-0.007344,0.017686,-0.004848
920,0.002712,-0.004390,0.019045,0.008799,-0.000734,-0.000765,0.022387,-0.002530,0.001801,-0.011593,...,-0.004838,0.003486,0.002648,-0.008832,-0.000137,0.001382,-0.001698,-0.003692,0.000980,0.001121
921,0.003305,-0.003778,-0.019676,-0.013093,0.004882,-0.000766,-0.004329,0.009624,-0.022195,-0.013969,...,-0.004334,-0.013431,0.001468,-0.004850,-0.001925,-0.000691,0.007760,0.004306,-0.000245,0.001493
922,0.008363,0.003359,-0.005218,0.024443,0.007278,-0.011556,0.003789,-0.002283,0.016783,-0.007983,...,-0.007266,-0.006784,-0.004116,-0.001216,0.013397,0.003794,0.003227,0.002452,-0.013070,0.011492
923,-0.003277,-0.004201,-0.001587,-0.010024,-0.000242,0.000387,0.004850,0.010233,-0.019361,0.017317,...,0.008844,-0.002964,-0.025665,-0.008147,-0.007634,-0.005869,0.000000,-0.007376,0.006187,-0.007028

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
904,33.33,33.55,33.52,33.61,33.66,33.92,34.08,0.00303,0.003022,0.003968,-0.005085,-0.021653,-0.050288,33.35

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
918,-0.000303,0.003353,0.031603,-0.018816,-0.007386,-0.009146,0.002791,-0.007375,-0.006824,0.025220,...,0.003150,0.002651,0.005986,0.009923,0.006809,0.000000,-0.010296,0.000610,-0.003488,0.003354
919,0.004840,0.002925,0.022473,-0.001071,0.010569,0.001148,0.009431,0.007145,-0.000360,0.010588,...,0.004838,0.010533,0.012750,-0.011919,0.008275,0.006244,0.002548,-0.007344,0.017686,-0.004848
920,0.002712,-0.004390,0.019045,0.008799,-0.000734,-0.000765,0.022387,-0.002530,0.001801,-0.011593,...,-0.004838,0.003486,0.002648,-0.008832,-0.000137,0.001382,-0.001698,-0.003692,0.000980,0.001121
921,0.003305,-0.003778,-0.019676,-0.013093,0.004882,-0.000766,-0.004329,0.009624,-0.022195,-0.013969,...,-0.004334,-0.013431,0.001468,-0.004850,-0.001925,-0.000691,0.007760,0.004306,-0.000245,0.001493
922,0.008363,0.003359,-0.005218,0.024443,0.007278,-0.011556,0.003789,-0.002283,0.016783,-0.007983,...,-0.007266,-0.006784,-0.004116,-0.001216,0.013397,0.003794,0.003227,0.002452,-0.013070,0.011492
923,-0.003277,-0.004201,-0.001587,-0.010024,-0.000242,0.000387,0.004850,0.010233,-0.019361,0.017317,...,0.008844,-0.002964,-0.025665,-0.008147,-0.007634,-0.005869,0.000000,-0.007376,0.006187,-0.007028
924,-0.003887,-0.002318,0.004594,0.010286,0.013687,-0.000387,0.002148,-0.001132,0.028366,-0.009334,...,-0.009508,0.013854,-0.009415,-0.009451,0.000547,-0.002427,0.012253,0.014697,0.004922,-0.012325

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
905,33.35,33.33,33.55,33.52,33.61,33.66,33.92,0.003148,0.002918,0.003777,-0.009885,-0.020853,-0.046465,33.22

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
919,0.004840,0.002925,0.022473,-0.001071,0.010569,0.001148,0.009431,0.007145,-0.000360,0.010588,...,0.004838,0.010533,0.012750,-0.011919,0.008275,0.006244,0.002548,-0.007344,0.017686,-0.004848
920,0.002712,-0.004390,0.019045,0.008799,-0.000734,-0.000765,0.022387,-0.002530,0.001801,-0.011593,...,-0.004838,0.003486,0.002648,-0.008832,-0.000137,0.001382,-0.001698,-0.003692,0.000980,0.001121
921,0.003305,-0.003778,-0.019676,-0.013093,0.004882,-0.000766,-0.004329,0.009624,-0.022195,-0.013969,...,-0.004334,-0.013431,0.001468,-0.004850,-0.001925,-0.000691,0.007760,0.004306,-0.000245,0.001493
922,0.008363,0.003359,-0.005218,0.024443,0.007278,-0.011556,0.003789,-0.002283,0.016783,-0.007983,...,-0.007266,-0.006784,-0.004116,-0.001216,0.013397,0.003794,0.003227,0.002452,-0.013070,0.011492
923,-0.003277,-0.004201,-0.001587,-0.010024,-0.000242,0.000387,0.004850,0.010233,-0.019361,0.017317,...,0.008844,-0.002964,-0.025665,-0.008147,-0.007634,-0.005869,0.000000,-0.007376,0.006187,-0.007028
924,-0.003887,-0.002318,0.004594,0.010286,0.013687,-0.000387,0.002148,-0.001132,0.028366,-0.009334,...,-0.009508,0.013854,-0.009415,-0.009451,0.000547,-0.002427,0.012253,0.014697,0.004922,-0.012325
925,0.003887,0.006309,0.014592,0.010182,-0.004063,-0.003882,-0.005379,0.008346,-0.005753,-0.012514,...,0.006348,-0.012964,0.000305,-0.011210,-0.013632,-0.000694,0.009504,-0.004264,0.000368,0.004873

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
906,33.22,33.35,33.33,33.55,33.52,33.61,33.66,0.003199,0.002863,0.003027,-0.004209,-0.014062,-0.044203,33.19

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
920,0.002712,-0.004390,0.019045,0.008799,-0.000734,-0.000765,0.022387,-0.002530,0.001801,-0.011593,...,-0.004838,0.003486,0.002648,-0.008832,-0.000137,0.001382,-0.001698,-0.003692,0.000980,0.001121
921,0.003305,-0.003778,-0.019676,-0.013093,0.004882,-0.000766,-0.004329,0.009624,-0.022195,-0.013969,...,-0.004334,-0.013431,0.001468,-0.004850,-0.001925,-0.000691,0.007760,0.004306,-0.000245,0.001493
922,0.008363,0.003359,-0.005218,0.024443,0.007278,-0.011556,0.003789,-0.002283,0.016783,-0.007983,...,-0.007266,-0.006784,-0.004116,-0.001216,0.013397,0.003794,0.003227,0.002452,-0.013070,0.011492
923,-0.003277,-0.004201,-0.001587,-0.010024,-0.000242,0.000387,0.004850,0.010233,-0.019361,0.017317,...,0.008844,-0.002964,-0.025665,-0.008147,-0.007634,-0.005869,0.000000,-0.007376,0.006187,-0.007028
924,-0.003887,-0.002318,0.004594,0.010286,0.013687,-0.000387,0.002148,-0.001132,0.028366,-0.009334,...,-0.009508,0.013854,-0.009415,-0.009451,0.000547,-0.002427,0.012253,0.014697,0.004922,-0.012325
925,0.003887,0.006309,0.014592,0.010182,-0.004063,-0.003882,-0.005379,0.008346,-0.005753,-0.012514,...,0.006348,-0.012964,0.000305,-0.011210,-0.013632,-0.000694,0.009504,-0.004264,0.000368,0.004873
926,0.000298,0.005853,-0.001559,-0.004686,-0.009141,-0.005069,-0.000540,0.010279,0.019286,-0.021071,...,-0.011403,0.010620,0.008203,0.006244,-0.000555,0.001735,0.009142,-0.017863,0.018960,0.010787

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
907,33.19,33.22,33.35,33.33,33.55,33.52,33.61,0.003074,0.003035,0.003055,-0.004508,-0.012274,-0.036378,33.2

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
921,0.003305,-0.003778,-0.019676,-0.013093,0.004882,-0.000766,-0.004329,0.009624,-0.022195,-0.013969,...,-0.004334,-0.013431,0.001468,-0.004850,-0.001925,-0.000691,0.007760,0.004306,-0.000245,0.001493
922,0.008363,0.003359,-0.005218,0.024443,0.007278,-0.011556,0.003789,-0.002283,0.016783,-0.007983,...,-0.007266,-0.006784,-0.004116,-0.001216,0.013397,0.003794,0.003227,0.002452,-0.013070,0.011492
923,-0.003277,-0.004201,-0.001587,-0.010024,-0.000242,0.000387,0.004850,0.010233,-0.019361,0.017317,...,0.008844,-0.002964,-0.025665,-0.008147,-0.007634,-0.005869,0.000000,-0.007376,0.006187,-0.007028
924,-0.003887,-0.002318,0.004594,0.010286,0.013687,-0.000387,0.002148,-0.001132,0.028366,-0.009334,...,-0.009508,0.013854,-0.009415,-0.009451,0.000547,-0.002427,0.012253,0.014697,0.004922,-0.012325
925,0.003887,0.006309,0.014592,0.010182,-0.004063,-0.003882,-0.005379,0.008346,-0.005753,-0.012514,...,0.006348,-0.012964,0.000305,-0.011210,-0.013632,-0.000694,0.009504,-0.004264,0.000368,0.004873
926,0.000298,0.005853,-0.001559,-0.004686,-0.009141,-0.005069,-0.000540,0.010279,0.019286,-0.021071,...,-0.011403,0.010620,0.008203,0.006244,-0.000555,0.001735,0.009142,-0.017863,0.018960,0.010787
927,-0.008388,0.000000,-0.029768,-0.007334,-0.000725,0.001953,0.003771,-0.001780,-0.019647,0.006305,...,0.007572,0.013697,0.000605,0.007853,0.004843,0.002770,0.005013,0.004341,-0.003256,0.016875

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
908,33.2,33.19,33.22,33.35,33.33,33.55,33.52,0.00197,0.003123,0.003136,0.000301,-0.008689,-0.034603,33.23

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
922,0.008363,0.003359,-0.005218,0.024443,0.007278,-0.011556,0.003789,-0.002283,0.016783,-0.007983,...,-0.007266,-0.006784,-0.004116,-0.001216,0.013397,0.003794,0.003227,0.002452,-0.013070,0.011492
923,-0.003277,-0.004201,-0.001587,-0.010024,-0.000242,0.000387,0.004850,0.010233,-0.019361,0.017317,...,0.008844,-0.002964,-0.025665,-0.008147,-0.007634,-0.005869,0.000000,-0.007376,0.006187,-0.007028
924,-0.003887,-0.002318,0.004594,0.010286,0.013687,-0.000387,0.002148,-0.001132,0.028366,-0.009334,...,-0.009508,0.013854,-0.009415,-0.009451,0.000547,-0.002427,0.012253,0.014697,0.004922,-0.012325
925,0.003887,0.006309,0.014592,0.010182,-0.004063,-0.003882,-0.005379,0.008346,-0.005753,-0.012514,...,0.006348,-0.012964,0.000305,-0.011210,-0.013632,-0.000694,0.009504,-0.004264,0.000368,0.004873
926,0.000298,0.005853,-0.001559,-0.004686,-0.009141,-0.005069,-0.000540,0.010279,0.019286,-0.021071,...,-0.011403,0.010620,0.008203,0.006244,-0.000555,0.001735,0.009142,-0.017863,0.018960,0.010787
927,-0.008388,0.000000,-0.029768,-0.007334,-0.000725,0.001953,0.003771,-0.001780,-0.019647,0.006305,...,0.007572,0.013697,0.000605,0.007853,0.004843,0.002770,0.005013,0.004341,-0.003256,0.016875
928,0.013150,-0.004805,-0.005964,-0.008713,0.010106,-0.000390,-0.001076,-0.004688,-0.010517,-0.002937,...,-0.007972,0.008646,0.003622,-0.007023,0.006056,-0.001730,0.005526,0.000000,0.000121,-0.003644

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
909,33.23,33.2,33.19,33.22,33.35,33.33,33.55,0.001858,0.002415,0.003094,0.0,-0.010788,-0.030269,33.19

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
923,-0.003277,-0.004201,-0.001587,-0.010024,-0.000242,0.000387,0.004850,0.010233,-0.019361,0.017317,...,0.008844,-0.002964,-0.025665,-0.008147,-0.007634,-0.005869,0.000000,-0.007376,0.006187,-0.007028
924,-0.003887,-0.002318,0.004594,0.010286,0.013687,-0.000387,0.002148,-0.001132,0.028366,-0.009334,...,-0.009508,0.013854,-0.009415,-0.009451,0.000547,-0.002427,0.012253,0.014697,0.004922,-0.012325
925,0.003887,0.006309,0.014592,0.010182,-0.004063,-0.003882,-0.005379,0.008346,-0.005753,-0.012514,...,0.006348,-0.012964,0.000305,-0.011210,-0.013632,-0.000694,0.009504,-0.004264,0.000368,0.004873
926,0.000298,0.005853,-0.001559,-0.004686,-0.009141,-0.005069,-0.000540,0.010279,0.019286,-0.021071,...,-0.011403,0.010620,0.008203,0.006244,-0.000555,0.001735,0.009142,-0.017863,0.018960,0.010787
927,-0.008388,0.000000,-0.029768,-0.007334,-0.000725,0.001953,0.003771,-0.001780,-0.019647,0.006305,...,0.007572,0.013697,0.000605,0.007853,0.004843,0.002770,0.005013,0.004341,-0.003256,0.016875
928,0.013150,-0.004805,-0.005964,-0.008713,0.010106,-0.000390,-0.001076,-0.004688,-0.010517,-0.002937,...,-0.007972,0.008646,0.003622,-0.007023,0.006056,-0.001730,0.005526,0.000000,0.000121,-0.003644
929,-0.001188,0.001465,-0.011219,-0.006118,0.005967,0.003896,-0.019017,0.010241,-0.016912,-0.007382,...,0.002531,-0.004025,0.002708,0.024167,0.009287,0.001039,0.010429,0.004322,-0.000362,0.000365

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
910,33.19,33.23,33.2,33.19,33.22,33.35,33.33,0.001353,0.002657,0.003145,0.001806,-0.002102,-0.02787,33.26

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
924,-0.003887,-0.002318,0.004594,0.010286,0.013687,-0.000387,0.002148,-0.001132,0.028366,-0.009334,...,-0.009508,0.013854,-0.009415,-0.009451,0.000547,-0.002427,0.012253,0.014697,0.004922,-0.012325
925,0.003887,0.006309,0.014592,0.010182,-0.004063,-0.003882,-0.005379,0.008346,-0.005753,-0.012514,...,0.006348,-0.012964,0.000305,-0.011210,-0.013632,-0.000694,0.009504,-0.004264,0.000368,0.004873
926,0.000298,0.005853,-0.001559,-0.004686,-0.009141,-0.005069,-0.000540,0.010279,0.019286,-0.021071,...,-0.011403,0.010620,0.008203,0.006244,-0.000555,0.001735,0.009142,-0.017863,0.018960,0.010787
927,-0.008388,0.000000,-0.029768,-0.007334,-0.000725,0.001953,0.003771,-0.001780,-0.019647,0.006305,...,0.007572,0.013697,0.000605,0.007853,0.004843,0.002770,0.005013,0.004341,-0.003256,0.016875
928,0.013150,-0.004805,-0.005964,-0.008713,0.010106,-0.000390,-0.001076,-0.004688,-0.010517,-0.002937,...,-0.007972,0.008646,0.003622,-0.007023,0.006056,-0.001730,0.005526,0.000000,0.000121,-0.003644
929,-0.001188,0.001465,-0.011219,-0.006118,0.005967,0.003896,-0.019017,0.010241,-0.016912,-0.007382,...,0.002531,-0.004025,0.002708,0.024167,0.009287,0.001039,0.010429,0.004322,-0.000362,0.000365
930,0.004745,-0.002932,0.007980,-0.010999,0.002614,0.000000,-0.001647,0.013202,0.020188,0.020533,...,0.007556,0.001439,-0.017276,0.001617,-0.006410,0.000346,-0.005067,0.000000,0.000362,0.008721

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
911,33.26,33.19,33.23,33.2,33.19,33.22,33.35,0.001539,0.002829,0.003123,0.003605,0.0,-0.021653,33.35

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
925,0.003887,0.006309,0.014592,0.010182,-0.004063,-0.003882,-0.005379,0.008346,-0.005753,-0.012514,...,0.006348,-0.012964,0.000305,-0.011210,-0.013632,-0.000694,0.009504,-0.004264,0.000368,0.004873
926,0.000298,0.005853,-0.001559,-0.004686,-0.009141,-0.005069,-0.000540,0.010279,0.019286,-0.021071,...,-0.011403,0.010620,0.008203,0.006244,-0.000555,0.001735,0.009142,-0.017863,0.018960,0.010787
927,-0.008388,0.000000,-0.029768,-0.007334,-0.000725,0.001953,0.003771,-0.001780,-0.019647,0.006305,...,0.007572,0.013697,0.000605,0.007853,0.004843,0.002770,0.005013,0.004341,-0.003256,0.016875
928,0.013150,-0.004805,-0.005964,-0.008713,0.010106,-0.000390,-0.001076,-0.004688,-0.010517,-0.002937,...,-0.007972,0.008646,0.003622,-0.007023,0.006056,-0.001730,0.005526,0.000000,0.000121,-0.003644
929,-0.001188,0.001465,-0.011219,-0.006118,0.005967,0.003896,-0.019017,0.010241,-0.016912,-0.007382,...,0.002531,-0.004025,0.002708,0.024167,0.009287,0.001039,0.010429,0.004322,-0.000362,0.000365
930,0.004745,-0.002932,0.007980,-0.010999,0.002614,0.000000,-0.001647,0.013202,0.020188,0.020533,...,0.007556,0.001439,-0.017276,0.001617,-0.006410,0.000346,-0.005067,0.000000,0.000362,0.008721
931,0.002364,-0.001049,-0.020981,-0.006767,0.000475,-0.003115,0.004933,0.011734,0.001090,-0.012311,...,-0.002380,-0.008088,0.002138,0.015635,-0.004113,-0.000346,-0.008054,-0.013648,0.002172,-0.000362

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
912,33.35,33.26,33.19,33.23,33.2,33.19,33.22,0.001986,0.002809,0.003114,0.003008,0.002105,-0.018748,33.29

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
926,0.000298,0.005853,-0.001559,-0.004686,-0.009141,-0.005069,-0.000540,0.010279,0.019286,-0.021071,...,-0.011403,0.010620,0.008203,0.006244,-0.000555,0.001735,0.009142,-0.017863,0.018960,0.010787
927,-0.008388,0.000000,-0.029768,-0.007334,-0.000725,0.001953,0.003771,-0.001780,-0.019647,0.006305,...,0.007572,0.013697,0.000605,0.007853,0.004843,0.002770,0.005013,0.004341,-0.003256,0.016875
928,0.013150,-0.004805,-0.005964,-0.008713,0.010106,-0.000390,-0.001076,-0.004688,-0.010517,-0.002937,...,-0.007972,0.008646,0.003622,-0.007023,0.006056,-0.001730,0.005526,0.000000,0.000121,-0.003644
929,-0.001188,0.001465,-0.011219,-0.006118,0.005967,0.003896,-0.019017,0.010241,-0.016912,-0.007382,...,0.002531,-0.004025,0.002708,0.024167,0.009287,0.001039,0.010429,0.004322,-0.000362,0.000365
930,0.004745,-0.002932,0.007980,-0.010999,0.002614,0.000000,-0.001647,0.013202,0.020188,0.020533,...,0.007556,0.001439,-0.017276,0.001617,-0.006410,0.000346,-0.005067,0.000000,0.000362,0.008721
931,0.002364,-0.001049,-0.020981,-0.006767,0.000475,-0.003115,0.004933,0.011734,0.001090,-0.012311,...,-0.002380,-0.008088,0.002138,0.015635,-0.004113,-0.000346,-0.008054,-0.013648,0.002172,-0.000362
932,-0.001477,-0.001891,-0.001160,0.001628,0.001659,-0.002734,-0.003835,0.000864,0.006152,0.012518,...,0.001323,-0.005526,-0.004586,-0.006385,0.003839,-0.000346,-0.004187,-0.003128,0.001806,-0.002900

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
913,33.29,33.35,33.26,33.19,33.23,33.2,33.19,0.002066,0.002027,0.002946,0.002702,0.004809,-0.009252,33.35

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
927,-0.008388,0.000000,-0.029768,-0.007334,-0.000725,0.001953,0.003771,-0.001780,-0.019647,0.006305,...,0.007572,0.013697,0.000605,0.007853,0.004843,0.002770,0.005013,0.004341,-0.003256,0.016875
928,0.013150,-0.004805,-0.005964,-0.008713,0.010106,-0.000390,-0.001076,-0.004688,-0.010517,-0.002937,...,-0.007972,0.008646,0.003622,-0.007023,0.006056,-0.001730,0.005526,0.000000,0.000121,-0.003644
929,-0.001188,0.001465,-0.011219,-0.006118,0.005967,0.003896,-0.019017,0.010241,-0.016912,-0.007382,...,0.002531,-0.004025,0.002708,0.024167,0.009287,0.001039,0.010429,0.004322,-0.000362,0.000365
930,0.004745,-0.002932,0.007980,-0.010999,0.002614,0.000000,-0.001647,0.013202,0.020188,0.020533,...,0.007556,0.001439,-0.017276,0.001617,-0.006410,0.000346,-0.005067,0.000000,0.000362,0.008721
931,0.002364,-0.001049,-0.020981,-0.006767,0.000475,-0.003115,0.004933,0.011734,0.001090,-0.012311,...,-0.002380,-0.008088,0.002138,0.015635,-0.004113,-0.000346,-0.008054,-0.013648,0.002172,-0.000362
932,-0.001477,-0.001891,-0.001160,0.001628,0.001659,-0.002734,-0.003835,0.000864,0.006152,0.012518,...,0.001323,-0.005526,-0.004586,-0.006385,0.003839,-0.000346,-0.004187,-0.003128,0.001806,-0.002900
933,0.003246,0.001471,-0.003156,0.000542,-0.001185,-0.001566,-0.019956,-0.010415,0.019647,0.004757,...,-0.000794,0.003493,-0.007382,0.003197,-0.000411,-0.008691,-0.003389,-0.005025,0.000842,0.003261

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
914,33.35,33.29,33.35,33.26,33.19,33.23,33.2,0.00257,0.00264,0.003333,0.005383,0.009891,-0.002383,33.53

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
928,0.013150,-0.004805,-0.005964,-0.008713,0.010106,-0.000390,-0.001076,-0.004688,-0.010517,-0.002937,...,-0.007972,0.008646,0.003622,-0.007023,0.006056,-0.001730,0.005526,0.000000,0.000121,-0.003644
929,-0.001188,0.001465,-0.011219,-0.006118,0.005967,0.003896,-0.019017,0.010241,-0.016912,-0.007382,...,0.002531,-0.004025,0.002708,0.024167,0.009287,0.001039,0.010429,0.004322,-0.000362,0.000365
930,0.004745,-0.002932,0.007980,-0.010999,0.002614,0.000000,-0.001647,0.013202,0.020188,0.020533,...,0.007556,0.001439,-0.017276,0.001617,-0.006410,0.000346,-0.005067,0.000000,0.000362,0.008721
931,0.002364,-0.001049,-0.020981,-0.006767,0.000475,-0.003115,0.004933,0.011734,0.001090,-0.012311,...,-0.002380,-0.008088,0.002138,0.015635,-0.004113,-0.000346,-0.008054,-0.013648,0.002172,-0.000362
932,-0.001477,-0.001891,-0.001160,0.001628,0.001659,-0.002734,-0.003835,0.000864,0.006152,0.012518,...,0.001323,-0.005526,-0.004586,-0.006385,0.003839,-0.000346,-0.004187,-0.003128,0.001806,-0.002900
933,0.003246,0.001471,-0.003156,0.000542,-0.001185,-0.001566,-0.019956,-0.010415,0.019647,0.004757,...,-0.000794,0.003493,-0.007382,0.003197,-0.000411,-0.008691,-0.003389,-0.005025,0.000842,0.003261
934,0.002942,0.001469,-0.015931,-0.001627,0.001659,-0.000392,0.003912,0.003049,-0.004965,0.012917,...,0.005147,-0.004661,-0.010553,-0.009623,-0.007835,-0.009825,-0.006813,-0.003785,0.000961,0.005412

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
915,33.53,33.35,33.29,33.35,33.26,33.19,33.23,0.004086,0.002876,0.003304,0.002101,0.003904,-0.004785,33.36

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
929,-0.001188,0.001465,-0.011219,-0.006118,0.005967,0.003896,-0.019017,0.010241,-0.016912,-0.007382,...,0.002531,-0.004025,0.002708,0.024167,0.009287,0.001039,0.010429,0.004322,-0.000362,0.000365
930,0.004745,-0.002932,0.007980,-0.010999,0.002614,0.000000,-0.001647,0.013202,0.020188,0.020533,...,0.007556,0.001439,-0.017276,0.001617,-0.006410,0.000346,-0.005067,0.000000,0.000362,0.008721
931,0.002364,-0.001049,-0.020981,-0.006767,0.000475,-0.003115,0.004933,0.011734,0.001090,-0.012311,...,-0.002380,-0.008088,0.002138,0.015635,-0.004113,-0.000346,-0.008054,-0.013648,0.002172,-0.000362
932,-0.001477,-0.001891,-0.001160,0.001628,0.001659,-0.002734,-0.003835,0.000864,0.006152,0.012518,...,0.001323,-0.005526,-0.004586,-0.006385,0.003839,-0.000346,-0.004187,-0.003128,0.001806,-0.002900
933,0.003246,0.001471,-0.003156,0.000542,-0.001185,-0.001566,-0.019956,-0.010415,0.019647,0.004757,...,-0.000794,0.003493,-0.007382,0.003197,-0.000411,-0.008691,-0.003389,-0.005025,0.000842,0.003261
934,0.002942,0.001469,-0.015931,-0.001627,0.001659,-0.000392,0.003912,0.003049,-0.004965,0.012917,...,0.005147,-0.004661,-0.010553,-0.009623,-0.007835,-0.009825,-0.006813,-0.003785,0.000961,0.005412
935,-0.005302,-0.002310,-0.020493,0.021217,0.002837,-0.008263,-0.023703,-0.011151,-0.004989,0.017167,...,0.005120,0.001750,-0.006888,-0.010531,-0.016136,0.003520,-0.016682,0.001263,0.006821,-0.009037

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
916,33.36,33.53,33.35,33.29,33.35,33.26,33.19,0.004106,0.003021,0.003311,-0.002402,0.002407,-0.008381,33.27

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
930,0.004745,-0.002932,0.007980,-0.010999,0.002614,0.000000,-0.001647,0.013202,0.020188,0.020533,...,0.007556,0.001439,-0.017276,0.001617,-0.006410,0.000346,-0.005067,0.000000,0.000362,0.008721
931,0.002364,-0.001049,-0.020981,-0.006767,0.000475,-0.003115,0.004933,0.011734,0.001090,-0.012311,...,-0.002380,-0.008088,0.002138,0.015635,-0.004113,-0.000346,-0.008054,-0.013648,0.002172,-0.000362
932,-0.001477,-0.001891,-0.001160,0.001628,0.001659,-0.002734,-0.003835,0.000864,0.006152,0.012518,...,0.001323,-0.005526,-0.004586,-0.006385,0.003839,-0.000346,-0.004187,-0.003128,0.001806,-0.002900
933,0.003246,0.001471,-0.003156,0.000542,-0.001185,-0.001566,-0.019956,-0.010415,0.019647,0.004757,...,-0.000794,0.003493,-0.007382,0.003197,-0.000411,-0.008691,-0.003389,-0.005025,0.000842,0.003261
934,0.002942,0.001469,-0.015931,-0.001627,0.001659,-0.000392,0.003912,0.003049,-0.004965,0.012917,...,0.005147,-0.004661,-0.010553,-0.009623,-0.007835,-0.009825,-0.006813,-0.003785,0.000961,0.005412
935,-0.005302,-0.002310,-0.020493,0.021217,0.002837,-0.008263,-0.023703,-0.011151,-0.004989,0.017167,...,0.005120,0.001750,-0.006888,-0.010531,-0.016136,0.003520,-0.016682,0.001263,0.006821,-0.009037
936,-0.006816,0.001890,0.006878,0.014772,-0.003784,0.000000,0.019231,0.008103,-0.024594,-0.007033,...,0.001832,0.015329,-0.013920,-0.004489,-0.002809,-0.002463,-0.014846,-0.004429,0.000119,-0.004367

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
917,33.27,33.36,33.53,33.35,33.29,33.35,33.26,0.004237,0.00319,0.003296,-0.010795,-0.00271,-0.004812,33.17

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
931,0.002364,-0.001049,-0.020981,-0.006767,0.000475,-0.003115,0.004933,0.011734,0.001090,-0.012311,...,-0.002380,-0.008088,0.002138,0.015635,-0.004113,-0.000346,-0.008054,-0.013648,0.002172,-0.000362
932,-0.001477,-0.001891,-0.001160,0.001628,0.001659,-0.002734,-0.003835,0.000864,0.006152,0.012518,...,0.001323,-0.005526,-0.004586,-0.006385,0.003839,-0.000346,-0.004187,-0.003128,0.001806,-0.002900
933,0.003246,0.001471,-0.003156,0.000542,-0.001185,-0.001566,-0.019956,-0.010415,0.019647,0.004757,...,-0.000794,0.003493,-0.007382,0.003197,-0.000411,-0.008691,-0.003389,-0.005025,0.000842,0.003261
934,0.002942,0.001469,-0.015931,-0.001627,0.001659,-0.000392,0.003912,0.003049,-0.004965,0.012917,...,0.005147,-0.004661,-0.010553,-0.009623,-0.007835,-0.009825,-0.006813,-0.003785,0.000961,0.005412
935,-0.005302,-0.002310,-0.020493,0.021217,0.002837,-0.008263,-0.023703,-0.011151,-0.004989,0.017167,...,0.005120,0.001750,-0.006888,-0.010531,-0.016136,0.003520,-0.016682,0.001263,0.006821,-0.009037
936,-0.006816,0.001890,0.006878,0.014772,-0.003784,0.000000,0.019231,0.008103,-0.024594,-0.007033,...,0.001832,0.015329,-0.013920,-0.004489,-0.002809,-0.002463,-0.014846,-0.004429,0.000119,-0.004367
937,-0.003873,-0.001680,-0.006533,0.017134,0.000947,-0.001186,0.014461,-0.006784,-0.000366,-0.006677,...,0.008590,0.018485,-0.020274,-0.003277,0.003790,-0.001410,-0.002260,-0.003812,-0.004063,0.009799

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
918,33.17,33.27,33.36,33.53,33.35,33.29,33.35,0.004394,0.003578,0.003339,-0.011153,-0.010853,-0.010853,32.99

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
932,-0.001477,-0.001891,-0.001160,0.001628,0.001659,-0.002734,-0.003835,0.000864,0.006152,0.012518,...,0.001323,-0.005526,-0.004586,-0.006385,0.003839,-0.000346,-0.004187,-0.003128,0.001806,-0.002900
933,0.003246,0.001471,-0.003156,0.000542,-0.001185,-0.001566,-0.019956,-0.010415,0.019647,0.004757,...,-0.000794,0.003493,-0.007382,0.003197,-0.000411,-0.008691,-0.003389,-0.005025,0.000842,0.003261
934,0.002942,0.001469,-0.015931,-0.001627,0.001659,-0.000392,0.003912,0.003049,-0.004965,0.012917,...,0.005147,-0.004661,-0.010553,-0.009623,-0.007835,-0.009825,-0.006813,-0.003785,0.000961,0.005412
935,-0.005302,-0.002310,-0.020493,0.021217,0.002837,-0.008263,-0.023703,-0.011151,-0.004989,0.017167,...,0.005120,0.001750,-0.006888,-0.010531,-0.016136,0.003520,-0.016682,0.001263,0.006821,-0.009037
936,-0.006816,0.001890,0.006878,0.014772,-0.003784,0.000000,0.019231,0.008103,-0.024594,-0.007033,...,0.001832,0.015329,-0.013920,-0.004489,-0.002809,-0.002463,-0.014846,-0.004429,0.000119,-0.004367
937,-0.003873,-0.001680,-0.006533,0.017134,0.000947,-0.001186,0.014461,-0.006784,-0.000366,-0.006677,...,0.008590,0.018485,-0.020274,-0.003277,0.003790,-0.001410,-0.002260,-0.003812,-0.004063,0.009799
938,-0.008393,0.000630,-0.010925,-0.016349,-0.002845,0.000791,0.012075,-0.003299,-0.001833,-0.006722,...,-0.004807,0.002533,0.030732,0.000820,0.004334,-0.002472,0.022790,-0.012168,-0.006125,-0.002531

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
919,32.99,33.17,33.27,33.36,33.53,33.35,33.29,0.002073,0.003576,0.002996,-0.008755,-0.009356,-0.007251,32.98

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
933,0.003246,0.001471,-0.003156,0.000542,-0.001185,-0.001566,-0.019956,-0.010415,0.019647,0.004757,...,-0.000794,0.003493,-0.007382,0.003197,-0.000411,-0.008691,-0.003389,-0.005025,0.000842,0.003261
934,0.002942,0.001469,-0.015931,-0.001627,0.001659,-0.000392,0.003912,0.003049,-0.004965,0.012917,...,0.005147,-0.004661,-0.010553,-0.009623,-0.007835,-0.009825,-0.006813,-0.003785,0.000961,0.005412
935,-0.005302,-0.002310,-0.020493,0.021217,0.002837,-0.008263,-0.023703,-0.011151,-0.004989,0.017167,...,0.005120,0.001750,-0.006888,-0.010531,-0.016136,0.003520,-0.016682,0.001263,0.006821,-0.009037
936,-0.006816,0.001890,0.006878,0.014772,-0.003784,0.000000,0.019231,0.008103,-0.024594,-0.007033,...,0.001832,0.015329,-0.013920,-0.004489,-0.002809,-0.002463,-0.014846,-0.004429,0.000119,-0.004367
937,-0.003873,-0.001680,-0.006533,0.017134,0.000947,-0.001186,0.014461,-0.006784,-0.000366,-0.006677,...,0.008590,0.018485,-0.020274,-0.003277,0.003790,-0.001410,-0.002260,-0.003812,-0.004063,0.009799
938,-0.008393,0.000630,-0.010925,-0.016349,-0.002845,0.000791,0.012075,-0.003299,-0.001833,-0.006722,...,-0.004807,0.002533,0.030732,0.000820,0.004334,-0.002472,0.022790,-0.012168,-0.006125,-0.002531
939,-0.000301,0.008158,-0.022037,-0.017686,-0.004998,-0.002771,0.020519,0.007025,0.003297,0.021232,...,-0.004568,-0.017865,0.005345,0.004500,0.001812,-0.008879,0.000000,0.002574,0.004327,0.007215

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
920,32.98,32.99,33.17,33.27,33.36,33.53,33.35,0.003896,0.003898,0.003266,-0.000905,-0.006317,-0.001508,33.14

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
934,0.002942,0.001469,-0.015931,-0.001627,0.001659,-0.000392,0.003912,0.003049,-0.004965,0.012917,...,0.005147,-0.004661,-0.010553,-0.009623,-0.007835,-0.009825,-0.006813,-0.003785,0.000961,0.005412
935,-0.005302,-0.002310,-0.020493,0.021217,0.002837,-0.008263,-0.023703,-0.011151,-0.004989,0.017167,...,0.005120,0.001750,-0.006888,-0.010531,-0.016136,0.003520,-0.016682,0.001263,0.006821,-0.009037
936,-0.006816,0.001890,0.006878,0.014772,-0.003784,0.000000,0.019231,0.008103,-0.024594,-0.007033,...,0.001832,0.015329,-0.013920,-0.004489,-0.002809,-0.002463,-0.014846,-0.004429,0.000119,-0.004367
937,-0.003873,-0.001680,-0.006533,0.017134,0.000947,-0.001186,0.014461,-0.006784,-0.000366,-0.006677,...,0.008590,0.018485,-0.020274,-0.003277,0.003790,-0.001410,-0.002260,-0.003812,-0.004063,0.009799
938,-0.008393,0.000630,-0.010925,-0.016349,-0.002845,0.000791,0.012075,-0.003299,-0.001833,-0.006722,...,-0.004807,0.002533,0.030732,0.000820,0.004334,-0.002472,0.022790,-0.012168,-0.006125,-0.002531
939,-0.000301,0.008158,-0.022037,-0.017686,-0.004998,-0.002771,0.020519,0.007025,0.003297,0.021232,...,-0.004568,-0.017865,0.005345,0.004500,0.001812,-0.008879,0.000000,0.002574,0.004327,0.007215
940,0.003607,0.000417,0.019243,0.013490,0.007370,-0.007559,0.016959,-0.010335,-0.032717,0.026068,...,-0.001571,0.009114,0.005317,0.000408,0.001947,-0.009319,-0.018697,-0.006447,-0.005292,-0.014847

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
921,33.14,32.98,32.99,33.17,33.27,33.36,33.53,0.004161,0.003899,0.003316,0.007249,-0.008987,0.000903,33.23

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
935,-0.005302,-0.002310,-0.020493,0.021217,0.002837,-0.008263,-0.023703,-0.011151,-0.004989,0.017167,...,0.005120,0.001750,-0.006888,-0.010531,-0.016136,0.003520,-0.016682,0.001263,0.006821,-0.009037
936,-0.006816,0.001890,0.006878,0.014772,-0.003784,0.000000,0.019231,0.008103,-0.024594,-0.007033,...,0.001832,0.015329,-0.013920,-0.004489,-0.002809,-0.002463,-0.014846,-0.004429,0.000119,-0.004367
937,-0.003873,-0.001680,-0.006533,0.017134,0.000947,-0.001186,0.014461,-0.006784,-0.000366,-0.006677,...,0.008590,0.018485,-0.020274,-0.003277,0.003790,-0.001410,-0.002260,-0.003812,-0.004063,0.009799
938,-0.008393,0.000630,-0.010925,-0.016349,-0.002845,0.000791,0.012075,-0.003299,-0.001833,-0.006722,...,-0.004807,0.002533,0.030732,0.000820,0.004334,-0.002472,0.022790,-0.012168,-0.006125,-0.002531
939,-0.000301,0.008158,-0.022037,-0.017686,-0.004998,-0.002771,0.020519,0.007025,0.003297,0.021232,...,-0.004568,-0.017865,0.005345,0.004500,0.001812,-0.008879,0.000000,0.002574,0.004327,0.007215
940,0.003607,0.000417,0.019243,0.013490,0.007370,-0.007559,0.016959,-0.010335,-0.032717,0.026068,...,-0.001571,0.009114,0.005317,0.000408,0.001947,-0.009319,-0.018697,-0.006447,-0.005292,-0.014847
941,0.003893,0.008708,-0.017996,0.006808,0.010133,0.002792,0.005241,-0.000442,0.027215,-0.014332,...,0.011853,-0.010832,-0.012555,-0.004908,0.005820,-0.005054,-0.018910,-0.014332,0.013891,-0.021387

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
922,33.23,33.14,32.98,32.99,33.17,33.27,33.36,0.004067,0.004022,0.00341,0.010857,-0.0006,0.003305,33.34

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
936,-0.006816,0.001890,0.006878,0.014772,-0.003784,0.000000,0.019231,0.008103,-0.024594,-0.007033,...,0.001832,0.015329,-0.013920,-0.004489,-0.002809,-0.002463,-0.014846,-0.004429,0.000119,-0.004367
937,-0.003873,-0.001680,-0.006533,0.017134,0.000947,-0.001186,0.014461,-0.006784,-0.000366,-0.006677,...,0.008590,0.018485,-0.020274,-0.003277,0.003790,-0.001410,-0.002260,-0.003812,-0.004063,0.009799
938,-0.008393,0.000630,-0.010925,-0.016349,-0.002845,0.000791,0.012075,-0.003299,-0.001833,-0.006722,...,-0.004807,0.002533,0.030732,0.000820,0.004334,-0.002472,0.022790,-0.012168,-0.006125,-0.002531
939,-0.000301,0.008158,-0.022037,-0.017686,-0.004998,-0.002771,0.020519,0.007025,0.003297,0.021232,...,-0.004568,-0.017865,0.005345,0.004500,0.001812,-0.008879,0.000000,0.002574,0.004327,0.007215
940,0.003607,0.000417,0.019243,0.013490,0.007370,-0.007559,0.016959,-0.010335,-0.032717,0.026068,...,-0.001571,0.009114,0.005317,0.000408,0.001947,-0.009319,-0.018697,-0.006447,-0.005292,-0.014847
941,0.003893,0.008708,-0.017996,0.006808,0.010133,0.002792,0.005241,-0.000442,0.027215,-0.014332,...,0.011853,-0.010832,-0.012555,-0.004908,0.005820,-0.005054,-0.018910,-0.014332,0.013891,-0.021387
942,0.000896,-0.002067,-0.003924,0.012191,-0.011793,-0.003191,-0.014745,0.002430,-0.008866,0.013942,...,0.000647,0.000573,0.007865,0.025103,0.000829,-0.006536,0.005439,0.008494,0.003443,-0.008234

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
923,33.34,33.23,33.14,32.98,32.99,33.17,33.27,0.003169,0.004784,0.003597,0.01438,0.010465,0.012873,33.62

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
937,-0.003873,-0.001680,-0.006533,0.017134,0.000947,-0.001186,0.014461,-0.006784,-0.000366,-0.006677,...,0.008590,0.018485,-0.020274,-0.003277,0.003790,-0.001410,-0.002260,-0.003812,-0.004063,0.009799
938,-0.008393,0.000630,-0.010925,-0.016349,-0.002845,0.000791,0.012075,-0.003299,-0.001833,-0.006722,...,-0.004807,0.002533,0.030732,0.000820,0.004334,-0.002472,0.022790,-0.012168,-0.006125,-0.002531
939,-0.000301,0.008158,-0.022037,-0.017686,-0.004998,-0.002771,0.020519,0.007025,0.003297,0.021232,...,-0.004568,-0.017865,0.005345,0.004500,0.001812,-0.008879,0.000000,0.002574,0.004327,0.007215
940,0.003607,0.000417,0.019243,0.013490,0.007370,-0.007559,0.016959,-0.010335,-0.032717,0.026068,...,-0.001571,0.009114,0.005317,0.000408,0.001947,-0.009319,-0.018697,-0.006447,-0.005292,-0.014847
941,0.003893,0.008708,-0.017996,0.006808,0.010133,0.002792,0.005241,-0.000442,0.027215,-0.014332,...,0.011853,-0.010832,-0.012555,-0.004908,0.005820,-0.005054,-0.018910,-0.014332,0.013891,-0.021387
942,0.000896,-0.002067,-0.003924,0.012191,-0.011793,-0.003191,-0.014745,0.002430,-0.008866,0.013942,...,0.000647,0.000573,0.007865,0.025103,0.000829,-0.006536,0.005439,0.008494,0.003443,-0.008234
943,-0.009601,-0.001035,-0.003581,-0.012713,-0.013135,0.000399,0.002120,-0.002651,-0.015707,0.006802,...,-0.008577,-0.022597,-0.008181,-0.003605,0.000552,0.001820,-0.008890,-0.007838,-0.001067,-0.000752

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
924,33.62,33.34,33.23,33.14,32.98,32.99,33.17,0.004229,0.004646,0.00369,0.008391,0.010198,0.007488,33.51

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
938,-0.008393,0.000630,-0.010925,-0.016349,-0.002845,0.000791,0.012075,-0.003299,-0.001833,-0.006722,...,-0.004807,0.002533,0.030732,0.000820,0.004334,-0.002472,0.022790,-0.012168,-0.006125,-0.002531
939,-0.000301,0.008158,-0.022037,-0.017686,-0.004998,-0.002771,0.020519,0.007025,0.003297,0.021232,...,-0.004568,-0.017865,0.005345,0.004500,0.001812,-0.008879,0.000000,0.002574,0.004327,0.007215
940,0.003607,0.000417,0.019243,0.013490,0.007370,-0.007559,0.016959,-0.010335,-0.032717,0.026068,...,-0.001571,0.009114,0.005317,0.000408,0.001947,-0.009319,-0.018697,-0.006447,-0.005292,-0.014847
941,0.003893,0.008708,-0.017996,0.006808,0.010133,0.002792,0.005241,-0.000442,0.027215,-0.014332,...,0.011853,-0.010832,-0.012555,-0.004908,0.005820,-0.005054,-0.018910,-0.014332,0.013891,-0.021387
942,0.000896,-0.002067,-0.003924,0.012191,-0.011793,-0.003191,-0.014745,0.002430,-0.008866,0.013942,...,0.000647,0.000573,0.007865,0.025103,0.000829,-0.006536,0.005439,0.008494,0.003443,-0.008234
943,-0.009601,-0.001035,-0.003581,-0.012713,-0.013135,0.000399,0.002120,-0.002651,-0.015707,0.006802,...,-0.008577,-0.022597,-0.008181,-0.003605,0.000552,0.001820,-0.008890,-0.007838,-0.001067,-0.000752
944,0.003611,-0.000829,-0.004314,-0.002353,-0.000962,0.007163,-0.017624,-0.011569,-0.007567,0.005794,...,-0.004710,-0.008829,-0.004751,0.021438,0.001792,0.006885,0.002158,-0.003284,-0.000831,-0.001129

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
925,33.51,33.62,33.34,33.23,33.14,32.98,32.99,0.005091,0.004516,0.003689,0.001199,0.011752,0.000899,33.38

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
939,-0.000301,0.008158,-0.022037,-0.017686,-0.004998,-0.002771,0.020519,0.007025,0.003297,0.021232,...,-0.004568,-0.017865,0.005345,0.004500,0.001812,-0.008879,0.000000,0.002574,0.004327,0.007215
940,0.003607,0.000417,0.019243,0.013490,0.007370,-0.007559,0.016959,-0.010335,-0.032717,0.026068,...,-0.001571,0.009114,0.005317,0.000408,0.001947,-0.009319,-0.018697,-0.006447,-0.005292,-0.014847
941,0.003893,0.008708,-0.017996,0.006808,0.010133,0.002792,0.005241,-0.000442,0.027215,-0.014332,...,0.011853,-0.010832,-0.012555,-0.004908,0.005820,-0.005054,-0.018910,-0.014332,0.013891,-0.021387
942,0.000896,-0.002067,-0.003924,0.012191,-0.011793,-0.003191,-0.014745,0.002430,-0.008866,0.013942,...,0.000647,0.000573,0.007865,0.025103,0.000829,-0.006536,0.005439,0.008494,0.003443,-0.008234
943,-0.009601,-0.001035,-0.003581,-0.012713,-0.013135,0.000399,0.002120,-0.002651,-0.015707,0.006802,...,-0.008577,-0.022597,-0.008181,-0.003605,0.000552,0.001820,-0.008890,-0.007838,-0.001067,-0.000752
944,0.003611,-0.000829,-0.004314,-0.002353,-0.000962,0.007163,-0.017624,-0.011569,-0.007567,0.005794,...,-0.004710,-0.008829,-0.004751,0.021438,0.001792,0.006885,0.002158,-0.003284,-0.000831,-0.001129
945,0.005094,-0.004778,-0.012143,-0.020625,0.000481,0.005536,-0.012470,0.004688,0.006813,0.016046,...,0.001572,-0.007120,0.012305,-0.014241,-0.010940,-0.001446,-0.006633,-0.001317,0.003319,-0.003017

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
926,33.38,33.51,33.62,33.34,33.23,33.14,32.98,0.00519,0.004548,0.003766,-0.003277,0.015943,0.006587,33.51

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
940,0.003607,0.000417,0.019243,0.013490,0.007370,-0.007559,0.016959,-0.010335,-0.032717,0.026068,...,-0.001571,0.009114,0.005317,0.000408,0.001947,-0.009319,-0.018697,-0.006447,-0.005292,-0.014847
941,0.003893,0.008708,-0.017996,0.006808,0.010133,0.002792,0.005241,-0.000442,0.027215,-0.014332,...,0.011853,-0.010832,-0.012555,-0.004908,0.005820,-0.005054,-0.018910,-0.014332,0.013891,-0.021387
942,0.000896,-0.002067,-0.003924,0.012191,-0.011793,-0.003191,-0.014745,0.002430,-0.008866,0.013942,...,0.000647,0.000573,0.007865,0.025103,0.000829,-0.006536,0.005439,0.008494,0.003443,-0.008234
943,-0.009601,-0.001035,-0.003581,-0.012713,-0.013135,0.000399,0.002120,-0.002651,-0.015707,0.006802,...,-0.008577,-0.022597,-0.008181,-0.003605,0.000552,0.001820,-0.008890,-0.007838,-0.001067,-0.000752
944,0.003611,-0.000829,-0.004314,-0.002353,-0.000962,0.007163,-0.017624,-0.011569,-0.007567,0.005794,...,-0.004710,-0.008829,-0.004751,0.021438,0.001792,0.006885,0.002158,-0.003284,-0.000831,-0.001129
945,0.005094,-0.004778,-0.012143,-0.020625,0.000481,0.005536,-0.012470,0.004688,0.006813,0.016046,...,0.001572,-0.007120,0.012305,-0.014241,-0.010940,-0.001446,-0.006633,-0.001317,0.003319,-0.003017
946,-0.006296,0.007469,0.000729,-0.000802,0.005277,0.004721,-0.006568,-0.005807,-0.013673,-0.019905,...,0.009382,-0.002683,-0.001569,0.023234,0.003475,0.000723,0.003610,0.007220,0.000000,0.010145

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
927,33.51,33.38,33.51,33.62,33.34,33.23,33.14,0.005128,0.004364,0.003766,0.000298,0.011401,0.005085,33.52

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
941,0.003893,0.008708,-0.017996,0.006808,0.010133,0.002792,0.005241,-0.000442,0.027215,-0.014332,...,0.011853,-0.010832,-0.012555,-0.004908,0.005820,-0.005054,-0.018910,-0.014332,0.013891,-0.021387
942,0.000896,-0.002067,-0.003924,0.012191,-0.011793,-0.003191,-0.014745,0.002430,-0.008866,0.013942,...,0.000647,0.000573,0.007865,0.025103,0.000829,-0.006536,0.005439,0.008494,0.003443,-0.008234
943,-0.009601,-0.001035,-0.003581,-0.012713,-0.013135,0.000399,0.002120,-0.002651,-0.015707,0.006802,...,-0.008577,-0.022597,-0.008181,-0.003605,0.000552,0.001820,-0.008890,-0.007838,-0.001067,-0.000752
944,0.003611,-0.000829,-0.004314,-0.002353,-0.000962,0.007163,-0.017624,-0.011569,-0.007567,0.005794,...,-0.004710,-0.008829,-0.004751,0.021438,0.001792,0.006885,0.002158,-0.003284,-0.000831,-0.001129
945,0.005094,-0.004778,-0.012143,-0.020625,0.000481,0.005536,-0.012470,0.004688,0.006813,0.016046,...,0.001572,-0.007120,0.012305,-0.014241,-0.010940,-0.001446,-0.006633,-0.001317,0.003319,-0.003017
946,-0.006296,0.007469,0.000729,-0.000802,0.005277,0.004721,-0.006568,-0.005807,-0.013673,-0.019905,...,0.009382,-0.002683,-0.001569,0.023234,0.003475,0.000723,0.003610,0.007220,0.000000,0.010145
947,-0.001806,-0.010180,0.015728,0.000267,0.008101,0.007040,-0.004403,-0.007420,-0.005753,0.009045,...,-0.010955,-0.003888,-0.015190,-0.019655,-0.003057,-0.007254,0.003885,0.007818,0.000592,-0.008258

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
928,33.52,33.51,33.38,33.51,33.62,33.34,33.23,0.004625,0.004915,0.004253,-0.004203,0.000301,-0.008687,33.24

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
942,0.000896,-0.002067,-0.003924,0.012191,-0.011793,-0.003191,-0.014745,0.002430,-0.008866,0.013942,...,0.000647,0.000573,0.007865,0.025103,0.000829,-0.006536,0.005439,0.008494,0.003443,-0.008234
943,-0.009601,-0.001035,-0.003581,-0.012713,-0.013135,0.000399,0.002120,-0.002651,-0.015707,0.006802,...,-0.008577,-0.022597,-0.008181,-0.003605,0.000552,0.001820,-0.008890,-0.007838,-0.001067,-0.000752
944,0.003611,-0.000829,-0.004314,-0.002353,-0.000962,0.007163,-0.017624,-0.011569,-0.007567,0.005794,...,-0.004710,-0.008829,-0.004751,0.021438,0.001792,0.006885,0.002158,-0.003284,-0.000831,-0.001129
945,0.005094,-0.004778,-0.012143,-0.020625,0.000481,0.005536,-0.012470,0.004688,0.006813,0.016046,...,0.001572,-0.007120,0.012305,-0.014241,-0.010940,-0.001446,-0.006633,-0.001317,0.003319,-0.003017
946,-0.006296,0.007469,0.000729,-0.000802,0.005277,0.004721,-0.006568,-0.005807,-0.013673,-0.019905,...,0.009382,-0.002683,-0.001569,0.023234,0.003475,0.000723,0.003610,0.007220,0.000000,0.010145
947,-0.001806,-0.010180,0.015728,0.000267,0.008101,0.007040,-0.004403,-0.007420,-0.005753,0.009045,...,-0.010955,-0.003888,-0.015190,-0.019655,-0.003057,-0.007254,0.003885,0.007818,0.000592,-0.008258
948,0.004209,0.017593,-0.004494,-0.014269,-0.002614,-0.000780,-0.025134,0.006075,0.016403,0.004968,...,0.007056,0.017232,-0.008969,0.025477,0.007488,-0.001093,0.009433,-0.009782,0.000118,0.003011

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
929,33.24,33.52,33.51,33.38,33.51,33.62,33.34,0.008193,0.006253,0.005152,0.00506,0.010146,0.009547,33.68

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
943,-0.009601,-0.001035,-0.003581,-0.012713,-0.013135,0.000399,0.002120,-0.002651,-0.015707,0.006802,...,-0.008577,-0.022597,-0.008181,-0.003605,0.000552,0.001820,-0.008890,-0.007838,-0.001067,-0.000752
944,0.003611,-0.000829,-0.004314,-0.002353,-0.000962,0.007163,-0.017624,-0.011569,-0.007567,0.005794,...,-0.004710,-0.008829,-0.004751,0.021438,0.001792,0.006885,0.002158,-0.003284,-0.000831,-0.001129
945,0.005094,-0.004778,-0.012143,-0.020625,0.000481,0.005536,-0.012470,0.004688,0.006813,0.016046,...,0.001572,-0.007120,0.012305,-0.014241,-0.010940,-0.001446,-0.006633,-0.001317,0.003319,-0.003017
946,-0.006296,0.007469,0.000729,-0.000802,0.005277,0.004721,-0.006568,-0.005807,-0.013673,-0.019905,...,0.009382,-0.002683,-0.001569,0.023234,0.003475,0.000723,0.003610,0.007220,0.000000,0.010145
947,-0.001806,-0.010180,0.015728,0.000267,0.008101,0.007040,-0.004403,-0.007420,-0.005753,0.009045,...,-0.010955,-0.003888,-0.015190,-0.019655,-0.003057,-0.007254,0.003885,0.007818,0.000592,-0.008258
948,0.004209,0.017593,-0.004494,-0.014269,-0.002614,-0.000780,-0.025134,0.006075,0.016403,0.004968,...,0.007056,0.017232,-0.008969,0.025477,0.007488,-0.001093,0.009433,-0.009782,0.000118,0.003011
949,-0.000600,0.000000,-0.004877,0.001896,0.004984,-0.006260,0.004515,-0.011733,0.015021,-0.012275,...,0.004547,-0.005316,0.012152,-0.011678,-0.004985,-0.000729,0.002273,0.007183,0.011873,-0.007544

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
930,33.68,33.24,33.52,33.51,33.38,33.51,33.62,0.007872,0.00625,0.005159,0.003574,0.000595,0.01106,33.64

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
944,0.003611,-0.000829,-0.004314,-0.002353,-0.000962,0.007163,-0.017624,-0.011569,-0.007567,0.005794,...,-0.004710,-0.008829,-0.004751,0.021438,0.001792,0.006885,0.002158,-0.003284,-0.000831,-0.001129
945,0.005094,-0.004778,-0.012143,-0.020625,0.000481,0.005536,-0.012470,0.004688,0.006813,0.016046,...,0.001572,-0.007120,0.012305,-0.014241,-0.010940,-0.001446,-0.006633,-0.001317,0.003319,-0.003017
946,-0.006296,0.007469,0.000729,-0.000802,0.005277,0.004721,-0.006568,-0.005807,-0.013673,-0.019905,...,0.009382,-0.002683,-0.001569,0.023234,0.003475,0.000723,0.003610,0.007220,0.000000,0.010145
947,-0.001806,-0.010180,0.015728,0.000267,0.008101,0.007040,-0.004403,-0.007420,-0.005753,0.009045,...,-0.010955,-0.003888,-0.015190,-0.019655,-0.003057,-0.007254,0.003885,0.007818,0.000592,-0.008258
948,0.004209,0.017593,-0.004494,-0.014269,-0.002614,-0.000780,-0.025134,0.006075,0.016403,0.004968,...,0.007056,0.017232,-0.008969,0.025477,0.007488,-0.001093,0.009433,-0.009782,0.000118,0.003011
949,-0.000600,0.000000,-0.004877,0.001896,0.004984,-0.006260,0.004515,-0.011733,0.015021,-0.012275,...,0.004547,-0.005316,0.012152,-0.011678,-0.004985,-0.000729,0.002273,0.007183,0.011873,-0.007544
950,-0.004212,0.010409,0.005957,0.003782,0.002837,0.015190,0.000563,0.014421,0.004834,-0.021062,...,0.004139,0.032054,-0.002546,0.004298,-0.007106,0.001458,0.006648,-0.007838,0.002917,-0.001137

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
931,33.64,33.68,33.24,33.52,33.51,33.38,33.51,0.007944,0.006326,0.005223,0.016707,0.008617,0.018815,33.8

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
945,0.005094,-0.004778,-0.012143,-0.020625,0.000481,0.005536,-0.012470,0.004688,0.006813,0.016046,...,0.001572,-0.007120,0.012305,-0.014241,-0.010940,-0.001446,-0.006633,-0.001317,0.003319,-0.003017
946,-0.006296,0.007469,0.000729,-0.000802,0.005277,0.004721,-0.006568,-0.005807,-0.013673,-0.019905,...,0.009382,-0.002683,-0.001569,0.023234,0.003475,0.000723,0.003610,0.007220,0.000000,0.010145
947,-0.001806,-0.010180,0.015728,0.000267,0.008101,0.007040,-0.004403,-0.007420,-0.005753,0.009045,...,-0.010955,-0.003888,-0.015190,-0.019655,-0.003057,-0.007254,0.003885,0.007818,0.000592,-0.008258
948,0.004209,0.017593,-0.004494,-0.014269,-0.002614,-0.000780,-0.025134,0.006075,0.016403,0.004968,...,0.007056,0.017232,-0.008969,0.025477,0.007488,-0.001093,0.009433,-0.009782,0.000118,0.003011
949,-0.000600,0.000000,-0.004877,0.001896,0.004984,-0.006260,0.004515,-0.011733,0.015021,-0.012275,...,0.004547,-0.005316,0.012152,-0.011678,-0.004985,-0.000729,0.002273,0.007183,0.011873,-0.007544
950,-0.004212,0.010409,0.005957,0.003782,0.002837,0.015190,0.000563,0.014421,0.004834,-0.021062,...,0.004139,0.032054,-0.002546,0.004298,-0.007106,0.001458,0.006648,-0.007838,0.002917,-0.001137
951,0.001506,0.001420,-0.021283,0.007253,0.006119,-0.006593,0.005612,0.022562,-0.000371,0.013507,...,-0.003491,-0.005752,0.000637,0.002725,0.002793,0.007618,-0.013484,-0.005919,0.000582,0.008681

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
932,33.8,33.64,33.68,33.24,33.52,33.51,33.38,0.007905,0.006307,0.005202,0.005921,0.014868,0.02662,33.88

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
946,-0.006296,0.007469,0.000729,-0.000802,0.005277,0.004721,-0.006568,-0.005807,-0.013673,-0.019905,...,0.009382,-0.002683,-0.001569,0.023234,0.003475,0.000723,0.003610,0.007220,0.000000,0.010145
947,-0.001806,-0.010180,0.015728,0.000267,0.008101,0.007040,-0.004403,-0.007420,-0.005753,0.009045,...,-0.010955,-0.003888,-0.015190,-0.019655,-0.003057,-0.007254,0.003885,0.007818,0.000592,-0.008258
948,0.004209,0.017593,-0.004494,-0.014269,-0.002614,-0.000780,-0.025134,0.006075,0.016403,0.004968,...,0.007056,0.017232,-0.008969,0.025477,0.007488,-0.001093,0.009433,-0.009782,0.000118,0.003011
949,-0.000600,0.000000,-0.004877,0.001896,0.004984,-0.006260,0.004515,-0.011733,0.015021,-0.012275,...,0.004547,-0.005316,0.012152,-0.011678,-0.004985,-0.000729,0.002273,0.007183,0.011873,-0.007544
950,-0.004212,0.010409,0.005957,0.003782,0.002837,0.015190,0.000563,0.014421,0.004834,-0.021062,...,0.004139,0.032054,-0.002546,0.004298,-0.007106,0.001458,0.006648,-0.007838,0.002917,-0.001137
951,0.001506,0.001420,-0.021283,0.007253,0.006119,-0.006593,0.005612,0.022562,-0.000371,0.013507,...,-0.003491,-0.005752,0.000637,0.002725,0.002793,0.007618,-0.013484,-0.005919,0.000582,0.008681
952,-0.001808,0.002026,-0.002762,0.006669,-0.006355,0.000000,-0.014656,0.000656,-0.004090,0.015818,...,-0.000130,0.011471,-0.006069,0.001554,-0.004192,-0.006890,-0.000286,-0.003966,0.004300,0.019353

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
933,33.88,33.8,33.64,33.68,33.24,33.52,33.51,0.005973,0.005889,0.005223,0.005632,0.009504,0.025447,33.83

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
947,-0.001806,-0.010180,0.015728,0.000267,0.008101,0.007040,-0.004403,-0.007420,-0.005753,0.009045,...,-0.010955,-0.003888,-0.015190,-0.019655,-0.003057,-0.007254,0.003885,0.007818,0.000592,-0.008258
948,0.004209,0.017593,-0.004494,-0.014269,-0.002614,-0.000780,-0.025134,0.006075,0.016403,0.004968,...,0.007056,0.017232,-0.008969,0.025477,0.007488,-0.001093,0.009433,-0.009782,0.000118,0.003011
949,-0.000600,0.000000,-0.004877,0.001896,0.004984,-0.006260,0.004515,-0.011733,0.015021,-0.012275,...,0.004547,-0.005316,0.012152,-0.011678,-0.004985,-0.000729,0.002273,0.007183,0.011873,-0.007544
950,-0.004212,0.010409,0.005957,0.003782,0.002837,0.015190,0.000563,0.014421,0.004834,-0.021062,...,0.004139,0.032054,-0.002546,0.004298,-0.007106,0.001458,0.006648,-0.007838,0.002917,-0.001137
951,0.001506,0.001420,-0.021283,0.007253,0.006119,-0.006593,0.005612,0.022562,-0.000371,0.013507,...,-0.003491,-0.005752,0.000637,0.002725,0.002793,0.007618,-0.013484,-0.005919,0.000582,0.008681
952,-0.001808,0.002026,-0.002762,0.006669,-0.006355,0.000000,-0.014656,0.000656,-0.004090,0.015818,...,-0.000130,0.011471,-0.006069,0.001554,-0.004192,-0.006890,-0.000286,-0.003966,0.004300,0.019353
953,0.000000,-0.002634,0.027100,0.002125,-0.003074,0.002720,-0.016605,0.001965,0.015527,0.019896,...,0.003621,0.003132,-0.011602,-0.003890,-0.009284,0.001818,-0.022258,0.007916,-0.000464,0.002209

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
934,33.83,33.88,33.8,33.64,33.68,33.24,33.52,0.002757,0.005769,0.005144,0.004133,0.012452,0.023853,33.94

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
948,0.004209,0.017593,-0.004494,-0.014269,-0.002614,-0.000780,-0.025134,0.006075,0.016403,0.004968,...,0.007056,0.017232,-0.008969,0.025477,0.007488,-0.001093,0.009433,-0.009782,0.000118,0.003011
949,-0.000600,0.000000,-0.004877,0.001896,0.004984,-0.006260,0.004515,-0.011733,0.015021,-0.012275,...,0.004547,-0.005316,0.012152,-0.011678,-0.004985,-0.000729,0.002273,0.007183,0.011873,-0.007544
950,-0.004212,0.010409,0.005957,0.003782,0.002837,0.015190,0.000563,0.014421,0.004834,-0.021062,...,0.004139,0.032054,-0.002546,0.004298,-0.007106,0.001458,0.006648,-0.007838,0.002917,-0.001137
951,0.001506,0.001420,-0.021283,0.007253,0.006119,-0.006593,0.005612,0.022562,-0.000371,0.013507,...,-0.003491,-0.005752,0.000637,0.002725,0.002793,0.007618,-0.013484,-0.005919,0.000582,0.008681
952,-0.001808,0.002026,-0.002762,0.006669,-0.006355,0.000000,-0.014656,0.000656,-0.004090,0.015818,...,-0.000130,0.011471,-0.006069,0.001554,-0.004192,-0.006890,-0.000286,-0.003966,0.004300,0.019353
953,0.000000,-0.002634,0.027100,0.002125,-0.003074,0.002720,-0.016605,0.001965,0.015527,0.019896,...,0.003621,0.003132,-0.011602,-0.003890,-0.009284,0.001818,-0.022258,0.007916,-0.000464,0.002209
954,0.003312,0.000406,-0.005037,-0.019288,0.003310,-0.004667,0.003458,-0.006566,-0.006994,0.003932,...,-0.009077,0.007363,0.000324,-0.011366,-0.000283,0.005434,0.007861,0.014351,-0.002672,-0.002209

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
935,33.94,33.83,33.88,33.8,33.64,33.68,33.24,0.00232,0.005488,0.004987,0.004711,0.023782,0.024083,34.04

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
949,-0.000600,0.000000,-0.004877,0.001896,0.004984,-0.006260,0.004515,-0.011733,0.015021,-0.012275,...,0.004547,-0.005316,0.012152,-0.011678,-0.004985,-0.000729,0.002273,0.007183,0.011873,-0.007544
950,-0.004212,0.010409,0.005957,0.003782,0.002837,0.015190,0.000563,0.014421,0.004834,-0.021062,...,0.004139,0.032054,-0.002546,0.004298,-0.007106,0.001458,0.006648,-0.007838,0.002917,-0.001137
951,0.001506,0.001420,-0.021283,0.007253,0.006119,-0.006593,0.005612,0.022562,-0.000371,0.013507,...,-0.003491,-0.005752,0.000637,0.002725,0.002793,0.007618,-0.013484,-0.005919,0.000582,0.008681
952,-0.001808,0.002026,-0.002762,0.006669,-0.006355,0.000000,-0.014656,0.000656,-0.004090,0.015818,...,-0.000130,0.011471,-0.006069,0.001554,-0.004192,-0.006890,-0.000286,-0.003966,0.004300,0.019353
953,0.000000,-0.002634,0.027100,0.002125,-0.003074,0.002720,-0.016605,0.001965,0.015527,0.019896,...,0.003621,0.003132,-0.011602,-0.003890,-0.009284,0.001818,-0.022258,0.007916,-0.000464,0.002209
954,0.003312,0.000406,-0.005037,-0.019288,0.003310,-0.004667,0.003458,-0.006566,-0.006994,0.003932,...,-0.009077,0.007363,0.000324,-0.011366,-0.000283,0.005434,0.007861,0.014351,-0.002672,-0.002209
955,0.002102,0.005057,-0.021510,-0.005969,-0.002600,-0.003124,-0.006928,-0.013040,-0.013014,-0.016012,...,0.008690,0.003380,-0.012062,0.034860,-0.004250,0.002886,0.001159,-0.007802,0.001046,0.008442

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
936,34.04,33.94,33.83,33.88,33.8,33.64,33.68,0.003689,0.005884,0.005121,0.000886,0.00533,0.015476,33.86

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
950,-0.004212,0.010409,0.005957,0.003782,0.002837,0.015190,0.000563,0.014421,0.004834,-0.021062,...,0.004139,0.032054,-0.002546,0.004298,-0.007106,0.001458,0.006648,-0.007838,0.002917,-0.001137
951,0.001506,0.001420,-0.021283,0.007253,0.006119,-0.006593,0.005612,0.022562,-0.000371,0.013507,...,-0.003491,-0.005752,0.000637,0.002725,0.002793,0.007618,-0.013484,-0.005919,0.000582,0.008681
952,-0.001808,0.002026,-0.002762,0.006669,-0.006355,0.000000,-0.014656,0.000656,-0.004090,0.015818,...,-0.000130,0.011471,-0.006069,0.001554,-0.004192,-0.006890,-0.000286,-0.003966,0.004300,0.019353
953,0.000000,-0.002634,0.027100,0.002125,-0.003074,0.002720,-0.016605,0.001965,0.015527,0.019896,...,0.003621,0.003132,-0.011602,-0.003890,-0.009284,0.001818,-0.022258,0.007916,-0.000464,0.002209
954,0.003312,0.000406,-0.005037,-0.019288,0.003310,-0.004667,0.003458,-0.006566,-0.006994,0.003932,...,-0.009077,0.007363,0.000324,-0.011366,-0.000283,0.005434,0.007861,0.014351,-0.002672,-0.002209
955,0.002102,0.005057,-0.021510,-0.005969,-0.002600,-0.003124,-0.006928,-0.013040,-0.013014,-0.016012,...,0.008690,0.003380,-0.012062,0.034860,-0.004250,0.002886,0.001159,-0.007802,0.001046,0.008442
956,-0.003004,-0.000606,0.016991,-0.015632,-0.007603,-0.010615,-0.001159,-0.005354,0.002616,0.012268,...,-0.008429,-0.020742,-0.002956,0.010602,-0.005552,0.004672,-0.006831,-0.001960,0.004637,0.004012

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
937,33.86,34.04,33.94,33.83,33.88,33.8,33.64,0.004609,0.006392,0.005339,-0.009176,-0.000297,0.000297,33.63

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
951,0.001506,0.001420,-0.021283,0.007253,0.006119,-0.006593,0.005612,0.022562,-0.000371,0.013507,...,-0.003491,-0.005752,0.000637,0.002725,0.002793,0.007618,-0.013484,-0.005919,0.000582,0.008681
952,-0.001808,0.002026,-0.002762,0.006669,-0.006355,0.000000,-0.014656,0.000656,-0.004090,0.015818,...,-0.000130,0.011471,-0.006069,0.001554,-0.004192,-0.006890,-0.000286,-0.003966,0.004300,0.019353
953,0.000000,-0.002634,0.027100,0.002125,-0.003074,0.002720,-0.016605,0.001965,0.015527,0.019896,...,0.003621,0.003132,-0.011602,-0.003890,-0.009284,0.001818,-0.022258,0.007916,-0.000464,0.002209
954,0.003312,0.000406,-0.005037,-0.019288,0.003310,-0.004667,0.003458,-0.006566,-0.006994,0.003932,...,-0.009077,0.007363,0.000324,-0.011366,-0.000283,0.005434,0.007861,0.014351,-0.002672,-0.002209
955,0.002102,0.005057,-0.021510,-0.005969,-0.002600,-0.003124,-0.006928,-0.013040,-0.013014,-0.016012,...,0.008690,0.003380,-0.012062,0.034860,-0.004250,0.002886,0.001159,-0.007802,0.001046,0.008442
956,-0.003004,-0.000606,0.016991,-0.015632,-0.007603,-0.010615,-0.001159,-0.005354,0.002616,0.012268,...,-0.008429,-0.020742,-0.002956,0.010602,-0.005552,0.004672,-0.006831,-0.001960,0.004637,0.004012
957,-0.006338,0.000807,-0.019944,-0.019256,0.000238,-0.003564,0.001159,-0.013964,-0.021125,-0.005455,...,0.007912,0.021305,-0.004616,0.006383,-0.004292,0.005720,-0.000875,0.012350,-0.007546,-0.016517

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
938,33.63,33.86,34.04,33.94,33.83,33.88,33.8,0.004731,0.005843,0.005255,-0.015991,-0.008915,-0.000298,33.5

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
952,-0.001808,0.002026,-0.002762,0.006669,-0.006355,0.000000,-0.014656,0.000656,-0.004090,0.015818,...,-0.000130,0.011471,-0.006069,0.001554,-0.004192,-0.006890,-0.000286,-0.003966,0.004300,0.019353
953,0.000000,-0.002634,0.027100,0.002125,-0.003074,0.002720,-0.016605,0.001965,0.015527,0.019896,...,0.003621,0.003132,-0.011602,-0.003890,-0.009284,0.001818,-0.022258,0.007916,-0.000464,0.002209
954,0.003312,0.000406,-0.005037,-0.019288,0.003310,-0.004667,0.003458,-0.006566,-0.006994,0.003932,...,-0.009077,0.007363,0.000324,-0.011366,-0.000283,0.005434,0.007861,0.014351,-0.002672,-0.002209
955,0.002102,0.005057,-0.021510,-0.005969,-0.002600,-0.003124,-0.006928,-0.013040,-0.013014,-0.016012,...,0.008690,0.003380,-0.012062,0.034860,-0.004250,0.002886,0.001159,-0.007802,0.001046,0.008442
956,-0.003004,-0.000606,0.016991,-0.015632,-0.007603,-0.010615,-0.001159,-0.005354,0.002616,0.012268,...,-0.008429,-0.020742,-0.002956,0.010602,-0.005552,0.004672,-0.006831,-0.001960,0.004637,0.004012
957,-0.006338,0.000807,-0.019944,-0.019256,0.000238,-0.003564,0.001159,-0.013964,-0.021125,-0.005455,...,0.007912,0.021305,-0.004616,0.006383,-0.004292,0.005720,-0.000875,0.012350,-0.007546,-0.016517
958,0.004230,-0.010546,0.006080,-0.001410,-0.005259,-0.003576,-0.006977,-0.000454,0.014759,-0.009666,...,-0.007131,-0.008751,0.011500,0.020741,-0.009363,0.003559,-0.020647,-0.012350,-0.000233,-0.003336

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
939,33.5,33.63,33.86,34.04,33.94,33.83,33.88,0.004379,0.004619,0.005639,-0.019082,-0.019673,-0.004805,33.22

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
953,0.000000,-0.002634,0.027100,0.002125,-0.003074,0.002720,-0.016605,0.001965,0.015527,0.019896,...,0.003621,0.003132,-0.011602,-0.003890,-0.009284,0.001818,-0.022258,0.007916,-0.000464,0.002209
954,0.003312,0.000406,-0.005037,-0.019288,0.003310,-0.004667,0.003458,-0.006566,-0.006994,0.003932,...,-0.009077,0.007363,0.000324,-0.011366,-0.000283,0.005434,0.007861,0.014351,-0.002672,-0.002209
955,0.002102,0.005057,-0.021510,-0.005969,-0.002600,-0.003124,-0.006928,-0.013040,-0.013014,-0.016012,...,0.008690,0.003380,-0.012062,0.034860,-0.004250,0.002886,0.001159,-0.007802,0.001046,0.008442
956,-0.003004,-0.000606,0.016991,-0.015632,-0.007603,-0.010615,-0.001159,-0.005354,0.002616,0.012268,...,-0.008429,-0.020742,-0.002956,0.010602,-0.005552,0.004672,-0.006831,-0.001960,0.004637,0.004012
957,-0.006338,0.000807,-0.019944,-0.019256,0.000238,-0.003564,0.001159,-0.013964,-0.021125,-0.005455,...,0.007912,0.021305,-0.004616,0.006383,-0.004292,0.005720,-0.000875,0.012350,-0.007546,-0.016517
958,0.004230,-0.010546,0.006080,-0.001410,-0.005259,-0.003576,-0.006977,-0.000454,0.014759,-0.009666,...,-0.007131,-0.008751,0.011500,0.020741,-0.009363,0.003559,-0.020647,-0.012350,-0.000233,-0.003336
959,-0.004230,-0.005315,-0.010525,-0.003109,-0.004565,0.007535,-0.007026,-0.003182,0.000376,0.003612,...,0.005062,-0.016581,0.008782,0.012024,0.006204,-0.001778,-0.008229,0.007168,-0.003971,-0.012330

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
940,33.22,33.5,33.63,33.86,34.04,33.94,33.83,0.003092,0.004631,0.005541,-0.012567,-0.018497,-0.008993,33.21

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
954,0.003312,0.000406,-0.005037,-0.019288,0.003310,-0.004667,0.003458,-0.006566,-0.006994,0.003932,...,-0.009077,0.007363,0.000324,-0.011366,-0.000283,0.005434,0.007861,0.014351,-0.002672,-0.002209
955,0.002102,0.005057,-0.021510,-0.005969,-0.002600,-0.003124,-0.006928,-0.013040,-0.013014,-0.016012,...,0.008690,0.003380,-0.012062,0.034860,-0.004250,0.002886,0.001159,-0.007802,0.001046,0.008442
956,-0.003004,-0.000606,0.016991,-0.015632,-0.007603,-0.010615,-0.001159,-0.005354,0.002616,0.012268,...,-0.008429,-0.020742,-0.002956,0.010602,-0.005552,0.004672,-0.006831,-0.001960,0.004637,0.004012
957,-0.006338,0.000807,-0.019944,-0.019256,0.000238,-0.003564,0.001159,-0.013964,-0.021125,-0.005455,...,0.007912,0.021305,-0.004616,0.006383,-0.004292,0.005720,-0.000875,0.012350,-0.007546,-0.016517
958,0.004230,-0.010546,0.006080,-0.001410,-0.005259,-0.003576,-0.006977,-0.000454,0.014759,-0.009666,...,-0.007131,-0.008751,0.011500,0.020741,-0.009363,0.003559,-0.020647,-0.012350,-0.000233,-0.003336
959,-0.004230,-0.005315,-0.010525,-0.003109,-0.004565,0.007535,-0.007026,-0.003182,0.000376,0.003612,...,0.005062,-0.016581,0.008782,0.012024,0.006204,-0.001778,-0.008229,0.007168,-0.003971,-0.012330
960,-0.001212,0.005722,-0.002975,0.004237,0.001444,0.001974,0.001174,-0.002964,0.004496,0.026773,...,-0.001684,0.011465,-0.015337,0.017592,-0.000144,-0.000712,0.003300,0.013544,0.004903,0.008982

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
941,33.21,33.22,33.5,33.63,33.86,34.04,33.94,0.004879,0.004478,0.005567,-0.005088,-0.018136,-0.005684,33.33

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
955,0.002102,0.005057,-0.021510,-0.005969,-0.002600,-0.003124,-0.006928,-0.013040,-0.013014,-0.016012,...,0.008690,0.003380,-0.012062,0.034860,-0.004250,0.002886,0.001159,-0.007802,0.001046,0.008442
956,-0.003004,-0.000606,0.016991,-0.015632,-0.007603,-0.010615,-0.001159,-0.005354,0.002616,0.012268,...,-0.008429,-0.020742,-0.002956,0.010602,-0.005552,0.004672,-0.006831,-0.001960,0.004637,0.004012
957,-0.006338,0.000807,-0.019944,-0.019256,0.000238,-0.003564,0.001159,-0.013964,-0.021125,-0.005455,...,0.007912,0.021305,-0.004616,0.006383,-0.004292,0.005720,-0.000875,0.012350,-0.007546,-0.016517
958,0.004230,-0.010546,0.006080,-0.001410,-0.005259,-0.003576,-0.006977,-0.000454,0.014759,-0.009666,...,-0.007131,-0.008751,0.011500,0.020741,-0.009363,0.003559,-0.020647,-0.012350,-0.000233,-0.003336
959,-0.004230,-0.005315,-0.010525,-0.003109,-0.004565,0.007535,-0.007026,-0.003182,0.000376,0.003612,...,0.005062,-0.016581,0.008782,0.012024,0.006204,-0.001778,-0.008229,0.007168,-0.003971,-0.012330
960,-0.001212,0.005722,-0.002975,0.004237,0.001444,0.001974,0.001174,-0.002964,0.004496,0.026773,...,-0.001684,0.011465,-0.015337,0.017592,-0.000144,-0.000712,0.003300,0.013544,0.004903,0.008982
961,-0.001820,0.001426,0.005940,-0.004520,0.004797,-0.010305,0.005268,-0.007563,-0.000748,0.001846,...,0.008523,0.002846,0.006882,0.010972,-0.003747,-0.008584,-0.002249,0.019664,0.005806,0.002233

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
942,33.33,33.21,33.22,33.5,33.63,33.86,34.04,0.00521,0.004644,0.005586,0.007199,-0.017186,0.006597,33.46

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
956,-0.003004,-0.000606,0.016991,-0.015632,-0.007603,-0.010615,-0.001159,-0.005354,0.002616,0.012268,...,-0.008429,-0.020742,-0.002956,0.010602,-0.005552,0.004672,-0.006831,-0.001960,0.004637,0.004012
957,-0.006338,0.000807,-0.019944,-0.019256,0.000238,-0.003564,0.001159,-0.013964,-0.021125,-0.005455,...,0.007912,0.021305,-0.004616,0.006383,-0.004292,0.005720,-0.000875,0.012350,-0.007546,-0.016517
958,0.004230,-0.010546,0.006080,-0.001410,-0.005259,-0.003576,-0.006977,-0.000454,0.014759,-0.009666,...,-0.007131,-0.008751,0.011500,0.020741,-0.009363,0.003559,-0.020647,-0.012350,-0.000233,-0.003336
959,-0.004230,-0.005315,-0.010525,-0.003109,-0.004565,0.007535,-0.007026,-0.003182,0.000376,0.003612,...,0.005062,-0.016581,0.008782,0.012024,0.006204,-0.001778,-0.008229,0.007168,-0.003971,-0.012330
960,-0.001212,0.005722,-0.002975,0.004237,0.001444,0.001974,0.001174,-0.002964,0.004496,0.026773,...,-0.001684,0.011465,-0.015337,0.017592,-0.000144,-0.000712,0.003300,0.013544,0.004903,0.008982
961,-0.001820,0.001426,0.005940,-0.004520,0.004797,-0.010305,0.005268,-0.007563,-0.000748,0.001846,...,0.008523,0.002846,0.006882,0.010972,-0.003747,-0.008584,-0.002249,0.019664,0.005806,0.002233
962,0.001820,-0.004283,-0.010419,-0.007674,-0.011310,0.002388,0.023082,0.008932,-0.033089,-0.000369,...,0.001670,0.017465,-0.016796,0.022966,0.005759,0.001794,0.014009,0.000000,-0.003247,0.005930

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
943,33.46,33.33,33.21,33.22,33.5,33.63,33.86,0.004987,0.004691,0.005249,0.008396,-0.010987,-0.005657,33.49

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
957,-0.006338,0.000807,-0.019944,-0.019256,0.000238,-0.003564,0.001159,-0.013964,-0.021125,-0.005455,...,0.007912,0.021305,-0.004616,0.006383,-0.004292,0.005720,-0.000875,0.012350,-0.007546,-0.016517
958,0.004230,-0.010546,0.006080,-0.001410,-0.005259,-0.003576,-0.006977,-0.000454,0.014759,-0.009666,...,-0.007131,-0.008751,0.011500,0.020741,-0.009363,0.003559,-0.020647,-0.012350,-0.000233,-0.003336
959,-0.004230,-0.005315,-0.010525,-0.003109,-0.004565,0.007535,-0.007026,-0.003182,0.000376,0.003612,...,0.005062,-0.016581,0.008782,0.012024,0.006204,-0.001778,-0.008229,0.007168,-0.003971,-0.012330
960,-0.001212,0.005722,-0.002975,0.004237,0.001444,0.001974,0.001174,-0.002964,0.004496,0.026773,...,-0.001684,0.011465,-0.015337,0.017592,-0.000144,-0.000712,0.003300,0.013544,0.004903,0.008982
961,-0.001820,0.001426,0.005940,-0.004520,0.004797,-0.010305,0.005268,-0.007563,-0.000748,0.001846,...,0.008523,0.002846,0.006882,0.010972,-0.003747,-0.008584,-0.002249,0.019664,0.005806,0.002233
962,0.001820,-0.004283,-0.010419,-0.007674,-0.011310,0.002388,0.023082,0.008932,-0.033089,-0.000369,...,0.001670,0.017465,-0.016796,0.022966,0.005759,0.001794,0.014009,0.000000,-0.003247,0.005930
963,0.006345,0.007533,0.003547,-0.006297,0.007474,-0.004382,-0.026006,0.016955,0.009621,-0.009825,...,-0.002957,-0.003637,-0.003660,0.004804,0.001004,0.005007,-0.026848,0.006886,-0.007462,-0.001849

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
944,33.49,33.46,33.33,33.21,33.22,33.5,33.63,0.005495,0.005134,0.005622,-0.004812,-0.013773,-0.01407,33.17

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
958,0.004230,-0.010546,0.006080,-0.001410,-0.005259,-0.003576,-0.006977,-0.000454,0.014759,-0.009666,...,-0.007131,-0.008751,0.011500,0.020741,-0.009363,0.003559,-0.020647,-0.012350,-0.000233,-0.003336
959,-0.004230,-0.005315,-0.010525,-0.003109,-0.004565,0.007535,-0.007026,-0.003182,0.000376,0.003612,...,0.005062,-0.016581,0.008782,0.012024,0.006204,-0.001778,-0.008229,0.007168,-0.003971,-0.012330
960,-0.001212,0.005722,-0.002975,0.004237,0.001444,0.001974,0.001174,-0.002964,0.004496,0.026773,...,-0.001684,0.011465,-0.015337,0.017592,-0.000144,-0.000712,0.003300,0.013544,0.004903,0.008982
961,-0.001820,0.001426,0.005940,-0.004520,0.004797,-0.010305,0.005268,-0.007563,-0.000748,0.001846,...,0.008523,0.002846,0.006882,0.010972,-0.003747,-0.008584,-0.002249,0.019664,0.005806,0.002233
962,0.001820,-0.004283,-0.010419,-0.007674,-0.011310,0.002388,0.023082,0.008932,-0.033089,-0.000369,...,0.001670,0.017465,-0.016796,0.022966,0.005759,0.001794,0.014009,0.000000,-0.003247,0.005930
963,0.006345,0.007533,0.003547,-0.006297,0.007474,-0.004382,-0.026006,0.016955,0.009621,-0.009825,...,-0.002957,-0.003637,-0.003660,0.004804,0.001004,0.005007,-0.026848,0.006886,-0.007462,-0.001849
964,0.002106,-0.006920,-0.014643,0.006582,-0.002405,0.015056,0.005838,0.028943,0.009529,-0.003359,...,0.002572,-0.011841,-0.007696,-0.005837,-0.004168,-0.007520,-0.000913,-0.016353,-0.003517,0.001849

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
945,33.17,33.49,33.46,33.33,33.21,33.22,33.5,0.005767,0.005214,0.005635,-0.005094,-0.006288,-0.015204,33.29

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
959,-0.004230,-0.005315,-0.010525,-0.003109,-0.004565,0.007535,-0.007026,-0.003182,0.000376,0.003612,...,0.005062,-0.016581,0.008782,0.012024,0.006204,-0.001778,-0.008229,0.007168,-0.003971,-0.012330
960,-0.001212,0.005722,-0.002975,0.004237,0.001444,0.001974,0.001174,-0.002964,0.004496,0.026773,...,-0.001684,0.011465,-0.015337,0.017592,-0.000144,-0.000712,0.003300,0.013544,0.004903,0.008982
961,-0.001820,0.001426,0.005940,-0.004520,0.004797,-0.010305,0.005268,-0.007563,-0.000748,0.001846,...,0.008523,0.002846,0.006882,0.010972,-0.003747,-0.008584,-0.002249,0.019664,0.005806,0.002233
962,0.001820,-0.004283,-0.010419,-0.007674,-0.011310,0.002388,0.023082,0.008932,-0.033089,-0.000369,...,0.001670,0.017465,-0.016796,0.022966,0.005759,0.001794,0.014009,0.000000,-0.003247,0.005930
963,0.006345,0.007533,0.003547,-0.006297,0.007474,-0.004382,-0.026006,0.016955,0.009621,-0.009825,...,-0.002957,-0.003637,-0.003660,0.004804,0.001004,0.005007,-0.026848,0.006886,-0.007462,-0.001849
964,0.002106,-0.006920,-0.014643,0.006582,-0.002405,0.015056,0.005838,0.028943,0.009529,-0.003359,...,0.002572,-0.011841,-0.007696,-0.005837,-0.004168,-0.007520,-0.000913,-0.016353,-0.003517,0.001849
965,-0.001805,-0.002045,-0.000189,0.013317,0.003845,0.010561,-0.002331,-0.011168,0.031737,-0.021921,...,-0.004118,0.007347,0.018306,-0.011080,0.001151,-0.009753,0.003494,0.015729,0.009933,0.002952

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
946,33.29,33.17,33.49,33.46,33.33,33.21,33.22,0.006002,0.005558,0.005687,-0.000896,0.007199,-0.012474,33.46

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
960,-0.001212,0.005722,-0.002975,0.004237,0.001444,0.001974,0.001174,-0.002964,0.004496,0.026773,...,-0.001684,0.011465,-0.015337,0.017592,-0.000144,-0.000712,0.003300,0.013544,0.004903,0.008982
961,-0.001820,0.001426,0.005940,-0.004520,0.004797,-0.010305,0.005268,-0.007563,-0.000748,0.001846,...,0.008523,0.002846,0.006882,0.010972,-0.003747,-0.008584,-0.002249,0.019664,0.005806,0.002233
962,0.001820,-0.004283,-0.010419,-0.007674,-0.011310,0.002388,0.023082,0.008932,-0.033089,-0.000369,...,0.001670,0.017465,-0.016796,0.022966,0.005759,0.001794,0.014009,0.000000,-0.003247,0.005930
963,0.006345,0.007533,0.003547,-0.006297,0.007474,-0.004382,-0.026006,0.016955,0.009621,-0.009825,...,-0.002957,-0.003637,-0.003660,0.004804,0.001004,0.005007,-0.026848,0.006886,-0.007462,-0.001849
964,0.002106,-0.006920,-0.014643,0.006582,-0.002405,0.015056,0.005838,0.028943,0.009529,-0.003359,...,0.002572,-0.011841,-0.007696,-0.005837,-0.004168,-0.007520,-0.000913,-0.016353,-0.003517,0.001849
965,-0.001805,-0.002045,-0.000189,0.013317,0.003845,0.010561,-0.002331,-0.011168,0.031737,-0.021921,...,-0.004118,0.007347,0.018306,-0.011080,0.001151,-0.009753,0.003494,0.015729,0.009933,0.002952
966,0.003907,0.000000,-0.021218,-0.007061,0.007646,-0.001947,0.004657,-0.006185,-0.005528,0.011398,...,-0.008937,0.008969,0.004607,-0.001394,0.000431,-0.004001,0.002423,0.026488,0.003598,-0.007396

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
947,33.46,33.29,33.17,33.49,33.46,33.33,33.21,0.006397,0.005501,0.005853,0.002409,0.001204,-0.017293,33.25

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
961,-0.001820,0.001426,0.005940,-0.004520,0.004797,-0.010305,0.005268,-0.007563,-0.000748,0.001846,...,0.008523,0.002846,0.006882,0.010972,-0.003747,-0.008584,-0.002249,0.019664,0.005806,0.002233
962,0.001820,-0.004283,-0.010419,-0.007674,-0.011310,0.002388,0.023082,0.008932,-0.033089,-0.000369,...,0.001670,0.017465,-0.016796,0.022966,0.005759,0.001794,0.014009,0.000000,-0.003247,0.005930
963,0.006345,0.007533,0.003547,-0.006297,0.007474,-0.004382,-0.026006,0.016955,0.009621,-0.009825,...,-0.002957,-0.003637,-0.003660,0.004804,0.001004,0.005007,-0.026848,0.006886,-0.007462,-0.001849
964,0.002106,-0.006920,-0.014643,0.006582,-0.002405,0.015056,0.005838,0.028943,0.009529,-0.003359,...,0.002572,-0.011841,-0.007696,-0.005837,-0.004168,-0.007520,-0.000913,-0.016353,-0.003517,0.001849
965,-0.001805,-0.002045,-0.000189,0.013317,0.003845,0.010561,-0.002331,-0.011168,0.031737,-0.021921,...,-0.004118,0.007347,0.018306,-0.011080,0.001151,-0.009753,0.003494,0.015729,0.009933,0.002952
966,0.003907,0.000000,-0.021218,-0.007061,0.007646,-0.001947,0.004657,-0.006185,-0.005528,0.011398,...,-0.008937,0.008969,0.004607,-0.001394,0.000431,-0.004001,0.002423,0.026488,0.003598,-0.007396
967,-0.001801,-0.003691,-0.009512,-0.004545,0.005933,0.007767,-0.001162,0.010799,0.001108,-0.000189,...,-0.003127,-0.005315,-0.000328,-0.009811,-0.001583,0.001820,-0.000454,-0.009160,-0.007793,0.010707

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
948,33.25,33.46,33.29,33.17,33.49,33.46,33.33,0.006282,0.005426,0.005558,-0.003008,-0.004209,-0.022346,33.19

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
962,0.001820,-0.004283,-0.010419,-0.007674,-0.011310,0.002388,0.023082,0.008932,-0.033089,-0.000369,...,0.001670,0.017465,-0.016796,0.022966,0.005759,0.001794,0.014009,0.000000,-0.003247,0.005930
963,0.006345,0.007533,0.003547,-0.006297,0.007474,-0.004382,-0.026006,0.016955,0.009621,-0.009825,...,-0.002957,-0.003637,-0.003660,0.004804,0.001004,0.005007,-0.026848,0.006886,-0.007462,-0.001849
964,0.002106,-0.006920,-0.014643,0.006582,-0.002405,0.015056,0.005838,0.028943,0.009529,-0.003359,...,0.002572,-0.011841,-0.007696,-0.005837,-0.004168,-0.007520,-0.000913,-0.016353,-0.003517,0.001849
965,-0.001805,-0.002045,-0.000189,0.013317,0.003845,0.010561,-0.002331,-0.011168,0.031737,-0.021921,...,-0.004118,0.007347,0.018306,-0.011080,0.001151,-0.009753,0.003494,0.015729,0.009933,0.002952
966,0.003907,0.000000,-0.021218,-0.007061,0.007646,-0.001947,0.004657,-0.006185,-0.005528,0.011398,...,-0.008937,0.008969,0.004607,-0.001394,0.000431,-0.004001,0.002423,0.026488,0.003598,-0.007396
967,-0.001801,-0.003691,-0.009512,-0.004545,0.005933,0.007767,-0.001162,0.010799,0.001108,-0.000189,...,-0.003127,-0.005315,-0.000328,-0.009811,-0.001583,0.001820,-0.000454,-0.009160,-0.007793,0.010707
968,-0.003009,-0.001233,-0.001562,0.014137,0.004250,-0.003488,-0.001746,-0.007039,-0.007782,0.008466,...,0.011291,-0.018115,0.005567,-0.002115,0.005314,0.004356,0.000000,-0.003072,-0.008207,-0.001838

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
949,33.19,33.25,33.46,33.29,33.17,33.49,33.46,0.004873,0.004941,0.004737,-0.003893,-0.003893,-0.021078,33.33

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
963,0.006345,0.007533,0.003547,-0.006297,0.007474,-0.004382,-0.026006,0.016955,0.009621,-0.009825,...,-0.002957,-0.003637,-0.003660,0.004804,0.001004,0.005007,-0.026848,0.006886,-0.007462,-0.001849
964,0.002106,-0.006920,-0.014643,0.006582,-0.002405,0.015056,0.005838,0.028943,0.009529,-0.003359,...,0.002572,-0.011841,-0.007696,-0.005837,-0.004168,-0.007520,-0.000913,-0.016353,-0.003517,0.001849
965,-0.001805,-0.002045,-0.000189,0.013317,0.003845,0.010561,-0.002331,-0.011168,0.031737,-0.021921,...,-0.004118,0.007347,0.018306,-0.011080,0.001151,-0.009753,0.003494,0.015729,0.009933,0.002952
966,0.003907,0.000000,-0.021218,-0.007061,0.007646,-0.001947,0.004657,-0.006185,-0.005528,0.011398,...,-0.008937,0.008969,0.004607,-0.001394,0.000431,-0.004001,0.002423,0.026488,0.003598,-0.007396
967,-0.001801,-0.003691,-0.009512,-0.004545,0.005933,0.007767,-0.001162,0.010799,0.001108,-0.000189,...,-0.003127,-0.005315,-0.000328,-0.009811,-0.001583,0.001820,-0.000454,-0.009160,-0.007793,0.010707
968,-0.003009,-0.001233,-0.001562,0.014137,0.004250,-0.003488,-0.001746,-0.007039,-0.007782,0.008466,...,0.011291,-0.018115,0.005567,-0.002115,0.005314,0.004356,0.000000,-0.003072,-0.008207,-0.001838
969,-0.003623,0.007581,-0.004307,-0.000281,-0.005908,-0.002721,-0.017627,0.002205,0.005195,0.015614,...,-0.012335,0.004275,-0.005567,-0.023925,0.000716,-0.000725,0.001210,-0.009274,0.001412,0.005138

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
950,33.33,33.19,33.25,33.46,33.29,33.17,33.49,0.00466,0.004946,0.004734,0.001803,-0.005389,-0.016377,33.31

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
964,0.002106,-0.006920,-0.014643,0.006582,-0.002405,0.015056,0.005838,0.028943,0.009529,-0.003359,...,0.002572,-0.011841,-0.007696,-0.005837,-0.004168,-0.007520,-0.000913,-0.016353,-0.003517,0.001849
965,-0.001805,-0.002045,-0.000189,0.013317,0.003845,0.010561,-0.002331,-0.011168,0.031737,-0.021921,...,-0.004118,0.007347,0.018306,-0.011080,0.001151,-0.009753,0.003494,0.015729,0.009933,0.002952
966,0.003907,0.000000,-0.021218,-0.007061,0.007646,-0.001947,0.004657,-0.006185,-0.005528,0.011398,...,-0.008937,0.008969,0.004607,-0.001394,0.000431,-0.004001,0.002423,0.026488,0.003598,-0.007396
967,-0.001801,-0.003691,-0.009512,-0.004545,0.005933,0.007767,-0.001162,0.010799,0.001108,-0.000189,...,-0.003127,-0.005315,-0.000328,-0.009811,-0.001583,0.001820,-0.000454,-0.009160,-0.007793,0.010707
968,-0.003009,-0.001233,-0.001562,0.014137,0.004250,-0.003488,-0.001746,-0.007039,-0.007782,0.008466,...,0.011291,-0.018115,0.005567,-0.002115,0.005314,0.004356,0.000000,-0.003072,-0.008207,-0.001838
969,-0.003623,0.007581,-0.004307,-0.000281,-0.005908,-0.002721,-0.017627,0.002205,0.005195,0.015614,...,-0.012335,0.004275,-0.005567,-0.023925,0.000716,-0.000725,0.001210,-0.009274,0.001412,0.005138
970,-0.004851,0.010154,0.002939,-0.001968,0.010375,-0.004291,0.011200,-0.009739,-0.014163,0.006434,...,-0.002616,0.006238,0.009153,-0.016029,0.001287,0.005422,0.008429,0.008042,0.006562,0.002194

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
951,33.31,33.33,33.19,33.25,33.46,33.29,33.17,0.003986,0.004984,0.004635,-0.000603,0.0,-0.013773,33.17

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
965,-0.001805,-0.002045,-0.000189,0.013317,0.003845,0.010561,-0.002331,-0.011168,0.031737,-0.021921,...,-0.004118,0.007347,0.018306,-0.011080,0.001151,-0.009753,0.003494,0.015729,0.009933,0.002952
966,0.003907,0.000000,-0.021218,-0.007061,0.007646,-0.001947,0.004657,-0.006185,-0.005528,0.011398,...,-0.008937,0.008969,0.004607,-0.001394,0.000431,-0.004001,0.002423,0.026488,0.003598,-0.007396
967,-0.001801,-0.003691,-0.009512,-0.004545,0.005933,0.007767,-0.001162,0.010799,0.001108,-0.000189,...,-0.003127,-0.005315,-0.000328,-0.009811,-0.001583,0.001820,-0.000454,-0.009160,-0.007793,0.010707
968,-0.003009,-0.001233,-0.001562,0.014137,0.004250,-0.003488,-0.001746,-0.007039,-0.007782,0.008466,...,0.011291,-0.018115,0.005567,-0.002115,0.005314,0.004356,0.000000,-0.003072,-0.008207,-0.001838
969,-0.003623,0.007581,-0.004307,-0.000281,-0.005908,-0.002721,-0.017627,0.002205,0.005195,0.015614,...,-0.012335,0.004275,-0.005567,-0.023925,0.000716,-0.000725,0.001210,-0.009274,0.001412,0.005138
970,-0.004851,0.010154,0.002939,-0.001968,0.010375,-0.004291,0.011200,-0.009739,-0.014163,0.006434,...,-0.002616,0.006238,0.009153,-0.016029,0.001287,0.005422,0.008429,0.008042,0.006562,0.002194
971,0.000304,0.003026,-0.011609,-0.000281,-0.000939,-0.009821,-0.016549,-0.025683,0.010827,-0.003120,...,-0.004332,-0.015668,0.000976,0.009139,0.006271,-0.001082,-0.002701,0.016499,0.003032,0.004009

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
952,33.17,33.31,33.33,33.19,33.25,33.46,33.29,0.003209,0.004805,0.004607,-0.003306,-0.002105,-0.008393,33.22

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
966,0.003907,0.000000,-0.021218,-0.007061,0.007646,-0.001947,0.004657,-0.006185,-0.005528,0.011398,...,-0.008937,0.008969,0.004607,-0.001394,0.000431,-0.004001,0.002423,0.026488,0.003598,-0.007396
967,-0.001801,-0.003691,-0.009512,-0.004545,0.005933,0.007767,-0.001162,0.010799,0.001108,-0.000189,...,-0.003127,-0.005315,-0.000328,-0.009811,-0.001583,0.001820,-0.000454,-0.009160,-0.007793,0.010707
968,-0.003009,-0.001233,-0.001562,0.014137,0.004250,-0.003488,-0.001746,-0.007039,-0.007782,0.008466,...,0.011291,-0.018115,0.005567,-0.002115,0.005314,0.004356,0.000000,-0.003072,-0.008207,-0.001838
969,-0.003623,0.007581,-0.004307,-0.000281,-0.005908,-0.002721,-0.017627,0.002205,0.005195,0.015614,...,-0.012335,0.004275,-0.005567,-0.023925,0.000716,-0.000725,0.001210,-0.009274,0.001412,0.005138
970,-0.004851,0.010154,0.002939,-0.001968,0.010375,-0.004291,0.011200,-0.009739,-0.014163,0.006434,...,-0.002616,0.006238,0.009153,-0.016029,0.001287,0.005422,0.008429,0.008042,0.006562,0.002194
971,0.000304,0.003026,-0.011609,-0.000281,-0.000939,-0.009821,-0.016549,-0.025683,0.010827,-0.003120,...,-0.004332,-0.015668,0.000976,0.009139,0.006271,-0.001082,-0.002701,0.016499,0.003032,0.004009
972,0.000304,0.002414,0.015124,-0.020760,0.010743,-0.003956,0.005942,0.003417,0.010344,-0.014256,...,0.004332,-0.007782,0.022502,-0.017251,0.001278,0.002523,0.010465,-0.002427,-0.005371,0.006526

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
953,33.22,33.17,33.31,33.33,33.19,33.25,33.46,0.003209,0.00478,0.004609,-0.004513,-0.009006,-0.001808,33.16

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
967,-0.001801,-0.003691,-0.009512,-0.004545,0.005933,0.007767,-0.001162,0.010799,0.001108,-0.000189,...,-0.003127,-0.005315,-0.000328,-0.009811,-0.001583,0.001820,-0.000454,-0.009160,-0.007793,0.010707
968,-0.003009,-0.001233,-0.001562,0.014137,0.004250,-0.003488,-0.001746,-0.007039,-0.007782,0.008466,...,0.011291,-0.018115,0.005567,-0.002115,0.005314,0.004356,0.000000,-0.003072,-0.008207,-0.001838
969,-0.003623,0.007581,-0.004307,-0.000281,-0.005908,-0.002721,-0.017627,0.002205,0.005195,0.015614,...,-0.012335,0.004275,-0.005567,-0.023925,0.000716,-0.000725,0.001210,-0.009274,0.001412,0.005138
970,-0.004851,0.010154,0.002939,-0.001968,0.010375,-0.004291,0.011200,-0.009739,-0.014163,0.006434,...,-0.002616,0.006238,0.009153,-0.016029,0.001287,0.005422,0.008429,0.008042,0.006562,0.002194
971,0.000304,0.003026,-0.011609,-0.000281,-0.000939,-0.009821,-0.016549,-0.025683,0.010827,-0.003120,...,-0.004332,-0.015668,0.000976,0.009139,0.006271,-0.001082,-0.002701,0.016499,0.003032,0.004009
972,0.000304,0.002414,0.015124,-0.020760,0.010743,-0.003956,0.005942,0.003417,0.010344,-0.014256,...,0.004332,-0.007782,0.022502,-0.017251,0.001278,0.002523,0.010465,-0.002427,-0.005371,0.006526
973,-0.002433,-0.002012,-0.035920,0.010576,-0.010273,-0.001984,-0.007134,0.000000,0.006593,-0.007111,...,0.002747,0.000289,-0.001909,-0.010421,0.015487,-0.007588,0.007851,0.007264,0.011292,-0.006526

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
954,33.16,33.22,33.17,33.31,33.33,33.19,33.25,0.002145,0.0037,0.004508,-0.000302,-0.00271,-0.001507,33.16

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
968,-0.003009,-0.001233,-0.001562,0.014137,0.004250,-0.003488,-0.001746,-0.007039,-0.007782,0.008466,...,0.011291,-0.018115,0.005567,-0.002115,0.005314,0.004356,0.000000,-0.003072,-0.008207,-0.001838
969,-0.003623,0.007581,-0.004307,-0.000281,-0.005908,-0.002721,-0.017627,0.002205,0.005195,0.015614,...,-0.012335,0.004275,-0.005567,-0.023925,0.000716,-0.000725,0.001210,-0.009274,0.001412,0.005138
970,-0.004851,0.010154,0.002939,-0.001968,0.010375,-0.004291,0.011200,-0.009739,-0.014163,0.006434,...,-0.002616,0.006238,0.009153,-0.016029,0.001287,0.005422,0.008429,0.008042,0.006562,0.002194
971,0.000304,0.003026,-0.011609,-0.000281,-0.000939,-0.009821,-0.016549,-0.025683,0.010827,-0.003120,...,-0.004332,-0.015668,0.000976,0.009139,0.006271,-0.001082,-0.002701,0.016499,0.003032,0.004009
972,0.000304,0.002414,0.015124,-0.020760,0.010743,-0.003956,0.005942,0.003417,0.010344,-0.014256,...,0.004332,-0.007782,0.022502,-0.017251,0.001278,0.002523,0.010465,-0.002427,-0.005371,0.006526
973,-0.002433,-0.002012,-0.035920,0.010576,-0.010273,-0.001984,-0.007134,0.000000,0.006593,-0.007111,...,0.002747,0.000289,-0.001909,-0.010421,0.015487,-0.007588,0.007851,0.007264,0.011292,-0.006526
974,0.000609,0.000403,0.001212,-0.004845,-0.001644,-0.003581,-0.003586,0.000909,0.016296,0.006551,...,0.002479,0.033844,-0.010243,0.011531,-0.000559,-0.004726,-0.001624,-0.013358,-0.001506,0.000000

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
955,33.16,33.16,33.22,33.17,33.31,33.33,33.19,0.002914,0.003669,0.004526,0.001504,0.002407,-0.001802,33.27

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
969,-0.003623,0.007581,-0.004307,-0.000281,-0.005908,-0.002721,-0.017627,0.002205,0.005195,0.015614,...,-0.012335,0.004275,-0.005567,-0.023925,0.000716,-0.000725,0.001210,-0.009274,0.001412,0.005138
970,-0.004851,0.010154,0.002939,-0.001968,0.010375,-0.004291,0.011200,-0.009739,-0.014163,0.006434,...,-0.002616,0.006238,0.009153,-0.016029,0.001287,0.005422,0.008429,0.008042,0.006562,0.002194
971,0.000304,0.003026,-0.011609,-0.000281,-0.000939,-0.009821,-0.016549,-0.025683,0.010827,-0.003120,...,-0.004332,-0.015668,0.000976,0.009139,0.006271,-0.001082,-0.002701,0.016499,0.003032,0.004009
972,0.000304,0.002414,0.015124,-0.020760,0.010743,-0.003956,0.005942,0.003417,0.010344,-0.014256,...,0.004332,-0.007782,0.022502,-0.017251,0.001278,0.002523,0.010465,-0.002427,-0.005371,0.006526
973,-0.002433,-0.002012,-0.035920,0.010576,-0.010273,-0.001984,-0.007134,0.000000,0.006593,-0.007111,...,0.002747,0.000289,-0.001909,-0.010421,0.015487,-0.007588,0.007851,0.007264,0.011292,-0.006526
974,0.000609,0.000403,0.001212,-0.004845,-0.001644,-0.003581,-0.003586,0.000909,0.016296,0.006551,...,0.002479,0.033844,-0.010243,0.011531,-0.000559,-0.004726,-0.001624,-0.013358,-0.001506,0.000000
975,-0.001828,0.004018,0.013033,-0.006306,0.006560,-0.002794,0.031243,0.004760,0.011074,-0.001681,...,-0.002610,0.013885,-0.007104,-0.005563,-0.005607,0.001093,-0.018798,0.018171,0.000927,-0.001820

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
956,33.27,33.16,33.16,33.22,33.17,33.31,33.33,0.001981,0.003306,0.004471,0.005414,0.0003,-0.003593,33.34

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
970,-0.004851,0.010154,0.002939,-0.001968,0.010375,-0.004291,0.011200,-0.009739,-0.014163,0.006434,...,-0.002616,0.006238,0.009153,-0.016029,0.001287,0.005422,0.008429,0.008042,0.006562,0.002194
971,0.000304,0.003026,-0.011609,-0.000281,-0.000939,-0.009821,-0.016549,-0.025683,0.010827,-0.003120,...,-0.004332,-0.015668,0.000976,0.009139,0.006271,-0.001082,-0.002701,0.016499,0.003032,0.004009
972,0.000304,0.002414,0.015124,-0.020760,0.010743,-0.003956,0.005942,0.003417,0.010344,-0.014256,...,0.004332,-0.007782,0.022502,-0.017251,0.001278,0.002523,0.010465,-0.002427,-0.005371,0.006526
973,-0.002433,-0.002012,-0.035920,0.010576,-0.010273,-0.001984,-0.007134,0.000000,0.006593,-0.007111,...,0.002747,0.000289,-0.001909,-0.010421,0.015487,-0.007588,0.007851,0.007264,0.011292,-0.006526
974,0.000609,0.000403,0.001212,-0.004845,-0.001644,-0.003581,-0.003586,0.000909,0.016296,0.006551,...,0.002479,0.033844,-0.010243,0.011531,-0.000559,-0.004726,-0.001624,-0.013358,-0.001506,0.000000
975,-0.001828,0.004018,0.013033,-0.006306,0.006560,-0.002794,0.031243,0.004760,0.011074,-0.001681,...,-0.002610,0.013885,-0.007104,-0.005563,-0.005607,0.001093,-0.018798,0.018171,0.000927,-0.001820
976,-0.004277,-0.007849,0.009714,0.006591,0.003031,-0.001600,-0.008159,-0.010914,0.018304,0.030188,...,-0.009583,0.003854,0.009353,-0.001489,-0.001266,-0.004012,-0.001507,0.008963,0.001851,0.009070

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
957,33.34,33.27,33.16,33.16,33.22,33.17,33.31,0.002627,0.002769,0.004277,0.00241,-0.002104,-0.007493,33.24

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
971,0.000304,0.003026,-0.011609,-0.000281,-0.000939,-0.009821,-0.016549,-0.025683,0.010827,-0.003120,...,-0.004332,-0.015668,0.000976,0.009139,0.006271,-0.001082,-0.002701,0.016499,0.003032,0.004009
972,0.000304,0.002414,0.015124,-0.020760,0.010743,-0.003956,0.005942,0.003417,0.010344,-0.014256,...,0.004332,-0.007782,0.022502,-0.017251,0.001278,0.002523,0.010465,-0.002427,-0.005371,0.006526
973,-0.002433,-0.002012,-0.035920,0.010576,-0.010273,-0.001984,-0.007134,0.000000,0.006593,-0.007111,...,0.002747,0.000289,-0.001909,-0.010421,0.015487,-0.007588,0.007851,0.007264,0.011292,-0.006526
974,0.000609,0.000403,0.001212,-0.004845,-0.001644,-0.003581,-0.003586,0.000909,0.016296,0.006551,...,0.002479,0.033844,-0.010243,0.011531,-0.000559,-0.004726,-0.001624,-0.013358,-0.001506,0.000000
975,-0.001828,0.004018,0.013033,-0.006306,0.006560,-0.002794,0.031243,0.004760,0.011074,-0.001681,...,-0.002610,0.013885,-0.007104,-0.005563,-0.005607,0.001093,-0.018798,0.018171,0.000927,-0.001820
976,-0.004277,-0.007849,0.009714,0.006591,0.003031,-0.001600,-0.008159,-0.010914,0.018304,0.030188,...,-0.009583,0.003854,0.009353,-0.001489,-0.001266,-0.004012,-0.001507,0.008963,0.001851,0.009070
977,0.001530,-0.004049,-0.012307,0.000857,-0.003499,-0.006426,0.008159,-0.004813,-0.009462,0.010641,...,-0.009809,-0.014667,-0.019777,0.015155,-0.003949,0.001096,0.020305,0.001189,0.004614,-0.005432

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
958,33.24,33.34,33.27,33.16,33.16,33.22,33.17,0.003921,0.003393,0.00441,-0.00724,-0.00423,-0.00423,33.03

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
972,0.000304,0.002414,0.015124,-0.020760,0.010743,-0.003956,0.005942,0.003417,0.010344,-0.014256,...,0.004332,-0.007782,0.022502,-0.017251,0.001278,0.002523,0.010465,-0.002427,-0.005371,0.006526
973,-0.002433,-0.002012,-0.035920,0.010576,-0.010273,-0.001984,-0.007134,0.000000,0.006593,-0.007111,...,0.002747,0.000289,-0.001909,-0.010421,0.015487,-0.007588,0.007851,0.007264,0.011292,-0.006526
974,0.000609,0.000403,0.001212,-0.004845,-0.001644,-0.003581,-0.003586,0.000909,0.016296,0.006551,...,0.002479,0.033844,-0.010243,0.011531,-0.000559,-0.004726,-0.001624,-0.013358,-0.001506,0.000000
975,-0.001828,0.004018,0.013033,-0.006306,0.006560,-0.002794,0.031243,0.004760,0.011074,-0.001681,...,-0.002610,0.013885,-0.007104,-0.005563,-0.005607,0.001093,-0.018798,0.018171,0.000927,-0.001820
976,-0.004277,-0.007849,0.009714,0.006591,0.003031,-0.001600,-0.008159,-0.010914,0.018304,0.030188,...,-0.009583,0.003854,0.009353,-0.001489,-0.001266,-0.004012,-0.001507,0.008963,0.001851,0.009070
977,0.001530,-0.004049,-0.012307,0.000857,-0.003499,-0.006426,0.008159,-0.004813,-0.009462,0.010641,...,-0.009809,-0.014667,-0.019777,0.015155,-0.003949,0.001096,0.020305,0.001189,0.004614,-0.005432
978,0.001222,0.000608,0.008551,-0.002286,-0.004449,0.006426,-0.005237,-0.003682,0.000704,-0.000359,...,-0.003202,-0.023982,-0.012852,-0.004412,-0.000707,-0.002925,-0.005484,0.007695,-0.009597,-0.009119

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
959,33.03,33.24,33.34,33.27,33.16,33.16,33.22,0.00454,0.003396,0.004147,-0.005112,-0.001506,-0.003611,33.17

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
973,-0.002433,-0.002012,-0.035920,0.010576,-0.010273,-0.001984,-0.007134,0.000000,0.006593,-0.007111,...,0.002747,0.000289,-0.001909,-0.010421,0.015487,-0.007588,0.007851,0.007264,0.011292,-0.006526
974,0.000609,0.000403,0.001212,-0.004845,-0.001644,-0.003581,-0.003586,0.000909,0.016296,0.006551,...,0.002479,0.033844,-0.010243,0.011531,-0.000559,-0.004726,-0.001624,-0.013358,-0.001506,0.000000
975,-0.001828,0.004018,0.013033,-0.006306,0.006560,-0.002794,0.031243,0.004760,0.011074,-0.001681,...,-0.002610,0.013885,-0.007104,-0.005563,-0.005607,0.001093,-0.018798,0.018171,0.000927,-0.001820
976,-0.004277,-0.007849,0.009714,0.006591,0.003031,-0.001600,-0.008159,-0.010914,0.018304,0.030188,...,-0.009583,0.003854,0.009353,-0.001489,-0.001266,-0.004012,-0.001507,0.008963,0.001851,0.009070
977,0.001530,-0.004049,-0.012307,0.000857,-0.003499,-0.006426,0.008159,-0.004813,-0.009462,0.010641,...,-0.009809,-0.014667,-0.019777,0.015155,-0.003949,0.001096,0.020305,0.001189,0.004614,-0.005432
978,0.001222,0.000608,0.008551,-0.002286,-0.004449,0.006426,-0.005237,-0.003682,0.000704,-0.000359,...,-0.003202,-0.023982,-0.012852,-0.004412,-0.000707,-0.002925,-0.005484,0.007695,-0.009597,-0.009119
979,-0.002446,-0.004267,0.013375,0.003712,0.002812,-0.009654,-0.003507,0.004830,-0.006000,-0.017379,...,0.006394,-0.014091,0.000995,0.020063,-0.006810,-0.001833,0.002078,-0.002361,-0.001395,0.006574

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
960,33.17,33.03,33.24,33.34,33.27,33.16,33.16,0.004441,0.003598,0.00425,-0.006338,-0.003928,-0.012934,33.03

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
974,0.000609,0.000403,0.001212,-0.004845,-0.001644,-0.003581,-0.003586,0.000909,0.016296,0.006551,...,0.002479,0.033844,-0.010243,0.011531,-0.000559,-0.004726,-0.001624,-0.013358,-0.001506,0.000000
975,-0.001828,0.004018,0.013033,-0.006306,0.006560,-0.002794,0.031243,0.004760,0.011074,-0.001681,...,-0.002610,0.013885,-0.007104,-0.005563,-0.005607,0.001093,-0.018798,0.018171,0.000927,-0.001820
976,-0.004277,-0.007849,0.009714,0.006591,0.003031,-0.001600,-0.008159,-0.010914,0.018304,0.030188,...,-0.009583,0.003854,0.009353,-0.001489,-0.001266,-0.004012,-0.001507,0.008963,0.001851,0.009070
977,0.001530,-0.004049,-0.012307,0.000857,-0.003499,-0.006426,0.008159,-0.004813,-0.009462,0.010641,...,-0.009809,-0.014667,-0.019777,0.015155,-0.003949,0.001096,0.020305,0.001189,0.004614,-0.005432
978,0.001222,0.000608,0.008551,-0.002286,-0.004449,0.006426,-0.005237,-0.003682,0.000704,-0.000359,...,-0.003202,-0.023982,-0.012852,-0.004412,-0.000707,-0.002925,-0.005484,0.007695,-0.009597,-0.009119
979,-0.002446,-0.004267,0.013375,0.003712,0.002812,-0.009654,-0.003507,0.004830,-0.006000,-0.017379,...,0.006394,-0.014091,0.000995,0.020063,-0.006810,-0.001833,0.002078,-0.002361,-0.001395,0.006574
980,-0.002145,0.009121,-0.018736,-0.013196,0.000234,-0.003644,-0.001758,-0.016659,0.004944,0.000548,...,0.002917,0.011804,-0.001326,-0.013818,-0.006857,0.002930,-0.003417,0.011167,-0.001281,0.001819

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
961,33.03,33.17,33.03,33.24,33.34,33.27,33.16,0.004005,0.003406,0.004155,-0.001212,-0.00514,-0.00785,32.99

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
975,-0.001828,0.004018,0.013033,-0.006306,0.006560,-0.002794,0.031243,0.004760,0.011074,-0.001681,...,-0.002610,0.013885,-0.007104,-0.005563,-0.005607,0.001093,-0.018798,0.018171,0.000927,-0.001820
976,-0.004277,-0.007849,0.009714,0.006591,0.003031,-0.001600,-0.008159,-0.010914,0.018304,0.030188,...,-0.009583,0.003854,0.009353,-0.001489,-0.001266,-0.004012,-0.001507,0.008963,0.001851,0.009070
977,0.001530,-0.004049,-0.012307,0.000857,-0.003499,-0.006426,0.008159,-0.004813,-0.009462,0.010641,...,-0.009809,-0.014667,-0.019777,0.015155,-0.003949,0.001096,0.020305,0.001189,0.004614,-0.005432
978,0.001222,0.000608,0.008551,-0.002286,-0.004449,0.006426,-0.005237,-0.003682,0.000704,-0.000359,...,-0.003202,-0.023982,-0.012852,-0.004412,-0.000707,-0.002925,-0.005484,0.007695,-0.009597,-0.009119
979,-0.002446,-0.004267,0.013375,0.003712,0.002812,-0.009654,-0.003507,0.004830,-0.006000,-0.017379,...,0.006394,-0.014091,0.000995,0.020063,-0.006810,-0.001833,0.002078,-0.002361,-0.001395,0.006574
980,-0.002145,0.009121,-0.018736,-0.013196,0.000234,-0.003644,-0.001758,-0.016659,0.004944,0.000548,...,0.002917,0.011804,-0.001326,-0.013818,-0.006857,0.002930,-0.003417,0.011167,-0.001281,0.001819
981,0.003063,0.007238,-0.012017,0.006907,-0.005866,0.002836,0.004681,-0.001635,0.002814,-0.006776,...,0.010143,-0.003153,-0.009668,-0.016987,-0.005606,-0.001464,-0.003877,0.004665,-0.001632,0.009043

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
962,32.99,33.03,33.17,33.03,33.24,33.34,33.27,0.003974,0.003345,0.00403,-0.007262,-0.010272,-0.007865,32.93

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
976,-0.004277,-0.007849,0.009714,0.006591,0.003031,-0.001600,-0.008159,-0.010914,0.018304,0.030188,...,-0.009583,0.003854,0.009353,-0.001489,-0.001266,-0.004012,-0.001507,0.008963,0.001851,0.009070
977,0.001530,-0.004049,-0.012307,0.000857,-0.003499,-0.006426,0.008159,-0.004813,-0.009462,0.010641,...,-0.009809,-0.014667,-0.019777,0.015155,-0.003949,0.001096,0.020305,0.001189,0.004614,-0.005432
978,0.001222,0.000608,0.008551,-0.002286,-0.004449,0.006426,-0.005237,-0.003682,0.000704,-0.000359,...,-0.003202,-0.023982,-0.012852,-0.004412,-0.000707,-0.002925,-0.005484,0.007695,-0.009597,-0.009119
979,-0.002446,-0.004267,0.013375,0.003712,0.002812,-0.009654,-0.003507,0.004830,-0.006000,-0.017379,...,0.006394,-0.014091,0.000995,0.020063,-0.006810,-0.001833,0.002078,-0.002361,-0.001395,0.006574
980,-0.002145,0.009121,-0.018736,-0.013196,0.000234,-0.003644,-0.001758,-0.016659,0.004944,0.000548,...,0.002917,0.011804,-0.001326,-0.013818,-0.006857,0.002930,-0.003417,0.011167,-0.001281,0.001819
981,0.003063,0.007238,-0.012017,0.006907,-0.005866,0.002836,0.004681,-0.001635,0.002814,-0.006776,...,0.010143,-0.003153,-0.009668,-0.016987,-0.005606,-0.001464,-0.003877,0.004665,-0.001632,0.009043
982,-0.009525,-0.002608,-0.005253,-0.011828,-0.010409,0.007657,-0.012335,-0.008213,0.021544,-0.002576,...,-0.008159,0.006867,-0.009086,0.016621,-0.000144,0.003291,0.003281,-0.002913,0.003494,-0.009770

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
963,32.93,32.99,33.03,33.17,33.03,33.24,33.34,0.003301,0.003429,0.004056,-0.001212,-0.010553,-0.010253,32.99

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
977,0.001530,-0.004049,-0.012307,0.000857,-0.003499,-0.006426,0.008159,-0.004813,-0.009462,0.010641,...,-0.009809,-0.014667,-0.019777,0.015155,-0.003949,0.001096,0.020305,0.001189,0.004614,-0.005432
978,0.001222,0.000608,0.008551,-0.002286,-0.004449,0.006426,-0.005237,-0.003682,0.000704,-0.000359,...,-0.003202,-0.023982,-0.012852,-0.004412,-0.000707,-0.002925,-0.005484,0.007695,-0.009597,-0.009119
979,-0.002446,-0.004267,0.013375,0.003712,0.002812,-0.009654,-0.003507,0.004830,-0.006000,-0.017379,...,0.006394,-0.014091,0.000995,0.020063,-0.006810,-0.001833,0.002078,-0.002361,-0.001395,0.006574
980,-0.002145,0.009121,-0.018736,-0.013196,0.000234,-0.003644,-0.001758,-0.016659,0.004944,0.000548,...,0.002917,0.011804,-0.001326,-0.013818,-0.006857,0.002930,-0.003417,0.011167,-0.001281,0.001819
981,0.003063,0.007238,-0.012017,0.006907,-0.005866,0.002836,0.004681,-0.001635,0.002814,-0.006776,...,0.010143,-0.003153,-0.009668,-0.016987,-0.005606,-0.001464,-0.003877,0.004665,-0.001632,0.009043
982,-0.009525,-0.002608,-0.005253,-0.011828,-0.010409,0.007657,-0.012335,-0.008213,0.021544,-0.002576,...,-0.008159,0.006867,-0.009086,0.016621,-0.000144,0.003291,0.003281,-0.002913,0.003494,-0.009770
983,-0.009305,0.009395,-0.019843,-0.013439,0.010409,-0.002412,0.012919,0.003528,0.001031,-0.032771,...,0.010385,-0.014649,0.004049,-0.001833,-0.006074,0.008362,-0.002087,-0.018846,-0.004312,-0.005469

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
964,32.99,32.93,32.99,33.03,33.17,33.03,33.24,0.004065,0.004063,0.003783,0.006345,-0.001204,-0.003308,33.2

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
978,0.001222,0.000608,0.008551,-0.002286,-0.004449,0.006426,-0.005237,-0.003682,0.000704,-0.000359,...,-0.003202,-0.023982,-0.012852,-0.004412,-0.000707,-0.002925,-0.005484,0.007695,-0.009597,-0.009119
979,-0.002446,-0.004267,0.013375,0.003712,0.002812,-0.009654,-0.003507,0.004830,-0.006000,-0.017379,...,0.006394,-0.014091,0.000995,0.020063,-0.006810,-0.001833,0.002078,-0.002361,-0.001395,0.006574
980,-0.002145,0.009121,-0.018736,-0.013196,0.000234,-0.003644,-0.001758,-0.016659,0.004944,0.000548,...,0.002917,0.011804,-0.001326,-0.013818,-0.006857,0.002930,-0.003417,0.011167,-0.001281,0.001819
981,0.003063,0.007238,-0.012017,0.006907,-0.005866,0.002836,0.004681,-0.001635,0.002814,-0.006776,...,0.010143,-0.003153,-0.009668,-0.016987,-0.005606,-0.001464,-0.003877,0.004665,-0.001632,0.009043
982,-0.009525,-0.002608,-0.005253,-0.011828,-0.010409,0.007657,-0.012335,-0.008213,0.021544,-0.002576,...,-0.008159,0.006867,-0.009086,0.016621,-0.000144,0.003291,0.003281,-0.002913,0.003494,-0.009770
983,-0.009305,0.009395,-0.019843,-0.013439,0.010409,-0.002412,0.012919,0.003528,0.001031,-0.032771,...,0.010385,-0.014649,0.004049,-0.001833,-0.006074,0.008362,-0.002087,-0.018846,-0.004312,-0.005469
984,-0.003746,0.005753,-0.001447,0.004695,-0.002120,-0.001208,-0.015285,-0.001645,0.038401,-0.016314,...,-0.003275,0.014934,-0.034250,0.011312,0.005785,0.009369,0.000597,0.003561,-0.000467,0.000000

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
965,33.2,32.99,32.93,32.99,33.03,33.17,33.03,0.003252,0.003975,0.003723,0.010272,0.00724,0.00301,33.27

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
979,-0.002446,-0.004267,0.013375,0.003712,0.002812,-0.009654,-0.003507,0.004830,-0.006000,-0.017379,...,0.006394,-0.014091,0.000995,0.020063,-0.006810,-0.001833,0.002078,-0.002361,-0.001395,0.006574
980,-0.002145,0.009121,-0.018736,-0.013196,0.000234,-0.003644,-0.001758,-0.016659,0.004944,0.000548,...,0.002917,0.011804,-0.001326,-0.013818,-0.006857,0.002930,-0.003417,0.011167,-0.001281,0.001819
981,0.003063,0.007238,-0.012017,0.006907,-0.005866,0.002836,0.004681,-0.001635,0.002814,-0.006776,...,0.010143,-0.003153,-0.009668,-0.016987,-0.005606,-0.001464,-0.003877,0.004665,-0.001632,0.009043
982,-0.009525,-0.002608,-0.005253,-0.011828,-0.010409,0.007657,-0.012335,-0.008213,0.021544,-0.002576,...,-0.008159,0.006867,-0.009086,0.016621,-0.000144,0.003291,0.003281,-0.002913,0.003494,-0.009770
983,-0.009305,0.009395,-0.019843,-0.013439,0.010409,-0.002412,0.012919,0.003528,0.001031,-0.032771,...,0.010385,-0.014649,0.004049,-0.001833,-0.006074,0.008362,-0.002087,-0.018846,-0.004312,-0.005469
984,-0.003746,0.005753,-0.001447,0.004695,-0.002120,-0.001208,-0.015285,-0.001645,0.038401,-0.016314,...,-0.003275,0.014934,-0.034250,0.011312,0.005785,0.009369,0.000597,0.003561,-0.000467,0.000000
985,0.000625,-0.005554,-0.005186,0.003215,0.004001,-0.004037,-0.002372,0.004224,0.000661,-0.005433,...,0.003013,0.006818,0.017272,-0.022011,0.003311,0.001075,-0.000149,-0.017329,-0.003980,0.000000

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
966,33.27,33.2,32.99,32.93,32.99,33.03,33.17,0.003382,0.003937,0.003538,0.006647,0.001205,-0.000301,33.21

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
980,-0.002145,0.009121,-0.018736,-0.013196,0.000234,-0.003644,-0.001758,-0.016659,0.004944,0.000548,...,0.002917,0.011804,-0.001326,-0.013818,-0.006857,0.002930,-0.003417,0.011167,-0.001281,0.001819
981,0.003063,0.007238,-0.012017,0.006907,-0.005866,0.002836,0.004681,-0.001635,0.002814,-0.006776,...,0.010143,-0.003153,-0.009668,-0.016987,-0.005606,-0.001464,-0.003877,0.004665,-0.001632,0.009043
982,-0.009525,-0.002608,-0.005253,-0.011828,-0.010409,0.007657,-0.012335,-0.008213,0.021544,-0.002576,...,-0.008159,0.006867,-0.009086,0.016621,-0.000144,0.003291,0.003281,-0.002913,0.003494,-0.009770
983,-0.009305,0.009395,-0.019843,-0.013439,0.010409,-0.002412,0.012919,0.003528,0.001031,-0.032771,...,0.010385,-0.014649,0.004049,-0.001833,-0.006074,0.008362,-0.002087,-0.018846,-0.004312,-0.005469
984,-0.003746,0.005753,-0.001447,0.004695,-0.002120,-0.001208,-0.015285,-0.001645,0.038401,-0.016314,...,-0.003275,0.014934,-0.034250,0.011312,0.005785,0.009369,0.000597,0.003561,-0.000467,0.000000
985,0.000625,-0.005554,-0.005186,0.003215,0.004001,-0.004037,-0.002372,0.004224,0.000661,-0.005433,...,0.003013,0.006818,0.017272,-0.022011,0.003311,0.001075,-0.000149,-0.017329,-0.003980,0.000000
986,0.000625,-0.010800,0.008904,0.011604,0.005388,0.002828,-0.008348,0.004673,-0.006959,0.001555,...,0.006129,0.015731,0.009543,-0.017587,-0.002591,-0.003230,-0.004035,0.001205,-0.003408,-0.007339

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
967,33.21,33.27,33.2,32.99,32.93,32.99,33.03,0.002996,0.004033,0.003371,0.004208,0.009342,0.005414,33.34

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
981,0.003063,0.007238,-0.012017,0.006907,-0.005866,0.002836,0.004681,-0.001635,0.002814,-0.006776,...,0.010143,-0.003153,-0.009668,-0.016987,-0.005606,-0.001464,-0.003877,0.004665,-0.001632,0.009043
982,-0.009525,-0.002608,-0.005253,-0.011828,-0.010409,0.007657,-0.012335,-0.008213,0.021544,-0.002576,...,-0.008159,0.006867,-0.009086,0.016621,-0.000144,0.003291,0.003281,-0.002913,0.003494,-0.009770
983,-0.009305,0.009395,-0.019843,-0.013439,0.010409,-0.002412,0.012919,0.003528,0.001031,-0.032771,...,0.010385,-0.014649,0.004049,-0.001833,-0.006074,0.008362,-0.002087,-0.018846,-0.004312,-0.005469
984,-0.003746,0.005753,-0.001447,0.004695,-0.002120,-0.001208,-0.015285,-0.001645,0.038401,-0.016314,...,-0.003275,0.014934,-0.034250,0.011312,0.005785,0.009369,0.000597,0.003561,-0.000467,0.000000
985,0.000625,-0.005554,-0.005186,0.003215,0.004001,-0.004037,-0.002372,0.004224,0.000661,-0.005433,...,0.003013,0.006818,0.017272,-0.022011,0.003311,0.001075,-0.000149,-0.017329,-0.003980,0.000000
986,0.000625,-0.010800,0.008904,0.011604,0.005388,0.002828,-0.008348,0.004673,-0.006959,0.001555,...,0.006129,0.015731,0.009543,-0.017587,-0.002591,-0.003230,-0.004035,0.001205,-0.003408,-0.007339
987,0.003431,0.006614,0.012089,0.003455,-0.003042,0.008835,-0.012655,0.005115,-0.021174,0.008896,...,0.003893,0.006113,-0.002037,0.003768,-0.005636,0.000719,-0.002399,0.002405,0.001411,-0.002951

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
968,33.34,33.21,33.27,33.2,32.99,32.93,32.99,0.003576,0.00341,0.003371,0.000301,0.008752,0.003612,33.28

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
982,-0.009525,-0.002608,-0.005253,-0.011828,-0.010409,0.007657,-0.012335,-0.008213,0.021544,-0.002576,...,-0.008159,0.006867,-0.009086,0.016621,-0.000144,0.003291,0.003281,-0.002913,0.003494,-0.009770
983,-0.009305,0.009395,-0.019843,-0.013439,0.010409,-0.002412,0.012919,0.003528,0.001031,-0.032771,...,0.010385,-0.014649,0.004049,-0.001833,-0.006074,0.008362,-0.002087,-0.018846,-0.004312,-0.005469
984,-0.003746,0.005753,-0.001447,0.004695,-0.002120,-0.001208,-0.015285,-0.001645,0.038401,-0.016314,...,-0.003275,0.014934,-0.034250,0.011312,0.005785,0.009369,0.000597,0.003561,-0.000467,0.000000
985,0.000625,-0.005554,-0.005186,0.003215,0.004001,-0.004037,-0.002372,0.004224,0.000661,-0.005433,...,0.003013,0.006818,0.017272,-0.022011,0.003311,0.001075,-0.000149,-0.017329,-0.003980,0.000000
986,0.000625,-0.010800,0.008904,0.011604,0.005388,0.002828,-0.008348,0.004673,-0.006959,0.001555,...,0.006129,0.015731,0.009543,-0.017587,-0.002591,-0.003230,-0.004035,0.001205,-0.003408,-0.007339
987,0.003431,0.006614,0.012089,0.003455,-0.003042,0.008835,-0.012655,0.005115,-0.021174,0.008896,...,0.003893,0.006113,-0.002037,0.003768,-0.005636,0.000719,-0.002399,0.002405,0.001411,-0.002951
988,0.000622,0.002992,-0.012295,-0.008371,-0.000234,-0.008029,0.000606,0.018155,0.031759,-0.005793,...,0.002457,0.001661,-0.010937,0.021578,-0.006543,-0.001438,0.001949,-0.001803,-0.009803,0.006994

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
969,33.28,33.34,33.21,33.27,33.2,32.99,32.93,0.002966,0.003358,0.003297,-0.000904,0.007563,-0.002709,33.18

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
983,-0.009305,0.009395,-0.019843,-0.013439,0.010409,-0.002412,0.012919,0.003528,0.001031,-0.032771,...,0.010385,-0.014649,0.004049,-0.001833,-0.006074,0.008362,-0.002087,-0.018846,-0.004312,-0.005469
984,-0.003746,0.005753,-0.001447,0.004695,-0.002120,-0.001208,-0.015285,-0.001645,0.038401,-0.016314,...,-0.003275,0.014934,-0.034250,0.011312,0.005785,0.009369,0.000597,0.003561,-0.000467,0.000000
985,0.000625,-0.005554,-0.005186,0.003215,0.004001,-0.004037,-0.002372,0.004224,0.000661,-0.005433,...,0.003013,0.006818,0.017272,-0.022011,0.003311,0.001075,-0.000149,-0.017329,-0.003980,0.000000
986,0.000625,-0.010800,0.008904,0.011604,0.005388,0.002828,-0.008348,0.004673,-0.006959,0.001555,...,0.006129,0.015731,0.009543,-0.017587,-0.002591,-0.003230,-0.004035,0.001205,-0.003408,-0.007339
987,0.003431,0.006614,0.012089,0.003455,-0.003042,0.008835,-0.012655,0.005115,-0.021174,0.008896,...,0.003893,0.006113,-0.002037,0.003768,-0.005636,0.000719,-0.002399,0.002405,0.001411,-0.002951
988,0.000622,0.002992,-0.012295,-0.008371,-0.000234,-0.008029,0.000606,0.018155,0.031759,-0.005793,...,0.002457,0.001661,-0.010937,0.021578,-0.006543,-0.001438,0.001949,-0.001803,-0.009803,0.006994
989,0.004346,-0.013232,0.000000,-0.020203,-0.005170,-0.002825,0.000000,0.012898,-0.006603,0.005600,...,-0.001163,0.005516,0.004115,0.009888,0.009004,0.000719,0.013689,-0.009066,-0.000356,0.017815

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
970,33.18,33.28,33.34,33.21,33.27,33.2,32.99,0.002997,0.003277,0.003384,-0.008434,0.00212,-0.008434,33.06

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
984,-0.003746,0.005753,-0.001447,0.004695,-0.002120,-0.001208,-0.015285,-0.001645,0.038401,-0.016314,...,-0.003275,0.014934,-0.034250,0.011312,0.005785,0.009369,0.000597,0.003561,-0.000467,0.000000
985,0.000625,-0.005554,-0.005186,0.003215,0.004001,-0.004037,-0.002372,0.004224,0.000661,-0.005433,...,0.003013,0.006818,0.017272,-0.022011,0.003311,0.001075,-0.000149,-0.017329,-0.003980,0.000000
986,0.000625,-0.010800,0.008904,0.011604,0.005388,0.002828,-0.008348,0.004673,-0.006959,0.001555,...,0.006129,0.015731,0.009543,-0.017587,-0.002591,-0.003230,-0.004035,0.001205,-0.003408,-0.007339
987,0.003431,0.006614,0.012089,0.003455,-0.003042,0.008835,-0.012655,0.005115,-0.021174,0.008896,...,0.003893,0.006113,-0.002037,0.003768,-0.005636,0.000719,-0.002399,0.002405,0.001411,-0.002951
988,0.000622,0.002992,-0.012295,-0.008371,-0.000234,-0.008029,0.000606,0.018155,0.031759,-0.005793,...,0.002457,0.001661,-0.010937,0.021578,-0.006543,-0.001438,0.001949,-0.001803,-0.009803,0.006994
989,0.004346,-0.013232,0.000000,-0.020203,-0.005170,-0.002825,0.000000,0.012898,-0.006603,0.005600,...,-0.001163,0.005516,0.004115,0.009888,0.009004,0.000719,0.013689,-0.009066,-0.000356,0.017815
990,0.005869,0.015222,0.007600,0.013805,0.005639,0.001212,0.013843,0.025745,0.001324,-0.000385,...,-0.000906,-0.012453,-0.007902,0.012315,0.013783,-0.004323,0.010145,-0.016529,-0.002616,0.001080

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
971,33.06,33.18,33.28,33.34,33.21,33.27,33.2,0.003415,0.003622,0.003425,-0.011484,-0.009077,-0.010281,32.9

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
985,0.000625,-0.005554,-0.005186,0.003215,0.004001,-0.004037,-0.002372,0.004224,0.000661,-0.005433,...,0.003013,0.006818,0.017272,-0.022011,0.003311,0.001075,-0.000149,-0.017329,-0.003980,0.000000
986,0.000625,-0.010800,0.008904,0.011604,0.005388,0.002828,-0.008348,0.004673,-0.006959,0.001555,...,0.006129,0.015731,0.009543,-0.017587,-0.002591,-0.003230,-0.004035,0.001205,-0.003408,-0.007339
987,0.003431,0.006614,0.012089,0.003455,-0.003042,0.008835,-0.012655,0.005115,-0.021174,0.008896,...,0.003893,0.006113,-0.002037,0.003768,-0.005636,0.000719,-0.002399,0.002405,0.001411,-0.002951
988,0.000622,0.002992,-0.012295,-0.008371,-0.000234,-0.008029,0.000606,0.018155,0.031759,-0.005793,...,0.002457,0.001661,-0.010937,0.021578,-0.006543,-0.001438,0.001949,-0.001803,-0.009803,0.006994
989,0.004346,-0.013232,0.000000,-0.020203,-0.005170,-0.002825,0.000000,0.012898,-0.006603,0.005600,...,-0.001163,0.005516,0.004115,0.009888,0.009004,0.000719,0.013689,-0.009066,-0.000356,0.017815
990,0.005869,0.015222,0.007600,0.013805,0.005639,0.001212,0.013843,0.025745,0.001324,-0.000385,...,-0.000906,-0.012453,-0.007902,0.012315,0.013783,-0.004323,0.010145,-0.016529,-0.002616,0.001080
991,0.000616,-0.007382,0.001023,0.012466,0.000703,0.001614,0.016010,-0.010351,0.012492,-0.003474,...,0.003618,-0.005865,-0.009705,-0.000360,-0.000285,-0.013082,0.010477,-0.001235,0.002972,-0.000360

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
972,32.9,33.06,33.18,33.28,33.34,33.21,33.27,0.001959,0.003583,0.0034,-0.008171,-0.01088,-0.00364,32.91

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
986,0.000625,-0.010800,0.008904,0.011604,0.005388,0.002828,-0.008348,0.004673,-0.006959,0.001555,...,0.006129,0.015731,0.009543,-0.017587,-0.002591,-0.003230,-0.004035,0.001205,-0.003408,-0.007339
987,0.003431,0.006614,0.012089,0.003455,-0.003042,0.008835,-0.012655,0.005115,-0.021174,0.008896,...,0.003893,0.006113,-0.002037,0.003768,-0.005636,0.000719,-0.002399,0.002405,0.001411,-0.002951
988,0.000622,0.002992,-0.012295,-0.008371,-0.000234,-0.008029,0.000606,0.018155,0.031759,-0.005793,...,0.002457,0.001661,-0.010937,0.021578,-0.006543,-0.001438,0.001949,-0.001803,-0.009803,0.006994
989,0.004346,-0.013232,0.000000,-0.020203,-0.005170,-0.002825,0.000000,0.012898,-0.006603,0.005600,...,-0.001163,0.005516,0.004115,0.009888,0.009004,0.000719,0.013689,-0.009066,-0.000356,0.017815
990,0.005869,0.015222,0.007600,0.013805,0.005639,0.001212,0.013843,0.025745,0.001324,-0.000385,...,-0.000906,-0.012453,-0.007902,0.012315,0.013783,-0.004323,0.010145,-0.016529,-0.002616,0.001080
991,0.000616,-0.007382,0.001023,0.012466,0.000703,0.001614,0.016010,-0.010351,0.012492,-0.003474,...,0.003618,-0.005865,-0.009705,-0.000360,-0.000285,-0.013082,0.010477,-0.001235,0.002972,-0.000360
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
973,32.91,32.9,33.06,33.18,33.28,33.34,33.21,0.002358,0.003526,0.003389,-0.004244,-0.008771,-0.007565,32.92

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
987,0.003431,0.006614,0.012089,0.003455,-0.003042,0.008835,-0.012655,0.005115,-0.021174,0.008896,...,0.003893,0.006113,-0.002037,0.003768,-0.005636,0.000719,-0.002399,0.002405,0.001411,-0.002951
988,0.000622,0.002992,-0.012295,-0.008371,-0.000234,-0.008029,0.000606,0.018155,0.031759,-0.005793,...,0.002457,0.001661,-0.010937,0.021578,-0.006543,-0.001438,0.001949,-0.001803,-0.009803,0.006994
989,0.004346,-0.013232,0.000000,-0.020203,-0.005170,-0.002825,0.000000,0.012898,-0.006603,0.005600,...,-0.001163,0.005516,0.004115,0.009888,0.009004,0.000719,0.013689,-0.009066,-0.000356,0.017815
990,0.005869,0.015222,0.007600,0.013805,0.005639,0.001212,0.013843,0.025745,0.001324,-0.000385,...,-0.000906,-0.012453,-0.007902,0.012315,0.013783,-0.004323,0.010145,-0.016529,-0.002616,0.001080
991,0.000616,-0.007382,0.001023,0.012466,0.000703,0.001614,0.016010,-0.010351,0.012492,-0.003474,...,0.003618,-0.005865,-0.009705,-0.000360,-0.000285,-0.013082,0.010477,-0.001235,0.002972,-0.000360
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
974,32.92,32.91,32.9,33.06,33.18,33.28,33.34,0.002321,0.002711,0.003419,-0.001825,-0.015111,-0.005769,32.84

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
988,0.000622,0.002992,-0.012295,-0.008371,-0.000234,-0.008029,0.000606,0.018155,0.031759,-0.005793,...,0.002457,0.001661,-0.010937,0.021578,-0.006543,-0.001438,0.001949,-0.001803,-0.009803,0.006994
989,0.004346,-0.013232,0.000000,-0.020203,-0.005170,-0.002825,0.000000,0.012898,-0.006603,0.005600,...,-0.001163,0.005516,0.004115,0.009888,0.009004,0.000719,0.013689,-0.009066,-0.000356,0.017815
990,0.005869,0.015222,0.007600,0.013805,0.005639,0.001212,0.013843,0.025745,0.001324,-0.000385,...,-0.000906,-0.012453,-0.007902,0.012315,0.013783,-0.004323,0.010145,-0.016529,-0.002616,0.001080
991,0.000616,-0.007382,0.001023,0.012466,0.000703,0.001614,0.016010,-0.010351,0.012492,-0.003474,...,0.003618,-0.005865,-0.009705,-0.000360,-0.000285,-0.013082,0.010477,-0.001235,0.002972,-0.000360
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
975,32.84,32.92,32.91,32.9,33.06,33.18,33.28,0.002379,0.002551,0.003312,-0.00152,-0.012701,-0.003948,32.86

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
989,0.004346,-0.013232,0.000000,-0.020203,-0.005170,-0.002825,0.000000,0.012898,-0.006603,0.005600,...,-0.001163,0.005516,0.004115,0.009888,0.009004,0.000719,0.013689,-0.009066,-0.000356,0.017815
990,0.005869,0.015222,0.007600,0.013805,0.005639,0.001212,0.013843,0.025745,0.001324,-0.000385,...,-0.000906,-0.012453,-0.007902,0.012315,0.013783,-0.004323,0.010145,-0.016529,-0.002616,0.001080
991,0.000616,-0.007382,0.001023,0.012466,0.000703,0.001614,0.016010,-0.010351,0.012492,-0.003474,...,0.003618,-0.005865,-0.009705,-0.000360,-0.000285,-0.013082,0.010477,-0.001235,0.002972,-0.000360
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
976,32.86,32.84,32.92,32.91,32.9,33.06,33.18,0.001411,0.002552,0.003258,-0.003652,-0.011519,-0.003956,32.8

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
990,0.005869,0.015222,0.007600,0.013805,0.005639,0.001212,0.013843,0.025745,0.001324,-0.000385,...,-0.000906,-0.012453,-0.007902,0.012315,0.013783,-0.004323,0.010145,-0.016529,-0.002616,0.001080
991,0.000616,-0.007382,0.001023,0.012466,0.000703,0.001614,0.016010,-0.010351,0.012492,-0.003474,...,0.003618,-0.005865,-0.009705,-0.000360,-0.000285,-0.013082,0.010477,-0.001235,0.002972,-0.000360
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
977,32.8,32.86,32.84,32.92,32.91,32.9,33.06,0.002024,0.001961,0.003315,-0.005496,-0.012173,-0.010053,32.66

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
991,0.000616,-0.007382,0.001023,0.012466,0.000703,0.001614,0.016010,-0.010351,0.012492,-0.003474,...,0.003618,-0.005865,-0.009705,-0.000360,-0.000285,-0.013082,0.010477,-0.001235,0.002972,-0.000360
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
978,32.66,32.8,32.86,32.84,32.92,32.91,32.9,0.002349,0.002269,0.003093,-0.004575,-0.005792,-0.014869,32.71

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
979,32.71,32.66,32.8,32.86,32.84,32.92,32.91,0.002467,0.002394,0.00292,-0.001526,-0.004874,-0.015753,32.75

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
980,32.75,32.71,32.66,32.8,32.86,32.84,32.92,0.002486,0.002294,0.00283,0.000306,-0.007623,-0.016394,32.67

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
981,32.67,32.75,32.71,32.66,32.8,32.86,32.84,0.002512,0.001948,0.002849,-0.003369,-0.007335,-0.022446,32.6

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
982,32.6,32.67,32.75,32.71,32.66,32.8,32.86,0.002424,0.002303,0.002946,-0.001528,-0.004881,-0.017582,32.7

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
983,32.7,32.6,32.67,32.75,32.71,32.66,32.8,0.004818,0.003592,0.003539,-0.008607,-0.012579,-0.024098,32.39

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
984,32.39,32.7,32.6,32.67,32.75,32.71,32.66,0.005348,0.004343,0.003579,-0.015768,-0.017607,-0.02978,32.09

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
985,32.09,32.39,32.7,32.6,32.67,32.75,32.71,0.00528,0.004235,0.003489,-0.022577,-0.022883,-0.028675,31.97

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
986,31.97,32.09,32.39,32.7,32.6,32.67,32.75,0.005696,0.004363,0.003538,-0.012426,-0.02348,-0.028353,31.99

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
987,31.99,31.97,32.09,32.39,32.7,32.6,32.67,0.005029,0.004416,0.003326,-0.002496,-0.020409,-0.028032,32.01

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
988,32.01,31.99,31.97,32.09,32.39,32.7,32.6,0.004979,0.004622,0.003544,0.004681,-0.014833,-0.022168,32.12

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
989,32.12,32.01,31.99,31.97,32.09,32.39,32.7,0.002573,0.004581,0.00357,0.004678,-0.017274,-0.022155,32.14

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
990,32.14,32.12,32.01,31.99,31.97,32.09,32.39,0.001817,0.004975,0.003771,0.008399,-0.003402,-0.015981,32.28

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
991,32.28,32.14,32.12,32.01,31.99,31.97,32.09,0.002319,0.00543,0.003979,0.010838,0.011772,-0.005835,32.47

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
992,32.47,32.28,32.14,32.12,32.01,31.99,31.97,0.002322,0.005311,0.003984,0.010831,0.016134,-0.006748,32.49

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
993,32.49,32.47,32.28,32.14,32.12,32.01,31.99,0.002421,0.004307,0.004001,0.007715,0.016739,-0.00674,32.53

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
994,32.53,32.49,32.47,32.28,32.14,32.12,32.01,0.00258,0.002996,0.004245,0.007976,0.022244,0.001835,32.73

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
995,32.73,32.53,32.49,32.47,32.28,32.14,32.12,0.003319,0.002842,0.00464,0.015575,0.027029,0.012195,33.0

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
996,33.0,32.73,32.53,32.49,32.47,32.28,32.14,0.00471,0.003509,0.0047,0.010702,0.022763,0.005489,32.88

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
997,32.88,33.0,32.73,32.53,32.49,32.47,32.28,0.007008,0.005077,0.005026,-0.004287,0.009558,0.006156,32.59

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
998,32.59,32.88,33.0,32.73,32.53,32.49,32.47,0.007016,0.005093,0.005012,-0.013116,0.003075,0.014847,32.57

log returns prediction series:

,inst_0,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,...,inst_40,inst_41,inst_42,inst_43,inst_44,inst_45,inst_46,inst_47,inst_48,inst_49
992,0.001230,0.015498,-0.002046,-0.002596,-0.003988,0.000000,-0.023208,0.001327,0.023888,0.007895,...,-0.001032,-0.014389,-0.005238,-0.003969,-0.006583,0.002922,-0.007702,0.000000,0.003909,0.003236
993,0.006129,-0.004347,0.006330,-0.004342,0.001879,0.003219,0.022031,-0.003988,-0.018674,-0.000576,...,0.001548,-0.001706,-0.002103,-0.016035,0.000574,0.006543,-0.018403,0.001235,-0.001657,-0.001437
994,0.008215,0.004347,0.010931,-0.002905,-0.011564,-0.001608,0.009962,0.010379,0.008414,-0.008286,...,-0.002582,0.010196,-0.007042,0.020364,-0.004458,-0.001088,0.001930,-0.008680,-0.014193,-0.011569
995,-0.003643,0.001182,-0.002419,-0.000582,-0.012660,-0.000402,-0.012320,0.013312,-0.008414,0.033302,...,0.001421,0.010093,-0.006025,0.007888,-0.001009,0.001450,0.007829,0.002488,0.000120,-0.003278
996,-0.008859,0.004519,0.006638,-0.018511,-0.000481,0.006421,-0.003548,-0.011337,0.012595,-0.017940,...,0.002964,0.011372,-0.014682,-0.002145,-0.001588,-0.005812,-0.015421,0.007426,0.001320,0.001458
997,-0.000614,-0.005504,0.005996,0.015303,-0.001444,0.000400,-0.011320,0.003065,0.011487,-0.002862,...,-0.005549,0.003579,0.000721,-0.003226,-0.003909,-0.005846,-0.001047,-0.013656,-0.000600,0.003273
998,-0.002152,-0.000789,-0.017692,-0.007328,-0.003378,-0.010450,-0.010843,0.022905,-0.007004,0.004956,...,0.001164,-0.003303,0.009686,0.012844,-0.005528,-0.007356,0.008045,-0.003130,0.004550,0.013346

Exogs inst_0:

,greek_lag_1,greek_lag_2,greek_lag_3,greek_lag_4,greek_lag_5,greek_lag_6,greek_lag_7,greek_volatility_5,greek_volatility_10,greek_volatility_20,greek_momentum_3,greek_momentum_7,greek_momentum_14,greek_price
999,32.57,32.59,32.88,33.0,32.73,32.53,32.49,0.006211,0.005214,0.005018,-0.011624,0.000308,0.016442,32.5